<%= form_for(@sustancium) do |f| %>
  <% if @sustancium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sustancium.errors.count, "error") %> prohibited this sustancium from being saved:</h2>

      <ul>
      <% @sustancium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sustancia, "Droga de Impacto" %><br>
    <%= f.text_field :sustancia %>
  </div>
  <div class="field">
    <%= f.label :clave,"CIE-10" %><br>
    <%= f.text_field :clave %>
  </div>
  <div class="actions">
    <%= f.submit "Agregar" %>
  </div>
<% end %>
