<% if notice %>
    <div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= notice %>
    </div>
<% end%>

<div class="row board ">
  
<div class="col-md-5">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-search"></i> Droga de impacto</h3>
      </div>
      <div class="panel-body text-center">
        <%# if !@sustancium.nil? %>
            <%= render 'form'%>
          <%#else%>
            <h3><%#= link_to "Agregar Droga de Impacto ",new_sustancium_path,class: "btn btn-raised btn-warning"%></h3>
          <%#end%> 
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h1 class="panel-title"><i class="fa fa-stethoscope"></i>Ultimas Drogas de impacto Agregadas</h1>
      </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%= render @sustanciums %>
        </div>
        <%#= link_to 'Agregar Droga de impacto', new_sustancium_path, class: "btn btn-raised btn-primary" %>
      </div>
    </div>
  </div>

  
</div>