<div class="row board ">
  <!--<div class="col-md-5">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-search"></i> Proxima Consulta</h3>
      </div>
      <div class="panel-body">

      </div>
    </div>
  </div> -->

	<div class="col-md-12">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h1 class="panel-title"><i class="fa fa-folder-o"></i> Droga de impacto <strong>ID <%= @sustancium.id.to_s %></strong></h1>
		  </div>
		  <div class="panel-body text-center">
        <div class="list-group">
          <div class="list-group-item">
            <div class="row-action-primary">
                <i class="fa fa-user"></i>
            </div>
            <div class="row-content">
              <div class="action-secondary">
                <%= link_to edit_sustancium_path(@sustancium) do %>
                  <i class="fa fa-pencil-square-o"></i>
                <% end %>
              </div>
              <h3 class="list-group-item-heading"><strong>ID : <%= @sustancium.id %></strong></h3>
							<p class="list-group-item-text"><strong>Droga de Impacto: </strong><%= @sustancium.sustancia%><br></p>
              <p class="list-group-item-text"><strong>CIE-10: </strong><%= @sustancium.clave%><br></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>