<%# if (!@e1.nil?) %>
  <%#= bar_chart ({'5 a 9' => @e1, '10 a 11' => @e2, '12 a 14' => @e3, '15 a 17' => @e4, '18 a 19' => @e5, '20 a 29' => @e6, '30 a 34' => @e7, '35 a 49' => @e8, '50 a 59' => @e9, '60 y mas' => @e10 }), colors: ['orange'] %>

<%#else%>
  <%#= "No hay datos" %>
<%# end %>

<% if (!@result.nil?) %>
<%$h=[]%>
<%$m=[]%>
<%$tl=[]%>
<% $aux=[]%>

	<%$h<< @result.fetch(0)%> 
 	<%$h<< @result.fetch(2)%> 
 	<%$h<< @result.fetch(4)%> 
 	<%$h<< @result.fetch(6)%> 
 	<%$h<< @result.fetch(8)%> 
	<%$h<< @result.fetch(10)%> 
 	<%$h<< @result.fetch(12)%> 
 	<%$h<< @result.fetch(14)%> 
 	<%$h<< @result.fetch(16)%> 
 	<%$h<< @result.fetch(18)%> 
 	<%$m<< @result.fetch(1)%> 
 	<%$m<< @result.fetch(3)%> 
 	<%$m<< @result.fetch(5)%> 
 	<%$m<< @result.fetch(7)%> 
 	<%$m<< @result.fetch(9)%> 
 	<%$m<< @result.fetch(11)%> 
 	<%$m<< @result.fetch(13)%> 
 	<%$m<< @result.fetch(15)%> 
 	<%$m<< @result.fetch(17)%> 
 	<%$m<< @result.fetch(19)%> 

	<%$aux<<(@result.fetch(0)+@result.fetch(1))%>
	<%$aux<<(@result.fetch(2)+@result.fetch(3))%>
	<%$aux<<(@result.fetch(4)+@result.fetch(5))%>
	<%$aux<<(@result.fetch(6)+@result.fetch(7))%>
	<%$aux<<(@result.fetch(8)+@result.fetch(9))%>
	<%$aux<<(@result.fetch(10)+@result.fetch(11))%>
	<%$aux<<(@result.fetch(12)+@result.fetch(13))%>
	<%$aux<<(@result.fetch(14)+@result.fetch(15))%>	
	<%$aux<<(@result.fetch(16)+@result.fetch(17))%>
	<%$aux<<(@result.fetch(18)+@result.fetch(19))%>	


	<%$rango=['5 a 9','10 a 11','12 a 14','15 a 17','18 a 19','20 a 29','30 a 34','35 a 49','50 a 59','60 y mas']%>
	 	<%$tl=$rango.zip($aux)%>

	<%$x={}%>
	<%$y={}%>
	<% $rango.each_with_index { |key,index| $x[key] = $h[index] }%>
	<% $rango.each_with_index { |key,index| $y[key] = $m[index] }%>

<%end%>

<% if ((!$x.nil?)and(!$y.nil?)) %>
  <%global=[{name: "hombres", data: $x},{name:"mujeres", data: $y}, {name: "total", data: $tl }]%>
  <%=bar_chart global, colors:["orange","green", "yellow"] %>

<%else%>
  <%= "No hay datos" %>
<% end %>