<div class="panel-body text-center">
  <div class="list-group">
		<table class="table table-striped table-hover">
		<thead colspan="12">
		<tr>
			<th colspan="12"></th>
		</tr>
	</thead>
	<tbody>
		<!--<tr>
			<td colspan="2">Psicologo: </td>
			<%#@u=current_user.psychologists%>
			<td colspan="10"><%#if (!@id.nil?)%>
			<%#= @id.nombre+" "+@id.apellidoP+" "+@id.apellidoM %> 
			<%#else %>
			<%#= " "%>
			<%#end%></td>
     
		</tr>-->
		<tr>
			<td colspan="22">CAPA ATLACOMULCO</td>
		</tr>
		<tr>
			<td colspan="2">Fecha: </td>
			
      <%# if (!@tamizajes_tots.nil?) %>
			  <td colspan="10"><%if ((!@fi.nil?)and(!@ff.nil?))%>
			<%= "Del: "+@fi+"  Al: "+ @ff %> 
			<%else %>
			<%= "sin datos"%>
			<%end%></td>
      <%#else%>
        <!--<td>No hay fechas</td> -->
      <%#end%>
	</tr>
		<tbody>	
			<tr>

				<!--<td colspan="10"> <%#if (!@n.nil?) %>
				<%#=@n%>
				<%#else%>
				<%#=" "%>
				<%#end%>	</td>-->
				<td colspan="10"></td>
			</tr>
			<tr>
				<td ></td>
				<td >5 a 9</td>
				<td >10 a 11</td>
				<td >12 a 14</td>
				<td >15 a 17</td>
				<td >18 a 19</td>
				<td >20 a 29</td>
				<td >30 a 34</td>
				<td >35 a 49</td>
				<td >50 a 59</td>
				<td >60 y mas</td>
				<td >Total</td>
			</tr>
			<tr>
				<td ></td>
				<td colspan="10"></td>
				<td ></td>
			</tr>
			<tr>
				<td>hombre</td>
				<td ><%if(@result2.present?)%>
				<%= @result2.fetch(0) %>
			<%else%>
				<%= 0%>
			<%end%></td>
				<td ><%if(@result2.present?)%>
				<%= @result2.fetch(2) %>
			<%else%>
				<%= 0%>
			<%end%></td>
				<td ><%if(@result2.present?)%>
				<%= @result2.fetch(4) %>
			<%else%>
				<%= 0%>
			<%end%></td>
				<td ><%if(@result2.present?)%>
				<%= @result2.fetch(6) %>
			<%else%>
				<%= 0%>
			<%end%></td>
				<td ><%if(@result2.present?)%>
				<%= @result2.fetch(8) %>
			<%else%>
				<%= 0%>
			<%end%></td>
				<td ><%if(@result2.present?)%>
				<%= @result2.fetch(10) %>
			<%else%>
				<%= 0%>
			<%end%></td>
				<td ><%if(@result2.present?)%>
				<%= @result2.fetch(12) %>
			<%else%>
				<%= 0%>
			<%end%></td>
				<td ><%if(@result2.present?)%>
				<%= @result2.fetch(14) %>
			<%else%>
				<%= 0%>
			<%end%></td>
				<td ><%if(@result2.present?)%>
				<%= @result2.fetch(16) %>
			<%else%>
				<%= 0%>
			<%end%></td>
				<td ><%if(@result2.present?)%>
				<%= @result2.fetch(18) %>
			<%else%>
				<%= 0%>
			<%end%></td>
				<td ><%if(@result2.present?)%>
				<%= @result2.fetch(0)+@result2.fetch(2)+@result2.fetch(4)+@result2.fetch(6)+@result2.fetch(8)+@result2.fetch(10)+@result2.fetch(12)+@result2.fetch(14)+@result2.fetch(16)+@result2.fetch(18) %>
			<%else%>
				<%= 0%>
			<%end%></td>
			</tr>
			<tr>
			<td>mujer</td>
			<td ><%if(@result2.present?)%>
				<%= @result2.fetch(1) %>
			<%else%>
				<%= 0%>
			<%end%></td>
			<td ><%if(@result2.present?)%>
				<%= @result2.fetch(3) %>
			<%else%>
				<%= 0%>
			<%end%></td>
			<td ><%if(@result2.present?)%>
				<%= @result2.fetch(5) %>
			<%else%>
				<%= 0%>
			<%end%></td>
			<td ><%if(@result2.present?)%>
				<%= @result2.fetch(7) %>
			<%else%>
				<%= 0%>
			<%end%></td>
			<td ><%if(@result2.present?)%>
				<%= @result2.fetch(9) %>
			<%else%>
				<%= 0%>
			<%end%></td>
			<td ><%if(@result2.present?)%>
				<%= @result2.fetch(11) %>
			<%else%>
				<%= 0%>
			<%end%></td>
			<td ><%if(@result2.present?)%>
				<%= @result2.fetch(13) %>
			<%else%>
				<%= 0%>
			<%end%></td>
			<td ><%if(@result2.present?)%>
				<%= @result2.fetch(15) %>
			<%else%>
				<%= 0%>
			<%end%></td>
			<td ><%if(@result2.present?)%>
				<%= @result2.fetch(17) %>
			<%else%>
				<%= 0%>
			<%end%></td>
			<td ><%if(@result2.present?)%>
				<%= @result2.fetch(19) %>
			<%else%>
				<%= 0%>
			<%end%></td>
			<td ><%if(@result2.present?)%>
				<%= @result2.fetch(1)+@result2.fetch(3)+@result2.fetch(5)+@result2.fetch(7)+@result2.fetch(9)+@result2.fetch(11)+@result2.fetch(13)+@result2.fetch(15)+@result2.fetch(17)+@result2.fetch(19) %>
			<%else%>
				<%= 0%>
			<%end%></td>
			<!--<%#f @result22.present? %>
			<%#@tmp=@mun.flatten%>
			<%#i=@psi1.length%>
				<%#@psi1.each do |e| 	%>
				<td><%#=e%>   </td>
		<%#end%>
	<%#end%>-->

		</tr>
	<!--		<tr>
				<td>Psic.  </td>
				<td></td>
				<td></td>
				<td>
					<%#if(@psy2.present?)%>
						<%#= @psy2 %>
					<%#else%>
						<%#= 0%>
					<%#end%>
				</td>
			</tr> -->
			</tbody>
		</table>
	</div>
</div>

<!--<div class="panel-body text-center">
  <div class="list-group">
		<table class="table table-striped table-hover">
			<tr>
			<td colspan="2">CAPA ATLACOMULCO </td>
		</tr>
			<tr>
			<td>Fecha: </td>
			<td ><%#if ((!@fi.nil?)and(!@ff.nil?))%>
			<%#= "Del: "+@fi+"  Al: "+ @ff %> 
			<%#else %>
			<%#= " "%>
			<%#end%> </td>
		</tr>
			<tr>
				<td colspan="2"><h5>Pacientes por psicologo</h5></td>
			</tr>
			<tr>
				<td>Psicologo</td>
				<td>Total</td>
			</tr>
			<tr>
				<td>Lic. Ariadne González Morales </td>
				<td>
					<%#if(@p1.present?)%>
						<%#= @p1 %>
					<%#else%>
						<%#= 0%>
					<%#end%>
				</td>
			</tr>
			<tr>
				<td>Psic. Esmeralda Sánchez Javier </td>
				<td>
					<%#if(@p2.present?)%>
						<%#= @p2 %>
					<%#else%>
						<%#= 0%>
					<%#end%>
				</td>
			</tr>
			<tr>
				<td>Psic. Manuel Adolfo Ordoñez de Jesús </td>
				<td>
					<%#if(@p3.present?)%>
						<%#= @p3 %>
					<%#else%>
						<%#= 0%>
					<%#end%>
				</td>
			</tr>
			<tr>
				<td>Lic. Susana Bailon Correa </td>
				<td>
					<%#if(@p4.present?)%>
						<%#= @p4 %>
					<%#else%>
						<%#= 0%>
					<%#end%>
				</td>
			</tr>
			<tr>
				<td>Psic. Humberto Ibarra Arias </td>
				<td>
					<%#if(@p5.present?)%>
						<%#= @p5 %>
					<%#else%>
						<%#= 0%>
					<%#end%>
				</td>
			</tr>
			<tr>
				<td>Med.Cir. Celso Israel Colín Plata </td>
				<td>
					<%#if(@p6.present?)%>
						<%#= @p6 %>
					<%#else%>
						<%#= 0%>
					<%#end%>
				</td>
			</tr>
		</table>
	</div>
</div>-->