<!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script src="jquery.ui.datepicker-es.js"></script>
<script>
$(function () {
  $("#dateStart").datepicker({
    dateFormat: "yy-mm-dd"
  });
});
$(function () {
  $("#dateEnd").datepicker({
    dateFormat: "yy-mm-dd"
  });
});
</script>-->

<%= javascript_include_tag "datepicker.js" %>

<script type="text/javascript"> 
  $(document).ready(function() {//...})
  //function evento(){}       
    var valor= 0;

    $("#Ariadne").on("click", function(){
      //window.open("reporte_pacientes?valor="+valor,"_self")
      $("#mun").html("<%= escape_javascript(render('reporte_pacientes/Ariadne/mun')) %>");
      $("#graf").html("<%= escape_javascript(render('reporte_pacientes/Ariadne/graf')) %>");
      $("#edad").html("<%= escape_javascript(render('reporte_pacientes/Ariadne/edad')) %>");
      $("#graf2").html("<%= escape_javascript(render('reporte_pacientes/Ariadne/graf2')) %>");
      $("#psic").html("<%= escape_javascript(render('reporte_pacientes/Ariadne/psic')) %>");
      $("#graf3").html("<%= escape_javascript(render('reporte_pacientes/Ariadne/graf3')) %>");
      $("#prog").html("<%= escape_javascript(render('reporte_pacientes/Ariadne/prog')) %>");
      $("#graf4").html("<%= escape_javascript(render('reporte_pacientes/Ariadne/graf4')) %>");
      $("#sust").html("<%= escape_javascript(render('reporte_pacientes/Ariadne/sust')) %>");
      $("#graf5").html("<%= escape_javascript(render('reporte_pacientes/Ariadne/graf5')) %>")      
      //$.ajax({
        //url : "/reporte_pacientes/?valor=" +valor,
        //type : "post",
        //data : valor,
      //});
      });
    
    $("#Esmeralda").on("click", function(){
      $("#mun").html("<%= escape_javascript(render('reporte_pacientes/Esmeralda/mun')) %>");
      $("#graf").html("<%= escape_javascript(render('reporte_pacientes/Esmeralda/graf')) %>");
      $("#edad").html("<%= escape_javascript(render('reporte_pacientes/Esmeralda/edad')) %>");
      $("#graf2").html("<%= escape_javascript(render('reporte_pacientes/Esmeralda/graf2')) %>");
      $("#psic").html("<%= escape_javascript(render('reporte_pacientes/Esmeralda/psic')) %>");
      $("#graf3").html("<%= escape_javascript(render('reporte_pacientes/Esmeralda/graf3')) %>");
      $("#prog").html("<%= escape_javascript(render('reporte_pacientes/Esmeralda/prog')) %>");
      $("#graf4").html("<%= escape_javascript(render('reporte_pacientes/Esmeralda/graf4')) %>");
      $("#sust").html("<%= escape_javascript(render('reporte_pacientes/Esmeralda/sust')) %>");
      $("#graf5").html("<%= escape_javascript(render('reporte_pacientes/Esmeralda/graf5')) %>");      
    });
    $("#Manuel").on("click", function(){ 
      $("#mun").html("<%= escape_javascript(render('reporte_pacientes/Manuel/mun')) %>");    
      $("#graf").html("<%= escape_javascript(render('reporte_pacientes/Manuel/graf')) %>");
      $("#edad").html("<%= escape_javascript(render('reporte_pacientes/Manuel/edad')) %>");
      $("#graf2").html("<%= escape_javascript(render('reporte_pacientes/Manuel/graf2')) %>");
      $("#psic").html("<%= escape_javascript(render('reporte_pacientes/Manuel/psic')) %>");
      $("#graf3").html("<%= escape_javascript(render('reporte_pacientes/Manuel/graf3')) %>");
      $("#prog").html("<%= escape_javascript(render('reporte_pacientes/Manuel/prog')) %>");
      $("#graf4").html("<%= escape_javascript(render('reporte_pacientes/Manuel/graf4')) %>");
      $("#sust").html("<%= escape_javascript(render('reporte_pacientes/Manuel/sust')) %>");
      $("#graf5").html("<%= escape_javascript(render('reporte_pacientes/Manuel/graf5')) %>");
       
    });
    $("#Susana").on("click", function(){ 
      $("#mun").html("<%= escape_javascript(render('reporte_pacientes/Susana/mun')) %>");
      $("#graf").html("<%= escape_javascript(render('reporte_pacientes/Susana/graf')) %>");
      $("#edad").html("<%= escape_javascript(render('reporte_pacientes/Susana/edad')) %>");
      $("#graf2").html("<%= escape_javascript(render('reporte_pacientes/Susana/graf2')) %>");
      $("#psic").html("<%= escape_javascript(render('reporte_pacientes/Susana/psic')) %>");
      $("#graf3").html("<%= escape_javascript(render('reporte_pacientes/Susana/graf3')) %>");
      $("#prog").html("<%= escape_javascript(render('reporte_pacientes/Susana/prog')) %>");
      $("#graf4").html("<%= escape_javascript(render('reporte_pacientes/Susana/graf4')) %>");
      $("#sust").html("<%= escape_javascript(render('reporte_pacientes/Susana/sust')) %>");
      $("#graf5").html("<%= escape_javascript(render('reporte_pacientes/Susana/graf5')) %>");      
    });
    $("#Humberto").on("click", function(){ 
      $("#mun").html("<%= escape_javascript(render('reporte_pacientes/Humberto/mun')) %>");
      $("#graf").html("<%= escape_javascript(render('reporte_pacientes/Humberto/graf')) %>");
      $("#edad").html("<%= escape_javascript(render('reporte_pacientes/Humberto/edad')) %>");
      $("#graf2").html("<%= escape_javascript(render('reporte_pacientes/Humberto/graf2')) %>");
      $("#psic").html("<%= escape_javascript(render('reporte_pacientes/Humberto/psic')) %>");
      $("#graf3").html("<%= escape_javascript(render('reporte_pacientes/Humberto/graf3')) %>");
      $("#prog").html("<%= escape_javascript(render('reporte_pacientes/Humberto/prog')) %>");
      $("#graf4").html("<%= escape_javascript(render('reporte_pacientes/Humberto/graf4')) %>");
      $("#sust").html("<%= escape_javascript(render('reporte_pacientes/Humberto/sust')) %>");
      $("#graf5").html("<%= escape_javascript(render('reporte_pacientes/Humberto/graf5')) %>");   
    });
    $("#Celso").on("click", function(){ 
      $("#mun").html("<%= escape_javascript(render('reporte_pacientes/Celso/mun')) %>");
      $("#graf").html("<%= escape_javascript(render('reporte_pacientes/Celso/graf')) %>");
      $("#edad").html("<%= escape_javascript(render('reporte_pacientes/Celso/edad')) %>");
      $("#graf2").html("<%= escape_javascript(render('reporte_pacientes/Celso/graf2')) %>");
      $("#psic").html("<%= escape_javascript(render('reporte_pacientes/Celso/psic')) %>");
      $("#graf3").html("<%= escape_javascript(render('reporte_pacientes/Celso/graf3')) %>");
      $("#prog").html("<%= escape_javascript(render('reporte_pacientes/Celso/prog')) %>");
      $("#graf4").html("<%= escape_javascript(render('reporte_pacientes/Celso/graf4')) %>");
      $("#sust").html("<%= escape_javascript(render('reporte_pacientes/Celso/sust')) %>");
      $("#graf5").html("<%= escape_javascript(render('reporte_pacientes/Celso/graf5')) %>");      
    });
  });
</script>



<div class="row board ">
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-search"></i> Buscar </h3>
      </div>
      <div class="panel-body text-center">
        <%= form_tag reporte_pacientes_path, :method => :get do %>
          <div class="form-group label-floating">
            <%= label_tag "search", "Búsqueda:" %>
             <%#= text_field_tag :id, params[:id], :class=>"form-control text-center", placeholder: "Id psicologo " %>
            <%= text_field_tag :date_start, params[:date_start], :class=>"form-control text-center",:id=>"dateStart", placeholder: "fecha inicio" %>
            <%= text_field_tag :date_end, params[:date_end], :class=>"form-control text-center", :id=>"dateEnd" ,placeholder: "fecha termino" %>
            
          </div>
          <div class="actions">
          <%= submit_tag "Buscar", class: "btn btn-raised btn-primary" %>
          </div>
        <% end %>
          <div class="list-group">
                          	
          </div>
      </div>
    </div>
  </div>

	<div class="col-md-8">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h1 class="panel-title"><i class="fa fa-stethoscope"></i> CAPA ATLACOMULCO </h1>
		  </div>
		  <div class="panel-body text-center">
    	  	<div class="list-group">
            <div class="row board ">
              <div class="col-md-2">
              </div>
              <div class="col-md-3">
                <button id="Ariadne" value="Ariadne" class= "btn btn-raised btn-primary" > ARIADNE</button>
              </div>
              <div class="col-md-3">
                <button id="Esmeralda" value="Esmeralda" class= "btn btn-default"> ESMERALDA</button>
              </div>
              <div class="col-md-3">
                <button id="Manuel" value="Manuel" class= "btn btn-raised btn-primary"> MANUEL</button>
              </div>
              <div class="col-md-1">
              </div>
          </div>
              <div class="list-group">
            <div class="row board ">
              <div class="col-md-2"> 
              </div>
              <div class="col-md-3">
                <button id="Susana" value="Susana" class= "btn btn-raised btn-default"> <!--, onclick="evento()"--> SUSANA</button>
              </div>
              <div class="col-md-3">
                <button id="Humberto" value="Humberto" class= "btn btn-primary "> HUMBERTO</button>
              </div>
              <div class="col-md-3">
                <button id="Celso" value="Celso" class= "btn btn-raised btn-default"> CELSO</button>
              </div>
              <div class="col-md-1">
              </div>
          </div>

                    <%#= link_to 'ESMERALDA', class: "btn btn-raised btn-default"%> <br>
          <%#= link_to'MANUEL',  class: "btn btn-raised btn-default"%> <br>   
          <%#= link_to'SUSANA', class: "btn btn-raised btn-default"%> <br>
          <%#= link_to'HUMBERTO', class: "btn btn-raised btn-default"%> <br>
          <%#= link_to'CELSO', class: "btn btn-raised btn-default"%> <br>
			    </div>
	      </div>
		</div>
	</div>
  </div>

  <div class="row board ">
    <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-search"></i> REPORTE PACIENTES  </h3>
      </div>
      <div class="panel-body text-center">
        <%= link_to "Imprimir", reporte_pacientes_url(:date_start=>params[:date_start],:date_end=>params[:date_end],:format => :pdf),class: "btn btn-success"%>
  
  <div class="row board ">
  <!--<div class="col-md-12">-->
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Reporte municipio </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group" id ="mun">
          <%#=link_to 'PDF reporte',reporte_pacientes_path(format: 'pdf')%> 
          <%#=link_to 'Create PDF document', reporte_pacientes_path(format: 'pdf')%>
            <%= render "mun"%>            
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Gráfica </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group" id="graf">
          <%= render "graf"%>
        </div>
        
      </div>
    </div>    
    </div>
    </div>
   <!-- </div>-->
    <div class="row board ">
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Reporte por rango de edad </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group" id="edad">
          <%#=link_to 'PDF reporte',reporte_pacientes_path(format: 'pdf')%> 
          <%#=link_to 'Create PDF document', reporte_pacientes_path(format: 'pdf')%>
          <%= render "edad"%> 
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Gráfica </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group" id="graf2">
          <%= render "graf2"%>
        </div>
        
      </div>
    </div>    
    </div>


    </div>


 <div class="row board ">
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Reporte por psicologo </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group" id="psic">
          <%#=link_to 'PDF reporte',reporte_pacientes_path(format: 'pdf')%> 
          <%#=link_to 'Create PDF document', reporte_pacientes_path(format: 'pdf')%>
          <%= render "psic"%> 
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Gráfica </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group" id="graf3">
          <%= render "graf3"%>
        </div>
        
      </div>
    </div>    
    </div>
</div>

 <div class="row board ">
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Reporte por programa </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group" id="prog">
          <%#=link_to 'PDF reporte',reporte_pacientes_path(format: 'pdf')%> 
          <%#=link_to 'Create PDF document', reporte_pacientes_path(format: 'pdf')%>
          <%= render "prog"%> 
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Gráfica </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group" id="graf4">
          <%= render "graf4"%>
        </div>
        
      </div>
    </div>    
    </div>
    </div>


 <div class="row board ">
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Reporte por sustancia </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group" id="sust">
          <%#=link_to 'PDF reporte',reporte_pacientes_path(format: 'pdf')%> 
          <%#=link_to 'Create PDF document', reporte_pacientes_path(format: 'pdf')%>
          <%= render "sust"%> 
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Gráfica </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group" id="graf5">
          <%= render "graf5"%>
        </div>
        
      </div>
    </div>    
    </div>
    </div>

      </div>
    </div>
  </div>
</div>
