<!--  esto siempre va  -->

<%= wicked_pdf_javascript_include_tag "application", "chartkick" %>
<%= javascript_include_tag "https://www.google.com/jsapi" %>
<%= wicked_pdf_javascript_include_tag "chartkick" %>
<!--  Fin  -->

<style media="screen">
  div.nobreak {
    page-break-inside: avoid;
  }
  .titulo{
    text-align: center;
    background-color: #72B08F;
    color: #FAFAFA;
  }
  .grey{
    color: #636363;
  }
  .seccion{
    background-color: #FAFAFA;
    text-align: justify;
    padding: 5px 15px 5px 15px;
    margin-top: -20px
  }
  li{
    list-style:none;
    padding: 5px;
  }
  .texto{
    border: 1.5px solid;
    padding: 2px 4px 2px 4px;
    border-radius: 2px;
  }
  .campo{
    text-transform: uppercase;
    font-weight: bold;
  }
  .center{
    text-align: center !important;
  }
  table, td, th {
    border: .5px solid #ddd;
    text-align: center;
    font-size: 10px;
  }

  table {
      border-collapse: collapse;
      width: 100%;
  }

  th, td {
      padding: 5px;
  }
  tr:nth-child(even){background-color: #f2f2f2}</style>
<div class="nobreak">
  <h1 class="titulo">Pacientes por municipio</h1>
  <section class="seccion grey center">
    <%= render "reporte_pacientes/mun.html.erb"%>
    <%= render "reporte_pacientes/graf.html.erb"%>

    <%= render "reporte_pacientes/Ariadne/mun.html.erb"%>
    <%= render "reporte_pacientes/Ariadne/graf.html.erb"%>
    <%= render "reporte_pacientes/Esmeralda/mun.html.erb"%>
    <%= render "reporte_pacientes/Esmeralda/graf.html.erb"%>
    <%= render "reporte_pacientes/Manuel/mun.html.erb"%>
    <%= render "reporte_pacientes/Manuel/graf.html.erb"%>
    <%= render "reporte_pacientes/Susana/mun.html.erb"%>
    <%= render "reporte_pacientes/Susana/graf.html.erb"%>
    <%= render "reporte_pacientes/Humberto/mun.html.erb"%>
    <%= render "reporte_pacientes/Humberto/graf.html.erb"%>
    <%= render "reporte_pacientes/Celso/mun.html.erb"%>
    <%= render "reporte_pacientes/Celso/graf.html.erb"%>
  </section>
</div>
<div class="nobreak">
  <h1 class="titulo">Pacientes por rango de edad</h1>
  <section class="seccion grey center">
    <%= render "reporte_pacientes/edad.html.erb"%>
    <%= render "reporte_pacientes/graf2.html.erb"%>

    <%= render "reporte_pacientes/Ariadne/edad.html.erb"%>
    <%= render "reporte_pacientes/Ariadne/graf2.html.erb"%>
    <%= render "reporte_pacientes/Esmeralda/edad.html.erb"%>
    <%= render "reporte_pacientes/Esmeralda/graf2.html.erb"%>
    <%= render "reporte_pacientes/Manuel/edad.html.erb"%>
    <%= render "reporte_pacientes/Manuel/graf2.html.erb"%>
    <%= render "reporte_pacientes/Susana/edad.html.erb"%>
    <%= render "reporte_pacientes/Susana/graf2.html.erb"%>
    <%= render "reporte_pacientes/Humberto/edad.html.erb"%>
    <%= render "reporte_pacientes/Humberto/graf2.html.erb"%>
    <%= render "reporte_pacientes/Celso/edad.html.erb"%>
    <%= render "reporte_pacientes/Celso/graf2.html.erb"%>
  </section>
</div>
<div class="nobreak">
  <h1 class="titulo">Pacientes por psicologo</h1>
  <section class="seccion grey center">
    <%= render "reporte_pacientes/psic.html.erb"%>
    <%= render "reporte_pacientes/graf3.html.erb"%>

    <%= render "reporte_pacientes/Ariadne/psic.html.erb"%>
    <%= render "reporte_pacientes/Ariadne/graf3.html.erb"%>
    <%= render "reporte_pacientes/Esmeralda/psic.html.erb"%>
    <%= render "reporte_pacientes/Esmeralda/graf3.html.erb"%>
    <%= render "reporte_pacientes/Manuel/psic.html.erb"%>
    <%= render "reporte_pacientes/Manuel/graf3.html.erb"%>
    <%= render "reporte_pacientes/Susana/psic.html.erb"%>
    <%= render "reporte_pacientes/Susana/graf3.html.erb"%>
    <%= render "reporte_pacientes/Humberto/psic.html.erb"%>
    <%= render "reporte_pacientes/Humberto/graf3.html.erb"%>
    <%= render "reporte_pacientes/Celso/psic.html.erb"%>
    <%= render "reporte_pacientes/Celso/graf3.html.erb"%>
  </section>
</div>
<div class="nobreak">
  <h1 class="titulo">Pacientes por programa</h1>
  <section class="seccion grey center">
    <%= render "reporte_pacientes/prog.html.erb"%>
    <%= render "reporte_pacientes/graf4.html.erb"%>

    <%= render "reporte_pacientes/Ariadne/prog.html.erb"%>
    <%= render "reporte_pacientes/Ariadne/graf4.html.erb"%>
    <%= render "reporte_pacientes/Esmeralda/prog.html.erb"%>
    <%= render "reporte_pacientes/Esmeralda/graf4.html.erb"%>
    <%= render "reporte_pacientes/Manuel/prog.html.erb"%>
    <%= render "reporte_pacientes/Manuel/graf4.html.erb"%>
    <%= render "reporte_pacientes/Susana/prog.html.erb"%>
    <%= render "reporte_pacientes/Susana/graf4.html.erb"%>
    <%= render "reporte_pacientes/Humberto/prog.html.erb"%>
    <%= render "reporte_pacientes/Humberto/graf4.html.erb"%>
    <%= render "reporte_pacientes/Celso/prog.html.erb"%>
    <%= render "reporte_pacientes/Celso/graf4.html.erb"%>

  </section>
</div>
<div class="nobreak">
  <h1 class="titulo">Pacientes por droga de impacto</h1>
  <section class="seccion grey center">
    <%= render "reporte_pacientes/sust.html.erb"%>
    <%= render "reporte_pacientes/graf5.html.erb"%>

    <%= render "reporte_pacientes/Ariadne/sust.html.erb"%>
    <%= render "reporte_pacientes/Ariadne/graf5.html.erb"%>
    <%= render "reporte_pacientes/Esmeralda/sust.html.erb"%>
    <%= render "reporte_pacientes/Esmeralda/graf5.html.erb"%>
    <%= render "reporte_pacientes/Manuel/sust.html.erb"%>
    <%= render "reporte_pacientes/Manuel/graf5.html.erb"%>
    <%= render "reporte_pacientes/Susana/sust.html.erb"%>
    <%= render "reporte_pacientes/Susana/graf5.html.erb"%>
    <%= render "reporte_pacientes/Humberto/sust.html.erb"%>
    <%= render "reporte_pacientes/Humberto/graf5.html.erb"%>
    <%= render "reporte_pacientes/Celso/sust.html.erb"%>
    <%= render "reporte_pacientes/Celso/graf5.html.erb"%>
  </section>

</div>
