<div class="board col-md-6">
<%= form_for(@multyprom) do |f| %>
  <% if @multyprom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@multyprom.errors.count, "error") %> prohibited this multyprom from being saved:</h2>

      <ul>
      <% @multyprom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="form-group label-floating">
    <%= f.label :psychologist_id, "psicologo" %><br>
    <%= f.select(:psychologist_id, Psychologist.all.collect {|ps| [ps.nombre+" "+ps.apellidoP+" "+ps.apellidoM, ps.id]}, :prompt => 'Selecciona uno')%>
  </div>

  <!--<div class="field">
    <%#= f.label :h %><br>
    <%#= f.text_field :h %>
  </div>
  <div class="field">
    <%#= f.label :m %><br>
    <%#= f.text_field :m %>
  </div>-->
  <div class="form-group label-floating">
    <%=f.label "Edades 5 a 9"%> <br>
    <%= f.label :h1, "Hombres" %> <%= f.label :m1, "Mujeres" %><br>
    <%= f.text_field :h1 %> <%= f.text_field :m1 %> <br>
  </div>
  <div class="form-group label-floating">
  <%=f.label "Edades 10 a 11"%> <br>
    <%= f.label :h2, "Hombres" %> <%= f.label :m2, "Mujeres" %><br>
    <%= f.text_field :h2 %> <%= f.text_field :m2 %> <br>
  </div>
  <div class="form-group label-floating">
  <%=f.label "Edades 12 a 14"%> <br>
    <%= f.label :h3, "Hombres" %><%= f.label :m3, "Mujeres" %><br><br>
    <%= f.text_field :h3 %><%= f.text_field :m3 %> <br>
  </div>
  <div class="form-group label-floating">
  <%=f.label "Edades 15 a 17"%> <br>
    <%= f.label :h4, "Hombres" %><%= f.label :m4, "Mujeres" %><br>
    <%= f.text_field :h4 %><%= f.text_field :m4 %> <br>
  </div>
  <div class="form-group label-floating">
  <%=f.label "Edades 18 a 19"%> <br>
    <%= f.label :h5, "Hombres" %><%= f.label :m5, "Mujeres" %><br>
    <%= f.text_field :h5 %> <%= f.text_field :m5 %> <br>
  </div>
  <div class="form-group label-floating">
  <%=f.label "Edades 20 a 29"%> <br>
    <%= f.label :h6, "Hombres" %><%= f.label :m6, "Mujeres" %><br>
    <%= f.text_field :h6 %> <%= f.text_field :m6 %> <br>
  </div>
  <div class="form-group label-floating">
  <%=f.label "Edades 30 a 34"%> <br>
    <%= f.label :h7, "Hombres" %><%= f.label :m7, "Mujeres" %><br>
    <%= f.text_field :h7 %> <%= f.text_field :m7 %> <br>
  </div>
  <div class="form-group label-floating">
  <%=f.label "Edades 35 a 49"%> <br>
    <%= f.label :h8, "Hombres" %><%= f.label :m8, "Mujeres" %><br>
    <%= f.text_field :h8 %><%= f.text_field :m8 %> <br>
  </div>
  <div class="form-group label-floating">
  <%=f.label "Edades 50 a 59"%> <br>
    <%= f.label :h9, "Hombres" %><%= f.label :m9, "Mujeres" %><br>
    <%= f.text_field :h9 %><%= f.text_field :m9 %> <br>
  </div>
  <div class="form-group label-floating">
  <%=f.label "Edades 60 y mas"%> <br>
    <%= f.label :h10, "Hombres" %><%= f.label :m10, "Mujeres" %><br>
    <%= f.text_field :h10 %><%= f.text_field :m10 %> <br>
  </div>
 
  <div class="actions">
    <%= f.submit "Agregar", class: "btn btn-raised btn-success" %>
  </div>

<% end %>
</div>