<% if notice %>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= notice %>
  </div>
<% end%>
<div class="row board ">
  <div class="col-md-5">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-search"></i> Buscar Multiplicadores y Promotores</h3>
      </div>
      <div class="panel-body text-center">
        <%= form_tag multyproms_path, method: :get do %>
          <div class="form-group label-floating">
            <%= text_field_tag :id_multyproms, params[:id_multyproms] , :class=>"form-control text-center" , placeholder: "ID multyproms" %>
          </div>
          <div class="actions">
          <%= submit_tag "Buscar", name: nil, class: "btn btn-raised btn-info" %>
          </div>
        <% end %>
        <div class="panel panel-default">
          <div class="list-group">
              <%= render @multyproms %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Capacitaciones Otorgadas</h1>
      </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%= render @multyproms %>
        </div>
        <%= link_to 'Agregar multyproms', new_multyproms_path, class: "btn btn-raised btn-primary" %>
      </div>
    </div>
  </div>
</div>


<!--<p id="notice"><%= notice %></p>

<h1>Listing Multyproms</h1>

<table>
  <thead>
    <tr>
      <th>H</th>
      <th>M</th>
      <th>Fecha</th>
      <th>H1</th>
      <th>H2</th>
      <th>H3</th>
      <th>H4</th>
      <th>H5</th>
      <th>H6</th>
      <th>H7</th>
      <th>H8</th>
      <th>H9</th>
      <th>H10</th>
      <th>M1</th>
      <th>M2</th>
      <th>M3</th>
      <th>M4</th>
      <th>M5</th>
      <th>M6</th>
      <th>M7</th>
      <th>M8</th>
      <th>M9</th>
      <th>M10</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @multyproms.each do |multyprom| %>
      <tr>
        <td><%#= multyprom.h %></td>
        <td><%#= multyprom.m %></td>
        <td><%#= multyprom.fecha %></td>
        <td><%#= multyprom.h1 %></td>
        <td><%#= multyprom.h2 %></td>
        <td><%#= multyprom.h3 %></td>
        <td><%#= multyprom.h4 %></td>
        <td><%#= multyprom.h5 %></td>
        <td><%#= multyprom.h6 %></td>
        <td><%#= multyprom.h7 %></td>
        <td><#%= multyprom.h8 %></td>
        <td><%#= multyprom.h9 %></td>
        <td><%#= multyprom.h10 %></td>
        <td><%#= multyprom.m1 %></td>
        <td><%#= multyprom.m2 %></td>
        <td><%#= multyprom.m3 %></td>
        <td><%#= multyprom.m4 %></td>
        <td><%#= multyprom.m5 %></td>
        <td><%#= multyprom.m6 %></td>
        <td><%#= multyprom.m7 %></td>
        <td><%#= multyprom.m8 %></td>
        <td><%#= multyprom.m9 %></td>
        <td><%#= multyprom.m10 %></td>
        <td><%#= link_to 'Show', multyprom %></td>
        <td><%#= link_to 'Edit', edit_multyprom_path(multyprom) %></td>
        <td><%#= link_to 'Destroy', multyprom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>

<%= link_to 'New Multyprom', new_multyprom_path %>-->
