<div class="row board ">
	<div class="col-md-12">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h2 class="panel-title"><i class="fa fa-stethoscope"></i> Multiplicadores y Promotores</h2>
		  </div>
		  <div class="panel-body text-center"><h1>Datos Multiplicadores y Promotores</h1>

        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
<!--<h1>New Multyprom</h1>

<%#= render 'form' %>

<%#= link_to 'Back', multyproms_path %>-->
