<div class="row board ">
  <div class="col-md-7">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h1 class="panel-title"><i class="fa fa-folder-o"></i> Multiplicadores y Promotores  <strong>ID <%= @multyprom.id.to_s %></strong></h1>
      </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <div class="list-group-item">
            <div class="row-action-primary">
                <i class="fa fa-heartbeat"></i>
            </div>
            <div class="row-content">
              <div class="action-secondary">
                <%= link_to edit_multyprom_path(@multyprom) do %>
                  <i class="fa fa-pencil-square-o"></i>
                <% end %>
              </div>
              <h3 class="list-group-item-heading"><strong>multyprom: <%= @multyprom.id.to_s %></strong></h3>
              <p class="list-group-item-text"><strong>Hombres: </strong><%= @multyprom.h.to_s%></p>
              <p class="list-group-item-text"><strong>Mujeres: </strong><%= @multyprom.m.to_s%></p>
              <p class="list-group-item-text"><strong>Total: </strong><%= (@multyprom.h+@multyprom.m).to_s%></p>
              <p class="list-group-item-text"><strong>Fecha: </strong><%= @multyprom.fecha%><br></p>
              <p class="list-group-item-text"><strong>Psicologo: </strong><%= @multyprom.psychologist_id.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 5 a 9: </strong><%= @multyprom.h1.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 5 a 9: </strong><%= @multyprom.m1.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 10 a 11: </strong><%= @multyprom.h2.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 10 a 11: </strong><%= @multyprom.m2.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 12 a 14: </strong><%= @multyprom.h3%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 12 a 14: </strong><%= @multyprom.m3.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 15 a 17:</strong><%= @multyprom.h4.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 15 a 17: </strong><%= @multyprom.m4.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 18 a 19: </strong><%= @multyprom.h5.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 18 a 19: </strong><%= @multyprom.m5.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 20 a 29: </strong><%= @multyprom.h6.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 20 a 29: </strong><%= @multyprom.m6.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 30 a 34: </strong><%= @multyprom.h7.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 30 a 34: </strong><%= @multyprom.m7.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 35 a 39: </strong><%= @multyprom.h8.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 35 a 39: </strong><%= @multyprom.m8.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 40 a 59: </strong><%= @multyprom.h9.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 40 a 59: </strong><%= @multyprom.m9.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 60 y mas: </strong><%= @multyprom.h10.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 60 y mas: </strong><%= @multyprom.m10.to_s%><br></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-calendar-check-o" aria-hidden="true""></i> Capacitaciones Otorgadas</h3>
      </div>
      <div class="panel-body">
        <div class="panel-body text-center">      
          <%= link_to 'Indicadores Generales', indicadores_path, class: "btn btn-raised btn-primary"%><br>
          <br>
          <%= link_to 'Indicadores por rango de edad', indicadoresxedad_index_path, class: "btn btn-raised btn-primary"%><br>
        </div>  
      </div>
    </div>
  </div>
</div>
<!--<p id="notice"><%#= notice %></p>

<p>
  <strong>H:</strong>
  <%#= @multyprom.h %>
</p>

<p>
  <strong>M:</strong>
  <%#= @multyprom.m %>
</p>

<p>
  <strong>Fecha:</strong>
  <%#= @multyprom.fecha %>
</p>

<p>
  <strong>H1:</strong>
  <%#= @multyprom.h1 %>
</p>

<p>
  <strong>H2:</strong>
  <%#= @multyprom.h2 %>
</p>

<p>
  <strong>H3:</strong>
  <%#= @multyprom.h3 %>
</p>

<p>
  <strong>H4:</strong>
  <%#= @multyprom.h4 %>
</p>

<p>
  <strong>H5:</strong>
  <%#= @multyprom.h5 %>
</p>
<p>
  <strong>H6:</strong>
  <%#= @multyprom.h6 %>
</p>

<p>
  <strong>H7:</strong>
  <%#= @multyprom.h7 %>
</p>

<p>
  <strong>H8:</strong>
  <%#= @multyprom.h8 %>
</p>

<p>
  <strong>H9:</strong>
  <%#= @multyprom.h9 %>
</p>

<p>
  <strong>H10:</strong>
  <%#= @multyprom.h10 %>
</p>

<p>
  <strong>M1:</strong>
  <%#= @multyprom.m1 %>
</p>

<p>
  <strong>M2:</strong>
  <%#= @multyprom.m2 %>
</p>

<p>
  <strong>M3:</strong>
  <%#= @multyprom.m3 %>
</p>

<p>
  <strong>M4:</strong>
  <%#= @multyprom.m4 %>
</p>

<p>
  <strong>M5:</strong>
  <%#= @multyprom.m5 %>
</p>

<p>
  <strong>M6:</strong>
  <%#= @multyprom.m6 %>
</p>

<p>
  <strong>M7:</strong>
  <%#= @multyprom.m7 %>
</p>

<p>
  <strong>M8:</strong>
  <%#= @multyprom.m8 %>
</p>

<p>
  <strong>M9:</strong>
  <%#= @multyprom.m9 %>
</p>

<p>
  <strong>M10:</strong>
  <%#= @multyprom.m10 %>
</p>

<%#= link_to 'Edit', edit_multyprom_path(@multyprom) %> |
<%#= link_to 'Back', multyprom_path %> -->
