<%= form_for(@familiar) do |f| %>
  <% if @familiar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@familiar.errors.count, "error") %> prohibited this familiar from being saved:</h2>

      <ul>
      <% @familiar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group label-floating">
    <%= f.label :nom, "Nombre",class: "control-label"  %><br>
    <%= f.text_field :nom, class: "form-control text-center" %>
  </div>
  <div class="form-group label-floating">
    <%= f.label :app, "Apellido Paterno", class: "control-label" %><br>
    <%= f.text_field :app, class: "form-control text-center" %>
  </div>
  <div class="form-group label-floating">
    <%= f.label :apm,"Apellido Materno", class: "control-label" %><br>
    <%= f.text_field :apm, class: "form-control text-center" %>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group label-floating">
        <%= f.label :tel, "Telefono",class: "control-label"  %><br>
        <%= f.text_field :tel, class: "form-control text-center" %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group label-floating">
        <%= f.label :edad, "Edad",class: "control-label"  %><br>
        <%= f.text_field :edad, class: "form-control text-center" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group label-floating">
        <%= f.label :direccion, "Direccion",class: "control-label"  %><br>
        <%= f.text_field :direccion, class: "form-control text-center" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group label-floating">
        <%= f.label :state_id,"Estado" %><br>
        <%= f.select(:state_id, State.all.collect {|e| [e.estados, e.id]}, :prompt => 'Selecciona uno')%>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :municipio_id, "Municipio" %><br>
        <%= f.select(:municipio_id, Municipio.all.collect {|mun| [mun.municipio, mun.id]}, :prompt => 'Selecciona uno') %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :parentesco_id, "Parentesco" %><br>
        <%= f.select(:parentesco_id, Parentesco.all.collect {|par| [par.parentesco, par.id]}, :prompt => 'Selecciona uno') %>
      </div>
    </div>
  </div>
  <%=f.hidden_field :patient_id, :value=> @id%>
  <div class="actions">
    <%= f.submit "Agregar", class: "btn btn-raised btn-success"  %>
  </div>
<% end %>
