<p id="notice"><%= notice %></p>

<h1>Listing Familiars</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>App</th>
      <th>Apm</th>
      <th>Edad</th>
      <th>Tel</th>
      <th>Direccion</th>
      <th>State</th>
      <th>Municipio</th>
      <th>Parentesco</th>
      <th>Patient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @familiars.each do |familiar| %>
      <tr>
        <td><%= familiar.nom %></td>
        <td><%= familiar.app %></td>
        <td><%= familiar.apm %></td>
        <td><%= familiar.edad %></td>
        <td><%= familiar.tel %></td>
        <td><%= familiar.direccion %></td>
        <td><%= familiar.state %></td>
        <td><%= familiar.municipio %></td>
        <td><%= familiar.parentesco %></td>
        <td><%= familiar.patient %></td>
        <td><%= link_to 'Show', familiar %></td>
        <td><%= link_to 'Edit', edit_familiar_path(familiar) %></td>
        <td><%= link_to 'Destroy', familiar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Familiar', new_familiar_path %>
