<div class="row board ">
	<div class="col-md-12">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h2 class="panel-title"><i class="fa fa-stethoscope"></i> Datos del Familiar de <%=@dato.nom+" "+@dato.app+" "+@dato.apm%></h2>
		  </div>
		  <div class="panel-body text-center">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
