<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @familiar.nom %>
</p>

<p>
  <strong>App:</strong>
  <%= @familiar.app %>
</p>

<p>
  <strong>Apm:</strong>
  <%= @familiar.apm %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @familiar.edad %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @familiar.tel %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @familiar.direccion %>
</p>

<p>
  <strong>State:</strong>
  <%= @familiar.state %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @familiar.municipio %>
</p>

<p>
  <strong>Parentesco:</strong>
  <%= @familiar.parentesco %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @familiar.patient %>
</p>

<%= link_to 'Edit', edit_familiar_path(@familiar) %> |
<%= link_to 'Back', familiars_path %>
