<div class="board col-md-6 text-center">
  <%= form_for(@municipio) do |f| %>
    <% if @municipio.errors.any? %>
    <div class="alert alert-dismissible alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
        <% @municipio.errors.full_messages.each do |message| %>
          <%= message%><br>
        <% end %>
    </div>
  <% end %>

  <div class="form-group label-floating">
    <%= f.label :municipio,class: "control-label" %><br>
    <%= f.text_field :municipio,class: "form-control text-center" %>
  </div>
  <div class="form-group label-floating">
    <%= f.label :state_id,"Estado" %><br>
    <%= f.select(:state_id, State.all.collect {|edo| [edo.estados, edo.id]}, :prompt => 'Selecciona uno')%>
  </div>
  <div class="actions">
    <%= f.submit "Agregar", class: "btn btn-raised btn-success" %>
  </div>
  <% end %>
</div>
