<div class="board col-md-8">
  <%= form_for(@meeting) do |f| %>
    <% if @meeting.errors.any? %>
      <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <% @meeting.errors.full_messages.each do |message| %>
          <%= message%><br>
        <% end %>
      </div>
    <% end %>

    <div class="form-group label-floating">
      <%= f.label "Evento" , class: "control-label"%><br>
      <%= f.text_field :name,:value => 'Consulta ',:readonly => true, class: "form-control text-center" %>
    </div>
    <div class="form-group">
      <%= f.label "Fecha de Inicio"%><br>
      <%= f.datetime_select :start_time, class: "form-control" %>
    </div>
    <div class="form-group label-floating">
      <%= f.label :patient_id %><br>
      <%= f.select(:patient_id, Patient.where(aasm_state: ['primera','subsecuente']).collect {|pat| [pat.nom+" "+pat.app+" "+pat.apm, pat.id]}, :prompt => 'Selecciona uno')%>
    </div>
    <div class="form-group label-floating">
      <%= f.label "Psicologo" %><br>
      <%= f.select(:psychologist_id, Psychologist.where(status: 'ACTIVO').collect {|psy| [psy.nombre+" "+psy.apellidoP+" "+psy.apellidoM, psy.id]}, :prompt => 'Selecciona uno')%>
    </div>
    <div class="actions">
      <%= f.submit "Agregar", class: "btn btn-raised btn-success" %>
    </div>
  <% end %>
</div>
