<div class="text-center board col-md-8">
	<div class="panel panel-default">
		<h2>Editar el evento <%= @meeting.name %></h2>

	  	<%= render 'form' %>

	  	<p><%= link_to 'Mostrar', @meeting, class: "btn btn-raised btn-info" %></p>
	</div>
</div>
