<div class="row board ">
	<div class="col-md-8">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h2 class="panel-title"><i class="fa fa-calendar-plus-o"></i> Nuevo evento</h2>
		  </div>
		  <div class="panel-body text-center">
		    <%= render 'form' %>
		  </div>
		</div>	
	</div>
	<div class="col-md-4">
		<div class="panel panel-warning">
		  <div class="panel-heading">
		    <h2 class="panel-title"><i class="fa fa-list"></i> Lista de Eventos</h2>
		  </div>
		  <div class="panel-body text-center">
		  		
			    <% @meetings.each do |meeting| %>
			    	<% if meeting.user == current_user %>
				    	<div class="panel panel-default">
						  <div class="panel-body">
						    <%= link_to meeting.name, meeting%>
						    <br>
						    <%= meeting.start_time %>
						    <br>
						    <%= link_to 'Eliminar', meeting, method: :delete, data: { confirm: '¿Estas seguro de elimiar el evento?', class: "btn btn-raised btn-danger btn-xs" } %>
						  </div>
						</div>
					<% end %>
			    <% end %>
		  </div>
		</div>
	</div>
</div>
