
	<div class="text-center col-md-10 board">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="list-group">
					<div class="list-group-item">
						<div class="row-action-primary">
							<%= link_to @patient do %>
								<i class="fa fa-file-text-o" aria-hidden="true"></i>
							<% end %>
						</div>
						<div class="row-content">
							<div class="action-secondary">
								<% if @meeting.termino == 1%>
									<%= link_to @meeting, method: :delete, data: { confirm: '¿Esta seguro de eliminar la actividad?' }, class: "btn btn-raised btn-danger btn-xs" do %>
										<i class="fa fa-times" aria-hidden="true"></i>
									<% end %>
								<% end %>
							</div>
							<% if (!@patient.nil?) %>
								<h1 ><%= @meeting.name+" "+@patient.nom+" "+@patient.app+" "+@patient.apm%></h1>
							<%else%>
								<h1 >No hay un paciente asignado</h1>
							<%end%>
							<p class="list-group-item-text text-muted"><%= @meeting.start_time %></p>
							<p class="list-group-item-text">
							<h5 class="text-primary">Psicologo</h5>
              <%if (!@psychologist.nil?)%>
							  <%= @psychologist.nombre+" "+@psychologist.apellidoP+" "+@psychologist.apellidoM%>
              <%else%>
                <%= "No tiene psicologo"%>
              <%end%>
							</p>
							<p class="list-group-item-text">
								<h5 class="text-primary">Estatus</h5>
								<%#= @patient.state_aasm.titleize %><br>
							</p>
						</div>
						<% if @meeting.termino == 1 %>
							<div class="row">
							  <div class="col-md-6">
							    <%= link_to "Reprogramar Consulta", edit_meeting_path(@meeting), {class: "btn btn-raised btn-warning"} %>
							  </div>
								<div class="col-md-6">
									<%= link_to "Terminar Consulta", actualiza_path(@meeting) , {class: "btn btn-raised btn-success"} %>
								</div>
							</div>
						<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>

