<script type="text/javascript">


 $(document).ready(function() {
  evento();
 })

    function evento(){
      var valor= $("#sustancia option:selected").html();
    switch (valor){
      case "F10":
        $("#droga").val("Alcohol");
      break;
      case "F11":
        $("#droga").val("Opio");
      break;
      case "F12":
        $("#droga").val("Marihuana");
      break;
      case "F13":
        $("#droga").val("Sedantes o hipnóticos");
      break;
      case "F14":
        $("#droga").val("Cocaina");
      break;
      case "F15":
        $("#droga").val("Estimulantes (cafeina, metanfetaminas)");
      break;
      case "F16":
        $("#droga").val("Alucinogenos");
      break;
      case "F17":
        $("#droga").val("Tabaco");
      break;
      case "F18":
        $("#droga").val("Disolventes volatiles");
      break;
      case "F19":
        $("#droga").val("Alcohol, Tabaco, Opio, Marihuana");
      break;
      case "Z00.0":
	$("#droga").val("Consejeria Breve/Medicamente Sanos");
      break;
      case "Z00.3":
	$("#droga").val("Examen del Estado de Desarrollo del Adolescente");
      break;
      case "Z504":
	$("#droga").val("Psicoterapia,No Clasificada en Otra Parte");
      break;
      case "Z502":
	$("#droga").val("Rehabilitacion del Alcoholico");
      break;
      case "Z503":
	$("#droga").val("Rehabilitacion del Drogadicto");
      break;
      default:
        $("#droga").val(" ");
      break;
    }
  }
</script>
<%#=javascript_include_tag "expedientes.js"%>


<div class="board col-md-6">
  <%= form_for(@expediente) do |f| %>
  <% if @expediente.errors.any? %>
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
      <% @expediente.errors.full_messages.each do |message| %>
        <%= message%><br>
      <% end %>
  </div>
  <% end %>

  <div class="form-group label-floating">
    <%= f.label :id_expediente %><br>
    <%= f.number_field :id_expediente ,class: "form-control text-center"%>
  </div>

  <div class="form-group label-floating">
    <%= f.label :pago, "Pago", class: "control-label" %><br>
    <%#= f.text_field :pago ,class: "form-control text-center"%>
    <div class= "row text-center" >
    <div class= "col-md-3">
      </div>
      <div class="col-md-3">

    <%= f.label :pago, "si", :value => "si" %>
        <%= f.radio_button :pago, "si"  %>
      </div>
      <div class="col-md-3">
        <%= f.label :pago, "no", :value => "no" %>
        <%= f.radio_button :pago, "no", :checked => true %>
      </div>
      <div class= "col-md-3">
      </div>
  </div>
  </div>

  <div class="form-group label-floating">
    <%= f.label :patient_id %><br>
    <%= f.select(:patient_id, Patient.where(id: @id).collect {|pat| [pat.nom+" "+pat.app+" "+pat.apm, pat.id]}, :prompt => 'Selecciona uno')%>
  </div>

  <div class="form-group label-floating">
    <%= f.label :psychologist_id, "Psicologo" %><br>
    <%= f.select(:psychologist_id, Psychologist.all.collect {|ps| [ps.nombre+" "+ps.apellidoP+" "+ps.apellidoM, ps.id]}, :prompt => 'Selecciona uno')%>
  </div>

  <div class="form-group label-floating">
    <%= f.label :programa_id %><br>
    <%= f.select(:programa_id, Programa.all.collect {|prg| [prg.programa, prg.id]}, :prompt => 'Selecciona uno')%>
  </div>

  <div class= "row text-center" >
    <div class= "col-md-2">
    </div>
    <div class= "col-md-2">
  <div class="form-group label-floating">
    <%= f.label :sustancium_id, "CIE-10" %><br>
    <%= f.select(:sustancium_id, Sustancium.all.collect {|sus| [sus.clave, sus.sustancia, sus.id]}, {prompt: 'Selecciona uno'}, {id: "sustancia", :onchange=>"evento()"} )%>
    <%#= f.collection_select :sustancium_id, Sustancium.order(:id), :sustancia, :clave, :prompt => 'Selecciona uno',:id => "sustancia", :onchange=>"evento()" %><%#src="URL_de_archivo.js"%>
  </div>
  </div>
  <div class= "col-md-1">
  </div>
   <div class= "col-md-2">
  <!--<div class="form-group label-floating">
    <%#= f.label "Diagnostico" %><br>
    <%#= f.text_field :sustancium_id, id:"sus", class: 'form-control', readonly: true %>
  </div>-->
  <div class="form-group label-floating">
    <%= f.label "Droga de Impacto", class:"control-label" %><br>
    <%= text_field :post, "Droga de Impacto", class:"form-control text-center",id:"droga", :val=>"sapito", readonly: true %>
  </div>
  </div>
  <div class= "col-md-1">
  </div>

  <div class="col-md-2">
   <div class="form-group label-floating">
    <%= f.label :riesgo_id %><br>
    <%= f.select(:riesgo_id, Riesgo.all.collect {|rie| [rie.clave, rie.id]}, :prompt => 'Selecciona uno')%>
  </div>
  </div>
</div>
 <!--<div class="row">
 <div class="col-md-2">

 </div>
  <div class= "col-md-4">
  <div class="form-group label-floating">
    <%#= f.label "Droga de Impacto" %><br>
    <%#= f.text_field :sustancium_id, id:"droga", class: 'form-control', readonly: true %>
  </div>
  </div>
    <div class= "col-md-1">
  </div>
  <div class= "col-md-3">
  <div class="form-group label-floating">
    <%#= f.label :riesgo_id %><br>
    <%#= f.select(:riesgo_id, Riesgo.all.collect {|rie| [rie.clave, rie.id]}, :prompt => 'Selecciona uno')%>
  </div>
  <div class="col-md-2">

  </div>

  </div>
 </div>  -->


  <div class="actions">
    <%= f.submit "Agregar", class: "btn btn-raised btn-success" %>
  </div>
<% end %>
