<% if notice %>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= notice %>
  </div>
<% end%>
<div class="row board ">
  <div class="col-md-5">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-search"></i> Buscar Expediente</h3>
      </div>
      <div class="panel-body text-center">
        <%= form_tag expedientes_path, method: :get do %>
          <div class="form-group label-floating">
            <%= text_field_tag :id_expediente, params[:id_expediente] , :class=>"form-control text-center" , placeholder: "ID Expediente" %>
          </div>
          <div class="actions">
          <%= submit_tag "Buscar", name: nil, class: "btn btn-raised btn-info" %>
          </div>
        <% end %>
        <div class="panel panel-default">
          <div class="list-group">
              <%= render @expediente %>
          </div>
        </div>
      </div>
    </div>
  </div>
	<div class="col-md-7">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Ultimos Expedientes Agregados</h1>
		  </div>
		  <div class="panel-body text-center">
        <div class="list-group">
          <%= render @expedientes %>
        </div>
      </div>
    </div>
  </div>
</div>
