<div class="row board ">
	<div class="col-md-7">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h1 class="panel-title"><i class="fa fa-folder-o"></i> Expediente <strong>ID <%= @expediente.id.to_s %></strong></h1>
		  </div>
		  <div class="panel-body text-center">
        <div class="list-group">
          <div class="list-group-item">
            <div class="row-action-primary">
                <i class="fa fa-heartbeat"></i>
            </div>
            <div class="row-content">
              <div class="action-secondary">
                <%= link_to edit_expediente_path(@expediente) do %>
                  <i class="fa fa-pencil-square-o"></i>
                <% end %>
              </div>
              <h3 class="list-group-item-heading"><strong>Expediente Fisico: <%= @expediente.id_expediente %></strong></h3>
							<p class="list-group-item-text"><strong>Pago: </strong><%= @expediente.pago%></p>
							<% if (!@paciente.nil?) %>
								<p class="list-group-item-text"><strong>Paciente: </strong><%= @paciente.nom+" "+@paciente.app+" "+@paciente.apm%></p>
							<%else%>
								<p class="list-group-item-text"><strong>Paciente no asignado</strong></p>
							<%end%>
							<p class="list-group-item-text"><strong>Atendido: </strong><%= @psychologist.nombre+" "+@psychologist.apellidoP+" "+@psychologist.apellidoM%></p>
							<p class="list-group-item-text"><strong>Programa: </strong><%= @programa.programa+""+@expediente.sesion.to_s%><strong>/<%=@programa.sesiones%></strong><br></p>
							<p class="list-group-item-text"><strong>Diagnostico: </strong><%= @sustancia.sustancia%><br></p>
              <p class="list-group-item-text"><strong>Riesgo: </strong><%= @riesgo.riesgo%><br></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-calendar-check-o" aria-hidden="true""></i> Proxima Consulta</h3>
      </div>
      <div class="panel-body">
          <%#=render 'form'%>
      </div>
    </div>
  </div>
</div>
