<%= form_for(@metas) do |f| %>
  <% if @metas.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metas.errors.count, "error") %> prohibited this metum from being saved:</h2>

      <ul>
      <% @metas.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tamizajes, "Tamizajes" %><br>
    <%= f.number_field :tamizajes %>
  </div>
  <div class="field">
    <%= f.label :adol_acc_prev, "Adolescentes de 12 a 17 años en acciones de prevencion" %><br>
    <%= f.number_field :adol_acc_prev %>
  </div>
  <div class="field">
    <%= f.label :cons_1a_vez, "Consultas de primera vez" %><br>
    <%= f.number_field :cons_1a_vez %>
  </div>
  <div class="field">
    <%= f.label :trat_brev_conc, "Tratamientos breves concluidos" %><br>
    <%= f.number_field :trat_brev_conc %>
  </div>
  <div class="field">
    <%= f.label :adol_ini_trat, "Adolescentes de 12 a 17 años que inician tratamiento"%><br>
    <%= f.number_field :adol_ini_trat %>
  </div>
  <div class="field">
    <%= f.label :cons_subs, "Consultas Subsecuentes" %><br>
    <%= f.number_field :cons_subs %>
  </div>
  <div class="field">
    <%= f.label :pers_cap_ces_tab, "Personal capacitado en cesacion del tabaco" %><br>
    <%= f.number_field :pers_cap_ces_tab %>
  </div>
  <div class="field">
    <%= f.label :cap_otor_prev_trat, "Capacitaciones otorgadas en prevencion y tratamiento" %><br>
    <%= f.number_field :cap_otor_prev_trat %>
  </div>
  <div class="field">
    <%= f.label :cap_rec_prev_trat, "Capacitaciones recibidas en prevencion y tratamiento" %><br>
    <%= f.number_field :cap_rec_prev_trat %>
  </div>
  <div class="field">
    <%= f.label :pers_det_viol_gen, "Personas detectadas con violencia de genero" %><br>
    <%= f.number_field :pers_det_viol_gen %>
  </div>
  <div class="form-group label-floating">
    <%= f.label :beneficiados %><br>
    <%= f.number_field :beneficiados%>
  </div>
  <div class="form-group label-floating">
    <%= f.label :multip_promot, "multiplicadores y promotores" %><br>
    <%= f.number_field :multip_promot%>
  </div>
  <div>
    <%= f.label :fecha, "Fecha" %><br>
    <%= f.date_select :fecha %>  
  </div>
  
  <div class="actions">
    <%= f.submit%>
  </div>
<% end %>
