<div class="list-group-item">
  <div class="row-action-primary">
    <%= link_to metum do %>
      <i class="fa fa-user"></i>
    <% end %>
  </div>
  <div class="row-content">
    <div class="action-secondary">
      <%= link_to edit_metum_path(metum) do %>
        <i class="fa fa-pencil-square-o"></i>
      <% end %>
    </div>
    <h4 class="list-group-item-heading"><%= metum.id %> </h4>
    <p class="list-group-item-text"><h5>Fecha de Creacion</h5></p>
    <p class="list-group-item-text"><%= metum.created_at %></p>
  </div>
</div>
<div class="list-group-separator"></div>
