<%= javascript_include_tag "datepicker.js" %>

<div class="row board ">
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-search"></i> Buscar </h3>
      </div>
      <div class="panel-body text-center">
        <%= form_tag meta_path, :method => :get do %>
          <div class="form-group label-floating">
            <%= label_tag "search", "Búsqueda:" %>
            <br>
             <%#= text_field_tag :id, params[:id], :class=>"form-control text-center",  placeholder: "Id psicologo " %>
             <%#=select_tag 'id', options_for_select(@psychologists.collect{ |u| [u.nombre+" "+u.apellidoP+" "+u.apellidoM,  u.id] })%>
            <%= text_field_tag :date_start, params[:date_start], :class=>"form-control text-center", :id=>"dateStart", placeholder: "fecha inicio" %>
            <%= text_field_tag :date_end, params[:date_end], :class=>"form-control text-center", :id=>"dateEnd", placeholder: "fecha termino" %>
            
          </div>
          <div class="actions">
          <%= submit_tag "Buscar", class: "btn btn-raised btn-primary" %>
          </div>
        <% end %>
          <div class="list-group">
                            
          </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Metas </h1>
      </div>
      <div class="panel-body text-center">
          <div class="list-group">
          <%#=link_to 'Create PDF document',meta_path(:format => :pdf)%>
          <%if !@meta.nil?%>
          <%= render @metas%>
          <%else%>
            <%= render @meta%>
          <%end%> 

          <%= link_to "Nueva Meta", new_metum_path, class: "btn btn-raised btn-primary"%>
           
      </div>
        </div>
    </div>
  </div>
  </div>