<div class="row board ">
  <div class="col-md-7">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h1 class="panel-title"><i class="fa fa-folder-o"></i> Metas <strong>ID <%= @metas.id.to_s %></strong></h1>
      </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <div class="list-group-item">
            <div class="row-action-primary">
                <i class="fa fa-user"></i>
            </div>
            <div class="row-content">
              <div class="action-secondary">
                <%= link_to edit_metum_path(@metas) do %>
                  <i class="fa fa-pencil-square-o"></i>
                <% end %>
              </div>
              <h3 class="list-group-item-heading"><strong>Metas: <%= @metas.id %></strong></h3>
              <p class="list-group-item-text"><strong>Tamizajes: </strong><%= @metas.tamizajes.to_s%></p>
              <p class="list-group-item-text"><strong>Adolescentes en Acciones de Prevencion: </strong><%= @metas.adol_acc_prev.to_s%></p>
              <p class="list-group-item-text"><strong>Consultas 1ra. Vez: </strong><%= @metas.cons_1a_vez.to_s%></p>
              <p class="list-group-item-text"><strong>Tratamientos Breves concluidos: </strong><%= @metas.trat_brev_conc.to_s%><br></p>
              <p class="list-group-item-text"><strong>Adolescentes que inician tratamiento: </strong><%= @metas.adol_ini_trat.to_s%><br></p>
              <p class="list-group-item-text"><strong>Consultas subsecuentes: </strong><%= @metas.cons_subs.to_s%><br></p>
              <p class="list-group-item-text"><strong>Personas capacitadas en cesacion del tabaco: </strong><%= @metas.pers_cap_ces_tab.to_s%><br></p>
              <p class="list-group-item-text"><strong>Capacitaciones otorgadas en prevencion y tratamiento: </strong><%= @metas.cap_otor_prev_trat.to_s%><br></p>
              <p class="list-group-item-text"><strong>Capacitaciones recibidas en prevencion y tratamiento: </strong><%= @metas.cap_rec_prev_trat.to_s%><br></p>
              <p class="list-group-item-text"><strong>Personas detectadas con violencia de genero: </strong><%= @metas.pers_det_viol_gen.to_s%><br></p>
              <p class="list-group-item-text"><strong>Fecha: </strong><%= @metas.fecha%><br></p>
              <p class="list-group-item-text"><strong>Beneficiados: </strong><%= @metas.beneficiados.to_s%><br></p> 
              <p class="list-group-item-text"><strong>Multiplicadores y promotores: </strong><%= @metas.multp_promot.to_s%><br></p>                                                  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-search"></i> Proxima Consulta</h3>
      </div>
      <div class="panel-body">

      </div>
    </div>
  </div>
</div>


