<div class="board col-md-6">
<%= form_for(@programa) do |f| %>
  <% if @programa.errors.any? %>
  <div class="alert alert-dismissible alert-danger">
    <div id="error_explanation">
      <h2><%= pluralize(@programa.errors.count, "error") %> prohibited this programa from being saved:</h2>

      <ul>
      <% @programa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </div>
    <div class="form-group label-floating">
      </ul>
    </div>
  <% end %>
  <div class="form-group label-floating">
    <%= f.label :programa %><br>
    <%= f.text_field :programa %>
  </div>
  <div class="form-group label-floating">
    <%= f.label :sesiones %><br>
    <%= f.text_field :sesiones %>
  </div>
  <div class="actions">
    <%= f.submit "Agregar", class: "btn btn-raised btn-success" %>
  </div>
</div>
<% end %>
