<div class="list-group-item">
  <div class="row-action-primary">
    <%= link_to programa do %>
      <i class="fa fa-user"></i>
    <% end %>
  </div>
  <div class="row-content">
    <div class="action-secondary">
      <%= link_to edit_programa_path(programa) do %>
        <i class="fa fa-pencil-square-o"></i>
      <% end %>
    </div>
    <h4 class="list-group-item-heading"><%= programa.programa %> </h4>
    <p class="list-group-item-text"><h5>Fecha de Creacion</h5></p>
    <p class="list-group-item-text"><%= programa.created_at %></p>
  </div>
</div>
<div class="list-group-separator"></div>
