<div class="row board ">
	<div class="col-md-12">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h2 class="panel-title"><i class="fa fa-stethoscope"></i> Editar Programa</h2>
			</div>
			<div class="panel-body text-center"><h1>Datos del Programa</h1>
				<%= render 'form' %>
			</div>
    	</div>
	</div>
</div>

