<%if notice%>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= notice %>
  </div> 
<%end%>
<div class="row board" >
<!--<div class="col-md-12">
 <div class="panel panel-success">
  <div class="panel-heading">
  <h3 class="panel-title"><i class="fa fa-stethoscope"></i> Programas</h3>
  </div>-->

<div class="panel-body text-center">

    <div class="col-md-5">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-search"></i> Nuevo Programa</h3>
      </div>
      <div class="panel-body text-center">
        <%# if !@programa.nil? %>
            <%= render 'form' %>
          <%#else%>
            <h3><%#= link_to "Agregar Nuevo Programa ",new_programa_path,class: "btn btn-raised btn-warning"%></h3>
          <%#end%> 
      </div>
    </div>
 </div>

  <div class="col-md-7">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Ultimos Programas Agregados</h1>
      </div>
    <div class="panel-body text-center">
      <div class="list-group">
          <%= render @programas %>
      </div>
      <%#= link_to 'Agregar Programa', new_programa_path, class: "btn btn-raised btn-primary" %>
    </div>
    </div>
  </div>

      </div>
     </div>
<!-- </div>
</div>-->