<div class="row board ">
	<div class="col-md-7">
		<div class="panel panel-success">
		  <div class="panel-heading">
			<h1 class="panel-title"><i class="fa fa-folder-o"></i> Programa <strong>ID <%= @programa.id.to_s %></strong></h1>
		  </div>
<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Programa:</strong>
  <%= @programa.programa %>
</p> -->
<div class="panel-body text-center">
        <div class="list-group">
          <div class="list-group-item">
            <div class="row-action-primary">
                <i class="fa fa-user"></i>
            </div>
            <div class="row-content">
              <div class="action-secondary">
				<%= link_to edit_programa_path(@programa) do %>
                <i class="fa fa-pencil-square-o"></i>
            	<% end %>
              </div>
			  <h3 class="list-group-item-heading"><strong>Lista de Programas: <%= @programa.id %></strong></h3>
							<p class="list-group-item-text"><strong>Programa: </strong><%= @programa.programa%><br></p>
							<p class="list-group-item-text"><strong>Sesiones: </strong><%= @programa.sesiones%><br></p>
            </div>
          </div>
        </div>




      </div>
    </div>
  </div>
</div>
