<div class="row text board">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
          <h2 class="panel-title">Editar Datos</h2>
      </div>
      <div class="panel-body text-center">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group label-floating">
            <%= f.label "Correo Electronico" , class: "control-label"%><br />
            <%= f.email_field :email,class: "form-control text-center"%>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group label-floating">
            <%= f.label "Contraseña" , class: "control-label"%> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "off",class: "form-control text-center" %>
          </div>

          <div class="form-group label-floating">
            <%= f.label "Confirmar Contraseña" , class: "control-label"%><br />
            <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control text-center"%>
          </div>

          <div class="form-group label-floating">
            <%= f.label :current_password , class: "control-label"%> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "off",class: "form-control text-center" %>
          </div>

          <div class="actions">
            <%= f.submit "Actulizar", class:"btn btn-raised btn-primary"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
