<div class="row text board">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
          <h2 class="panel-title">Agregar Psicologo a la Plataforma</h2>
      </div>
      <div class="panel-body text-center">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control text-center" %>
          </div>

          <div class="form-group">
            <%= f.label "Contraseña" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caracteres minimos)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control text-center" %>
          </div>

          <div class="form-group">
            <%= f.label "Confirmar contraseña" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control text-center" %>
          </div>

          <div class="form-group">
            <%= f.label "Seleccionar Psicologo" %><br />
            <%= f.select(:psychologist_id, Psychologist.all.collect {|psy| [psy.nombre+" "+psy.apellidoP+" "+psy.apellidoM, psy.id]}, :prompt => 'Selecciona uno')%>
          </div>

          <div class="actions">
            <%= f.submit "Agregar" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
