<% if ((!@desempeño1.nil?)and(!@total1.nil?)) %>

<%t1=@total1.fetch(0) %>
<%t2=@desempeño1.fetch(0) %>
<%t3=@desempeño1.fetch(1) %>
<%t4=@total1.fetch(1) %>
<%t5= @desempeño1.fetch(2)%>
<%t6= @desempeño1.fetch(3)%>
<%t7= @total1.fetch(2)%>
<%t8= @desempeño1.fetch(4)%>
<%t9= @desempeño1.fetch(5)%>
<%t10= @total1.fetch(3)%>
<%t11= @desempeño1.fetch(6)%>
<%t12= @desempeño1.fetch(7)%>
<%t13= @total1.fetch(4)%>
<%t14= @desempeño1.fetch(8)%>
<%t15= @desempeño1.fetch(9)%>
<%t16= @total1.fetch(5)%>
<%t17= @desempeño1.fetch(10)%>
<%t18= @desempeño1.fetch(11)%>
<%t19= @total1.fetch(6)%>
<%t20= @desempeño1.fetch(12)%>
<%t21= @desempeño1.fetch(13)%>
<%t22= @total1.fetch(7)%>
<%t23= @desempeño1.fetch(14)%>
<%t24= @desempeño1.fetch(15)%>
<%t25= @total1.fetch(8)%>
<%t26= @desempeño1.fetch(16)%>
<%t27= @desempeño1.fetch(17)%>
<%t28= @total1.fetch(9)%>
<%t29= @desempeño1.fetch(18)%>
<%t30= @desempeño1.fetch(19)%>
<%t31= @total1.fetch(10)%>
<%t32= @desempeño1.fetch(20)%>
<%t33= @desempeño1.fetch(21)%>
<%t34= @total1.fetch(11)%>
<%t35= @desempeño1.fetch(22)%>
<%t36= @desempeño1.fetch(23)%>


	<%h={'tamizajes' => t2, 'adol.acc.prev.' => t5, 'cons.1a.vez' => t8, 'trat.br.conc.' => t11, 'adol.ini.trat.' => t14, 'cons.sub.' => t17, 'pers.cap.' => t20, 'capac.oto.' => t23, 'capac.rec.' => t26, 'pers.viol.gen.' => t29, 'benef.' => t32, 'mult.prom.' => t35 }%>
	<%m={'tamizajes' => t3, 'adol.acc.prev.' => t6, 'cons.1a.vez' => t9, 'trat.br.conc.' => t12, 'adol.ini.trat.' => t15, 'cons.sub.' => t18, 'pers.cap.' => t21, 'capac.oto.' => t24, 'capac.rec.' => t27, 'pers.viol.gen.' => t30, 'benef.' => t33, 'mult.prom.' => t36 }%>
	<%t={'tamizajes' => t1, 'adol.acc.prev.' => t4, 'cons.1a.vez' => t7, 'trat.br.conc.' => t10, 'adol.ini.trat.' => t13, 'cons.sub.' => t16, 'pers.cap.' => t19, 'capac.oto.' => t22, 'capac.rec.' => t25, 'pers.viol.gen.' => t28, 'benef.' => t31, 'benef.' => t34 }%>
	<%dato = [{name: "Hombres", data: h},{name: "Mujeres", data: m},{name: "Total", data: t}]%>
<%= column_chart  dato, colors: ["red", "orange", "yellow"]%>
<%else%>
  <%= "No hay datos" %>
<% end %>