<div class="board col-md-6">
  <%= form_for(@tamizajes_tot) do |f| %>
  <% if @tamizajes_tot.errors.any? %>
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
      <% @tamizajes_tot.errors.full_messages.each do |message| %>
        <%= message%><br>
      <% end %>
  </div>
  <% end %>


  <!--<div class="form-group label-floating">
    <%#= f.label :h, "hombres" %><br>
    <%#= f.text_field :h ,class: "form-control text-center"%><%#, value: @h, readonly: true%>
  </div>

  <div class="form-group label-floating">
    <%#= f.label :m, "mujeres" %><br>
    <%#= f.text_field :m ,class: "form-control text-center"%><%#, value: @m, readonly: true%>
  </div>-->

  <div class="form-group label-floating">
    <%= f.label :fecha, "fecha" %><br>
    <%= f.date_select :fecha,class: "form-control text-center"%>
  </div>

  <div class="form-group label-floating">
    <%= f.label :psychologist_id, "psicologo" %><br>
    <%= f.select(:psychologist_id, Psychologist.all.collect {|ps| [ps.nombre+" "+ps.apellidoP+" "+ps.apellidoM, ps.id]}, :prompt => 'Selecciona uno')%>
  </div>

  <div class="form-group label-floating">
    <%=f.label "Edades 12 a 14"%> <br>
    <%= f.label :h3,"Hombres" %> <%= f.label :m3,"Mujeres" %><br>
    <%= f.number_field :h3 %>  <%= f.number_field :m3 %> <br>         
  </div>
   
  <div class="form-group label-floating">
    <%=f.label "Edades 15 a 17"%> <br>
    <%= f.label :h4,"Hombres" %> <%= f.label :m4,"Mujeres" %><br>
    <%= f.number_field :h4 %>  <%= f.number_field :m4 %> <br>      
  </div>

  <div class="form-group label-floating">
    <%=f.label "Edades 18 a 19"%> <br>
    <%= f.label :h5,"Hombres" %> <%= f.label :m5,"Mujeres" %><br>
    <%= f.number_field :h5 %> <%= f.number_field :m5 %>  <br>     
  </div>
  <div class="form-group label-floating">
    <%=f.label "Edades 20 a 29"%> <br>
    <%= f.label :h6,"Hombres" %> <%= f.label :m6,"Mujeres" %><br>
    <%= f.number_field :h6 %>  <%= f.number_field :m6 %> <br>
  </div>

  <div class="actions">
    <%= f.submit "Agregar", class: "btn btn-raised btn-success" %>
  </div>
<% end %>
</div>
