<div class="row board ">
	<div class="col-md-7">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h1 class="panel-title"><i class="fa fa-folder-o"></i> Tamizajes Totales<strong>ID <%= @tamizajes_tot.id.to_s %></strong></h1>
		  </div>
		  <div class="panel-body text-center">
        <div class="list-group">
          <div class="list-group-item">
            <div class="row-action-primary">
                <i class="fa fa-heartbeat"></i>
            </div>
            <div class="row-content">
              <div class="action-secondary">
                <%= link_to edit_tamizajes_tot_path(@tamizajes_tot) do %>
                  <i class="fa fa-pencil-square-o"></i>
                <% end %>
              </div>
              <h3 class="list-group-item-heading"><strong>Tamizajes Totales: <%= @tamizajes_tot.id.to_s %></strong></h3>
							<p class="list-group-item-text"><strong>Hombres: </strong><%= @tamizajes_tot.h.to_s%></p>
							<p class="list-group-item-text"><strong>Mujeres: </strong><%= @tamizajes_tot.m.to_s%></p>
							<p class="list-group-item-text"><strong>Total: </strong><%= (@tamizajes_tot.h+@tamizajes_tot.m).to_s%></p>
							<p class="list-group-item-text"><strong>Fecha: </strong><%= @tamizajes_tot.fecha%><br></p>
							<p class="list-group-item-text"><strong>Psicologo: </strong><%= @tamizajes_tot.psychologist_id.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 12 a 14: </strong><%= @tamizajes_tot.h3%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 12 a 14: </strong><%= @tamizajes_tot.m3.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 15 a 17:</strong><%= @tamizajes_tot.h4.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 15 a 17: </strong><%= @tamizajes_tot.m4.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 18 a 19: </strong><%= @tamizajes_tot.h5.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 18 a 19: </strong><%= @tamizajes_tot.m5.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 20 a 29: </strong><%= @tamizajes_tot.h6.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 20 a 29: </strong><%= @tamizajes_tot.m6.to_s%><br></p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-calendar-check-o" aria-hidden="true""></i> Proxima Consulta</h3>
      </div>
      <div class="panel-body">

      </div>
    </div>
  </div>
</div>