
  <div class="row board ">
    <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-search"></i> ARIADNE GONZALEZ MORALES  </h3>
      </div>
      <div class="panel-body text-center">
        <%= link_to "Imprimir", reporte_pacientes_url(:date_start=>params[:date_start],:date_end=>params[:date_end],:format => :pdf),class: "btn btn-success"%>
  
  <div class="row board ">
  <!--<div class="col-md-12">-->
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Reporte municipio </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#= render "mun"%> 
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Gráfica </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#= render "graf"%>
        </div>
        
      </div>
    </div>    
    </div>
    </div>
   <!-- </div>-->
    <div class="row board ">
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Reporte por rango de edad </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#= render "edad"%> 
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Gráfica </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#= render "graf2"%>
        </div>
      </div>
    </div>    
    </div>
    </div>


 <div class="row board ">
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Reporte por psicologo </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#= render "psic"%> 
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Gráfica </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#= render "graf3"%>
        </div>
        
      </div>
    </div>    
    </div>
</div>

 <div class="row board ">
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Reporte por programa </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#= render "prog"%> 
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Gráfica </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#= render "graf4"%>
        </div>
        
      </div>
    </div>    
    </div>
    </div>


 <div class="row board ">
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Reporte por sustancia </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#= render "sust"%> 
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Gráfica </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#= render "graf5"%>
        </div>
        
      </div>
    </div>    
    </div>
    </div>

      </div>
    </div>
  </div>
</div>
