<%- if controller_name != 'sessions' %>
  <%= link_to "Ingresa", new_session_path(resource_name) %><br />
<% end -%>

<!--<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Registrate", new_registration_path(resource_name) %><br />
<% end -%>-->

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Olvidaste tu Contraseña", new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "No haz recibido instrucciones de confirmacion?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "No has recibido instrucciones de desbloqueo", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Ingresa con #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>
