<%= form_for(@etnium) do |f| %>
  <% if @etnium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@etnium.errors.count, "error") %> prohibited this etnium from being saved:</h2>

      <ul>
      <% @etnium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :etnia %><br>
    <%= f.text_field :etnia %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
