<p id="notice"><%= notice %></p>

<h1>Listing Etnia</h1>

<table>
  <thead>
    <tr>
      <th>Etnia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @etnia.each do |etnium| %>
      <tr>
        <td><%= etnium.etnia %></td>
        <td><%= link_to 'Show', etnium %></td>
        <td><%= link_to 'Edit', edit_etnium_path(etnium) %></td>
        <td><%= link_to 'Destroy', etnium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Etnium', new_etnium_path %>
