<div class="list-group-item">
  <div class="row-action-primary">
    <%= link_to personal_ct do %>
      <i class="fa fa-heartbeat" aria-hidden="true"></i>
    <% end %>
  </div>
  <div class="row-content">
    <div class="action-secondary">
      <%= link_to edit_personal_ct_path(@personal_ct) do %>
        <i class="fa fa-pencil-square-o"></i>
      <% end %>
    </div>
    <h4 class="list-group-item-heading"><%= personal_ct.id_personal_ct %> </h4>
    <p class="list-group-item-text"><h5>Fecha de Creacion</h5></p>
    <p class="list-group-item-text"><%= personal_ct.created_at %></p>
  </div>
</div>
<div class="list-group-separator"></div>
