<% if notice %>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= notice %>
  </div>
<% end%>
<div class="row board ">
  <div class="col-md-5">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-search"></i> Buscar Personal Capacitado en Cesacion del Tabaco</h3>
      </div>
      <div class="panel-body text-center">
        <%= form_tag personal_ct_path, method: :get do %>
          <div class="form-group label-floating">
            <%= text_field_tag :id_personal_ct, params[:id_personal_ct] , :class=>"form-control text-center" , placeholder: "ID Personal Capacitado en Cesacion del Tabaco" %>
          </div>
          <div class="actions">
          <%= submit_tag "Buscar", name: nil, class: "btn btn-raised btn-info" %>
          </div>
        <% end %>
        <div class="panel panel-default">
          <div class="list-group">
              <%= render @personal_cts %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Personal Capacitado en Cesacion del Tabaco</h1>
      </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%= render @personal_cts %>
        </div>
        <%= link_to 'Agregar Personal CT', new_personal_ct_path, class: "btn btn-raised btn-primary" %>
      </div>
    </div>
  </div>
</div>

