<%# if (!@TamizajesTot.nil?) %>
  <%#= pie_chart ({'tamizajes' => @t1, 'adolescentes' => @t3, 'consultas 1 vez' => @tat, 'tratamientos' => @tat, 'adolescentes it' => @tat, 'consultas sub' => @tat, 'personal capacitado' => @tat, 'capacitaciones oto' => @tat, 'capacitaciones rec' => @tat, 'personas vg' => @tat }) %>

<%#else%>
  <%#= "No hay datos" %>
<%# end %>

<% if ((!@desempeño.nil?)and(!@metas.nil?))  %>
	<%# $metas=[]%>
	<%# $desempeño=[]%>

	<%#$metas<< @desempeño.fetch(0)%> 
 	<%#$metas<< @desempeño.fetch(3)%> 
 	<%#$metas<< @desempeño.fetch(6)%> 
 	<%#$metas<< @desempeño.fetch(9)%> 
 	<%#$metas<< @desempeño.fetch(12)%> 
	<%#$metas<< @desempeño.fetch(15)%> 
 	<%#$metas<< @desempeño.fetch(18)%> 
 	<%#$metas<< @desempeño.fetch(21)%> 
 	<%#$metas<< @desempeño.fetch(24)%> 
 	<%#$metas<< @desempeño.fetch(27)%> 
 	<%#$desempeño<< (@desempeño.fetch(1)+@desempeño.fetch(2))%> 
 	<%#$desempeño<< (@desempeño.fetch(4)+@desempeño.fetch(5))%> 
 	<%#$desempeño<< (@desempeño.fetch(7)+@desempeño.fetch(8))%> 
 	<%#$desempeño<< (@desempeño.fetch(10)+@desempeño.fetch(11))%> 
 	<%#$desempeño<< (@desempeño.fetch(13)+@desempeño.fetch(14))%> 
 	<%#$desempeño<< (@desempeño.fetch(16)+@desempeño.fetch(17))%> 
 	<%#$desempeño<< (@desempeño.fetch(19)+@desempeño.fetch(20))%> 
 	<%#$desempeño<< (@desempeño.fetch(22)+@desempeño.fetch(23))%> 
 	<%#$desempeño<< (@desempeño.fetch(25)+@desempeño.fetch(26))%> 
 	<%#$desempeño<< (@desempeño.fetch(28)+@desempeño.fetch(29))%> 

	<%$rango=['Tamiz.tot','Adol.acc.prev ','Cons.1ra.vez','Trat.brv.conc','Adol.ini.trt','Consul.sub','Pers.cap.tab','Cap.otor','Cap.rec.','Pers.viol.gen', 'Beneficiados', 'Mult.Prom']%>

	<% $x={} %>
	<% $y={} %>
	<% $rango.each_with_index { |key,index| $x[key] = @metas[index] } %>
	<% $rango.each_with_index { |key,index| $y[key] = @desempeño[index] } %>


<%end%>

<% if ((!$x.nil?)and(!$y.nil?)) %>
  <%global=[{name: "metas", data: $x},{name:"desempeño", data: $y}]%>
  <%= bar_chart global, colors:["orange","green", "yellow"] %>
  <%#=$tl1 %>
  <%#=$y %>

<%else%>
  <%= "No hay datos " %>
    <%#=$tl1 %>

<% end %>