<% if (!@desempeño.nil?) %>
	<%# $metas=[]%>
	<%# $desempeño=[]%>


	<%#$desempeño<< (@desempeño.fetch(1)+@desempeño.fetch(2))%> 
 	<%#$desempeño<< (@desempeño.fetch(4)+@desempeño.fetch(5))%> 
 	<%#$desempeño<< (@desempeño.fetch(7)+@desempeño.fetch(8))%> 
 	<%#$desempeño<< (@desempeño.fetch(10)+@desempeño.fetch(11))%> 
 	<%#$desempeño<< (@desempeño.fetch(13)+@desempeño.fetch(14))%> 
 	<%#$desempeño<< (@desempeño.fetch(16)+@desempeño.fetch(17))%> 
 	<%#$desempeño<< (@desempeño.fetch(19)+@desempeño.fetch(20))%> 
 	<%#$desempeño<< (@desempeño.fetch(22)+@desempeño.fetch(23))%> 
 	<%#$desempeño<< (@desempeño.fetch(25)+@desempeño.fetch(26))%> 
 	<%#$desempeño<< (@desempeño.fetch(28)+@desempeño.fetch(29))%> 

	<%$rango=['Tamiz.tot','Adol.acc.prev ','Cons.1ra.vez','Trat.brv.conc','Adol.ini.trt','Consul.sub','Pers.cap.tab','Cap.otor','Cap.rec.','Pers.viol.gen', 'Beneficiados', 'Mult.Prom']%>
	<%$c=['teal','green','orange','yellow','red','purple','LightSalmon','sienna','gray','olive', 'aqua','khaki']%>

	<%$z={}%>
	<%#$y={}%>
	<% $rango.each_with_index { |key,index| $z[key] = @desempeño[index] }%>
	<%# $rango.each_with_index { |key,index| $y[key] = $desempeño[index] }%>


<%end%>

<% if (!$z.nil?) %>

  <%#global=[{name: "desempeño", data: $z}]%>
  <%= pie_chart $z , colors: ['teal','green','orange','yellow','red','purple','LightSalmon','sienna','gray','olive', 'aqua','khaki'] %>


<%else%>
  <%= "No hay datos " %>

<% end %>