<% if (!@desempeño.nil?) %>
  <%#= column_chart ({'tamizajes' => @ta3, 'adol.acc.prev.' => @adol3, 'cons.1a.vez' => @con3, 'trat.br.conc.' => @tra3, 'adol.ini.trat.' => @ad3, 'cons.sub.' => @cs3, 'pers.cap.' => @pc3, 'capac.oto.' => @co3, 'capac.rec.' => @cpt3, 'pers.viol.gen.' => @per3 }) %>
	<%h={'tamizajes' => @t2, 'adol.acc.prev.' => @t5, 'cons.1a.vez' => @t8, 'trat.br.conc.' => @t11, 'adol.ini.trat.' => @t14, 'cons.sub.' => @t17, 'pers.cap.' => @t20, 'capac.oto.' => @t23, 'capac.rec.' => @t26, 'pers.viol.gen.' => @t29, 'benef.' => @t32, 'mult.prom' => @t35 }%>
	<%m={'tamizajes' => @t3, 'adol.acc.prev.' => @t6, 'cons.1a.vez' => @t9, 'trat.br.conc.' => @t12, 'adol.ini.trat.' => @t15, 'cons.sub.' => @t18, 'pers.cap.' => @t21, 'capac.oto.' => @t24, 'capac.rec.' => @t27, 'pers.viol.gen.' => @t30, 'benef.' => @t33, 'mult.prom' => @t36 }%>
	<%t={'tamizajes' => (@t2+@t3), 'adol.acc.prev.' => (@t5+@t6), 'cons.1a.vez' => (@t8+@t9), 'trat.br.conc.' => (@t11+@t12), 'adol.ini.trat.' => (@t14+@t15), 'cons.sub.' => (@t17+@t18), 'pers.cap.' => (@t20+@t21), 'capac.oto.' => (@t23+@t24), 'capac.rec.' => (@t26+@t27), 'pers.viol.gen.' => (@t29+@t30), 'benef.' => (@t32+@t33), 'mult.prom' => (@t35+@t36) }%>
	<%dato = [{name: "Hombres", data: h},{name: "Mujeres", data: m},{name: "Total", data: t}]%>
<%= column_chart  dato, colors: ["red", "orange", "yellow"]%>
<%else%>
  <%= "No hay datos" %>
<% end %>