<div class="list-group-item">
  <div class="row-action-primary">
    <%= link_to reportes_path do %>
      <i class="fa fa-user"></i>
    <% end %>
  </div>
  <div class="row-content">
    <div class="action-secondary">


    </div>

	<table class="table table-striped table-hover">
	<thead >
		<tr>
			<th colspan="6"></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="6">
				<b>CAPA ATLACOMULCO</b>
			</td>
			<!--<td>Psicologo: </td>
			<td colspan="3"><%#if (!@id.nil?)%>
			<%#= @id.nombre+" "+@id.apellidoP+" "+@id.apellidoM %>
			<%#else%><%#= " " %>
			<%#end%></td>-->
		</tr>
		<tr>
			<td>Fecha: </td>
			<td colspan="5"><%if ((!@fi.nil?)and(!@ff.nil?))%>
			<%= "Del: "+@fi+"  al: "+ @ff %> 
			<%else %>
			<%= " "%>
			<%end%> </td>
		</tr>
		<tr>
			<td><b>categoria</b></td>
			<td><b>hombres</b></td>
			<td><b>mujeres</b></td>
			<td><b>total</b></td>
			<td><b>meta</b></td>
			<td><b>resultado</b></td>
		</tr>

		<tr>
			<td>Tamizajes totales</td>
			<td><%# if (@tamizajes_tots.present?) %>
    	  	 		<%=@t2%>
				<%# end %>
			</td>
			<td><%# if (@tamizajes_tots.present?) %>
    	  	 		<%=@t3%>
				<%# end %>
			</td>
			<td><%# if (@tamizajes_tots.present?) %>
    	  	 		<%=@t2+@t3%>
				<%# end %>
			</td>
			<td><%# if(@metas.present?) %>
    	  	 		<%=@t1%>
				<%# end %>
			</td>
			<td><%# if((@tamizajes_tots.present?)and(@metas.present?))%>
					<% if((@t2+@t3)>=(@t1))%>
						<%= "Meta Cumplida" %>
					<% else %>
						<%= "No Cumplio" %>
					<% end%>
				<%# end%>
			</td>
		</tr>
		<tr>
			<td>Adolescentes de 12 a 17 en acciones de prevención
			</td>
			<td><%# if (@metas.present?) %>
    	  	 		<%=@t5%>
			<%#end %></td>
			<td><%# if (@metas.present?) %>
    	  	 		<%=@t6%>
			<%#end %></td>
			<td><%# if (@metas.present?) %>
    	  	 		<%=@t5+@t6%>
			<%#end %></td>
			<td><%# if (@metas.present?) %>
    	  	 		<%=@t4%>
			<%#end %></td>
			<td><%# if ((@adolescentes_aps.present?)and(@metas.present?)) %>
					<%if((@t5+@t6)>=(@t4))%>
						<%= "Meta Cumplida" %>
					<% else %>
						<%= "No Cumplio" %>
					<% end%>
			<%#end %></td>
		</tr>
		<tr>
			<td>Consultas Primera Vez</td>
			<td><%#if(@consultas_pvs.present?) %>					
    	  	 		<%=@t8%>
				<%#end %>
				<td><%#if(@consultas_pvs.present?) %>					
    	  	 		<%=@t9%>
				<%#end %>
			<td><%#if(@consultas_pvs.present?) %>					
    	  	 		<%=@t8+@t9%>
				<%#end %>
			</td>
			<td><%#if(@metas.present?) %>
    	  	 		<%=@t7%>
				<%#end %>
			</td>
			<td><%#if((@consultas_pvs.present?)and(@metas.present?)) %>
					<% if((@t8+@t9)>=(@t7))%>
						<%= "Meta Cumplida" %>
					<% else %>
						<%= "No Cumplio" %>
					<% end%>
				<%#end %>
			</td>
		</tr>

<tr>
			<td>Tratamientos breves concluidos</td>
			<td><%#if(@tratamientos_bcs.present?) %>
    	  	 		<%=@t11 %>
				<%#end %></td>
			<td><%#if(@tratamientos_bcs.present?) %>
    	  	 		<%=@t12 %>
				<%#end %></td>				

			<td><%#if(@tratamientos_bcs.present?) %>
    	  	 		<%=@t11+@t12 %>
				<%#end %></td>
			<td><%#if(@metas.present?) %>
				<%=@t10%>
			<%#end %></td>	

			<td><%#if((@tratamientos_bcs.present?)and(@metas.present?)) %>
					<% if((@t11+@t12)>=(@t10))%>
						<%= "Meta Cumplida" %>
					<% else %>
						<%= "No Cumplio" %>
					<% end%>
				<%#end %>
			</td>
		</tr>

		<tr>
			<td>Adolescentes de 12 a 17 años que inician tratamiento</td>
			<td><%#if(@adolescentes_its.present?) %>
    	  	 		<%=@t14%>
				<%#end %>
			</td>
			<td><%#if(@adolescentes_its.present?) %>
    	  	 		<%=@t15%>
				<%#end %>
			</td>

			<td><%#if(@adolescentes_its.present?) %>
    	  	 		<%=@t14+@t15%>
				<%#end %>
			</td>
			<td><%#if(@metas.present?) %>
    	  	 		<%=@t13%>
				<%#end %>
			</td>
			<td><%#if((@adolescentes_its.present?)and(@metas.present?)) %>
					<% if((@t14+@t15)>=(@t13))%>
						<%= "Meta Cumplida" %>
					<% else %>
						<%= "No Cumplio" %>
					<% end%>
				<%#end %>
			</td>
		</tr>

		<tr>
			<td>Consultas subsecuentes</td>
			<td><%#if(@consultas_subs.present?) %>
    	  	 		<%=@t17%>
				<%#end %>
			</td>
			<td><%#if(@consultas_subs.present?) %>
    	  	 		<%=@t18%>
				<%#end %>
				</td>
			<td><%#if(@consultas_subs.present?) %>
    	  	 		<%=@t17+@t18%>
				<%#end %>
			</td>
			<td><%#if(@metas.present?) %>
    	  	 	<%=@t16%>
   			<%#end%>
			</td>
			<td><%#if((@consultas_subs.present?)and(@metas.present?)) %>
					<% if((@t17+@t18)>=(@t16))%>
						<%= "Meta Cumplida" %>
					<% else %>
						<%= "No Cumplio" %>
					<% end%>
				<%#end %>
			</td>
		</tr>

		<tr>
			<td>Personal capacitado en cesación de tabaco</td>
			<td><%#if(@personal_cts.present?) %>
    	  	 		<%=@t20%>
				<%#end %>
			</td>
			<td><%#if(@personal_cts.present?) %>
    	  	 		<%=@t21%>
				<%#end %>
			</td>
			<td><%#if(@personal_cts.present?) %>
    	  	 		<%=@t20+@t21%>
				<%#end %>
			</td>
			<td><%#if(@metas.present?) %>
    	  	 		<%=@t19%>
				<%#end %>
			</td>
			<td><%#if((@personal_cts.present?)and(@metas.present?)) %>
					<% if((@t20+@t21)>=(@t19))%>
						<%= "Meta Cumplida" %>
					<% else %>
						<%= "No Cumplio" %>
					<% end%>
				<%#end %>
			</td>
		</tr>


	<tr>
			<td>Capacitaciones otorgadas en prevención y tratamiento</td>
			<td><%#if(@capacitaciones_ots.present?) %>
    	  	 		<%=@t23%>
				<%#end %></td>
			<td><%#if(@capacitaciones_ots.present?) %>
    	  	 		<%=@t24%>
				<%#end %></td>
			<td><%#if(@capacitaciones_ots.present?) %>
    	  	 		<%=@t23+@t24%>
				<%#end %></td>
			<td><%#if(@metas.present?) %>
    	  	 		<%=@t22 %>
				<%#end %></td>	
			<td><%#if((@capacitaciones_ots.present?)and(@metas.present?)) %>
					<% if((@t23+@t24)>=(@t22))%>
						<%= "Meta Cumplida" %>
					<% else %>
						<%= "No Cumplio" %>
					<% end%>
				<%#end %>
			</td>
		</tr>

	<tr>
			<td>Capacitaciones recibidas en prevención y tratamiento</td>
			<td><%#if(@capacitaciones_recs.present?) %>
    	  	 		<%=@t26%>
				<%#end %>
			</td>
			<td><%#if(@capacitaciones_recs.present?) %>
    	  	 		<%=@t27%>
				<%#end %>
			</td>
			<td><%#if(@capacitaciones_recs.present?) %>
    	  	 		<%=@t26+@t27%>
				<%#end %>
			</td>
			<td><%#if(@metas.present?) %>
    	  	 		<%=@t25 %>
				<%#end %>
			</td>
			<td><%#if((@capacitaciones_recs.present?)and(@metas.present?)) %>
					<% if((@t26+@t27)>=(@t25))%>
						<%= "Meta Cumplida" %>
					<% else %>
						<%= "No Cumplio" %>
					<% end%>
				<%#end %>
			</td>
		</tr>

		<tr>
			<td>Personas detectadas con violencia de género</td>
			<td><%#if(@personas_vgs.present?) %>
    	  	 		<%=@t29%>
				<%#end %>
			</td>
			<td><%#if(@personas_vgs.present?) %>
    	  	 		<%=@t30%>
				<%#end %>
			</td>
			<td><%#if(@personas_vgs.present?) %>
    	  	 		<%=@t29+@t30%>
				<%#end %>
			</td>
			<td><%#if(@metas.present?) %>
    	  	 		<%=@t28%>
				<%#end %>
			</td>
			<td><%#if((@personas_vgs.present?)and(@metas.present?)) %>
					<% if((@t29+@t30)>=(@t28))%>
						<%= "Meta Cumplida" %>
					<% else %>
						<%= "No Cumplio" %>
					<% end%>
				<%#end %>
			</td>
		</tr>

		<tr>
			<td>Beneficiados(as)</td>
			<td><%#if(@beneficiarios.present?) %>
    	  	 		<%=@t32%>
				<%#end %>
			</td>
			<td><%#if(@beneficiarios.present?) %>
    	  	 		<%=@t33%>
				<%#end %>
			</td>
			<td><%#if(@beneficiarios.present?) %>
    	  	 		<%=@t32+@t33%>
				<%#end %>
			</td>
			<td><%#if(@metas.present?) %>
    	  	 		<%=@t31%>
				<%#end %>
			</td>
			<td><%#if((@beneficiarios.present?)and(@metas.present?)) %>
					<% if((@t32+@t33)>=(@t31))%>
						<%= "Meta Cumplida" %>
					<% else %>
						<%= "No Cumplio" %>
					<% end%>
				<%#end %>
			</td>
		</tr>

		<tr>
			<td>Multiplicadores y Promotores(as)</td>
			<td><%#if(@mult_prom.present?) %>
    	  	 		<%=@t35%>
				<%#end %>
			</td>
			<td><%#if(@mult_prom.present?) %>
    	  	 		<%=@t36%>
				<%#end %>
			</td>
			<td><%#if(@mult_prom.present?) %>
    	  	 		<%=@t35+@t36%>
				<%#end %>
			</td>
			<td><%#if(@metas.present?) %>
    	  	 		<%=@t34%>
				<%#end %>
			</td>
			<td><%#if((@mult_prom.present?)and(@metas.present?)) %>
					<% if((@t35+@t36)>=(@t34))%>
						<%= "Meta Cumplida" %>
					<% else %>
						<%= "No Cumplio" %>
					<% end%>
				<%#end %>
			</td>
		</tr>		
	</tbody>
	</table>

	<%#@desempeño=[@t1,@t2,@t3,@t4,@t5,@t6,@t7,@t8,@t9,@t10,@t11,@t12,@t13,@t14,@t15,@t16,@t17,@t18,@t19,@t20,@t21,@t22,@t23,@t24,@t25,@t26,@t27,@t28,@t29,@t30]%>
</div>
</div>
<div class="list-group-separator"></div>
