<%= javascript_include_tag "datepicker.js" %>

<div class="row board ">
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-search"></i> Buscar Metas e Indicadores</h3>
      </div>
      <div class="panel-body text-center">
        <%= form_tag reportes_path, :method => :get do %>
          <div class="form-group label-floating">
            <%#=select_tag 'id', options_for_select(@psychologists.collect{ |u| [u.nombre+" "+u.apellidoP+" "+u.apellidoM,  u.id] })%>
            <%= text_field_tag :date_start, params[:date_start], :class=>"form-control text-center", :id=>"dateStart", placeholder: "fecha inicio" %>
            <%= text_field_tag :date_end, params[:date_end], :class=>"form-control text-center", :id=>"dateEnd", placeholder: "fecha termino" %>
          </div>
          <div class="actions">
          <%= submit_tag "Buscar", class: "btn btn-raised btn-primary" %>
          </div>
        <% end %>
          <div class="list-group">
              <%#= render "reportes/reporte" %>	        
          </div>
      </div>
    </div>
  </div>

	<div class="col-md-8">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Reportes</h1>
		  </div>
		  <div class="panel-body text-center">
    	  <div class="list-group">  
    	  	<%#= render "reportes/reporte"%>
          <div class="panel-body text-center">
            <%# if (!@desempeño.nil?) %>
            <%=render 'reportes/graf2'%>
            <%# else%>
            <%#= "Sin datos"%>
            <%#end%>
              
          </div>
			  </div>
	    </div>
		</div>
	</div>
</div>

<div class="row board ">
  <!--<div class="col-md-12">-->
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-search"></i> Graficas</h3>
      </div>
      <div class="panel-body text-center">
      <%= link_to "Imprimir", reportes_url(:id=>params[:id], :date_start=>params[:date_start], :date_end=>params[:date_end],:format => :pdf), class: "btn btn-success"%>

  <div class="row board ">
    <div class="col-md-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i>Capa Atlacomulco</h1>
        </div>
        <div class="panel-body text-center">
          <div class="list-group">  
            <%= render 'reportes/reporte' %>
          </div>
        </div>
      </div>
    </div>
  </div>      
  <div class="row board ">
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i>Metas vs. Desempeño </h1>
        </div>
        <div class="panel-body text-center">
          <div class="list-group">  
            <%= render 'reportes/graf' %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i>  Desempeño por área </h1>
        </div>
        <div class="panel-body text-center">
          <div class="list-group">  
            <%= render 'reportes/graf3'%>
          </div>
        </div>
      </div>
    </div>

  <div class="row board ">
    <div class="col-md-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i>Ariadne Gonzalez Morales </h1>
        </div>
        <div class="panel-body text-center">
          <div class="list-group">  
            <%= render 'reportes/Ariadne/reporte' %>
          </div>
        </div>
      </div>
    </div>
  </div>      
  <div class="row board ">
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i>Metas vs. Desempeño </h1>
        </div>
        <div class="panel-body text-center">
          <div class="list-group">  
            <%= render 'reportes/Ariadne/graf' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i>  Desempeño por área </h1>
        </div>
        <div class="panel-body text-center">
          <div class="list-group">  
            <%= render 'reportes/Ariadne/graf2' %>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <div class="row board ">
    <div class="col-md-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i>  Esmeralda Sanchez Javier</h1>
        </div>
        <div class="panel-body text-center">
          <div class="list-group">  
            <%= render 'reportes/Esmeralda/reporte' %>
          </div>
        </div>
      </div>
    </div>
  </div>      
  <div class="row board ">
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i>  Metas vs. Desempeño</h1>
        </div>
        <div class="panel-body text-center">
          <div class="list-group">  
            <%= render 'reportes/Esmeralda/graf' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i>  Desempeño por área </h1>
        </div>
        <div class="panel-body text-center">
          <div class="list-group">  
            <%= render 'reportes/Esmeralda/graf2' %>
          </div>
        </div>
      </div>
    </div>
    </div>
  <div class="row board ">
    <div class="col-md-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i>  Manuel A. Ordoñez de Jesus</h1>
        </div>
        <div class="panel-body text-center">
          <div class="list-group">  
            <%= render 'reportes/Manuel/reporte' %>
          </div>
        </div>
      </div>
    </div>
  </div>     
  <div class="row board ">
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i>  Metas vs. Desempeño</h1>
        </div>
        <div class="panel-body text-center">
          <div class="list-group">  
            <%= render 'reportes/Manuel/graf' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i>  Desempeño por área </h1>
        </div>
        <div class="panel-body text-center">
          <div class="list-group">  
            <%= render 'reportes/Manuel/graf2' %>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <div class="row board ">
    <div class="col-md-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i>  Susana Bailon Correa</h1>
        </div>
        <div class="panel-body text-center">
          <div class="list-group">  
            <%= render 'reportes/Susana/reporte' %>
          </div>
        </div>
      </div>
    </div>
  </div>      
  <div class="row board ">
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i>  Metas vs. Desempeño</h1>
        </div>
        <div class="panel-body text-center">
          <div class="list-group">  
            <%= render 'reportes/Susana/graf' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i>  Desempeño por área </h1>
        </div>
        <div class="panel-body text-center">
          <div class="list-group">  
            <%= render 'reportes/Susana/graf2' %>
          </div>
        </div>
      </div>
    </div>
    </div>    
  <div class="row board ">
    <div class="col-md-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i>  Humberto Ibarra Arias</h1>
        </div>
        <div class="panel-body text-center">
          <div class="list-group">  
            <%= render 'reportes/Humberto/reporte' %>
          </div>
        </div>
      </div>
    </div>
  </div>     

  <div class="row board ">
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i>  Metas vs. Desempeño</h1>
        </div>
        <div class="panel-body text-center">
          <div class="list-group">  
            <%= render 'reportes/Humberto/graf' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i>  Desempeño por área </h1>
        </div>
        <div class="panel-body text-center">
          <div class="list-group">  
            <%= render 'reportes/Humberto/graf2' %>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <div class="row board ">
    <div class="col-md-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i>  Celso I. Colin Plata</h1>
        </div>
        <div class="panel-body text-center">
          <div class="list-group">  
            <%= render 'reportes/Celso/reporte' %>
          </div>
        </div>
      </div>
    </div>
  </div>      
  <div class="row board ">
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i>  Metas vs. Desempeño</h1>
        </div>
        <div class="panel-body text-center">
          <div class="list-group">  
            <%= render 'reportes/Celso/graf' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i>  Desempeño por área </h1>
        </div>
        <div class="panel-body text-center">
          <div class="list-group">  
            <%= render 'reportes/Celso/graf2' %>
          </div>
        </div>
      </div>
    </div>
    </div>
    
    </div>
  <!--</div>-->
</div>

