<!--  esto siempre va  -->

<%= wicked_pdf_javascript_include_tag "application", "chartkick" %>
<%= javascript_include_tag "https://www.google.com/jsapi" %>
<%= wicked_pdf_javascript_include_tag "chartkick" %>
<!--  Fin  -->

<style media="screen">
  div.nobreak {
    page-break-inside: avoid;
  }
  .titulo{
    text-align: center;
    background-color: #72B08F;
    color: #FAFAFA;
  }
  .grey{
    color: #636363;
  }
  .seccion{
    background-color: #FAFAFA;
    text-align: justify;
    padding: 5px 15px 5px 15px;
    margin-top: -20px
  }
  li{
    list-style:none;
    padding: 5px;
  }
  .texto{
    border: 1.5px solid;
    padding: 2px 4px 2px 4px;
    border-radius: 2px;
  }
  .campo{
    text-transform: uppercase;
    font-weight: bold;
  }
  .center{
    text-align: center !important;
  }
  table, td, th {
    border: .5px solid #ddd;
    text-align: center;
    font-size: 10px;
  }

  table {
      border-collapse: collapse;
      width: 100%;
  }

  th, td {
      padding: 5px;
  }
  tr:nth-child(even){background-color: #f2f2f2}
</style>

<div class="nobreak">
  <h1 class="titulo">REPORTE GENERAL</h1>
  <section class="seccion grey center">
    <%= render "reportes/reporte.html.erb"%>
    <%= render "reportes/graf.html.erb"%>
    <%= render "reportes/graf2.html.erb"%>
    <%= render "reportes/graf3.html.erb"%>
  </section>
</div>
<div class="nobreak">
  <h1 class="titulo">REPORTE POR AREA</h1>
  <section class="seccion grey center">
    <%= render "reportes/Ariadne/reporte.html.erb"%>
    <%= render "reportes/Ariadne/graf.html.erb"%>
    <%= render "reportes/Ariadne/graf2.html.erb"%>
  </section>
</div>
<div class="nobreak">
  <h1 class="titulo">REPORTE POR AREA</h1>
  <section class="seccion grey center">
    <%= render "reportes/Esmeralda/reporte.html.erb"%>
    <%= render "reportes/Esmeralda/graf.html.erb"%>
    <%= render "reportes/Esmeralda/graf2.html.erb"%>
  </section>
</div>
<div class="nobreak">
  <h1 class="titulo">REPORTE POR AREA</h1>
  <section class="seccion grey center">
    <%= render "reportes/Manuel/reporte.html.erb"%>
    <%= render "reportes/Manuel/graf.html.erb"%>
    <%= render "reportes/Manuel/graf2.html.erb"%>
  </section>
</div>
<div class="nobreak">
  <h1 class="titulo">REPORTE POR AREA</h1>
  <section class="seccion grey center">
    <%= render "reportes/Susana/reporte.html.erb"%>
    <%= render "reportes/Susana/graf.html.erb"%>
    <%= render "reportes/Susana/graf2.html.erb"%>
  </section>
</div>
<div class="nobreak">
  <h1 class="titulo">REPORTE POR AREA</h1>
  <section class="seccion grey center">
    <%= render "reportes/Humberto/reporte.html.erb"%>
    <%= render "reportes/Humberto/graf.html.erb"%>
    <%= render "reportes/Humberto/graf2.html.erb"%>
  </section>
</div>
<div class="nobreak">
  <h1 class="titulo">REPORTES POR AREA</h1>
  <section class="seccion grey center">
    <%= render "reportes/Celso/reporte.html.erb"%>
    <%= render "reportes/Celso/graf.html.erb"%>
    <%= render "reportes/Celso/graf2.html.erb"%>
  </section>
</div>
