
<% if ((!@total3.nil?)and(!@metas3.nil?))  %>

	<%$rango=['Tamiz.tot','Adol.acc.prev ','Cons.1ra.vez','Trat.brv.conc','Adol.ini.trt','Consul.sub','Pers.cap.tab','Cap.otor','Cap.rec.','Pers.viol.gen', 'Beneficiados', 'Mult.Prom']%>
	<% $x={} %>
	<% $y={} %>
	<% $rango.each_with_index { |key,index| $x[key] = @metas3[index] } %>
	<% $rango.each_with_index { |key,index| $y[key] = @total3[index] } %>

<%end%>

<% if ((!$x.nil?)and(!$y.nil?)) %>
  <%global=[{name: "metas", data: $x},{name:"desempeño", data: $y}]%>
  <%= bar_chart global, colors:["orange","green", "yellow"] %>

<%else%>
  <%= "No hay datos " %>

<% end %>