<div class="list-group-item">
  <div class="row-action-primary">
    <%= link_to reportes_path do %>
      <i class="fa fa-user"></i>
    <% end %>
  </div>
  <div class="row-content">
    <div class="action-secondary">


    </div>

	<table class="table table-striped table-hover">
	<thead >
		<tr>
			<th colspan="6"></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan ="6"><b>MANUEL A. ORDOÑEZ DE JESUS </b></td>
			<!--<td colspan="6"><%#if (!@id.nil?)%>
			<%#= @id.nombre+" "+@id.apellidoP+" "+@id.apellidoM %>
			<%#else%><%#= " " %>
			<%#end%>
			Ariadne González Morales	
			</td>-->
		</tr>
		<tr>
			<td>Fecha: </td>
			<td colspan="5"><%if ((!@fi.nil?)and(!@ff.nil?))%>
			<%= "Del: "+@fi+"  al: "+ @ff %> 
			<%else %>
			<%= " "%>
			<%end%> </td>
		</tr>
		<tr>
			<td><b>categoria</b></td>
			<td><b>hombres</b></td>
			<td><b>mujeres</b></td>
			<td><b>total</b></td>
			<td><b>meta</b></td>
			<td><b>resultado</b></td>
		</tr>
		<tr>
			<td>Tamizajes totales</td>
			<td><% if (@desempeño3.present?) %>
    	    <%=@desempeño3.fetch(0)%>
    	    <%else%>
    	    <%= 0%>
				  <% end %>
			</td>
			<td><% if (@desempeño3.present?) %>
    	    	<%=@desempeño3.fetch(1)%>
    	    <%else%>
    	    	<%= 0%>
				  <% end %>
		  </td>
			<td><% if (@desempeño3.present?) %>
    	  		<%=@desempeño3.fetch(0)+@desempeño3.fetch(1)%>
    	  	<%else%>
    	    	<%= 0%>
				<% end %>
			</td>
			<td><% if(@metas3.present?) %>
    	  		<%=@metas3.fetch(0)%>
    	  	<%else%>
    	    	<%= 0%>
					<% end %>
			</td>
			<td><% if((@desempeño3.present?)and(@metas3.present?))%>
						<% if((@desempeño3.fetch(0)+@desempeño3.fetch(1))>=(@metas3.fetch(0)))%>
							<%= "Meta Cumplida" %>
						<% else %>
							<%= "No Cumplio" %>
						<% end%>
					<%else%>
    	    	<%= " "%>
					<% end%>
			</td>
		</tr>
		<tr>
			<td>Adolescentes de 12 a 17 en acciones de prevención
			</td>
			<td><% if (@desempeño3.present?) %>
    	    	<%=@desempeño3.fetch(2)%>
    	    <%else%>
    	    	<%= 0%>
				  <% end %>
			</td>
			<td><% if (@desempeño3.present?) %>
    	    	<%=@desempeño3.fetch(3)%>
    	    <%else%>
    	    	<%= 0%>
				  <% end %>
		  </td>
			<td><% if (@desempeño3.present?) %>
    	  		<%=@desempeño3.fetch(2)+@desempeño3.fetch(3)%>
    	  	<%else%>
    	    	<%= 0%>
					<%end %>
			</td>
			<td><% if (@metas3.present?) %>
    	  	 		<%=@metas3.fetch(1)%>
    	  	 	<%else%>
    	    		<%= 0%>
					<%end %></td>
			<td><% if ((@desempeño3.present?)and(@metas3.present?)) %>
						<%if((@desempeño3.fetch(2)+@desempeño3.fetch(3))>=(@metas3.fetch(1)))%>
							<%= "Meta Cumplida" %>
						<%else %>
							<%= "No Cumplio" %>
						<%end%>
					<%else%>
    	    	<%= " "%>
					<%end %></td>
		</tr>
		<tr>
			<td>Consultas Primera Vez</td>
			<td><% if (@desempeño3.present?) %>
    	    	<%=@desempeño3.fetch(4)%>
    	    <%else%>
    	    	<%= 0%>	
				  <% end %>
			</td>
			<td><% if (@desempeño3.present?) %>
    	    	<%=@desempeño3.fetch(5)%>
    	    <%else%>
    	    	<%= 0%>
				  <% end %>
		  </td>	
			<td><%if(@desempeño3.present?) %>					
    	  	 		<%=@desempeño3.fetch(4)+@desempeño3.fetch(5)%>
    	  	<%else%>
    	    	<%= 0%> 		
				<%end %>
			</td>
			<td><%if(@metas3.present?) %>
    	  	 		<%=@metas3.fetch(2)%>
    	  	<%else%>
    	    	<%= 0%> 		
				<%end %>
			</td>
			<td><%if((@desempeño3.present?)and(@metas3.present?)) %>
						<% if((@desempeño3.fetch(4)+@desempeño3.fetch(5))>=(@metas3.fetch(2)))%>
							<%= "Meta Cumplida" %>
						<% else %>
							<%= "No Cumplio" %>
						<% end%>
					<%else%>
    	    	<%= " "%>
				<%end %>
			</td>
		</tr>

		<tr>
			<td>Tratamientos breves concluidos</td>
			<td><% if (@desempeño3.present?) %>
    	    	<%=@desempeño3.fetch(6)%>
    	    <% else%>
    	    	<%= 0%>
				  <% end %>
			</td>
			<td><% if (@desempeño3.present?) %>
    	    	<%=@desempeño3.fetch(7)%>
    	    <% else%>
    	    	<%= 0%>
				  <% end %>
		  </td>
			<td><%if(@desempeño3.present?) %>
    	  	 	<%=@desempeño3.fetch(6)+@desempeño3.fetch(7)%>
    	  	<%else%>
    	    	<%= 0%> 		
					<%end %></td>
			<td><%if(@metas3.present?) %>
						<%=@metas3.fetch(3)%>
					<%else%>
    	    	<%= 0%>	
					<%end %></td>

			<td><%if((@desempeño3.present?)and(@metas3.present?)) %>
						<% if((@desempeño3.fetch(6)+@desempeño3.fetch(7))>=(@metas3.fetch(3)))%>
							<%= "Meta Cumplida" %>
						<% else %>
							<%= "No Cumplio" %>
						<% end%>
					<%else%>
	    	    <%= " "%>	
				<%end %>
			</td>
		</tr>

		<tr>
			<td>Adolescentes de 12 a 17 años que inician tratamiento</td>
			<td><% if (@desempeño3.present?) %>
    	    	<%=@desempeño3.fetch(8)%>
    	    <%else%>
    	    	<%= 0%>
				  <% end %>
			</td>
			<td><% if (@desempeño3.present?) %>
    	    	<%=@desempeño3.fetch(9)%>
    	    <%else%>
    	    	<%= 0%>
				  <% end %>
		  </td>	
			
			<td><%if(@desempeño3.present?) %>
   	  	 		<%=@desempeño3.fetch(8)+@desempeño3.fetch(9)%>
    	  	<%else%>
    	    	<%= 0%> 		
					<%end %>
			</td>
			<td><%if(@metas3.present?) %>
    	  		<%=@metas3.fetch(4)%>
					<%else%>
    	    	<%= 0%>
					<%end %>
			</td>
			<td><%if((@desempeño3.present?)and(@metas3.present?)) %>
						<% if((@desempeño3.fetch(8)+@desempeño3.fetch(9))>=(@metas3.fetch(4)))%>
							<%= "Meta Cumplida" %>
						<% else %>
							<%= "No Cumplio" %>
						<% end%>
					<%else%>
    	    	<%= " "%>
				<%end %>
			</td>
		</tr>

		<tr>
			<td>Consultas subsecuentes</td>
			<td><% if (@desempeño3.present?) %>
    	    	<%=@desempeño3.fetch(10)%>
    	    <%else%>
    	    	<%= 0%>
				  <% end %>
			</td>
			<td><% if (@desempeño3.present?) %>
    	    	<%=@desempeño3.fetch(11)%>
    	    <%else%>
    	    	<%= 0%>
				  <% end %>
		  </td>
			<td><%if(@desempeño3.present?) %>
    	  		<%=@desempeño3.fetch(10)+@desempeño3.fetch(11)%>
    	  	<%else%>
    	    	<%= 0%>
					<%end %>
				</td>
			<td><%if(@metas3.present?) %>
    	  	 	<%=@metas3.fetch(5)%>
    	  	<%else%>
    	    	<%= 0%> 	
   				<%end%>
			</td>
			<td><%if((@desempeño3.present?)and(@metas3.present?)) %>
						<% if((@desempeño3.fetch(10)+@desempeño3.fetch(11))>=(@metas3.fetch(5)))%>
							<%= "Meta Cumplida" %>
						<% else %>
							<%= "No Cumplio" %>
						<% end%>
					<%else%>
    	    	<%= 0%>	
					<%end %>
			</td>
		</tr>
		<tr>
			<td>Personal capacitado en cesación de tabaco</td>
			<td><% if (@desempeño3.present?) %>
    	    	<%=@desempeño3.fetch(12)%>
    	    <%else%>
    	    	<%= 0%>
				  <% end %>
			</td>
			<td><% if (@desempeño3.present?) %>
    	    	<%=@desempeño3.fetch(13)%>
    	    <%else%>
    	    	<%= 0%>
				  <% end %>
		  </td>
			<td><%if(@desempeño3.present?) %>
    	  	 	<%=@desempeño3.fetch(12)+@desempeño3.fetch(13)%>
    	  	<%else%>
    	    	<%= 0%>
				<%end %>
			</td>
			<td><%if(@metas3.present?) %>
    	  	 	<%=@metas3.fetch(6)%>
    	  	<%else%>
    	    	<%= 0%>
					<%end %>
			</td>
			<td><%if((@desempeño3.present?)and(@metas3.present?)) %>
						<% if((@desempeño3.fetch(12)+@desempeño3.fetch(13))>=(@metas3.fetch(6)))%>
							<%= "Meta Cumplida" %>
						<% else %>
							<%= "No Cumplio" %>
						<% end%>
					<%else%>
    	    	<%= ""%>
					<%end %>
			</td>
		</tr>


		<tr>
			<td>Capacitaciones otorgadas en prevención y tratamiento</td>
			<td><% if (@desempeño3.present?) %>
    	    	<%=@desempeño3.fetch(14)%>
    	    <%else%>
    	    	<%= 0%>
				  <% end %>
			</td>
			<td><% if (@desempeño3.present?) %>
    	    	<%=@desempeño3.fetch(15)%>
    	    <%else%>
    	    	<%= 0%>
				  <% end %>
		  </td>
			<td><%if(@desempeño3.present?) %>
    	  	 	<%=@desempeño3.fetch(14)+@desempeño3.fetch(15)%>
    	  	<%else%>
    	    	<%= 0%>
					<%end %>
			</td>
			<td><%if(@metas3.present?) %>
    	  	 	<%=@metas3.fetch(7) %>
    	  	<%else%>
    	    	<%= 0%>
					<%end %>
			</td>	
			<td><%if((@desempeño3.present?)and(@metas3.present?)) %>
						<% if((@desempeño3.fetch(14)+@desempeño3.fetch(15))>=(@metas3.fetch(7)))%>
							<%= "Meta Cumplida" %>
						<% else %>
							<%= "No Cumplio" %>
						<% end%>
					<%else%>
    	    	<%= " "%>
				<%end %>
			</td>
		</tr>

		<tr>
			<td>Capacitaciones recibidas en prevención y tratamiento</td>
			
			<td><% if (@desempeño3.present?) %>
    	    	<%=@desempeño3.fetch(16)%>
    	    <%else%>
    	    	<%= 0%>	
				  <% end %>
			</td>
			<td><% if (@desempeño3.present?) %>
    	    	<%=@desempeño3.fetch(17)%>
    	    <%else%>
    	    	<%= 0%>	
				  <% end %>
		  </td>
			<td><%if(@desempeño3.present?) %>
    	  	 	<%=@desempeño3.fetch(16)+@desempeño3.fetch(17)%>
    	  	<%else%>
    	    	<%= 0%> 	
					<%end %>
			</td>
			<td><%if(@metas3.present?) %>
    	  	 	<%=@metas3.fetch(8) %>
    	  	<%else%>
    	    	<%= 0%> 	
					<%end %>
			</td>
			<td><%if((@desempeño3.present?)and(@metas3.present?)) %>
						<% if((@desempeño3.fetch(16)+@desempeño3.fetch(17))>=(@metas3.fetch(8)))%>
							<%= "Meta Cumplida" %>
						<% else %>
							<%= "No Cumplio" %>
						<% end%>
					<%else%>
    	    	<%= " "%>	
				<%end %>
			</td>
		</tr>

		<tr>
			<td>Personas detectadas con violencia de género</td>
			<td><% if (@desempeño3.present?) %>
    	    	<%=@desempeño3.fetch(18)%>
    	    <%else%>
    	    	<%= 0%>
				  <% end %>
			</td>
			<td><% if (@desempeño3.present?) %>
    	    	<%=@desempeño3.fetch(19)%>
    	    <% else%>
    	    	<%= 0%>	
				  <% end %>
		  </td>
			<td><%if(@desempeño3.present?) %>
    	  	 	<%=@desempeño3.fetch(18)+@desempeño3.fetch(19)%>
    	  	<%else%>
    	    	<%= 0%> 	
				<%end %>
			</td>
			<td><%if(@metas3.present?) %>
    	  	 	<%=@metas3.fetch(9)%>
					<%else%>
    	    	<%= 0%>
				<%end %>
			</td>
			<td><%if((@desempeño3.present?)and(@metas3.present?)) %>
						<% if((@desempeño3.fetch(18)+@desempeño3.fetch(19))>=(@metas3.fetch(9)))%>
							<%= "Meta Cumplida" %>
						<% else %>
							<%= "No Cumplio" %>
						<% end%>
					<%else%>
    	    	<%= " "%>	
				<%end %>
			</td>
		</tr>

		<tr>
			<td>Beneficiados(as)</td>
			<td><% if (@desempeño3.present?) %>
    	    	<%=@desempeño3.fetch(20)%>
    	    <% else%>
    	    	<%= 0%>
				  <% end %>
			</td>
			<td><% if (@desempeño3.present?) %>
    	    	<%=@desempeño3.fetch(21)%>
    	    <% else%>
    	    	<%= 0%>
				  <% end %>
		  </td>
			<td><%if(@desempeño3.present?) %>
    	  		<%=@desempeño3.fetch(20)+@desempeño3.fetch(21)%>
    	  	<%else%>
    	    	<%= 0%>	
					<%end %>
			</td>
			<td><%if(@metas3.present?) %>
    	  	 	<%=@metas3.fetch(10)%>
    	  	<%else%>
    	    	<%= 0%> 	
					<%end %>
			</td>
			<td><%if((@desempeño3.present?)and(@metas3.present?)) %>
					<% if((@desempeño3.fetch(20)+@desempeño3.fetch(21))>=(@metas3.fetch(10)))%>
						<%= "Meta Cumplida" %>
					<% else %>
						<%= "No Cumplio" %>
					<% end%>
				<%else%>
    	    		<%= " "%>
				<%end %>
			</td>
		</tr>

		<tr>
			<td>Multiplicadores y Promotores(as)</td>
			<td><%if(@desempeño3.present?) %>
    	  	 		<%=@desempeño3.fetch(22)%>
    	  	 	<%else%>
    	    		<%= 0%>		
				<%end %>
			</td>
			<td><%if(@desempeño3.present?) %>
    	  	 		<%=@desempeño3.fetch(23)%>
    	  	 	<%else%>
    	    		<%= 0%>	
				<%end %>
			</td>
			<td><%if(@desempeño3.present?) %>
    	  	 		<%=@desempeño3.fetch(22)+@desempeño3.fetch(23)%>
    	  		<%else%>
    	    		<%= 0%>	 		
				<%end %>
			</td>
			<td><%if(@metas3.present?) %>
    	  	 		<%=@metas3.fetch(11)%>
    	  	 	<%else%>
    	    		<%= 0%>		
				<%end %>
			</td>
			<td><%if((@desempeño3.present?)and(@metas3.present?)) %>
					<% if((@desempeño3.fetch(22)+@desempeño3.fetch(23))>=(@metas3.fetch(11)))%>
						<%= "Meta Cumplida" %>
					<% else %>
						<%= "No Cumplio" %>
					<% end%>
				<%else%>
    	    		<%= " "%>		
				<%end %>
			</td>
		</tr>			
	</tbody>
	</table>

	<%#@desempeño=[@t1,@t2,@t3,@t4,@t5,@t6,@t7,@t8,@t9,@t10,@t11,@t12,@t13,@t14,@t15,@t16,@t17,@t18,@t19,@t20,@t21,@t22,@t23,@t24,@t25,@t26,@t27,@t28,@t29,@t30]%>
</div>
</div>
<div class="list-group-separator"></div>
