<div class="list-group-item">
  <div class="row-action-primary">
    <%= link_to capacitaciones_ot do %>
      <i class="fa fa-heartbeat" aria-hidden="true"></i>
    <% end %>
  </div>
  <div class="row-content">
    <div class="action-secondary">
      <%= link_to edit_capacitaciones_ot_path(@capacitaciones_ot) do %>
        <i class="fa fa-pencil-square-o"></i>
      <% end %>
    </div>
    <h4 class="list-group-item-heading"><%= capacitaciones_ot.id_capacitaciones_ot %> </h4>
    <p class="list-group-item-text"><h5>Fecha de Creacion</h5></p>
    <p class="list-group-item-text"><%= capacitaciones_ot.created_at %></p>
  </div>
</div>
<div class="list-group-separator"></div>
