<div class="row board ">
	<div class="col-md-7">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h1 class="panel-title"><i class="fa fa-folder-o"></i> Capacitaciones Otorgadas <strong>ID <%= @capacitaciones_ot.id.to_s %></strong></h1>
		  </div>
		  <div class="panel-body text-center">
        <div class="list-group">
          <div class="list-group-item">
            <div class="row-action-primary">
                <i class="fa fa-heartbeat"></i>
            </div>
            <div class="row-content">
              <div class="action-secondary">
                <%= link_to edit_capacitaciones_ot_path(@capacitaciones_ot) do %>
                  <i class="fa fa-pencil-square-o"></i>
                <% end %>
              </div>
              <h3 class="list-group-item-heading"><strong>Capacitaciones Otorgadas: <%= @capacitaciones_ot.id.to_s %></strong></h3>
							<p class="list-group-item-text"><strong>Hombres: </strong><%= @capacitaciones_ot.h.to_s%></p>
							<p class="list-group-item-text"><strong>Mujeres: </strong><%= @capacitaciones_ot.m.to_s%></p>
							<p class="list-group-item-text"><strong>Total: </strong><%= (@capacitaciones_ot.h+@capacitaciones_ot.m).to_s%></p>
							<p class="list-group-item-text"><strong>Fecha: </strong><%= @capacitaciones_ot.fecha%><br></p>
							<p class="list-group-item-text"><strong>Psicologo: </strong><%= @capacitaciones_ot.psychologist_id.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 5 a 9: </strong><%= @capacitaciones_ot.h1.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 5 a 9: </strong><%= @capacitaciones_ot.m1.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 10 a 11: </strong><%= @capacitaciones_ot.h2.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 10 a 11: </strong><%= @capacitaciones_ot.m2.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 12 a 14: </strong><%= @capacitaciones_ot.h3%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 12 a 14: </strong><%= @capacitaciones_ot.m3.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 15 a 17:</strong><%= @capacitaciones_ot.h4.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 15 a 17: </strong><%= @capacitaciones_ot.m4.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 18 a 19: </strong><%= @capacitaciones_ot.h5.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 18 a 19: </strong><%= @capacitaciones_ot.m5.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 20 a 29: </strong><%= @capacitaciones_ot.h6.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 20 a 29: </strong><%= @capacitaciones_ot.m6.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 30 a 34: </strong><%= @capacitaciones_ot.h7.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 30 a 34: </strong><%= @capacitaciones_ot.m7.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 35 a 39: </strong><%= @capacitaciones_ot.h8.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 35 a 39: </strong><%= @capacitaciones_ot.m8.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 40 a 59: </strong><%= @capacitaciones_ot.h9.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 40 a 59: </strong><%= @capacitaciones_ot.m9.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 60 y mas: </strong><%= @capacitaciones_ot.h10.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 60 y mas: </strong><%= @capacitaciones_ot.m10.to_s%><br></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-calendar-check-o" aria-hidden="true""></i> Capacitaciones Otorgadas</h3>
      </div>
      <div class="panel-body">
        <div class="panel-body text-center">      
          <%= link_to 'Indicadores Generales', indicadores_path, class: "btn btn-raised btn-primary"%><br>
          <br>
          <%= link_to 'Indicadores por rango de edad', indicadoresxedad_index_path, class: "btn btn-raised btn-primary"%><br>
        </div>  
      </div>
    </div>
  </div>
</div>
