<%# if (!@p1.nil?) %>
  <%#= bar_chart ({'Ariadne' => @p1, 'Esmeralda' => @psy5, 'Manuel' => @p3, 'Susana' => @p4, 'Humberto' => @p5, 'Celso' => @p6 }), colors: ['olive'] %>
<%#else%>
  <%#= "No hay datos" %>
<%# end %>
<%if (!@psy5.nil?) %>
<%$h=[]%>
<%$m=[]%>
<%$tl=[]%>
<% $aux=[]%>

	<%$h<< @psy5.fetch(0)%> 
 	<%$h<< @psy5.fetch(2)%> 
 	<%$h<< @psy5.fetch(4)%> 
 	<%$h<< @psy5.fetch(6)%> 
 	<%$h<< @psy5.fetch(8)%> 
	<%$h<< @psy5.fetch(10)%> 
 	<%$h<< @psy5.fetch(12)%> 
 	<%$h<< @psy5.fetch(14)%> 
 	<%$h<< @psy5.fetch(16)%> 
 	<%$h<< @psy5.fetch(18)%> 
 	<%$m<< @psy5.fetch(1)%> 
 	<%$m<< @psy5.fetch(3)%> 
 	<%$m<< @psy5.fetch(5)%> 
 	<%$m<< @psy5.fetch(7)%> 
 	<%$m<< @psy5.fetch(9)%> 
 	<%$m<< @psy5.fetch(11)%> 
 	<%$m<< @psy5.fetch(13)%> 
 	<%$m<< @psy5.fetch(15)%> 
 	<%$m<< @psy5.fetch(17)%> 
 	<%$m<< @psy5.fetch(19)%> 

	<%$aux<<(@result.fetch(0)+@result.fetch(1))%>
	<%$aux<<(@result.fetch(2)+@result.fetch(3))%>
	<%$aux<<(@result.fetch(4)+@result.fetch(5))%>
	<%$aux<<(@result.fetch(6)+@result.fetch(7))%>
	<%$aux<<(@result.fetch(8)+@result.fetch(9))%>
	<%$aux<<(@result.fetch(10)+@result.fetch(11))%>
	<%$aux<<(@result.fetch(12)+@result.fetch(13))%>
	<%$aux<<(@result.fetch(14)+@result.fetch(15))%>	
	<%$aux<<(@result.fetch(16)+@result.fetch(17))%>
	<%$aux<<(@result.fetch(18)+@result.fetch(19))%>	

	<%$rango=['5 a 9','10 a 11','12 a 14','15 a 17','18 a 19','20 a 29','30 a 34','35 a 49','50 a 59','60 y mas']%>
 	<%$tl=$rango.zip($aux)%>

	<%$x={}%>
	<%$y={}%>
	<% $rango.each_with_index { |key,index| $x[key] = $h[index] }%>
	<% $rango.each_with_index { |key,index| $y[key] = $m[index] }%>


<%end%>

<% if ((!$x.nil?)and(!$y.nil?)) %>
  <%global=[{name: "hombres", data: $x},{name:"mujeres", data: $y}, {name: "total", data: $tl }]%>
  <%=bar_chart global, colors:["orange","green", "yellow"]%>

<%else%>
  <%= "No hay datos" %>
<% end %>
