<div class="panel-body text-center">
	<div class="list-group">
		<table class="table table-striped table-hover">
		<thead colspan="22">
		<tr>
			<th colspan="22"></th>
		</tr>
	</thead>
	<tbody>
		<!--<tr>
			<td colspan="2">Psicologo: </td>
			<%#@u=current_user.psychologists%>
			<td colspan="20"><%#if (!@id.nil?)%>
			<%#= @id.nombre+" "+@id.apellidoP+" "+@id.apellidoM %> 
			<%#else %>
			<%#= " "%>
			<%#end%></td>
		</tr>-->
		<tr>
			<td colspan="22">HUMBERTO IBARRA ARIAS</td>
		</tr>
		<tr>
			<td colspan="2">Fecha: </td>
			
      <%# if (!@tamizajes_tots.nil?) %>
			  <td colspan="20"><%if ((!@fi.nil?)and(!@ff.nil?))%>
			<%= "Del: "+@fi+"  al: "+ @ff %> 
			<%else %>
			<%= "sin datos"%>
			<%end%></td>
      <%#else%>
        <!--<td>No hay fechas</td> -->
      <%#end%>
	</tr>
  		<tbody>
				<!--<tr>
				<%#if(@prog5.present? and @t.present?)%>
				<%#@tmp1=@prog5.flatten%>
					<%#i=@t.length%>
					<tr><%#@prog5.each do |e| %>
						<td><%#=e.pop%>   </td>
					<%# i -=1 %>
 					<td><%#=@t.fetch(i)%> </td>
				</tr>
				<%# end %>
				<%# end %>
				</tr> -->
								<tr>
		<td ></td>
		<td colspan="2">5 a 9</td>
		<td colspan="2">10 a 11</td>
		<td colspan="2">12 a 14</td>
		<td colspan="2">15 a 17</td>
		<td colspan="2">18 a 19</td>
		<td colspan="2">20 a 29</td>
		<td colspan="2">30 a 34</td>
		<td colspan="2">35 a 49</td>
		<td colspan="2">50 a 59</td>
		<td colspan="2">60 y mas</td>
		<td >Total</td>
	</tr>
	<tr>
		<td ></td>
		<td colspan="20"></td>
		<td ></td>
	</tr>
	<tr>
		<td></td>
		<td>m</td>
		<td>f</td>
		<td>m</td>
		<td>f</td>
		<td>m</td>
		<td>f</td>
		<td>m</td>
		<td>f</td>
		<td>m</td>
		<td>f</td>
		<td>m</td>
		<td>f</td>
		<td>m</td>
		<td>f</td>
		<td>m</td>
		<td>f</td>
		<td>m</td>
		<td>f</td>
		<td>m</td>
		<td>f</td>
		<td></td>
	</tr>

	<%if(@prog5.present?)%>
	<%#i=@municipio.length%>

	<tr><%@prog5.each do |e| %>
		<%tmp=e%>
		<%tmp.flatten!%>
		<%#for i in 0..1 %>
		<td><%= tmp.fetch(0)%></td>
		<%#end%>
		<%for i in 1..21 do %>
		<td ><%= tmp.fetch(i) %></td>
			<%end%>	 </tr>
	<%end%>
	<%end%>
		</tbody>
		</table>
	</div>
</div>

<!--<div class="panel-body text-center">
        <div class="list-group">
<table class="table table-striped table-hover">
	<tr>
			<td colspan="2">CAPA ATLACOMULCO </td>
		</tr>
			<tr>
			<td>Fecha: </td>
			<td ><#%if ((!@fi.nil?)and(!@ff.nil?))%>
			<%#= "Del: "+@fi+"  Al: "+ @ff %> 
			<%#else %>
			<%#= " "%>
			<%#end%> </td>
		</tr>
	<tr>
		<td colspan="2"><h5>Pacientes por prog5rama</h5></td>
	</tr>
	<tr>
		<td>Prog5rama</td>
		<td>Total</td>
	</tr>
	<tr>
	
	<%#if(@prog5.present? and @t.present?)%>
		<%#@tmp1=@prog5.flatten%>
			<%#i=@t.length%>
			<tr><%#@prog5.each do |e| %>
				<td><%#=e.pop%>   </td> 		
			<%# i -=1 %>
 			<td><%#=@t.fetch(i)%> </td>

</tr>
<%# end %>
<%# end %>
</tr>
</table>
</div>
</div>-->