<li class="dropdown active">
  <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Psicologo
    <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to "Psicologos", psychologists_path %></li>
    <li><%= link_to "Nuevo Psicologo", new_psychologist_path %></li>
  </ul>
</li>
<li class="dropdown active">
  <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Datos
    <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to "Estados", states_path %></li>
    <li><%= link_to "Municipios", municipios_path%></li>
    <li><%= link_to "Programas", programas_path%></li>
    <li><%= link_to "Droga de impacto", sustancia_path %></li>
    <li><%= link_to "Riesgos", riesgos_path %></li>
  </ul>
</li>
<li class="dropdown active">
  <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Administrador
    <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to "SISECA / Reporte Pacientes", reporte_pacientes_path %></li>
    <li><%= link_to "IMCA / Reporte Global Desempeño", reportes_path %></li>
    <li><%= link_to "IMCA / Indicadores por grupo de edad", imca_index_path %></li>
    <!--<li><%#= link_to "Metas", meta_path %></li>-->
  </ul>
</li>
<li class="dropdown active">
  <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Usuario
    <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to "Usuarios", usuarios_path %></li>
  </ul>
</li>
