<div class="navbar-collapse collapse navbar-responsive-collapse">
  <ul class="nav navbar-nav">
    <li class="dropdown active">
      <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Paciente
        <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><%= link_to "Pacientes", patients_path %></li>
        <li><%= link_to "Nuevo Paciente", new_patient_path %></li>
      </ul>
    </li>
    <li class="dropdown active">
      <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Expediente
        <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><%= link_to "Expedientes", expedientes_path %></li>
      </ul>
    </li>
    <li class="dropdown active">
      <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Tamizajes
        <b class="caret"></b></a>
      <ul class="dropdown-menu">
          <li><%= link_to "Nuevo Tamizaje", escuelas_path %></li>
      </ul>
    </li>
    <li class="dropdown active">
      <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Estadisticas
        <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><%= link_to "Indicadores Generales", indicadores_path %></li>
        <li><%= link_to "Indicadores por  rango/edad", indicadoresxedad_index_path %></li>
        <li><%= link_to "Apoyo SICECA", siceca_index_path %></li>
      </ul>
    </li>
    <%if current_user.is_admin?%>
      <%=render 'partials/admin'%>
    <%end%>
  </ul>
