<table class="table table-striped table-hover">
	<thead>
		<tr>
			<td colspan="22">BENEFICIADOS(AS)</td> 
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="22"></td>
		<tr>
			<tr>
			<td colspan="2">Psicologo:</td> 
			<td colspan="20">
				<%if(!@id.nil?)%>
				<%= @id.nombre+" "+@id.apellidoP+" "+@id.apellidoM%>
				<%else%>
				<%=" "%>
				<%end%>
			</td>
		</tr>
				<tr>
			<td colspan="2">Fecha:</td> 
			<td colspan="20">
				<%if((!@fi.nil?)and(!@ff.nil?)) %>
				<%= "Del: "+@fi+" Al: "+@ff %>
				<%else%>
				<%=" "%>
				<%end%>
			</td>
		</tr>
		<tr>
			<td colspan="10"></td>
		</tr>
			<td></td>
			<td colspan="2">5 a 9</td>
			<td colspan="2">10 a 11</td>
			<td colspan="2">12 a 14</td>
			<td colspan="2">15 a 17</td>
			<td colspan="2">18 a 19</td>
			<td colspan="2">20 a 29</td>
			<td colspan="2">30 a 34</td>
			<td colspan="2">35 a 49</td>
			<td colspan="2">50 a 59</td>
			<td colspan="2">60 y mas</td>
			<!--<td colspan="2">subtotal</td>-->
			<td>subtotal</td>
		</tr>
		</tr>
		<tr>
			<td>hombres</td>
			<td colspan="2">
				<%if (!@hb1.nil?) %>
					<%=@hb1%>
				<%end%>
			</td>
			
			<td colspan="2">
				<%if (!@hb2.nil?) %>
					<%=@hb2%>
				<%end%>
			</td>
			
			<td colspan="2">
				<%if (!@hb3.nil?) %>
					<%=@hb3%>
				<%end%>
			</td>

			<td colspan="2">
				<%if (!@hb4.nil?) %>
					<%=@hb4%>
				<%end%>
			</td>

			<td colspan="2">
				<%if (!@hb5.nil?) %>
					<%=@hb5%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hb6.nil?) %>
					<%=@hb6%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hb7.nil?) %>
					<%=@hb7%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hb8.nil?) %>
					<%=@hb8%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hb9.nil?) %>
					<%=@hb9%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hb10.nil?) %>
					<%=@hb10%>
				<%end%>
			</td>
			<td>
				<%if (!@hbt.nil?) %>
					<%=@hbt%>
				<%end%>
			</td>
		</tr>
		<tr>
			<td>mujeres</td>
			<td colspan="2">
				<%if (!@mb1.nil?) %>
					<%=@mb2%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mb2.nil?) %>
					<%=@mb2%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mb3.nil?) %>
					<%=@mb3%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mb4.nil?) %>
					<%=@mb4%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mb5.nil?) %>
					<%=@mb5%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mb6.nil?) %>
					<%=@mb6%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mb7.nil?) %>
					<%=@mb7%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mb8.nil?) %>
					<%=@mb8%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mb9.nil?) %>
					<%=@mb9%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mb10.nil?) %>
					<%=@mb10%>
				<%end%>
			</td>
			<!--<td>h</td>
			<td>m</td>-->
			<td>
				<%if (!@mbt.nil?) %>
					<%=@mbt%>
				<%end%>
			</td>
		</tr>
		<tr><td colspan="22"></td></tr>
		<tr>
			<td>total</td>
			<td colspan="2">
				<%if ((!@hb1.nil?) and (!@mb1.nil?))%>
					<%= @hb1+@mb3%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hb2.nil?) and (!@mb2.nil?))%>
					<%= @hb2+@mb2%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hb3.nil?) and (!@mb3.nil?))%>
					<%= @hb3+@mb3%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hb4.nil?) and (!@mb4.nil?))%>
					<%= @hb4+@mb4%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hb5.nil?) and (!@mb5.nil?))%>
					<%= @hb5+@mb5%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hb6.nil?) and (!@mb6.nil?))%>
					<%= @hb6+@mb6%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hb7.nil?) and (!@mb7.nil?))%>
					<%= @hb7+@mb7%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hb8.nil?) and (!@mb8.nil?))%>
					<%= @hb8+@mb8%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hb9.nil?) and (!@mb9.nil?))%>
					<%= @hb9+@mb9%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hb10.nil?) and (!@mb10.nil?))%>
					<%= @hb10+@mb10%>
				<%end%>
			</td>
		
			<!--<td>h</td>
			<td>m</td>-->
			<td>
				<%if ((!@hbt.nil?) and (!@mbt.nil?))%>
					<%= @hbt+@mbt%>
				<%end%>
			</td>
		</tr>
		<tr>
			<td colspan="22"></td>
		</tr>
	</tbody>
</table>