<table class="table table-striped table-hover">
	<thead>
		<tr>
			<td colspan="18">CAPACITACIONES OTORGADAS</td> 
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="18"></td>
		</tr>
			<tr>
			<td colspan="2">Psicologo:</td> 
			<td colspan="16">
				<%if(!@id.nil?)%>
				<%= @id.nombre+" "+@id.apellidoP+" "+@id.apellidoM%>
				<%else%>
				<%=" "%>
				<%end%>
			</td>
		</tr>
				<tr>
			<td colspan="2">Fecha:</td> 
			<td colspan="16">
				<%if((!@fi.nil?)and(!@ff.nil?)) %>
				<%= "Del: "+@fi+" Al: "+@ff %>
				<%else%>
				<%=" "%>
				<%end%>
			</td>
		</tr>
		<tr>
			<td colspan="18"></td>
		</tr>
		<tr>
			<td></td>
			<td colspan="2">12 a 14</td>
			<td colspan="2">15 a 17</td>
			<td colspan="2">18 a 19</td>
			<td colspan="2">20 a 29</td>
			<td colspan="2">30 a 34</td>
			<td colspan="2">35 a 49</td>
			<td colspan="2">50 a 59</td>
			<td colspan="2">60 y mas</td>
			<!--<td colspan="2">subtotal</td>-->
			<td>subtotal</td>
		</tr>
		<tr>
			<td>hombres</td>
			<td colspan="2">
				<%if (!@hco3.nil?) %>
					<%=@hco3%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>

			<td colspan="2">
				<%if (!@hco4.nil?) %>
					<%=@hco4%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>

			<td colspan="2">
				<%if (!@hco5.nil?) %>
					<%=@hco5%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hco6.nil?) %>
					<%=@hco6%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hco7.nil?) %>
					<%=@hco7%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hco8.nil?) %>
					<%=@hco8%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hco9.nil?) %>
					<%=@hco9%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hco10.nil?) %>
					<%=@hco10%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td>
				<%if (!@hcot.nil?) %>
					<%=@hcot%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
		</tr>
		<tr>
			<td>mujeres</td>
			<td colspan="2">
				<%if (!@mco3.nil?) %>
					<%=@mco3%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mco4.nil?) %>
					<%=@mco4%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mco5.nil?) %>
					<%=@mco5%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mco6.nil?) %>
					<%=@mco6%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mco7.nil?) %>
					<%=@mco7%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mco8.nil?) %>
					<%=@mco8%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mco9.nil?) %>
					<%=@mco9%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mco10.nil?) %>
					<%=@mco10%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<!--<td>h</td>
			<td>m</td>-->
			<td>
				<%if (!@mcot.nil?) %>
					<%=@mcot%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
		</tr>
		<tr><td colspan="18"></td></tr>
		<tr>
			<td>total</td>
			<td colspan="2">
				<%if ((!@hco3.nil?) and (!@mco3.nil?))%>
					<%= @hco3+@mco3%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hco4.nil?) and (!@mco4.nil?))%>
					<%= @hco4+@mco4%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hco5.nil?) and (!@mco5.nil?))%>
					<%= @hco5+@mco5%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hco6.nil?) and (!@mco6.nil?))%>
					<%= @hco6+@mco6%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hco7.nil?) and (!@mco7.nil?))%>
					<%= @hco7+@mco7%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hco8.nil?) and (!@mco8.nil?))%>
					<%= @hco8+@mco8%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hco9.nil?) and (!@mco9.nil?))%>
					<%= @hco9+@mco9%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hco10.nil?) and (!@mco10.nil?))%>
					<%= @hco10+@mco10%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			</td>
			<!--<td>h</td>
			<td>m</td>-->
			<td>
				<%if ((!@hcot.nil?) and (!@mcot.nil?))%>
					<%= @hcot+@mcot%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
		</tr>
		<tr>
			<td colspan="18"></td>
		</tr>
	</tbody>
</table>