<table class="table table-striped table-hover">
	<thead>
		<tr>
			<td colspan="22">CONSULTAS PRIMERA VEZ</td> 
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="22"></td>
		</tr>
			<tr>
			<td colspan="2">Psicologo:</td> 
			<td colspan="20">
				<%if(!@id.nil?)%>
				<%= @id.nombre+" "+@id.apellidoP+" "+@id.apellidoM%>
				<%else%>
				<%=" "%>
				<%end%>
			</td>
		</tr>
				<tr>
			<td colspan="2">Fecha:</td> 
			<td colspan="20">
				<%if((!@fi.nil?)and(!@ff.nil?)) %>
				<%= "Del: "+@fi+" Al: "+@ff %>
				<%else%>
				<%=" "%>
				<%end%>
			</td>
		</tr>
		<tr>
			<td colspan="22"></td>
		</tr>
		<tr>
			<td></td>
			<td colspan="2">5 a 9</td>
			<td colspan="2">10 a 11</td>
			<td colspan="2">12 a 14</td>
			<td colspan="2">15 a 17</td>
			<td colspan="2">18 a 19</td>
			<td colspan="2">20 a 29</td>
			<td colspan="2">30 a 34</td>
			<td colspan="2">35 a 49</td>
			<td colspan="2">50 a 59</td>
			<td colspan="2">60 y mas</td>
			<!--<td colspan="2">subtotal</td>-->
			<td>subtotal</td>
		</tr>
		<tr>
			<td>hombres</td>
			<td colspan="2">
				<%if (!@hcpv1.nil?) %>
					<%=@hcpv1%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hcpv2.nil?) %>
					<%=@hcpv2%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hcpv3.nil?) %>
					<%=@hcpv3%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>

			<td colspan="2">
				<%if (!@hcpv4.nil?) %>
					<%=@hcpv4%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>

			<td colspan="2">
				<%if (!@hcpv5.nil?) %>
					<%=@hcpv5%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hcpv6.nil?) %>
					<%=@hcpv6%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hcpv7.nil?) %>
					<%=@hcpv7%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hcpv8.nil?) %>
					<%=@hcpv8%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hcpv9.nil?) %>
					<%=@hcpv9%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hcpv10.nil?) %>
					<%=@hcpv10%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td>
				<%if (!@hcpvt.nil?) %>
					<%=@hcpvt%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
		</tr>
		<tr>
			<td>mujeres</td>
			<td colspan="2">
				<%if (!@mcpv1.nil?) %>
					<%=@mcpv1%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mcpv2.nil?) %>
					<%=@mcpv2%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mcpv3.nil?) %>
					<%=@mcpv3%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mcpv4.nil?) %>
					<%=@mcpv4%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mcpv5.nil?) %>
					<%=@mcpv5%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mcpv6.nil?) %>
					<%=@mcpv6%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mcpv7.nil?) %>
					<%=@mcpv7%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mcpv8.nil?) %>
					<%=@mcpv8%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mcpv9.nil?) %>
					<%=@mcpv9%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mcpv10.nil?) %>
					<%=@mcpv10%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<!--<td>h</td>
			<td>m</td>-->
			<td>
				<%if (!@mcpvt.nil?) %>
					<%=@mcpvt%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
		</tr>
		<tr><td colspan="22"></td></tr>
		<tr>
			<td>total</td>
			<td colspan="2">
				<%if ((!@hcpv1.nil?) and (!@mcpv1.nil?))%>
					<%= @hcpv1+@mcpv1%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hcpv2.nil?) and (!@mcpv2.nil?))%>
					<%= @hcpv2+@mcpv2%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hcpv3.nil?) and (!@mcpv3.nil?))%>
					<%= @hcpv3+@mcpv3%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hcpv4.nil?) and (!@mcpv4.nil?))%>
					<%= @hcpv4+@mcpv4%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hcpv5.nil?) and (!@mcpv5.nil?))%>
					<%= @hcpv5+@mcpv5%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hcpv6.nil?) and (!@mcpv6.nil?))%>
					<%= @hcpv6+@mcpv6%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hcpv7.nil?) and (!@mcpv7.nil?))%>
					<%= @hcpv7+@mcpv7%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hcpv8.nil?) and (!@mcpv8.nil?))%>
					<%= @hcpv8+@mcpv8%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hcpv9.nil?) and (!@mcpv9.nil?))%>
					<%= @hcpv9+@mcpv9%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hcpv10.nil?) and (!@mcpv10.nil?))%>
					<%= @hcpv10+@mcpv10%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			</td>
			<!--<td>h</td>
			<td>m</td>-->
			<td>
				<%if ((!@hcpvt.nil?) and (!@mcpvt.nil?))%>
					<%= @hcpvt+@mcpvt%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
		</tr>
		<tr>
			<td colspan="22"></td>
		</tr>
	</tbody>
</table>