<% if ((!@htmzt.nil?)and(!@mtmzt.nil?)) %>
<%#=@result%>
<%$h=[]%>
<%$m=[]%>
<%$tl=[]%>
<% $aux=[]%>

	<%$h<< @htmz3%> 
 	<%$h<< @htmz4%> 
 	<%$h<< @htmz5%> 
 	<%$h<< @htmz6%> 
 	<%$m<< @mtmz3%> 
 	<%$m<< @mtmz4%> 
 	<%$m<< @mtmz5%> 
 	<%$m<< @mtmz6%> 
	<%$aux<<(@htmz3+@mtmz3)%>
	<%$aux<<(@htmz4+@mtmz4)%>
	<%$aux<<(@htmz5+@mtmz5)%>
	<%$aux<<(@htmz6+@mtmz6)%>
	
	<%$rango=['12 a 14','15 a 17','18 a 19','20 a 29']%>

	<%$x={}%>
	<%$y={}%>
	<%$z={}%>
	<% $rango.each_with_index { |key,index| $x[key] = $h[index] }%>
	<% $rango.each_with_index { |key,index| $y[key] = $m[index] }%>
	<% $rango.each_with_index { |key,index| $z[key] = $aux[index] }%>


<%end%>

<% if ((!$x.nil?)and(!$y.nil?)and (!$z.nil?)) %>
  <%global=[{name: "hombres", data: $x},{name:"mujeres", data: $y}, {name: "total", data: $z }]%>
  <%=bar_chart global, colors:["orange","green", "yellow"] %>
  <%#=$x %>
  <%#=$y %>

<%else%>
  <%= "No hay datos" %>
<% end %>