<% if ((!@hcrt.nil?)and(!@mcrt.nil?)) %>
<%#=@result%>
<%$h=[]%>
<%$m=[]%>
<%$tl=[]%>
<% $aux=[]%>

	<%$h<< @hcr3%> 
 	<%$h<< @hcr4%> 
 	<%$h<< @hcr5%> 
 	<%$h<< @hcr6%> 
 	<%$h<< @hcr7%> 
	<%$h<< @hcr8%> 
 	<%$h<< @hcr9%> 
 	<%$h<< @hcr10%> 
 	<%$m<< @mcr3%> 
 	<%$m<< @mcr4%> 
 	<%$m<< @mcr5%> 
 	<%$m<< @mcr6%> 
 	<%$m<< @mcr7%> 
 	<%$m<< @mcr8%> 
 	<%$m<< @mcr9%> 
 	<%$m<< @mcr10%> 
 	 

	<%$aux<<(@hcr3+@mcr3)%>
	<%$aux<<(@hcr4+@mcr4)%>
	<%$aux<<(@hcr5+@mcr5)%>
	<%$aux<<(@hcr6+@mcr6)%>
	<%$aux<<(@hcr7+@mcr7)%>
	<%$aux<<(@hcr8+@mcr8)%>
	<%$aux<<(@hcr9+@mcr9)%>
	<%$aux<<(@hcr10+@mcr10)%>



	<%#=$h=[$eh1,$eh2,$eh3,$eh4,$eh5,$eh6,$eh7,$eh8,$eh9,$eh10]%>
	<%#=$m=[$em1,$em2,$em3,$em4,$em5,$em6,$em7,$em8,$em9,$em]%>
	<%$rango=['12 a 14','15 a 17','18 a 19','20 a 29','30 a 34','35 a 49','50 a 59','60 y mas']%>
	 	<%#$tl=$rango.zip($aux)%>

	<%#$datos{}%>
	<%# dato1=$rango.zip($h)%>
	<%# dato2=$rango.zip($m)%>
	<%$x={}%>
	<%$y={}%>
	<%$z={}%>
	<% $rango.each_with_index { |key,index| $x[key] = $h[index] }%>
	<% $rango.each_with_index { |key,index| $y[key] = $m[index] }%>
	<% $rango.each_with_index { |key,index| $z[key] = $aux[index] }%>


<%end%>

<% if ((!$x.nil?)and(!$y.nil?)and (!$z.nil?)) %>
  <%#= bar_chart ({'5 a 9' => $eh1, '10 a 11' => $eh2, '12 a 14' => $eh3, '15 a 17' => $eh4, '18 a 19' => $eh5, '20 a 29' => $eh6, '30 a 34' => $eh7, '35 a 49' => $eh8, '50 a 59' => $eh9, '60 y mas' => $eh10 }) %>
  <%global=[{name: "hombres", data: $x},{name:"mujeres", data: $y}, {name: "total", data: $z }]%>
  <%=bar_chart global, colors:["orange","green", "yellow"] %>
  <%#=$x %>
  <%#=$y %>

<%else%>
  <%= "No hay datos" %>
<% end %>