<% if ((!@hbt.nil?)and(!@mbt.nil?)) %>
<%#=@result%>
<%$h=[]%>
<%$m=[]%>
<%$tl=[]%>
<% $aux=[]%>

	<%$h<< @hb1%>
	<%$h<< @hb2%>
	<%$h<< @hb3%> 
 	<%$h<< @hb4%> 
 	<%$h<< @hb5%> 
 	<%$h<< @hb6%> 
 	<%$h<< @hb7%> 
	<%$h<< @hb8%> 
 	<%$h<< @hb9%> 
 	<%$h<< @hb10%>
 	<%$m<< @mb1%>
 	<%$m<< @mb2%> 
 	<%$m<< @mb3%> 
 	<%$m<< @mb4%> 
 	<%$m<< @mb5%> 
 	<%$m<< @mb6%> 
 	<%$m<< @mb7%> 
 	<%$m<< @mb8%> 
 	<%$m<< @mb9%> 
 	<%$m<< @mb10%> 
 	 
	<%$aux<<(@hb1+@mb1)%>
	<%$aux<<(@hb2+@mb2)%>
	<%$aux<<(@hb3+@mb3)%>
	<%$aux<<(@hb4+@mb4)%>
	<%$aux<<(@hb5+@mb5)%>
	<%$aux<<(@hb6+@mb6)%>
	<%$aux<<(@hb7+@mb7)%>
	<%$aux<<(@hb8+@mb8)%>
	<%$aux<<(@hb9+@mb9)%>
	<%$aux<<(@hb10+@mb10)%>



	<%#=$h=[$eh1,$eh2,$eh3,$eh4,$eh5,$eh6,$eh7,$eh8,$eh9,$eh10]%>
	<%#=$m=[$em1,$em2,$em3,$em4,$em5,$em6,$em7,$em8,$em9,$em]%>
	<%$rango=['5 a 9','10 a 11','12 a 14','15 a 17','18 a 19','20 a 29','30 a 34','35 a 49','50 a 59','60 y mas']%>
	 	<%#$tl=$rango.zip($aux)%>

	<%#$datos{}%>
	<%# dato1=$rango.zip($h)%>
	<%# dato2=$rango.zip($m)%>
	<%$x={}%>
	<%$y={}%>
	<%$z={}%>
	<% $rango.each_with_index { |key,index| $x[key] = $h[index] }%>
	<% $rango.each_with_index { |key,index| $y[key] = $m[index] }%>
	<% $rango.each_with_index { |key,index| $z[key] = $aux[index] }%>


<%end%>

<% if ((!$x.nil?)and(!$y.nil?)and (!$z.nil?)) %>
  <%#= bar_chart ({'5 a 9' => $eh1, '10 a 11' => $eh2, '12 a 14' => $eh3, '15 a 17' => $eh4, '18 a 19' => $eh5, '20 a 29' => $eh6, '30 a 34' => $eh7, '35 a 49' => $eh8, '50 a 59' => $eh9, '60 y mas' => $eh10 }) %>
  <%global=[{name: "hombres", data: $x},{name:"mujeres", data: $y}, {name: "total", data: $z }]%>
  <%=bar_chart global, colors:["orange","green", "yellow"] %>
  <%#=$x %>
  <%#=$y %>

<%else%>
  <%= "No hay datos" %>
<% end %>