<% if ((!@hcst.nil?)and(!@mcst.nil?)) %>
<%#=@result%>
<%$h=[]%>
<%$m=[]%>
<%$tl=[]%>
<% $aux=[]%>

	<%$h<< @hcs1%>
	<%$h<< @hcs2%>
	<%$h<< @hcs3%> 
 	<%$h<< @hcs4%> 
 	<%$h<< @hcs5%> 
 	<%$h<< @hcs6%> 
 	<%$h<< @hcs7%> 
	<%$h<< @hcs8%> 
 	<%$h<< @hcs9%> 
 	<%$h<< @hcs10%>

 	<%$m<< @mcs1%>
 	<%$m<< @mcs2%> 
 	<%$m<< @mcs3%> 
 	<%$m<< @mcs4%> 
 	<%$m<< @mcs5%> 
 	<%$m<< @mcs6%> 
 	<%$m<< @mcs7%> 
 	<%$m<< @mcs8%> 
 	<%$m<< @mcs9%> 
 	<%$m<< @mcs10%> 
 	 
	<%$aux<<(@hcs1+@mcs1)%>
	<%$aux<<(@hcs2+@mcs2)%>
	<%$aux<<(@hcs3+@mcs3)%>
	<%$aux<<(@hcs4+@mcs4)%>
	<%$aux<<(@hcs5+@mcs5)%>
	<%$aux<<(@hcs6+@mcs6)%>
	<%$aux<<(@hcs7+@mcs7)%>
	<%$aux<<(@hcs8+@mcs8)%>
	<%$aux<<(@hcs9+@mcs9)%>
	<%$aux<<(@hcs10+@mcs10)%>



	<%#=$h=[$eh1,$eh2,$eh3,$eh4,$eh5,$eh6,$eh7,$eh8,$eh9,$eh10]%>
	<%#=$m=[$em1,$em2,$em3,$em4,$em5,$em6,$em7,$em8,$em9,$em]%>
	<%$rango=['5 a 9','10 a 11','12 a 14','15 a 17','18 a 19','20 a 29','30 a 34','35 a 49','50 a 59','60 y mas']%>
	 	<%#$tl=$rango.zip($aux)%>

	<%#$datos{}%>
	<%# dato1=$rango.zip($h)%>
	<%# dato2=$rango.zip($m)%>
	<%$x={}%>
	<%$y={}%>
	<%$z={}%>
	<% $rango.each_with_index { |key,index| $x[key] = $h[index] }%>
	<% $rango.each_with_index { |key,index| $y[key] = $m[index] }%>
	<% $rango.each_with_index { |key,index| $z[key] = $aux[index] }%>


<%end%>

<% if ((!$x.nil?)and(!$y.nil?)and (!$z.nil?)) %>
  <%#= bar_chart ({'5 a 9' => $eh1, '10 a 11' => $eh2, '12 a 14' => $eh3, '15 a 17' => $eh4, '18 a 19' => $eh5, '20 a 29' => $eh6, '30 a 34' => $eh7, '35 a 49' => $eh8, '50 a 59' => $eh9, '60 y mas' => $eh10 }) %>
  <%global=[{name: "hombres", data: $x},{name:"mujeres", data: $y}, {name: "total", data: $z }]%>
  <%=bar_chart global, colors:["orange","green", "yellow"] %>
  <%#=@mcs1 %>
  <%#=@mcs2 %>

<%else%>
  <%= "No hay datos" %>
<% end %>