<% if ((!@hcot.nil?)and(!@mcot.nil?)) %>
<%#=@result%>
<%$h=[]%>
<%$m=[]%>
<%$tl=[]%>
<% $aux=[]%>

	<%$h<< @hco3%> 
 	<%$h<< @hco4%> 
 	<%$h<< @hco5%> 
 	<%$h<< @hco6%> 
 	<%$h<< @hco7%> 
	<%$h<< @hco8%> 
 	<%$h<< @hco9%> 
 	<%$h<< @hco10%> 
 	<%$m<< @mco3%> 
 	<%$m<< @mco4%> 
 	<%$m<< @mco5%> 
 	<%$m<< @mco6%> 
 	<%$m<< @mco7%> 
 	<%$m<< @mco8%> 
 	<%$m<< @mco9%> 
 	<%$m<< @mco10%> 
 	 

	<%$aux<<(@hco3+@mco3)%>
	<%$aux<<(@hco4+@mco4)%>
	<%$aux<<(@hco5+@mco5)%>
	<%$aux<<(@hco6+@mco6)%>
	<%$aux<<(@hco7+@mco7)%>
	<%$aux<<(@hco8+@mco8)%>
	<%$aux<<(@hco9+@mco9)%>
	<%$aux<<(@hco10+@mco10)%>



	<%#=$h=[$eh1,$eh2,$eh3,$eh4,$eh5,$eh6,$eh7,$eh8,$eh9,$eh10]%>
	<%#=$m=[$em1,$em2,$em3,$em4,$em5,$em6,$em7,$em8,$em9,$em]%>
	<%$rango=['12 a 14','15 a 17','18 a 19','20 a 29','30 a 34','35 a 49','50 a 59','60 y mas']%>
	 	<%#$tl=$rango.zip($aux)%>

	<%#$datos{}%>
	<%# dato1=$rango.zip($h)%>
	<%# dato2=$rango.zip($m)%>
	<%$x={}%>
	<%$y={}%>
	<%$z={}%>
	<% $rango.each_with_index { |key,index| $x[key] = $h[index] }%>
	<% $rango.each_with_index { |key,index| $y[key] = $m[index] }%>
	<% $rango.each_with_index { |key,index| $z[key] = $aux[index] }%>


<%end%>

<% if ((!$x.nil?)and(!$y.nil?)and (!$z.nil?)) %>
  <%#= bar_chart ({'5 a 9' => $eh1, '10 a 11' => $eh2, '12 a 14' => $eh3, '15 a 17' => $eh4, '18 a 19' => $eh5, '20 a 29' => $eh6, '30 a 34' => $eh7, '35 a 49' => $eh8, '50 a 59' => $eh9, '60 y mas' => $eh10 }) %>
  <%global=[{name: "hombres", data: $x},{name:"mujeres", data: $y}, {name: "total", data: $z }]%>
  <%=bar_chart global, colors:["orange","green", "yellow"] %>
  <%#=$x %>
  <%#=$y %>

<%else%>
  <%= "No hay datos" %>
<% end %>