<% if ((!@hcpvt.nil?)and(!@mcpvt.nil?)) %>
<%#=@result%>
<%$h=[]%>
<%$m=[]%>
<%$tl=[]%>
<% $aux=[]%>

	<%$h<< @hcpv1%>
	<%$h<< @hcpv2%>
	<%$h<< @hcpv3%> 
 	<%$h<< @hcpv4%> 
 	<%$h<< @hcpv5%> 
 	<%$h<< @hcpv6%> 
 	<%$h<< @hcpv7%> 
	<%$h<< @hcpv8%> 
 	<%$h<< @hcpv9%> 
 	<%$h<< @hcpv10%>

 	<%$m<< @mcpv1%>
 	<%$m<< @mcpv2%> 
 	<%$m<< @mcpv3%> 
 	<%$m<< @mcpv4%> 
 	<%$m<< @mcpv5%> 
 	<%$m<< @mcpv6%> 
 	<%$m<< @mcpv7%> 
 	<%$m<< @mcpv8%> 
 	<%$m<< @mcpv9%> 
 	<%$m<< @mcpv10%> 
 	 
	<%$aux<<(@hcpv1+@mcpv1)%>
	<%$aux<<(@hcpv2+@mcpv2)%>
	<%$aux<<(@hcpv3+@mcpv3)%>
	<%$aux<<(@hcpv4+@mcpv4)%>
	<%$aux<<(@hcpv5+@mcpv5)%>
	<%$aux<<(@hcpv6+@mcpv6)%>
	<%$aux<<(@hcpv7+@mcpv7)%>
	<%$aux<<(@hcpv8+@mcpv8)%>
	<%$aux<<(@hcpv9+@mcpv9)%>
	<%$aux<<(@hcpv10+@mcpv10)%>



	<%#=$h=[$eh1,$eh2,$eh3,$eh4,$eh5,$eh6,$eh7,$eh8,$eh9,$eh10]%>
	<%#=$m=[$em1,$em2,$em3,$em4,$em5,$em6,$em7,$em8,$em9,$em]%>
	<%$rango=['5 a 9','10 a 11','12 a 14','15 a 17','18 a 19','20 a 29','30 a 34','35 a 49','50 a 59','60 y mas']%>
	 	<%#$tl=$rango.zip($aux)%>

	<%#$datos{}%>
	<%# dato1=$rango.zip($h)%>
	<%# dato2=$rango.zip($m)%>
	<%$x={}%>
	<%$y={}%>
	<%$z={}%>
	<% $rango.each_with_index { |key,index| $x[key] = $h[index] }%>
	<% $rango.each_with_index { |key,index| $y[key] = $m[index] }%>
	<% $rango.each_with_index { |key,index| $z[key] = $aux[index] }%>


<%end%>

<% if ((!$x.nil?)and(!$y.nil?)and (!$z.nil?)) %>
  <%#= bar_chart ({'5 a 9' => $eh1, '10 a 11' => $eh2, '12 a 14' => $eh3, '15 a 17' => $eh4, '18 a 19' => $eh5, '20 a 29' => $eh6, '30 a 34' => $eh7, '35 a 49' => $eh8, '50 a 59' => $eh9, '60 y mas' => $eh10 }) %>
  <%global=[{name: "hombres", data: $x},{name:"mujeres", data: $y}, {name: "total", data: $z }]%>
  <%=bar_chart global, colors:["orange","green", "yellow"] %>
  <%#=@mcpv1 %>
  <%#=@mcpv2 %>

<%else%>
  <%= "No hay datos" %>
<% end %>