<table class="table table-striped table-hover">
	<thead>
		<tr>
			<td colspan="22">MULTIPLICADORES Y PROMOTORES</td> 
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="22"></td>
		<tr>
			<tr>
			<td colspan="2">Psicologo:</td> 
			<td colspan="20">
				<%if(!@id.nil?)%>
				<%= @id.nombre+" "+@id.apellidoP+" "+@id.apellidoM%>
				<%else%>
				<%=" "%>
				<%end%>
			</td>
		</tr>
				<tr>
			<td colspan="2">Fecha:</td> 
			<td colspan="20">
				<%if((!@fi.nil?)and(!@ff.nil?)) %>
				<%= "Del: "+@fi+" Al: "+@ff %>
				<%else%>
				<%=" "%>
				<%end%>
			</td>
		</tr>
		<tr>
			<td colspan="10"></td>
		</tr>
			<td></td>
			<td colspan="2">5 a 9</td>
			<td colspan="2">10 a 11</td>
			<td colspan="2">12 a 14</td>
			<td colspan="2">15 a 17</td>
			<td colspan="2">18 a 19</td>
			<td colspan="2">20 a 29</td>
			<td colspan="2">30 a 34</td>
			<td colspan="2">35 a 49</td>
			<td colspan="2">50 a 59</td>
			<td colspan="2">60 y mas</td>
			<!--<td colspan="2">subtotal</td>-->
			<td>subtotal</td>
		</tr>
		</tr>
		<tr>
			<td>hombres</td>
			<td colspan="2">
				<%if (!@hmp1.nil?) %>
					<%=@hmp1%>
				<%end%>
			</td>
			
			<td colspan="2">
				<%if (!@hmp2.nil?) %>
					<%=@hmp2%>
				<%end%>
			</td>
			
			<td colspan="2">
				<%if (!@hmp3.nil?) %>
					<%=@hmp3%>
				<%end%>
			</td>

			<td colspan="2">
				<%if (!@hmp4.nil?) %>
					<%=@hmp4%>
				<%end%>
			</td>

			<td colspan="2">
				<%if (!@hmp5.nil?) %>
					<%=@hmp5%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hmp6.nil?) %>
					<%=@hmp6%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hmp7.nil?) %>
					<%=@hmp7%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hmp8.nil?) %>
					<%=@hmp8%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hmp9.nil?) %>
					<%=@hmp9%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hmp10.nil?) %>
					<%=@hmp10%>
				<%end%>
			</td>
			<td>
				<%if (!@hmpt.nil?) %>
					<%=@hmpt%>
				<%end%>
			</td>
		</tr>
		<tr>
			<td>mujeres</td>
			<td colspan="2">
				<%if (!@mmp1.nil?) %>
					<%=@mmp2%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mmp2.nil?) %>
					<%=@mmp2%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mmp3.nil?) %>
					<%=@mmp3%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mmp4.nil?) %>
					<%=@mmp4%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mmp5.nil?) %>
					<%=@mmp5%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mmp6.nil?) %>
					<%=@mmp6%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mmp7.nil?) %>
					<%=@mmp7%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mmp8.nil?) %>
					<%=@mmp8%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mmp9.nil?) %>
					<%=@mmp9%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mmp10.nil?) %>
					<%=@mmp10%>
				<%end%>
			</td>
			<!--<td>h</td>
			<td>m</td>-->
			<td>
				<%if (!@mmpt.nil?) %>
					<%=@mmpt%>
				<%end%>
			</td>
		</tr>
		<tr><td colspan="22"></td></tr>
		<tr>
			<td>total</td>
			<td colspan="2">
				<%if ((!@hmp1.nil?) and (!@mmp1.nil?))%>
					<%= @hmp1+@mmp3%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hmp2.nil?) and (!@mmp2.nil?))%>
					<%= @hmp2+@mmp2%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hmp3.nil?) and (!@mmp3.nil?))%>
					<%= @hmp3+@mmp3%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hmp4.nil?) and (!@mmp4.nil?))%>
					<%= @hmp4+@mmp4%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hmp5.nil?) and (!@mmp5.nil?))%>
					<%= @hmp5+@mmp5%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hmp6.nil?) and (!@mmp6.nil?))%>
					<%= @hmp6+@mmp6%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hmp7.nil?) and (!@mmp7.nil?))%>
					<%= @hmp7+@mmp7%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hmp8.nil?) and (!@mmp8.nil?))%>
					<%= @hmp8+@mmp8%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hmp9.nil?) and (!@mmp9.nil?))%>
					<%= @hmp9+@mmp9%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hmp10.nil?) and (!@mmp10.nil?))%>
					<%= @hmp10+@mmp10%>
				<%end%>
			</td>
		
			<!--<td>h</td>
			<td>m</td>-->
			<td>
				<%if ((!@hmpt.nil?) and (!@mmpt.nil?))%>
					<%= @hmpt+@mmpt%>
				<%end%>
			</td>
		</tr>
		<tr>
			<td colspan="22"></td>
		</tr>
	</tbody>
</table>