<table class="table table-striped table-hover">
	<thead>
		<tr>
			<td colspan="22">CONSULTAS SUBSECUENTES</td> 
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="22"></td>
		</tr>
			<tr>
			<td colspan="2">Psicologo:</td> 
			<td colspan="20">
				<%if(!@id.nil?)%>
				<%= @id.nombre+" "+@id.apellidoP+" "+@id.apellidoM%>
				<%else%>
				<%=" "%>
				<%end%>
			</td>
		</tr>
				<tr>
			<td colspan="2">Fecha:</td> 
			<td colspan="20">
				<%if((!@fi.nil?)and(!@ff.nil?)) %>
				<%= "Del: "+@fi+" Al: "+@ff %>
				<%else%>
				<%=" "%>
				<%end%>
			</td>
		</tr>
		<tr>
			<td colspan="22"></td>
		</tr>
		<tr>
			<td></td>
			<td colspan="2">5 a 9</td>
			<td colspan="2">10 a 11</td>
			<td colspan="2">12 a 14</td>
			<td colspan="2">15 a 17</td>
			<td colspan="2">18 a 19</td>
			<td colspan="2">20 a 29</td>
			<td colspan="2">30 a 34</td>
			<td colspan="2">35 a 49</td>
			<td colspan="2">50 a 59</td>
			<td colspan="2">60 y mas</td>
			<!--<td colspan="2">subtotal</td>-->
			<td>subtotal</td>
		</tr>
		<tr>
			<td>hombres</td>
			<td colspan="2">
				<%if (!@hcs1.nil?) %>
					<%=@hcs1%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hcs2.nil?) %>
					<%=@hcs2%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hcs3.nil?) %>
					<%=@hcs3%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>

			<td colspan="2">
				<%if (!@hcs4.nil?) %>
					<%=@hcs4%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>

			<td colspan="2">
				<%if (!@hcs5.nil?) %>
					<%=@hcs5%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hcs6.nil?) %>
					<%=@hcs6%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hcs7.nil?) %>
					<%=@hcs7%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hcs8.nil?) %>
					<%=@hcs8%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hcs9.nil?) %>
					<%=@hcs9%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hcs10.nil?) %>
					<%=@hcs10%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td>
				<%if (!@hcst.nil?) %>
					<%=@hcst%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
		</tr>
		<tr>
			<td>mujeres</td>
			<td colspan="2">
				<%if (!@mcs1.nil?) %>
					<%=@mcs1%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mcs2.nil?) %>
					<%=@mcs2%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mcs3.nil?) %>
					<%=@mcs3%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mcs4.nil?) %>
					<%=@mcs4%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mcs5.nil?) %>
					<%=@mcs5%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mcs6.nil?) %>
					<%=@mcs6%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mcs7.nil?) %>
					<%=@mcs7%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mcs8.nil?) %>
					<%=@mcs8%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mcs9.nil?) %>
					<%=@mcs9%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mcs10.nil?) %>
					<%=@mcs10%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<!--<td>h</td>
			<td>m</td>-->
			<td>
				<%if (!@mcst.nil?) %>
					<%=@mcst%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
		</tr>
		<tr><td colspan="22"></td></tr>
		<tr>
			<td>total</td>
			<td colspan="2">
				<%if ((!@hcs1.nil?) and (!@mcs1.nil?))%>
					<%= @hcs1+@mcs1%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hcs2.nil?) and (!@mcs2.nil?))%>
					<%= @hcs2+@mcs2%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hcs3.nil?) and (!@mcs3.nil?))%>
					<%= @hcs3+@mcs3%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hcs4.nil?) and (!@mcs4.nil?))%>
					<%= @hcs4+@mcs4%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hcs5.nil?) and (!@mcs5.nil?))%>
					<%= @hcs5+@mcs5%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hcs6.nil?) and (!@mcs6.nil?))%>
					<%= @hcs6+@mcs6%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hcs7.nil?) and (!@mcs7.nil?))%>
					<%= @hcs7+@mcs7%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hcs8.nil?) and (!@mcs8.nil?))%>
					<%= @hcs8+@mcs8%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hcs9.nil?) and (!@mcs9.nil?))%>
					<%= @hcs9+@mcs9%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hcs10.nil?) and (!@mcs10.nil?))%>
					<%= @hcs10+@mcs10%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			</td>
			<!--<td>h</td>
			<td>m</td>-->
			<td>
				<%if ((!@hcst.nil?) and (!@mcst.nil?))%>
					<%= @hcst+@mcst%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
		</tr>
		<tr>
			<td colspan="22"></td>
		</tr>
	</tbody>
</table>