<table class="table table-striped table-hover">
	<thead>
		<tr>
			<td colspan="22">TRATAMIENTOS BREVES CONCLUIDOS</td> 
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="22"></td>
		</tr>
			<tr>
			<td colspan="2">Psicologo:</td> 
			<td colspan="20">
				<%if(!@id.nil?)%>
				<%= @id.nombre+" "+@id.apellidoP+" "+@id.apellidoM%>
				<%else%>
				<%=" "%>
				<%end%>
			</td>
		</tr>
				<tr>
			<td colspan="2">Fecha:</td> 
			<td colspan="20">
				<%if((!@fi.nil?)and(!@ff.nil?)) %>
				<%= "Del: "+@fi+" Al: "+@ff %>
				<%else%>
				<%=" "%>
				<%end%>
			</td>
		</tr>
		<tr>
			<td colspan="22"></td>
		</tr>
		<tr>
			<td></td>
			<td colspan="2">5 a 9</td>
			<td colspan="2">10 a 11</td>
			<td colspan="2">12 a 14</td>
			<td colspan="2">15 a 17</td>
			<td colspan="2">18 a 19</td>
			<td colspan="2">20 a 29</td>
			<td colspan="2">30 a 34</td>
			<td colspan="2">35 a 49</td>
			<td colspan="2">50 a 59</td>
			<td colspan="2">60 y mas</td>
			<!--<td colspan="2">subtotal</td>-->
			<td>subtotal</td>
		</tr>
		<tr>
			<td>hombres</td>
			<td colspan="2">
				<%if (!@htb1.nil?) %>
					<%=@htb1%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@htb2.nil?) %>
					<%=@htb2%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@htb3.nil?) %>
					<%=@htb3%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>

			<td colspan="2">
				<%if (!@htb4.nil?) %>
					<%=@htb4%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>

			<td colspan="2">
				<%if (!@htb5.nil?) %>
					<%=@htb5%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@htb6.nil?) %>
					<%=@htb6%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@htb7.nil?) %>
					<%=@htb7%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@htb8.nil?) %>
					<%=@htb8%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@htb9.nil?) %>
					<%=@htb9%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@htb10.nil?) %>
					<%=@htb10%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td>
				<%if (!@htbt.nil?) %>
					<%=@htbt%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
		</tr>
		<tr>
			<td>mujeres</td>
			<td colspan="2">
				<%if (!@mtb1.nil?) %>
					<%=@mtb1%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mtb2.nil?) %>
					<%=@mtb2%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mtb3.nil?) %>
					<%=@mtb3%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mtb4.nil?) %>
					<%=@mtb4%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mtb5.nil?) %>
					<%=@mtb5%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mtb6.nil?) %>
					<%=@mtb6%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mtb7.nil?) %>
					<%=@mtb7%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mtb8.nil?) %>
					<%=@mtb8%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mtb9.nil?) %>
					<%=@mtb9%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mtb10.nil?) %>
					<%=@mtb10%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<!--<td>h</td>
			<td>m</td>-->
			<td>
				<%if (!@mtbt.nil?) %>
					<%=@mtbt%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
		</tr>
		<tr><td colspan="22"></td></tr>
		<tr>
			<td>total</td>
			<td colspan="2">
				<%if ((!@htb1.nil?) and (!@mtb1.nil?))%>
					<%= @htb1+@mtb1%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@htb2.nil?) and (!@mtb2.nil?))%>
					<%= @htb2+@mtb2%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@htb3.nil?) and (!@mtb3.nil?))%>
					<%= @htb3+@mtb3%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@htb4.nil?) and (!@mtb4.nil?))%>
					<%= @htb4+@mtb4%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@htb5.nil?) and (!@mtb5.nil?))%>
					<%= @htb5+@mtb5%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@htb6.nil?) and (!@mtb6.nil?))%>
					<%= @htb6+@mtb6%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@htb7.nil?) and (!@mtb7.nil?))%>
					<%= @htb7+@mtb7%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@htb8.nil?) and (!@mtb8.nil?))%>
					<%= @htb8+@mtb8%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@htb9.nil?) and (!@mtb9.nil?))%>
					<%= @htb9+@mtb9%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@htb10.nil?) and (!@mtb10.nil?))%>
					<%= @htb10+@mtb10%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			</td>
			<!--<td>h</td>
			<td>m</td>-->
			<td>
				<%if ((!@htbt.nil?) and (!@mtbt.nil?))%>
					<%= @htbt+@mtbt%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
		</tr>
		<tr>
			<td colspan="22"></td>
		</tr>
	</tbody>
</table>