<%= javascript_include_tag "datepicker.js" %>

<div class="row board ">
  <div class="col-md-5">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-search"></i> Buscar </h3>
      </div>
      <div class="panel-body text-center">
        <%= form_tag indicadoresxedad_index_path, :method => :get do %>
          <div class="form-group label-floating">
            <%= label_tag "search", "Búsqueda:" %>
             <%#= text_field_tag :id, params[:id], :class=>"form-control text-center", placeholder: "Id psicologo " %>
            <%= text_field_tag :date_start, params[:date_start], :class=>"form-control text-center", :id=>"dateStart", placeholder: "fecha inicio" %>
            <%= text_field_tag :date_end, params[:date_end], :class=>"form-control text-center", :id=>"dateEnd", placeholder: "fecha termino" %>

          </div>
          <div class="actions">
          <%= submit_tag "Buscar", class: "btn btn-raised btn-primary" %>
          </div>
        <% end %>
          <div class="list-group">

          </div>
      </div>
    </div>
  </div>

	<div class="col-md-7">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h1 class="panel-title"><i class="fa fa-stethoscope"></i> CAPA ATLACOMULCO </h1>
		  </div>
		  <div class="panel-body text-center">
    	  	<div class="list-group">
            <%= link_to 'Capacitaciones Otorgadas', new_capacitaciones_ot_path, class: "btn btn-raised btn-default"%><br>
          <%= link_to 'Capacitaciones Recibidas', new_capacitaciones_rec_path, class: "btn btn-raised btn-default"%><br>
           <%= link_to 'Adolescentes en Acciones de Prevencion', new_adolescentes_ap_path, class: "btn btn-raised btn-default"%><br>
          <%= link_to 'Personal Capacitado en Cesacion del Tabaco', new_personal_ct_path, class: "btn btn-raised btn-default"%><br>
          <%= link_to 'Personas detectadas con Violencia de Genero', new_personas_vg_path, class: "btn btn-raised btn-default"%><br>
          <%= link_to 'Multiplicadores y Promotores', new_multyprom_path, class: "btn btn-raised btn-default"%><br>
          <%= link_to 'Beneficiados', new_beneficiado_path, class: "btn btn-raised btn-default"%><br>
			    </div>
	      </div>
		</div>
	</div>
  </div>

<div class="row board ">
<div class="col-md-12">
<div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-stethoscope"></i> INDICADORES POR EDAD </h3>
      </div>
      <div class="panel-body text-center">
      <%= link_to "Imprimir Datos" ,indicadoresxedad_index_path(:id => params[:id],:date_start => params[:date_start],:date_end => params[:date_end] , :format => :pdf),class: "btn btn-success"%>
  <div class="row board ">
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Capacitaciones otorgadas </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#=link_to 'PDF reporte',reporte_pacientes_path(format: 'pdf')%>
          <%#=link_to 'Create PDF document', reporte_pacientes_path(format: 'pdf')%>
          <%= render "tamizajes"%>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Gráfica </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%= render "graf1"%>
        </div>
      </div>
    </div>
    </div>
    </div>

  <div class="row board ">
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Adolescentes en acciones de prevencion </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#=link_to 'PDF reporte',reporte_pacientes_path(format: 'pdf')%>
          <%#=link_to 'Create PDF document', reporte_pacientes_path(format: 'pdf')%>
          <%= render "accionesprev"%>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Gráfica </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%= render "graf2"%>
        </div>
      </div>
    </div>
    </div>
    </div>


<div class="row board ">
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Consultas Primera Vez </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#=link_to 'PDF reporte',reporte_pacientes_path(format: 'pdf')%>
          <%#=link_to 'Create PDF document', reporte_pacientes_path(format: 'pdf')%>
          <%= render "consul_1a"%>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Gráfica </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%= render "graf3"%>
        </div>
      </div>
    </div>
    </div>
    </div>

  <div class="row board ">
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Tratamientos Breves Concluidos </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#=link_to 'PDF reporte',reporte_pacientes_path(format: 'pdf')%>
          <%#=link_to 'Create PDF document', reporte_pacientes_path(format: 'pdf')%>
          <%= render "tratamientos"%>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Gráfica </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%= render "graf4"%>
        </div>
      </div>
    </div>
    </div>
    </div>

  <div class="row board ">
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Adolescentes que inician tratamiento </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#=link_to 'PDF reporte',reporte_pacientes_path(format: 'pdf')%>
          <%#=link_to 'Create PDF document', reporte_pacientes_path(format: 'pdf')%>
          <%= render "inictrat"%>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Gráfica </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%= render "graf5"%>
        </div>
      </div>
    </div>
    </div>
    </div>


  <div class="row board ">
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Consultas Subsecuentes </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#=link_to 'PDF reporte',reporte_pacientes_path(format: 'pdf')%>
          <%#=link_to 'Create PDF document', reporte_pacientes_path(format: 'pdf')%>
          <%= render "subsecuentes"%>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Gráfica </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%= render "graf6"%>
        </div>
      </div>
    </div>
    </div>
    </div>

  <div class="row board ">
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Personal Capacitado en cesacion del tabaco </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#=link_to 'PDF reporte',reporte_pacientes_path(format: 'pdf')%>
          <%#=link_to 'Create PDF document', reporte_pacientes_path(format: 'pdf')%>
          <%= render "tabaco"%>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Gráfica </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%= render "graf7"%>
        </div>
      </div>
    </div>
    </div>
    </div>

  <div class="row board ">
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Capacitaciones otorgadas </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#=link_to 'PDF reporte',reporte_pacientes_path(format: 'pdf')%>
          <%#=link_to 'Create PDF document', reporte_pacientes_path(format: 'pdf')%>
          <%= render "capot"%>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Gráfica </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%= render "graf8"%>
        </div>
      </div>
    </div>
    </div>
    </div>


  <div class="row board ">
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Capacitaciones recibidas </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#=link_to 'PDF reporte',reporte_pacientes_path(format: 'pdf')%>
          <%#=link_to 'Create PDF document', reporte_pacientes_path(format: 'pdf')%>
          <%= render "caprec"%>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Gráfica </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%= render "graf9"%>
        </div>
      </div>
    </div>
    </div>
    </div>


   <div class="row board ">
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Personas detectadas con Violencia de Genero </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#=link_to 'PDF reporte',reporte_pacientes_path(format: 'pdf')%>
          <%#=link_to 'Create PDF document', reporte_pacientes_path(format: 'pdf')%>
          <%= render "violencia"%>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Gráfica </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%= render "graf10"%>
        </div>
      </div>
    </div>
    </div>
    </div>

   <div class="row board ">
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Beneficiados </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#=link_to 'PDF reporte',reporte_pacientes_path(format: 'pdf')%>
          <%#=link_to 'Create PDF document', reporte_pacientes_path(format: 'pdf')%>
          <%= render "beneficiados"%>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Gráfica </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%= render "graf11"%>
        </div>
      </div>
    </div>
    </div>
    </div>

   <div class="row board ">
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Multiplicadores y Promotores </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#=link_to 'PDF reporte',reporte_pacientes_path(format: 'pdf')%>
          <%#=link_to 'Create PDF document', reporte_pacientes_path(format: 'pdf')%>
          <%= render "multyproms"%>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Gráfica </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%= render "graf12"%>
        </div>
      </div>
    </div>
    </div>
    </div>

</div>
</div>
</div>
</div>
