<div class="row-content">
	<div class="panel-body text-center">
    <div class="list-group">
    	<table class="table table-striped table-hover">
    	<thead colspan="4">
		<tr>
			<th colspan="4"></th>
		</tr>
	</thead>
	<tbody>
		<!--<tr>
			<td colspan="1">Psicologo: </td>
			<%#@u=current_user.psychologists%>
			<td colspan="3"><%#if (!@id.nil?)%>
			<%#= @id.nombre+" "+@id.apellidoP+" "+@id.apellidoM %> 
			<%#else %>
			<%#= " "%>
			<%#end%></td>
		</tr>-->
		<tr>
			<td colspan="4">MANUEL A. ORDOÑEZ DE JESUS</td>
		</tr>
		<tr>
			<td colspan="1">Fecha: </td>
			
      <%# if (!@tamizajes_tots.nil?) %>
			  <td colspan="3"><%if ((!@fi.nil?)and(!@ff.nil?))%>
			<%= "Del: "+@fi+"  al: "+ @ff %> 
			<%else %>
			<%= "sin datos"%>
			<%end%></td>
      <%#else%>
        <!--<td>No hay fechas</td> -->
      <%#end%>
	</tr>

	<tr>
		<td>Edad</td>
		<td>hombres</td>
		<td>mujeres</td>
		<td>Total</td>
	</tr>
	<tr>
		<td>5 a 9</td>
		<td>
			<%if(@edad3.present?)%>
				<%= @edad3.fetch(0) %>
			<%else%>
				<%= 0%>
			<%end%>
		</td>
		<td>
			<%if(@edad3.present?)%>
				<%= @edad3.fetch(1) %>
			<%else%>
				<%= 0%>
			<%end%>
		</td>
		<td>
			<%if(@edad3.present?)%>
				<%= @edad3.fetch(0) + @edad3.fetch(1) %>
			<%else%>
				<%= 0%>
			<%end%>
		</td>
	</tr>
	<tr>
		<td>10 a 11</td>
		<td>
		<%if(@edad3.present?)%>
				<%= @edad3.fetch(2) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td><%if(@edad3.present?)%>
				<%= @edad3.fetch(3) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td>
			<%if(@edad3.present?)%>
				<%= @edad3.fetch(2) + @edad3.fetch(3) %>
			<%else%>
				<%= 0%>
			<%end%>
		</td>
	</tr>
	<tr>
		<td>12 a 14</td>
		<td><%if(@edad3.present?)%>
				<%= @edad3.fetch(4) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td><%if(@edad3.present?)%>
				<%= @edad3.fetch(5) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td>
			<%if(@edad3.present?)%>
				<%= @edad3.fetch(4) + @edad3.fetch(5) %>
			<%else%>
				<%= 0%>
			<%end%>
		</td>
	</tr>
	<tr>
		<td>15 a 17</td>
		<td><%if(@edad3.present?)%>
				<%= @edad3.fetch(6) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td><%if(@edad3.present?)%>
				<%= @edad3.fetch(7) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td>
			<%if(@edad3.present?)%>
				<%= @edad3.fetch(6) + @edad3.fetch(7) %>
			<%else%>
				<%= 0%>
			<%end%>
		</td>
	</tr>
	<tr>
		<td>18 a 19</td>
		<td><%if(@edad3.present?)%>
				<%= @edad3.fetch(8) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td><%if(@edad3.present?)%>
				<%= @edad3.fetch(9) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td>
			<%if(@edad3.present?)%>
				<%= @edad3.fetch(8) + @edad3.fetch(9) %>
			<%else%>
				<%= 0%>
			<%end%>
		</td>
	</tr>
	<tr>
		<td>20 a 29</td>
		<td><%if(@edad3.present?)%>
				<%= @edad3.fetch(10) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td><%if(@edad3.present?)%>
				<%= @edad3.fetch(11) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td>
			<%if(@edad3.present?)%>
				<%= @edad3.fetch(10) + @edad3.fetch(11) %>
			<%else%>
				<%= 0%>
			<%end%>
		</td>
	</tr>
	<tr>
		<td>30 a 34</td>
		<td><%if(@edad3.present?)%>
				<%= @edad3.fetch(12) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td><%if(@edad3.present?)%>
				<%= @edad3.fetch(13) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td>
			<%if(@edad3.present?)%>
				<%= @edad3.fetch(12) + @edad3.fetch(13)  %>
			<%else%>
				<%= 0%>
			<%end%>
		</td>
	</tr>
	<tr>
		<td>35 a 49</td>
		<td><%if(@edad3.present?)%>
				<%= @edad3.fetch(14) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td><%if(@edad3.present?)%>
				<%= @edad3.fetch(15) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td>
			<%if(@edad3.present?)%>
				<%= @edad3.fetch(14) + @edad3.fetch(15)  %>
			<%else%>
				<%= 0%>
			<%end%>
		</td>
	</tr>
	<tr>
		<td>50 a 59</td>
		<td><%if(@edad3.present?)%>
				<%= @edad3.fetch(16) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td>
			<%if(@edad3.present?)%>
				<%= @edad3.fetch(17) %>
			<%else%>
				<%= 0%>
			<%end%>
		</td>
		<td>
			<%if(@edad3.present?)%>
				<%= @edad3.fetch(16) + @edad3.fetch(17) %>
			<%else%>
				<%= 0%>
			<%end%>
		</td>
	</tr>
	<tr>
		<td>60 y mas</td>
		<td><%if(@edad3.present?)%>
				<%= @edad3.fetch(18) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td><%if(@edad3.present?)%>
				<%= @edad3.fetch(19) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td>
			<%if(@edad3.present?)%>
				<%= @edad3.fetch(18)  + @edad3.fetch(19)  %>
			<%else%>
				<%= 0%>
			<%end%>
		</td>
	</tr>
</table>
    </div>
  </div>
</div>

<!--<div class="row-content">
	<div class="panel-body text-center">
    <div class="list-group">
    	<table class="table table-striped table-hover">
    	<tr>
			<td colspan="2">CAPA ATLACOMULCO </td>
		</tr>
	<tr>
		<td>Fecha: </td>
		<td ><%#if ((!@fi.nil?)and(!@ff.nil?))%>
			<%#= "Del: "+@fi+"  Al: "+ @ff %> 
		<%#else %>
	    	<%#= " "%>
		<%#end%> </td>
	</tr>	
	<tr>
		<td colspan="2"><h5>Pacientes por rango de edad</h5></td>
	</tr>

	<tr>
		<td>Edad</td>
		<td>Total</td>
	</tr>
	<tr>
		<td>5 a 9</td>
		<td>
			<%#if(@e1.present?)%>
				<%#= @e1 %>
			<%#else%>
				<%#= 0%>
			<%#end%>
		</td>
	</tr>
	<tr>
		<td>10 a 11</td>
		<td>
			<%#if(@e2.present?)%>
				<%#= @e2 %>
			<%#else%>
				<%#= 0%>
			<%#end%>
		</td>
	</tr>
	<tr>
		<td>12 a 14</td>
		<td>
			<%#if(@e3.present?)%>
				<%#= @e3 %>
			<%#else%>
				<%#= 0%>
			<%#end%>
		</td>
	</tr>
	<tr>
		<td>15 a 17</td>
		<td>
			<%#if(@e4.present?)%>
				<%#= @e4 %>
			<%#else%>
				<%#= 0%>
			<%#end%>
		</td>
	</tr>
	<tr>
		<td>18 a 19</td>
		<td>
			<%#if(@e5.present?)%>
				<%#= @e5 %>
			<%#else%>
				<%#= 0%>
			<%#end%>
		</td>
	</tr>
	<tr>
		<td>20 a 29</td>
		<td>
			<%#if(@e6.present?)%>
				<%#= @e6 %>
			<%#else%>
				<%#= 0%>
			<%#end%>
		</td>
	</tr>
	<tr>
		<td>30 a 34</td>
		<td>
			<%#if(@e7.present?)%>
				<%#= @e7 %>
			<%#else%>
				<%#= 0%>
			<%#end%>
		</td>
	</tr>
	<tr>
		<td>35 a 49</td>
		<td>
			<%#if(@e8.present?)%>
				<%#= @e8 %>
			<%#else%>
				<%#= 0%>
			<%#end%>
		</td>
	</tr>
	<tr>
		<td>50 a 59</td>
		<td>
			<%#if(@e9.present?)%>
				<%#= @e9 %>
			<%#else%>
				<%#= 0%>
			<%#end%>
		</td>
	</tr>
	<tr>
					<td>60 y mas</td>
					<td>
						<%#if(@e10.present?)%>
							<%#= @e10 %>
						<%#else%>
							<%#= 0%>
						<%#end%>
					</td>
				</tr>
			</table>	
    </div>
  </div>
</div>  -->