<div class="login padding">
  <div class="col-md-6 col-xm-8 center-block no-float panel panel-default trans">
    <div class="text-center">
      <h2><i class="fa fa-check-square-o"></i> Cambiar Contraseña </h2>
    </div>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group label-floating">
          <%= f.label :email,class: "control-label" %><br />
          <%= f.email_field :email, autofocus: true,class: "form-control" %>
        </div>

        <div class="actions text-center">
          <%= f.submit "Enviar instrucciones de cambio de Contraseña", class: "btn btn-raised btn-success" %><br>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
  </div>
</div>
