<div class="board col-md-6 text-center">
  <%= form_for(@state) do |f| %>
    <% if @state.errors.any? %>
    <div class="alert alert-dismissible alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
        <% @state.errors.full_messages.each do |message| %>
          <%= message%><br>
        <% end %>
    </div>
  <% end %>

  <div class="form-group label-floating">
    <%= f.label :estados,class: "control-label" %><br>
    <%= f.text_field :estados,class: "form-control text-center" %>
  </div>
  <div class="actions">
    <%= f.submit "Agregar", class: "btn btn-raised btn-success" %>
  </div>
  <% end %>
</div>
