<div class="list-group-item">
  <div class="row-action-primary">
    <%= link_to state do %>
      <i class="fa fa-map"></i>
    <% end%>
  </div>
  <div class="row-content">
    <div class="action-secondary">
      <%= link_to edit_state_path(state) do %>
        <i class="fa fa-pencil-square-o"></i>
      <% end %>
    </div>
    <h4 class="list-group-item-heading"><%= state.estados %> </h4>
  </div>
</div>
<div class="list-group-separator"></div>
