<% if notice %>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= notice %>
  </div>
<% end%>
<div class="row board ">
  <div class="col-md-5">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-plus-square"></i> Agregar Estado</h3>
      </div>
      <div class="panel-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
  <div class="col-md-7">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h1 class="panel-title"><i class="fa fa-map"></i> Estados</h1>
		  </div>
		  <div class="panel-body text-center">
        <div class="list-group">
          <%= render @states %>
        </div>
      </div>
    </div>
  </div>
</div>
