<div class="row board ">
	<div class="col-md-12">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h1 class="panel-title"><i class="fa fa-map"></i> Estado <strong>ID <%= @state.id.to_s %></strong></h1>
		  </div>
		  <div class="panel-body text-center">
        <div class="list-group">
          <div class="list-group-item">
            <div class="row-action-primary">
                <i class="fa fa-map"></i>
            </div>
            <div class="row-content">
              <div class="action-secondary">
                <%= link_to edit_state_path(@state) do %>
                  <i class="fa fa-pencil-square-o"></i>
                <% end %>
              </div>
              <h3 class="list-group-item-heading"><%= @state.estados %> </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
