<div class="board col-md-6">
  <%= form_for(@adolescentes_ap) do |f| %>
  <% if @adolescentes_ap.errors.any? %>
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
      <% @adolescentes_ap.errors.full_messages.each do |message| %>
        <%= message%><br>
      <% end %>
  </div>
  <% end %>

 
  <!--<div class="form-group label-floating">
    <%#= f.label :h, "hombres" %><br>
    <%#= f.text_field :h ,class: "form-control text-center"%>
  </div>

  <div class="form-group label-floating">
    <%#= f.label :m, "mujeres" %><br>
    <%#= f.text_field :m ,class: "form-control text-center"%>
  </div>-->

  <div class="form-group label-floating">
    <%= f.label :fecha, "fecha" %><br>
    <%= f.date_select :fecha,class: "form-control text-center"%>
  </div>

  <div class="form-group label-floating">
    <%= f.label :psychologist_id %><br>
    <%= f.select(:psychologist_id, Psychologist.all.collect {|ps| [ps.nombre+" "+ps.apellidoP+" "+ps.apellidoM, ps.id]}, :prompt => 'Selecciona uno')%>
  </div>

          <div class="form-group label-floating">
      <%= f.label "Edades"%> <%= f.label "12 a 14"%>
      <div class="form-group label-floating">
          <%= f.label :h3,"Hombres" %> <%= f.label :m3,"Mujeres" %><br>
          <%= f.number_field :h3 %>  <%= f.number_field :m3 %> <br>
         
        </div>
      <%= f.label "Edades"%> <%= f.label "15 a 17"%>
        <div class="form-group label-floating">
          <%= f.label :h4,"Hombres" %> <%= f.label :m4,"Mujeres" %><br>
          <%= f.number_field :h4 %> <%= f.number_field :m4 %> <br>
          </div>
      
  </div>    

  <div class="actions">
    <%= f.submit "Agregar", class: "btn btn-raised btn-success" %>
  </div>
<% end %>

</div>



