<div class="row board ">
	<div class="col-md-7">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h1 class="panel-title"><i class="fa fa-folder-o"></i> Adolescentes AP <strong>ID <%= @adolescentes_ap.id.to_s %></strong></h1>
		  </div>
		  <div class="panel-body text-center">
        <div class="list-group">
          <div class="list-group-item">
            <div class="row-action-primary">
                <i class="fa fa-heartbeat"></i>
            </div>
            <div class="row-content">
              <div class="action-secondary">
                <%= link_to edit_adolescentes_ap_path(@adolescentes_ap) do %>
                  <i class="fa fa-pencil-square-o"></i>
                <% end %>
              </div>
              <h3 class="list-group-item-heading"><strong>Adolescente en Acciones de Prevencion: <%= @adolescentes_ap.id.to_s %></strong></h3>
							<p class="list-group-item-text"><strong>Hombres: </strong><%= @adolescentes_ap.h.to_s%></p>
							<p class="list-group-item-text"><strong>Mujeres: </strong><%= @adolescentes_ap.m.to_s%></p>
							<p class="list-group-item-text"><strong>Total: </strong><%= (@adolescentes_ap.h+@adolescentes_ap.m).to_s%></p>
							<p class="list-group-item-text"><strong>Fecha: </strong><%= @adolescentes_ap.fecha%><br></p>
							<p class="list-group-item-text"><strong>Psicologo: </strong><%= @adolescentes_ap.psychologist_id.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 12 a 14: </strong><%= @adolescentes_ap.h3%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 12 a 14: </strong><%= @adolescentes_ap.m3.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 15 a 17:</strong><%= @adolescentes_ap.h4.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 15 a 17: </strong><%= @adolescentes_ap.m4.to_s%><br></p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-calendar-check-o" aria-hidden="true""></i> Proxima Consulta</h3>
      </div>
      <div class="panel-body">
        <div class="panel-body text-center">      
          <%= link_to 'Indicadores Generales', indicadores_path, class: "btn btn-raised btn-primary"%><br>
          <br>
          <%= link_to 'Indicadores por rango de edad', indicadoresxedad_index_path, class: "btn btn-raised btn-primary"%><br>
        </div> 
      </div>
    </div>
  </div>
</div>
