<%if current_user.is_recepcion?%>
  <div class="row board" >
    <div class="col-md-9">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3><i class="fa fa-calendar"></i> Agenda</h3>
        </div>
        <%= @color%>
        <div class="panel-body text-center">
          <%= month_calendar events: @meetings do |date, meetings| %>
            <%= date %>
            <% meetings.each do |meeting| %>
              <% if meeting.user == current_user || meeting.psychologist == current_user.psychologist || current_user.is_recepcion? || current_user.is_admin? %>
              <% psy = Psychologist.find_by_id(meeting.psychologist_id)%>
              <%= link_to meeting do %>
                <div  class="panel panel-default text-center" style="background-color:<%= psy.color %>; max-width:90px;">
                  <%= meeting.name %><br>
                  <%= meeting.patient.nom+" "+meeting.patient.app %>
                </div>
              <%end%>
              <%end%>
            <% end %>
          <% end %>
        </div>
        <div class="text-center">
          <%= link_to "Agregar Evento", new_meeting_path , class: "btn btn-raised btn-success" %>
        </div>
        <div class="text-center">
          <%= link_to "Imprimir Datos" ,root_path(:format => :pdf),class: "btn btn-success"%>
        </div>
      </div>
    </div>
    <%if current_user.is_psicologo?%>
      <div class="col-md-3">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3><i class="fa fa-info-circle"></i> Metas</h3>
          </div>
          <div class="panel-body">
            <%= render 'reportes/consul' %>
          </div>
      </div>
    <%end%>
  </div>
<%else%>
  <h1>Bienvenido</h1>
<%end%>
