<!--  esto siempre va  -->

<%= wicked_pdf_javascript_include_tag "application", "chartkick" %>
<%= javascript_include_tag "https://www.google.com/jsapi" %>
<%= wicked_pdf_javascript_include_tag "chartkick" %>
<!--  Fin  -->

<style media="screen">
  div.nobreak {
    page-break-inside: avoid;
  }
  .titulo{
    text-align: center;
    background-color: #72B08F;
    color: #FAFAFA;
  }
  .grey{
    color: #636363;
  }
  .seccion{
    background-color: #FAFAFA;
    text-align: justify;
    padding: 5px 15px 5px 15px;
    margin-top: -20px
  }
  li{
    list-style:none;
    padding: 5px;
  }
  .texto{
    border: 1.5px solid;
    padding: 2px 4px 2px 4px;
    border-radius: 2px;
  }
  .campo{
    text-transform: uppercase;
    font-weight: bold;
  }
  td{
    padding: 4px;
    text-align: center;
    color: #FAFAFA;
  }
  .center{
    align: center;
  }
</style>
<div class="nobreak">
  <h1 class="titulo">Agenda CAPA</h1>
  <section class="seccion grey center">
    <table>
      <tr>
        <td class="titulo">Dia y hora</td>
        <td class="titulo">Psicologo</td>
        <td class="titulo">Paciente</td>
        <td class="titulo">Consulta</td>
      </tr>
      <% @m.each do |meeting|%>
        <tr style="background-color:<%=meeting.psychologist.color%>;">
          <td><%=meeting.start_time%></td>
          <td><%=meeting.psychologist.nombre+" "+meeting.psychologist.apellidoP+" "+meeting.psychologist.apellidoM%></td>
          <td><%=meeting.patient.nom+" "+meeting.patient.app+" "+meeting.patient.apm%></td>
          <td><%if meeting.termino == 1 %>Consulta en Proseso <%else%>Consulta Terminada<%end%></td>
        </tr>
      <%end%>
    </table
  </section>
</div>
