<!-- first section - Home -->
<div id="home" class="home">
  <div class="text-vcenter">
    <h1>CAPA</h1>
    <h3>Atlacomulco</h3>
    <a href="#about" class="btn btn-default btn-lg">Conocenos</a>
  </div>
</div>

<!-- second section - About -->
<div id="about" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="images/logo.png" alt="" />
      </div>
      <div class="col-sm-6 text-center">
        <h4>¿QUÉ SON LOS CENTROS DE ATENCIÓN PRIMARIA EN ADICCIONES?</h4>
        <p class="lead">Los Centros de Atención Primaria en Adicciones (CAPA) son unidades que brindan servicios gratuitos, dirigidos a prevenir y atender el uso y abuso de sustancias adictivas. En los CAPA laboran psicólogos, médicos y trabajadores sociales, especializados en la prevención y tratamiento del consumo de alcohol, marihuana, estupefacientes y tabaco.</p>
      </div>
    </div>
  </div>
</div>
<!-- /second section -->

<!-- third section - Services -->
<div id="services" class="pad-section">
  <div class="container">
    <h2 class="text-center">Servicios</h2> <hr />
    <div class="row text-center">
      <div class="col-sm-3 col-xs-6">
        <i class="fa fa-comments-o" style="font-size:75px;"></i>
        <h4>Talleres</h4>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="fa fa-heartbeat" style="font-size:75px;"></i>
        <h4>Orientacion Psicologica</h4>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="fa fa-users" style="font-size:75px;"></i>
        <h4>Platicas</h4>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="fa fa-graduation-cap" style="font-size:75px;"></i>
        <h4>Conferencias a Escuelas</h4>
      </div>
    </div>
  </div>
</div>
<!-- /third section -->

<!-- fourth section - Information -->
<div id="information" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Mision</h1>
          </div>
          <div class="panel-body lead">
            <p class="lead">Contribuir a desacelerar la tendencia de las enfermedades crónicas de mayor prevalencia a través del modelo de prevención clínica y atención integral, innovador, factible y de calidad. </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Vision</h1>
          </div>
          <div class="panel-body lead">
            <p class="lead"> Ser un centro Lider en la presentacion y seguimiento de Servicios de Promoción, Educación, Prevención clínica y control de las adicciones.</p>
          </div>
        </div>
      </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Prevención</h1>
          </div>
          <div class="panel-body lead">
            <p class="lead">El objetivo de las acciones preventivas es informar a la población acerca de los efectos, riesgos y consecuencias del uso de sustancias adictivas, de las estrategias para prevenir el consumo, así como de los servicios especializa-dos para la atención de las adicciones.  </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Tratamiento</h1>
          </div>
          <div class="panel-body lead">
            <p class="lead"> El objetivo del tratamiento es ayudar a los usuarios de sustancias adictivas y a sus familiares a desarrollar y aplicar estrategias para modificar la conducta de consumo y los problemas derivados. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /fourth section -->

<!-- fifth section -->
<div id="services" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3>Ubicanos</h3>
        <h4>Encinos s/n (Esq. con Nueva España), Col. Santa Cruz Bombatevi, Atlacomulco, Estado de México</h4>
        <h5>Tel: (01 712) 12 20 031</h5>
        <h5>C.P. 50450</h5>
      </div>
    </div>
  </div>
</div>
<!-- /fifth section -->

<!-- google map -->
<div id="google_map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d7507.504678311603!2d-99.89281568869805!3d19.81165044816589!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d19.8139216!2d-99.8946611!5e0!3m2!1ses-419!2smx!4v1455733002784" id="google_map" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<!-- /google map -->

<!-- footer -->
<footer class="text-right">
  <hr />
  <div class="container">
      <h5>
        <ul>
          <li class="footer-li"><i class="fa fa-facebook-square"></i>
           Facebook</li>
          <li class="footer-li"><i class="fa fa-twitter-square"></i>
           Twitter</li>
          <!-- <li class="footer-li">Email</li> -->
        </ul>
      </h5>
    <h4>Desarrollomx Web</h4>
  </div>
</footer>
<!-- /footer -->


<!-- /first section -->