<div class="board col-md-6">
	<%= form_for(@indicadores) do |f| %>
  <% if @indicadores.errors.any? %>
  	<div class="alert alert-dismissible alert-danger">
  		<button type="button" class="close" data-dismiss="alert">×</button>
    		<% @indicadores.errors.full_messages.each do |message| %>
        	<%= message%><br>
      		<% end %>
  </div>
  <% end %>

  <div class="form-group label-floating">
	
	<div class="form-group label-floating">
    <%= label :psychologist_id %><br>
    <%= select(:psychologist_id, Psychologist.all.collect {|ps| [ps.nombre+" "+ps.apellidoP+" "+ps.apellidoM, ps.id]}, :prompt => 'Selecciona uno')%>
  </div>
  <div class="form-group label-floating">
    <%= label :fec %><br>
    <%= date_select :fec %>
  </div>



<div class="actions">
    <%= f.submit "Agregar", class: "btn btn-raised btn-success" %>
  </div>
<% end %>


</div>     1