<% if (!@tamizajes_tots.nil?) %>
  <%#= bar_chart ({'tamizajes' => @ta4, 'adol.acc.prev.' => @adol4, 'cons.1a.vez' => @con4, 'trat.br.conc.' => @tra4, 'adol.ini.trat.' => @ad4, 'cons.sub.' => @cs4, 'pers.cap.' => @pc4, 'capac.oto.' => @co4, 'capac.rec.' => @cpt4, 'pers.viol.gen.' => @per4 }) %>
	<%h={'tamizajes' => @ta, 'adol.acc.prev.' => @adol, 'cons.1a.vez' => @con, 'trat.br.conc.' => @tra, 'adol.ini.trat.' => @ad, 'cons.sub.' => @cs, 'pers.cap.' => @pc, 'capac.oto.' => @co, 'capac.rec.' => @cpt, 'pers.viol.gen.' => @per, 'benef.' => @ben, 'mult.y.prom.' => @mult }%>
	<%m={'tamizajes' => @ta2, 'adol.acc.prev.' => @adol2, 'cons.1a.vez' => @con2, 'trat.br.conc.' => @tra2, 'adol.ini.trat.' => @ad2, 'cons.sub.' => @cs2, 'pers.cap.' => @pc2, 'capac.oto.' => @co2, 'capac.rec.' => @cpt2, 'pers.viol.gen.' => @per2, 'benef.' => @ben2, 'mult.y.prom.' => @mult2 }%>
	<%t={'tamizajes' => @ta4, 'adol.acc.prev.' => @adol4, 'cons.1a.vez' => @con4, 'trat.br.conc.' => @tra4, 'adol.ini.trat.' => @ad4, 'cons.sub.' => @cs4, 'pers.cap.' => @pc4, 'capac.oto.' => @co4, 'capac.rec.' => @cpt4, 'pers.viol.gen.' => @per4, 'benef.' => @ben4, 'mult.y.prom.' => @mult4 }%>
	<%dato = [{name: "Hombres", data: h},{name: "Mujeres", data: m},{name: "Total", data: t}]%>
<%= column_chart  dato, colors: ["red", "orange", "yellow"]%>
<%else%>
  <%= "No hay datos" %>
<% end %>
