<div class="list-group-item">
  <div class="row-action-primary">
    <%= link_to indicadores_path do %>
      <i class="fa fa-user"></i>
    <% end %>
  </div>
  <div class="row-content">
    <div class="action-secondary">


    </div>

	<table class="table table-striped table-hover">
	<thead colspan="4">
		<tr>
			<th colspan="4"></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Psicologo: </td>
			<%#@u=current_user.psychologists%>
			<td colspan="3"><%if (!@id.nil?)%>
			<%= @id.nombre+" "+@id.apellidoP+" "+@id.apellidoM %> 
			<%else %>
			<%= " "%>
			<%end%></td>
     
		</tr>
		<tr>
			<td>Fecha: </td>
			
      <%# if (!@tamizajes_tots.nil?) %>
			  <td colspan="3"><%if ((!@fi.nil?)and(!@ff.nil?))%>
			<%= "Del: "+@fi+"  Al: "+ @ff %> 
			<%else %>
			<%= "sin datos"%>
			<%end%></td>
      <%#else%>
        <!--<td>No hay fechas</td> -->
      <%#end%>
		</tr>

		<tr>
			<td><b>categoria</b></td>
			<td><b>hombres</b></td>
			<td><b>mujeres</b></td>
			<td><b>total</b></td>
		</tr>

		<tr>
			<td>Tamizajes totales</td>
			<%# @ta=0 %> 
			<%# temp =[]%>
			<td><% if(@ta.present?) %>
					<%# temp= @tamizajes_tots.map {|m| m[:h]} %>
    	  	 		<%# temp.each do |e| %>
    	  	 			<%# @ta+=e %>
    	  	 		<%# end%>
    	  	 		<%=@ta%>
				<%#else %>
					<%#= 0 %>
				<%end %> </td>
				<%# @ta2=0 %> 
				<%# @ta4=0%>
			<td><% if (@ta2.present?) %>
					<%# temp= @tamizajes_tots.map {|m| m[:m]} %>
    	  	 		<%# temp.each do |e| %>
    	  	 			<%# @ta2+=e %>
    	  	 		<%# end%>
    	  	 		<%= @ta2%>
				<%#else %>
					<%#= 0 %>
				<%end %></td>
			<td><%if(!@ta4.nil?)%>
    	  	 		<%=@ta4%><%#=@ta+@ta2%>
				<%#else%>
					<%#=0 %>
				<%end%></td>
		</tr>
		<tr>

			<td>Adolescentes de 12 a 17 en acciones de prevención
			</td>
			<%# @adol=0 %> 
			<%# temp2 =[]%>
			<td><% if (!@adol.nil?) %>
					<%# temp2= @adolescentes_aps.map {|m| m[:h]} %>
    	  	 		<%# temp2.each do |e| %>
    	  	 			<%# @adol+=e %>
    	  	 		<%# end%>
    	  	 		<%=@adol%>
				<%#else %>
					<%#= 0 %>
			<%end %></td>
			<%# @adol2=0 %>
			<%# @adol4=0 %>
			<td><% if (!@adol2.nil?) %>
					<%# temp2= @adolescentes_aps.map {|m| m[:m]} %>
    	  	 		<%# temp2.each do |e| %>
    	  	 			<%# @adol2+=e %>
    	  	 		<%# end%>
    	  	 		<%=@adol2%>
				<%#else %>
					<%#= 0 %>
			<%end %></td>
			<td><% if (!@adol4.nil?) %>
					<%=@adol4%><%#=@adol+@adol2%>
				<%#else %>
					<%#= 0 %>
			<%end %></td>
		</tr>
		<tr>

			<td>Consultas Primera Vez</td>
			<%# @con=0 %> 
			<%# temp3 =[]%>
			<td><%if(!@con.nil?) %>
					<%# temp3= @consultas_pvs.map {|m| m[:h]} %>
    	  	 	<%# temp3.each do |e| %>
    	  	 		<%# @con+=e %>
    	  	 		<%# end%>
    	  	 		<%=@con%>
				<%#else %>
					<%#= 0 %>
				<%end %></td>
				<%# @con2=0 %>
				<%# @con4=0 %> 
			<td><%if(!@con2.nil?) %>
					<%# temp3= @consultas_pvs.map {|m| m[:m]} %>
    	  	 	<%# temp3.each do |e| %>
    	  	 		<%# @con2+=e %>
    	  	 		<%# end%>
    	  	 	<%=@con2%>
				<%#else %>
					<%#= 0 %>
				<%end %></td>
			<td><%if(!@con4.nil?) %>
					<%=@con4%><%#=@con+@con2%>
				<%#else %>
					<%#= 0 %>
				<%end %></td>
		</tr>
		<tr>
			<td>Tratamientos breves concluidos</td>
			<td>
			<%# @tra=0 %> 
			<%# temp4 =[]%>
			<%if(!@tra.nil?) %>
					<%# temp4= @tratamientos_bcs.map {|m| m[:h]} %>
    	  	 		<%# temp4.each do |e| %>
    	  	 			<%# @tra+=e %>
    	  	 		<%# end%>
    	  	 		<%=@tra%>
				<%#else %>
					<%#= 0 %>
				<%end %></td>
				<%# @tra2=0 %> 
				<%# @tra4=0 %>
			<td><%if(!@tra2.nil?) %>
					<%# temp4= @tratamientos_bcs.map {|m| m[:m]} %>
    	  	 		<%# temp4.each do |e| %>
    	  	 			<%# @tra2+=e %>
    	  	 		<%# end%>
    	  	 		<%=@tra2%>
				<%#else %>
					<%#= 0 %>
				<%end %></td>
			<td><%if(!@tra4.nil?) %>
					<%=@tra4%><%#=@tra+@tra2%>
				<%#else %>
					<%#= 0 %>
				<%end %></td>
		</tr>
		<tr>
			<td>Adolescentes de 12 a 17 años que inician tratamiento</td>
			<td>
			<%# @ad=0 %> 
			<%# temp5 =[]%>
			<%if(!@ad.nil?) %>
					<%# temp5= @adolescentes_its.map {|m| m[:h]} %>
    	  	 		<%# temp5.each do |e| %>
    	  	 			<%# @ad+=e %>
    	  	 		<%# end%>
    	  	 		<%=@ad%>
				<%#else %>
					<%#= 0 %>
				<%end %></td>
				<%# @ad2=0 %> 
				<%# @ad4=0 %> 
			<td><%if(!@ad2.nil?) %>
					<%# temp5= @adolescentes_its.map {|m| m[:m]} %>
    	  	 		<%# temp5.each do |e| %>
    	  	 			<%# @ad2+=e %>
    	  	 		<%# end%>
    	  	 		<%=@ad2%>
				<%#else %>
					<%#= 0 %>
				<%end %></td>
			<td><%if(!@ad4.nil?) %>
					<%=@ad4%><%#=@ad+@ad2%>
				<%#else %>
					<%#= 0 %>
				<%end %></td>
		</tr>

		<tr>
			<td>Consultas subsecuentes</td>
			<td>
			<%# @cs=0 %> 
			<%# temp6 =[]%>
			<%if(!@cs.nil?) %>
					<%# temp6= @consultas_subs.map {|m| m[:h]} %>
    	  	 		<%# temp6.each do |e| %>
    	  	 			<%# @cs+=e %>
    	  	 		<%# end%>
    	  	 		<%=@cs%>
				<%#else %>
					<%#= 0 %>
					<%end %></td>
					<%# @cs2=0 %> 
					<%# @cs4=0 %> 
			<td><%if(!@cs2.nil?) %>
					<%# temp6= @consultas_subs.map {|m| m[:m]} %>
    	  	 		<%# temp6.each do |e| %>
    	  	 			<%# @cs2+=e %>
    	  	 		<%# end%>
    	  	 		<%=@cs2%>
				<%#else %>
					<%#= 0 %>
					<%end %></td>
			<td><%if(!@cs4.nil?) %>
					<%=@cs4%><%#=@cs+@cs2%>
				<%#else %>
					<%#= 0 %>
				<%end %></td>
		</tr>
		<tr>
			<td>Personal capacitado en cesación de tabaco</td>
			<td>
				<%# @pc=0 %> 
			<%# temp7 =[]%>
			<%if(!@pc.nil?) %>
					<%# temp7= @personal_cts.map {|m| m[:h]} %>
    	  	 		<%# temp7.each do |e| %>
    	  	 			<%# @pc+=e %>
    	  	 		<%# end%>
    	  	 		<%=@pc%>
				<%#else %>
					<%#= 0 %>
				<%end %></td>
				<%# @pc2=0 %> 
				<%# @pc4=0 %> 
			<td><%if(!@pc2.nil?) %>
					<%# temp7= @personal_cts.map {|m| m[:m]} %>
    	  	 		<%# temp7.each do |e| %>
    	  	 			<%# @pc2+=e %>
    	  	 		<%# end%>
    	  	 		<%=@pc2%>
				<%#else %>
					<%#= 0 %>
					<%end %></td>
			<td><%if(!@pc4.nil?) %>
					<%= @pc4%><%#=@pc+@pc2%>
				<%#else %>
					<%#= 0 %>
				<%end %></td>
		</tr>
		<tr>
			<td>Capacitaciones otorgadas en prevención y tratamiento</td>
			<td>
			<%# @co=0 %> 
			<%# temp8 =[]%>
			<%if(!@co.nil?) %>
					<%# temp8= @capacitaciones_ots.map {|m| m[:h]} %>
    	  	 		<%# temp8.each do |e| %>
    	  	 			<%# @co+=e %>
    	  	 		<%# end%>
    	  	 		<%=@co%>
				<%#else %>
					<%#= 0 %>
				<%end %></td>
				<%# @co2=0 %> 
				<%# @co4=0 %> 
			<td><%if(!@co2.nil?) %>
					<%# temp8= @capacitaciones_ots.map {|m| m[:m]} %>
    	  	 		<%# temp8.each do |e| %>
    	  	 			<%# @co2+=e %>
    	  	 		<%# end%>
    	  	 		<%=@co2%>
				<%#else %>
					<%#= 0 %>
				<%end %></td>
			<td><%if(!@co4.nil?) %>
					<%=@co4%><%#=@co+@co2%>
				<%#else %>
					<%#= 0 %>
				<%end %></td>
		</tr>
		<tr>
			<td>Capacitaciones recibidas en prevención y tratamiento</td>
			<td>
			<%# @cpt=0 %> 
			<%# temp9 =[]%>
			<%if(!@cpt.nil?) %>
					<%# temp9= @capacitaciones_recs.map {|m| m[:h]} %>
    	  	 		<%# temp9.each do |e| %>
    	  	 			<%# @cpt+=e %>
    	  	 		<%# end%>
    	  	 		<%=@cpt%>
				<%#else %>
					<%#= 0 %>
				<%end %></td>
				<%# @cpt2=0 %> 
				<%# @cpt4=0 %> 
			<td><%if(!@cpt2.nil?) %>
					<%# temp9= @capacitaciones_recs.map {|m| m[:m]} %>
    	  	 		<%# temp9.each do |e| %>
    	  	 			<%# @cpt2+=e %>
    	  	 		<%# end%>
    	  	 		<%=@cpt2%>
				<%#else %>
					<%#= 0 %>
				<%end %></td>
			<td><%if(!@cpt4.nil?) %>
					<%=@cpt4%><%#=@cpt+@cpt2%>
				<%#else %>
					<%#= 0 %>
				<%end %></td>
		</tr>
		<tr>
			<td>Personas detectadas con violencia de género</td>
			<td>
			<%# @per=0 %> 
			<%# temp10 =[]%>
			<%if(!@per.nil?) %>
					<%# temp10= @personas_vgs.map {|m| m[:h]} %>
    	  	 		<%# temp10.each do |e| %>
    	  	 			<%# @per+=e %>
    	  	 		<%# end%>
    	  	 		<%=@per%>
				<%#else %>
					<%#= 0 %>
				<%end %></td>
				<%# @per2=0 %>
				<%# @per4=0 %> 
			<td><%if(!@per2.nil?) %>
					<%# temp10= @personas_vgs.map {|m| m[:m]} %>
    	  	 		<%# temp10.each do |e| %>
    	  	 			<%# @per2+=e %>
    	  	 		<%# end%>
    	  	 		<%=@per2%>
				<%#else %>
					<%#= 0 %>
				<%end %></td>
			<td><%if(!@per4.nil?) %>
					<%=@per4%><%#=@per+@per2%>
				<%#else %>
					<%#= 0 %>
				<%end %></td>
		</tr>
		<tr>
			<td>Beneficiados(as)</td>
			<td>
			<%if(!@ben.nil?) %>
    	  	 		<%=@ben%>
				<%end %></td>
			<td><%if(!@ben2.nil?) %>
    	  	 		<%=@ben2%>
				<%end %></td>
			<td><%if(!@ben4.nil?) %>
					<%=@ben4%>
				<%end %></td>
		</tr>
		<tr>
			<td>Multiplicadores y promotores(as)</td>
			<td>
			<%if(!@mult.nil?) %>
    	  	 		<%=@mult%>
				<%end %></td>
			<td><%if(!@mult2.nil?) %>
    	  	 		<%=@mult2%>
				<%end %></td>
			<td><%if(!@mult4.nil?) %>
					<%=@mult4%>
				<%end %></td>
		</tr>
	</tbody>
	</table>
	</div>
</div>
<div class="list-group-separator"></div>
