<%= javascript_include_tag "datepicker.js" %>

<% if notice %>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= notice %>
  </div>
<% end%>
<div class="row board ">
  <div class ="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-search"></i> Busqueda:</h3>
      </div>
      <div class="panel-body text-center">
        <%= form_tag indicadores_path, method: :get do %>
          <!--<div class="form-group label-floating">
            <%#= text_field_tag :id, params[:id] , :class=>"form-control text-center" , placeholder: "ID Indicadores" %>
          </div>-->
          <div class="form-group label-floating">
            <%= label_tag "search", "Búsqueda:" %>
            <%#= date_field_tag :fec, params[:fec] , :class=>"form-control text-center" , placeholder: "Fecha" %>
            <%= text_field_tag :date_start, params[:date_start], :class=>"form-control text-center", :id=>"dateStart", placeholder: "fecha inicio" %>
          </div>
           <div class="form-group label-floating">
            <%= text_field_tag :date_end, params[:date_end], :class=>"form-control text-center", :id=>"dateEnd", placeholder: "fecha termino" %>
          </div>

          <div class="actions">
          <%= submit_tag "Buscar", name: nil, class: "btn btn-raised btn-info" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
	<div class="col-md-6">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Indicadores por Programa</h1>
		  </div>
		  <div class="panel-body text-center">
        <div class="list-group">

          <%#= link_to 'Adolescentes en Acciones de Prevencion', new_adolescentes_ap_path class: "btn btn-raised btn-primary"%>
          <%#= link_to 'Adolescentes que Inician Tratamiento', new_adolescentes_it_path class: "btn btn-raised btn-primary"%>
          <%= link_to 'Capacitaciones Otorgadas', new_capacitaciones_ot_path, class: "btn btn-raised btn-default"%><br>
          <%= link_to 'Capacitaciones Recibidas', new_capacitaciones_rec_path, class: "btn btn-raised btn-default"%><br>
          <%= link_to 'Adolescentes en Acciones de Prevencion', new_adolescentes_ap_path, class: "btn btn-raised btn-default"%><br>
          <%#= link_to 'Consultas Primera Vez', new_consultas_pv_path %>
          <%#= link_to 'Consultas Subsecuentes', new_consultas_sub_path %>
          <%= link_to 'Personal Capacitado en Cesacion del Tabaco', new_personal_ct_path, class: "btn btn-raised btn-default"%><br>
          <%= link_to 'Personas detectadas con Violencia de Genero', new_personas_vg_path, class: "btn btn-raised btn-default"%><br>
          <%= link_to 'Multiplicadores y Promotores', new_multyprom_path, class: "btn btn-raised btn-default"%><br>
          <%= link_to 'Beneficiados', new_beneficiado_path, class: "btn btn-raised btn-default"%><br>
          <%#= link_to 'Tamizajes Totales', new_tamizajes_tot_path %>
          <%#= link_to 'Tratamientos Breves Concluidos', new_tratamientos_bc_path %>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="row board ">
  <div class ="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-stethoscope"></i> INDICADORES POR PROGRAMA:</h3>
      </div>
      <div class="panel-body text-center">

  <%=link_to "Imprimir", indicadores_url(:id=>params[:id],:date_start=>params[:date_start],:date_end=>params[:date_end],:format => :pdf), class: "btn btn-success"%>

<div class="row board ">
  <div class ="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-stethoscope"></i>  Indicadores</h3>
      </div>
      <div class="panel-body text-center">
        <%#= form_tag indicadores_path, method: :get do %>
        <div class="form-group label-floating">
          <div class="panel panel-default">
            <div class="list-group">
              <%=render "indicadore" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class ="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-stethoscope"></i>  Gráficas</h3>
      </div>
      <div class="panel-body text-center">
        <%#= form_tag indicadores_path, method: :get do %>
        <div class="form-group label-floating">
          <div class="panel-body text-center">
            <%= render 'indicadores/graf' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
