<!--  esto siempre va  -->

<%= wicked_pdf_javascript_include_tag "application", "chartkick" %>
<%= javascript_include_tag "https://www.google.com/jsapi" %>
<%= wicked_pdf_javascript_include_tag "chartkick" %>
<!--  Fin  -->

<style media="screen">
  div.nobreak {
    page-break-inside: avoid;
  }
  .titulo{
    text-align: center;
    background-color: #72B08F;
    color: #FAFAFA;
  }
  .grey{
    color: #636363;
  }
  .seccion{
    background-color: #FAFAFA;
    text-align: justify;
    padding: 5px 15px 5px 15px;
    margin-top: -20px
  }
  li{
    list-style:none;
    padding: 5px;
  }
  .texto{
    border: 1.5px solid;
    padding: 2px 4px 2px 4px;
    border-radius: 2px;
  }
  .campo{
    text-transform: uppercase;
    font-weight: bold;
  }
  .center{
    text-align: center !important;
  }
  table, td, th {
    border: .5px solid #ddd;
    text-align: center;
    font-size: 10px;
  }

  table {
      border-collapse: collapse;
      width: 100%;
  }

  th, td {
      padding: 5px;
  }
  tr:nth-child(even){background-color: #f2f2f2}
</style>

  <%# form_tag indicadores_path, method: :get do %>
      <%#end%>

<div class="nobreak">
  <h1 class="titulo">Indicadores generales</h1>
  <section class="seccion grey center">
  <%= render 'indicadores/indicadore.html.erb' %>
  <br>
  <%= render 'indicadores/graf.html.erb' %>
  </section>
</div>
