<table class="table table-striped table-hover">
	<thead>
		<tr><td colspan="6">ADOLESCENTES EN ACCIONES DE PREVENCION </td></tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="6"></td>
		</tr>
			<tr>
			<td colspan="2">IMCA:</td> 
			<td colspan="4"> CAPA ATLACOMULCO
				<%#if(!@id.nil?)%>
				<%#= @id.nombre+" "+@id.apellidoP+" "+@id.apellidoM%>
				<%#else%>
				<%#=" "%>
				<%#end%>
			</td>
		</tr>
				<tr>
			<td colspan="2">Fecha:</td> 
			<td colspan="4">
				<%if((!@fi.nil?)and(!@ff.nil?)) %>
				<%= "Del: "+@fi+" al: "+@ff %>
				<%else%>
				<%=" "%>
				<%end%>
			</td>
		</tr>
		<tr>
			<td colspan="10"></td>
		</tr>
		<tr>
		<td></td>
		<td colspan="2">12 a 14</td>
		<td colspan="2">15 a 17</td>
		<td>subtotal</td>
		</tr>
		<tr>
			<td>hombres</td>
			<td colspan="2">
				<%if (!@hap3.nil?) %>
					<%=@hap3%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>

			<td colspan="2">
				<%if (!@hap4.nil?) %>
					<%=@hap4%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td>
				<%if (!@hapt.nil?) %>
					<%=@hapt%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
		</tr>
		<tr>
			<td>mujeres</td>
			<td colspan="2">
				<%if (!@map3.nil?) %>
					<%=@map3%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@map4.nil?) %>
					<%=@map4%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mapt.nil?) %>
					<%=@mapt%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
		</tr>
		<tr><td colspan="6"></td></tr>
		<tr>
			<td>total</td>
			<td colspan="2">
				<%if ((!@hap3.nil?) and (!@map3.nil?))%>
					<%= @hap3+@map3%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hap4.nil?) and (!@map4.nil?))%>
					<%= @hap4+@map4%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td>
				<%if ((!@hapt.nil?)and(!@mapt.nil?)) %>
					<%=@hapt+@mapt%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			</tr>
		<tr>
			<td colspan="6"></td>
		</tr>
	</tbody>
</table>