<table class="table table-striped table-hover">
	<thead>
		<tr>
			<td colspan="18">CAPACITACIONES RECIBIDAS</td> 
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="18"></td>
		</tr>
			<tr>
			<td colspan="2">Psicologo:</td> 
			<td colspan="16">
				<%if(!@id.nil?)%>
				<%= @id.nombre+" "+@id.apellidoP+" "+@id.apellidoM%>
				<%else%>
				<%=" "%>
				<%end%>
			</td>
		</tr>
				<tr>
			<td colspan="2">Fecha:</td> 
			<td colspan="16">
				<%if((!@fi.nil?)and(!@ff.nil?)) %>
				<%= "Del: "+@fi+" al: "+@ff %>
				<%else%>
				<%=" "%>
				<%end%>
			</td>
		</tr>
		<tr>
			<td colspan="18"></td>
		</tr>
		<tr>
			<td></td>
			<td colspan="2">12 a 14</td>
			<td colspan="2">15 a 17</td>
			<td colspan="2">18 a 19</td>
			<td colspan="2">20 a 29</td>
			<td colspan="2">30 a 34</td>
			<td colspan="2">35 a 49</td>
			<td colspan="2">50 a 59</td>
			<td colspan="2">60 y mas</td>
			<!--<td colspan="2">subtotal</td>-->
			<td>subtotal</td>
		</tr>
		<tr>
			<td>hombres</td>
			<td colspan="2">
				<%if (!@hcr3.nil?) %>
					<%=@hcr3%>
				<%else%>
					<%=0%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hcr4.nil?) %>
					<%=@hcr4%>
				<%else%>
					<%=0%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hcr5.nil?) %>
					<%=@hcr5%>
				<%else%>
					<%=0%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hcr6.nil?) %>
					<%=@hcr6%>
				<%else%>
					<%=0%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hcr7.nil?) %>
					<%=@hcr7%>
				<%else%>
					<%=0%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hcr8.nil?) %>
					<%=@hcr8%>
				<%else%>
					<%=0%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hcr9.nil?) %>
					<%=@hcr9%>
				<%else%>
					<%=0%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hcr10.nil?) %>
					<%=@hcr10%>
				<%else%>
					<%=0%>
				<%end%>
			</td>
			<!--<td>h</td>
			<td>m</td>-->
			<td>
				<%if (!@hcrt.nil?) %>
					<%=@hcrt%>
				<%else%>
					<%=0%>
				<%end%>
			</td>
		</tr>
		<tr>
			<td>mujeres</td>
			<td colspan="2">
				<%if (!@mcr3.nil?) %>
					<%=@mcr3%>
				<%else%>
					<%=0%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mcr4.nil?) %>
					<%=@mcr4%>
				<%else%>
					<%=0%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mcr5.nil?) %>
					<%=@mcr5%>
				<%else%>
					<%=0%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mcr6.nil?) %>
					<%=@mcr6%>
				<%else%>
					<%=0%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mcr7.nil?) %>
					<%=@mcr7%>
				<%else%>
					<%=0%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mcr8.nil?) %>
					<%=@mcr8%>
				<%else%>
					<%=0%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mcr9.nil?) %>
					<%=@mcr9%>
				<%else%>
					<%=0%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mcr10.nil?) %>
					<%=@mcr10%>
				<%else%>
					<%=0%>
				<%end%>
			</td>
			</td>
			<!--<td>h</td>
			<td>m</td>-->
			<td><%if (!@mcrt.nil?) %>
					<%=@mcrt%>
				<%else%>
					<%=0%>
				<%end%>
			</td>
		</tr>
		<tr><td colspan="18"></td></tr>
		<tr>
			<td>total</td>
			<td colspan="2">
				<%if ((!@hcr3.nil?) and (!@mcr3.nil?))%>
					<%= @hcr3+@mcr3%>
				<%else%>
					<%=0%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hcr4.nil?) and (!@mcr4.nil?))%>
					<%= @hcr4+@mcr4%>
				<%else%>
					<%=0%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hcr5.nil?) and (!@mcr5.nil?))%>
					<%= @hcr5+@mcr5%>
				<%else%>
					<%=0%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hcr6.nil?) and (!@mcr6.nil?))%>
					<%= @hcr6+@mcr6%>
				<%else%>
					<%=0%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hcr7.nil?) and (!@mcr7.nil?))%>
					<%= @hcr7+@mcr7%>
				<%else%>
					<%=0%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hcr8.nil?) and (!@mcr8.nil?))%>
					<%= @hcr8+@mcr8%>
				<%else%>
					<%=0%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hcr9.nil?) and (!@mcr9.nil?))%>
					<%= @hcr9+@mcr9%>
				<%else%>
					<%=0%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hcr10.nil?) and (!@mcr10.nil?))%>
					<%= @hcr10+@mcr10%>
				<%else%>
					<%=0%>
				<%end%>
			</td>
			<!--<td>h</td>
			<td>m</td>-->
			<td>
				<%if ((!@hcrt.nil?) and (!@mcrt.nil?))%>
					<%= @hcrt+@mcrt%>
				<%else%>
					<%=0%>
				<%end%>
			</td>
		</tr>
		<tr>
			<td colspan="18">
			</td>
		</tr>
	</tbody>
</table>