<% if ((!@hpt.nil?)and(!@mpt.nil?)) %>
<%#=@result%>
<%$h=[]%>
<%$m=[]%>
<%$tl=[]%>
<% $aux=[]%>

	<%$h<< @hp1%>
	<%$h<< @hp2%>
	<%$h<< @hp3%> 
 	<%$h<< @hp4%> 
 	<%$h<< @hp5%> 
 	<%$h<< @hp6%> 
 	<%$h<< @hp7%> 
	<%$h<< @hp8%> 
 	<%$h<< @hp9%> 
 	<%$h<< @hp10%>
 	<%$m<< @mp1%>
 	<%$m<< @mp2%> 
 	<%$m<< @mp3%> 
 	<%$m<< @mp4%> 
 	<%$m<< @mp5%> 
 	<%$m<< @mp6%> 
 	<%$m<< @mp7%> 
 	<%$m<< @mp8%> 
 	<%$m<< @mp9%> 
 	<%$m<< @mp10%> 
 	 
	<%$aux<<(@hp1+@mp1)%>
	<%$aux<<(@hp2+@mp2)%>
	<%$aux<<(@hp3+@mp3)%>
	<%$aux<<(@hp4+@mp4)%>
	<%$aux<<(@hp5+@mp5)%>
	<%$aux<<(@hp6+@mp6)%>
	<%$aux<<(@hp7+@mp7)%>
	<%$aux<<(@hp8+@mp8)%>
	<%$aux<<(@hp9+@mp9)%>
	<%$aux<<(@hp10+@mp10)%>

	<%$rango=['5 a 9','10 a 11','12 a 14','15 a 17','18 a 19','20 a 29','30 a 34','35 a 49','50 a 59','60 y mas']%>

	<%$x={}%>
	<%$y={}%>
	<%$z={}%>
	<% $rango.each_with_index { |key,index| $x[key] = $h[index] }%>
	<% $rango.each_with_index { |key,index| $y[key] = $m[index] }%>
	<% $rango.each_with_index { |key,index| $z[key] = $aux[index] }%>


<%end%>

<% if ((!$x.nil?)and(!$y.nil?)and (!$z.nil?)) %>
  <%global=[{name: "hombres", data: $x},{name:"mujeres", data: $y}, {name: "total", data: $z }]%>
  <%=bar_chart global, colors:["orange","green", "yellow"] %>
  <%#=$x %>
  <%#=$y %>

<%else%>
  <%= "No hay datos" %>
<% end %>