<% if ((!@hvt.nil?)and(!@mvt.nil?)) %>
<%#=@result%>
<%$h=[]%>
<%$m=[]%>
<%$tl=[]%>
<% $aux=[]%>

	<%$h<< @hv1%>
	<%$h<< @hv2%>
	<%$h<< @hv3%> 
 	<%$h<< @hv4%> 
 	<%$h<< @hv5%> 
 	<%$h<< @hv6%> 
 	<%$h<< @hv7%> 
	<%$h<< @hv8%> 
 	<%$h<< @hv9%> 
 	<%$h<< @hv10%>
 	<%$m<< @mv1%>
 	<%$m<< @mv2%> 
 	<%$m<< @mv3%> 
 	<%$m<< @mv4%> 
 	<%$m<< @mv5%> 
 	<%$m<< @mv6%> 
 	<%$m<< @mv7%> 
 	<%$m<< @mv8%> 
 	<%$m<< @mv9%> 
 	<%$m<< @mv10%> 
 	 
	<%$aux<<(@hv1+@mv1)%>
	<%$aux<<(@hv2+@mv2)%>
	<%$aux<<(@hv3+@mv3)%>
	<%$aux<<(@hv4+@mv4)%>
	<%$aux<<(@hv5+@mv5)%>
	<%$aux<<(@hv6+@mv6)%>
	<%$aux<<(@hv7+@mv7)%>
	<%$aux<<(@hv8+@mv8)%>
	<%$aux<<(@hv9+@mv9)%>
	<%$aux<<(@hv10+@mv10)%>



	<%#=$h=[$eh1,$eh2,$eh3,$eh4,$eh5,$eh6,$eh7,$eh8,$eh9,$eh10]%>
	<%#=$m=[$em1,$em2,$em3,$em4,$em5,$em6,$em7,$em8,$em9,$em]%>
	<%$rango=['5 a 9','10 a 11','12 a 14','15 a 17','18 a 19','20 a 29','30 a 34','35 a 49','50 a 59','60 y mas']%>
	 	<%#$tl=$rango.zip($aux)%>

	<%#$datos{}%>
	<%# dato1=$rango.zip($h)%>
	<%# dato2=$rango.zip($m)%>
	<%$x={}%>
	<%$y={}%>
	<%$z={}%>
	<% $rango.each_with_index { |key,index| $x[key] = $h[index] }%>
	<% $rango.each_with_index { |key,index| $y[key] = $m[index] }%>
	<% $rango.each_with_index { |key,index| $z[key] = $aux[index] }%>


<%end%>

<% if ((!$x.nil?)and(!$y.nil?)and (!$z.nil?)) %>
  <%#= bar_chart ({'5 a 9' => $eh1, '10 a 11' => $eh2, '12 a 14' => $eh3, '15 a 17' => $eh4, '18 a 19' => $eh5, '20 a 29' => $eh6, '30 a 34' => $eh7, '35 a 49' => $eh8, '50 a 59' => $eh9, '60 y mas' => $eh10 }) %>
  <%global=[{name: "hombres", data: $x},{name:"mujeres", data: $y}, {name: "total", data: $z }]%>
  <%=bar_chart global, colors:["orange","green", "yellow"] %>
  <%#=$x %>
  <%#=$y %>

<%else%>
  <%= "No hay datos" %>
<% end %>