
<%# if (!@desempeño.nil?) %>
<% $desempeño=[] %>
<% $desempeño<< (@htmzt+@mtmzt)%>
<% $desempeño<< (@hapt+@mapt)%>
<% $desempeño<< (@hcpvt+@mcpvt)%>
<% $desempeño<< (@htbt+@mtbt)%>
<% $desempeño<< (@hitt+@mitt)%>
<% $desempeño<< (@hcst+@mcst)%>
<% $desempeño<< (@hpt+@mpt)%>
<% $desempeño<< (@hcot+@mcot)%>
<% $desempeño<< (@hcrt+@mcrt)%>
<% $desempeño<< (@hvt+@mvt)%>
<% $desempeño<< (@hbt+@mbt)%>
<% $desempeño<< (@hmpt+@mmpt)%>



	<%$rango=['Tamiz.tot','Adol.acc.prev ','Cons.1ra.vez','Trat.brv.conc','Adol.ini.trt','Consul.sub','Pers.cap.tab','Cap.otor','Cap.rec.','Pers.viol.gen', 'Beneficiados', 'Mult.y.Prom']%>
	<%$c=['teal','green','orange','yellow','red','purple','LightSalmon','sienna','gray','olive', 'aqua','khaki']%>

	<%$z={}%>
	<% $rango.each_with_index { |key,index| $z[key] = $desempeño[index] }%>


<%#end%>

<% if (!$z.nil?) %>

  <%#global=[{name: "desempeño", data: $z}]%>
  <%= pie_chart $z , colors: ['teal','green','orange','yellow','red','purple','LightSalmon','sienna','gray','olive', 'aqua','khaki'] %>


<%else%>
  <%= "No hay datos " %>

<% end %>