<% if ((!@htbt.nil?)and(!@mtbt.nil?)) %>
<%#=@result%>
<%$h=[]%>
<%$m=[]%>
<%$tl=[]%>
<% $aux=[]%>

	<%$h<< @htb1%>
	<%$h<< @htb2%>
	<%$h<< @htb3%> 
 	<%$h<< @htb4%> 
 	<%$h<< @htb5%> 
 	<%$h<< @htb6%> 
 	<%$h<< @htb7%> 
	<%$h<< @htb8%> 
 	<%$h<< @htb9%> 
 	<%$h<< @htb10%>
 	<%$m<< @mtb1%>
 	<%$m<< @mtb2%> 
 	<%$m<< @mtb3%> 
 	<%$m<< @mtb4%> 
 	<%$m<< @mtb5%> 
 	<%$m<< @mtb6%> 
 	<%$m<< @mtb7%> 
 	<%$m<< @mtb8%> 
 	<%$m<< @mtb9%> 
 	<%$m<< @mtb10%> 
 	 
	<%$aux<<(@htb1+@mtb1)%>
	<%$aux<<(@htb2+@mtb2)%>
	<%$aux<<(@htb3+@mtb3)%>
	<%$aux<<(@htb4+@mtb4)%>
	<%$aux<<(@htb5+@mtb5)%>
	<%$aux<<(@htb6+@mtb6)%>
	<%$aux<<(@htb7+@mtb7)%>
	<%$aux<<(@htb8+@mtb8)%>
	<%$aux<<(@htb9+@mtb9)%>
	<%$aux<<(@htb10+@mtb10)%>



	<%#=$h=[$eh1,$eh2,$eh3,$eh4,$eh5,$eh6,$eh7,$eh8,$eh9,$eh10]%>
	<%#=$m=[$em1,$em2,$em3,$em4,$em5,$em6,$em7,$em8,$em9,$em]%>
	<%$rango=['5 a 9','10 a 11','12 a 14','15 a 17','18 a 19','20 a 29','30 a 34','35 a 49','50 a 59','60 y mas']%>
	 	<%#$tl=$rango.zip($aux)%>

	<%#$datos{}%>
	<%# dato1=$rango.zip($h)%>
	<%# dato2=$rango.zip($m)%>
	<%$x={}%>
	<%$y={}%>
	<%$z={}%>
	<% $rango.each_with_index { |key,index| $x[key] = $h[index] }%>
	<% $rango.each_with_index { |key,index| $y[key] = $m[index] }%>
	<% $rango.each_with_index { |key,index| $z[key] = $aux[index] }%>


<%end%>

<% if ((!$x.nil?)and(!$y.nil?)and (!$z.nil?)) %>
  <%#= bar_chart ({'5 a 9' => $eh1, '10 a 11' => $eh2, '12 a 14' => $eh3, '15 a 17' => $eh4, '18 a 19' => $eh5, '20 a 29' => $eh6, '30 a 34' => $eh7, '35 a 49' => $eh8, '50 a 59' => $eh9, '60 y mas' => $eh10 }) %>
  <%global=[{name: "hombres", data: $x},{name:"mujeres", data: $y}, {name: "total", data: $z }]%>
  <%=bar_chart global, colors:["orange","green", "yellow"] %>
  <%#=$x %>
  <%#=$y %>

<%else%>
  <%= "No hay datos" %>
<% end %>