<% if ((!@hmpt.nil?)and(!@mmpt.nil?)) %>
<%#=@result%>
<%$h=[]%>
<%$m=[]%>
<%$tl=[]%>
<% $aux=[]%>

	<%$h<< @hmp1%>
	<%$h<< @hmp2%>
	<%$h<< @hmp3%> 
 	<%$h<< @hmp4%> 
 	<%$h<< @hmp5%> 
 	<%$h<< @hmp6%> 
 	<%$h<< @hmp7%> 
	<%$h<< @hmp8%> 
 	<%$h<< @hmp9%> 
 	<%$h<< @hmp10%>
 	<%$m<< @mmp1%>
 	<%$m<< @mmp2%> 
 	<%$m<< @mmp3%> 
 	<%$m<< @mmp4%> 
 	<%$m<< @mmp5%> 
 	<%$m<< @mmp6%> 
 	<%$m<< @mmp7%> 
 	<%$m<< @mmp8%> 
 	<%$m<< @mmp9%> 
 	<%$m<< @mmp10%> 
 	 
	<%$aux<<(@hmp1+@mmp1)%>
	<%$aux<<(@hmp2+@mmp2)%>
	<%$aux<<(@hmp3+@mmp3)%>
	<%$aux<<(@hmp4+@mmp4)%>
	<%$aux<<(@hmp5+@mmp5)%>
	<%$aux<<(@hmp6+@mmp6)%>
	<%$aux<<(@hmp7+@mmp7)%>
	<%$aux<<(@hmp8+@mmp8)%>
	<%$aux<<(@hmp9+@mmp9)%>
	<%$aux<<(@hmp10+@mmp10)%>



	<%#=$h=[$eh1,$eh2,$eh3,$eh4,$eh5,$eh6,$eh7,$eh8,$eh9,$eh10]%>
	<%#=$m=[$em1,$em2,$em3,$em4,$em5,$em6,$em7,$em8,$em9,$em]%>
	<%$rango=['5 a 9','10 a 11','12 a 14','15 a 17','18 a 19','20 a 29','30 a 34','35 a 49','50 a 59','60 y mas']%>
	 	<%#$tl=$rango.zip($aux)%>

	<%#$datos{}%>
	<%# dato1=$rango.zip($h)%>
	<%# dato2=$rango.zip($m)%>
	<%$x={}%>
	<%$y={}%>
	<%$z={}%>
	<% $rango.each_with_index { |key,index| $x[key] = $h[index] }%>
	<% $rango.each_with_index { |key,index| $y[key] = $m[index] }%>
	<% $rango.each_with_index { |key,index| $z[key] = $aux[index] }%>


<%end%>

<% if ((!$x.nil?)and(!$y.nil?)and (!$z.nil?)) %>
  <%#= bar_chart ({'5 a 9' => $eh1, '10 a 11' => $eh2, '12 a 14' => $eh3, '15 a 17' => $eh4, '18 a 19' => $eh5, '20 a 29' => $eh6, '30 a 34' => $eh7, '35 a 49' => $eh8, '50 a 59' => $eh9, '60 y mas' => $eh10 }) %>
  <%global=[{name: "hombres", data: $x},{name:"mujeres", data: $y}, {name: "total", data: $z }]%>
  <%=bar_chart global, colors:["orange","green", "yellow"] %>
  <%#=$x %>
  <%#=$y %>

<%else%>
  <%= "No hay datos" %>
<% end %>