<table class="table table-striped table-hover">
	<thead>
		<tr><td colspan="6">ADOLESCENTES QUE INICIAN TRATAMIENTO </td></tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="6"></td>
		</tr>
			<tr>
			<td colspan="2">IMCA:</td> 
			<td colspan="4"> CAPA ATLACOMULCO
				<%#if(!@id.nil?)%>
				<%#= @id.nombre+" "+@id.apellidoP+" "+@id.apellidoM%>
				<%#else%>
				<%#=" "%>
				<%#end%>
			</td>
		</tr>
				<tr>
			<td colspan="2">Fecha:</td> 
			<td colspan="4">
				<%if((!@fi.nil?)and(!@ff.nil?)) %>
				<%= "Del: "+@fi+" al: "+@ff %>
				<%else%>
				<%=" "%>
				<%end%>
			</td>
		</tr>
		<tr>
			<td colspan="10"></td>
		</tr>
		<tr>
		<td></td>
		<td colspan="2">12 a 14</td>
		<td colspan="2">15 a 17</td>
		<td>subtotal</td>
		</tr>
		<tr>
			<td>hombres</td>
			<td colspan="2">
				<%if (!@hit3.nil?) %>
					<%=@hit3%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>

			<td colspan="2">
				<%if (!@hit4.nil?) %>
					<%=@hit4%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td>
				<%if (!@hitt.nil?) %>
					<%=@hitt%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
		</tr>
		<tr>
			<td>mujeres</td>
			<td colspan="2">
				<%if (!@mit3.nil?) %>
					<%=@mit3%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mit4.nil?) %>
					<%=@mit4%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td>
				<%if (!@mitt.nil?) %>
					<%=@mitt%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
		</tr>
		<tr>
		<tr><td colspan="6"></td></tr>
		<tr>
			<td>total</td>
			<td colspan="2">
				<%if ((!@hit3.nil?) and (!@mit3.nil?))%>
					<%= @hit3+@mit3%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hit4.nil?) and (!@mit4.nil?))%>
					<%= @hit4+@mit4%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td>
				<%if ((!@hitt.nil?)and(!@mitt.nil?)) %>
					<%=@hitt+@mitt%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			</tr>
		<tr>
			<td colspan="6"></td>
		</tr>
	</tbody>
</table>