<table class="table table-striped table-hover">
	<thead>
		<tr>
			<td colspan="22">PERSONAL CAPACITADO EN CESACION DEL TABACO</td> 
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="22"></td>
		</tr>
			<tr>
			<td colspan="2">IMCA:</td> 
			<td colspan="20"> CAPA ATLACOMULCO
				<%#if(!@id.nil?)%>
				<%#= @id.nombre+" "+@id.apellidoP+" "+@id.apellidoM%>
				<%#else%>
				<%#=" "%>
				<%#end%>
			</td>
		</tr>
				<tr>
			<td colspan="2">Fecha:</td> 
			<td colspan="20">
				<%if((!@fi.nil?)and(!@ff.nil?)) %>
				<%= "Del: "+@fi+" al: "+@ff %>
				<%else%>
				<%=" "%>
				<%end%>
			</td>
		</tr>
		<tr>
			<td colspan="22"></td>
		</tr>
		<tr>
			<td></td>
			<td colspan="2">5 a 9</td>
			<td colspan="2">10 a 11</td>
			<td colspan="2">12 a 14</td>
			<td colspan="2">15 a 17</td>
			<td colspan="2">18 a 19</td>
			<td colspan="2">20 a 29</td>
			<td colspan="2">30 a 34</td>
			<td colspan="2">35 a 49</td>
			<td colspan="2">50 a 59</td>
			<td colspan="2">60 y mas</td>
			<!--<td colspan="2">subtotal</td>-->
			<td>subtotal</td>
		</tr>
		<tr>
			<td>hombres</td>
			<td colspan="2">
				<%if (!@hp1.nil?) %>
					<%=@hp1%>
				<%end%>
			</td>
			
			<td colspan="2">
				<%if (!@hp2.nil?) %>
					<%=@hp2%>
				<%end%>
			</td>
			
			<td colspan="2">
				<%if (!@hp3.nil?) %>
					<%=@hp3%>
				<%end%>
			</td>

			<td colspan="2">
				<%if (!@hp4.nil?) %>
					<%=@hp4%>
				<%end%>
			</td>

			<td colspan="2">
				<%if (!@hp5.nil?) %>
					<%=@hp5%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hp6.nil?) %>
					<%=@hp6%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hp7.nil?) %>
					<%=@hp7%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hp8.nil?) %>
					<%=@hp8%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hp9.nil?) %>
					<%=@hp9%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hp10.nil?) %>
					<%=@hp10%>
				<%end%>
			</td>
			<td>
				<%if (!@hpt.nil?) %>
					<%=@hpt%>
				<%end%>
			</td>

		</tr>
		<tr>
			<td>mujeres</td>
			<td colspan="2">
				<%if (!@mp1.nil?) %>
					<%=@mp2%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mp2.nil?) %>
					<%=@mp2%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mp3.nil?) %>
					<%=@mp3%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mp4.nil?) %>
					<%=@mp4%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mp5.nil?) %>
					<%=@mp5%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mp6.nil?) %>
					<%=@mp6%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mp7.nil?) %>
					<%=@mp7%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mp8.nil?) %>
					<%=@mp8%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mp9.nil?) %>
					<%=@mp9%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mp10.nil?) %>
					<%=@mp10%>
				<%end%>
			</td>
			<!--<td>h</td>
			<td>m</td>-->
			<td>
				<%if (!@mpt.nil?) %>
					<%=@mpt%>
				<%end%>
			</td>

		</tr>
		<tr><td colspan="22"></td></tr>
		<tr>
			<td>total</td>
			<td colspan="2">
				<%if ((!@hp1.nil?) and (!@mp1.nil?))%>
					<%= @hp1+@mp3%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hp2.nil?) and (!@mp2.nil?))%>
					<%= @hp2+@mp2%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hp3.nil?) and (!@mp3.nil?))%>
					<%= @hp3+@mp3%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hp4.nil?) and (!@mp4.nil?))%>
					<%= @hp4+@mp4%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hp5.nil?) and (!@mp5.nil?))%>
					<%= @hp5+@mp5%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hp6.nil?) and (!@mp6.nil?))%>
					<%= @hp6+@mp6%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hp7.nil?) and (!@mp7.nil?))%>
					<%= @hp7+@mp7%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hp8.nil?) and (!@mp8.nil?))%>
					<%= @hp8+@mp8%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hp9.nil?) and (!@mp9.nil?))%>
					<%= @hp9+@mp9%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hp10.nil?) and (!@mp10.nil?))%>
					<%= @hp10+@mp10%>
				<%end%>
			</td>
		
			<!--<td>h</td>
			<td>m</td>-->
			<td>
				<%if ((!@hpt.nil?) and (!@mpt.nil?))%>
					<%= @hpt+@mpt%>
				<%end%>
			</td>
		</tr>
		<tr>
			<td colspan="22"></td>
		</tr>
	</tbody>
</table>