<table class="table table-striped table-hover">
	<thead>
		<tr>
			<td colspan="10">TAMIZAJES</td> 
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="10"></td>
		</tr>
		<tr>
			<td colspan="2">IMCA:</td> 
			<td colspan="8"> CAPA ATLACOMULCO
				<%#if(!@id.nil?)%>
				<%#= @id.nombre+" "+@id.apellidoP+" "+@id.apellidoM%>
				<%#else%>
				<%#=" "%>
				<%#end%>
			</td>
		</tr>
				<tr>
			<td colspan="2">Fecha:</td> 
			<td colspan="8">
				<%if((!@fi.nil?)and(!@ff.nil?)) %>
				<%= "Del: "+@fi+" al: "+@ff %>
				<%else%>
				<%=" "%>
				<%end%>
			</td>
		</tr>
		<tr>
			<td colspan="10"></td>
		</tr>
		<tr>
			<td></td>
			<td colspan="2">12 a 14</td>
			<td colspan="2">15 a 17</td>
			<td colspan="2">18 a 19</td>
			<td colspan="2">20 a 25</td>
			<td>subtotal</td>
		</tr>
		<tr>
			<td>hombres</td>
			<td colspan="2">
				<%if (!@htmz3.nil?) %>
					<%=@htmz3%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>

			<td colspan="2">
				<%if (!@htmz4.nil?) %>
					<%=@htmz4%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>

			<td colspan="2">
				<%if (!@htmz5.nil?) %>
					<%=@htmz5%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@htmz6.nil?) %>
					<%=@htmz6%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td>
				<%if (!@htmzt.nil?) %>
					<%=@htmzt%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<!--<td>h</td>
			<td>m</td>-->
		</tr>
		<tr>
			<td>mujeres</td>
			<td colspan="2">
				<%if (!@mtmz3.nil?) %>
					<%=@mtmz3%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mtmz4.nil?) %>
					<%=@mtmz4%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mtmz5.nil?) %>
					<%=@mtmz5%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mtmz6.nil?) %>
					<%=@mtmz6%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td>
				<%if (!@mtmzt.nil?) %>
					<%=@mtmzt%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>

		</tr>
		<tr><td colspan="10"></td></tr>
		<tr>
			<td>total</td>
			<td colspan="2">
				<%if ((!@htmz3.nil?) and (!@mtmz3.nil?))%>
					<%= @htmz3+@mtmz3%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@htmz4.nil?) and (!@mtmz4.nil?))%>
					<%= @htmz4+@mtmz4%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@htmz5.nil?) and (!@mtmz5.nil?))%>
					<%= @htmz5+@mtmz5%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@htmz6.nil?) and (!@mtmz6.nil?))%>
					<%= @htmz6+@mtmz6%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>
			<td>
				<%if ((!@htmzt.nil?) and (!@mtmzt.nil?))%>
					<%= @htmzt+@mtmzt%>
				<%else%>
					<%= 0 %>	
				<%end%>
			</td>

			<!--<td>h</td>
			<td>m</td>-->
		</tr>
		<tr>
			<td colspan="10"></td>
		</tr>
	</tbody>
</table>