<table class="table table-striped table-hover">
	<thead>
		<tr>
			<td colspan="22">VIOLENCIA DE GENERO</td> 
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="22"></td>
		<tr>
			<tr>
			<td colspan="2">IMCA:</td> 
			<td colspan="20">CAPA ATLACOMULCO
				<%#if(!@id.nil?)%>
				<%#= @id.nombre+" "+@id.apellidoP+" "+@id.apellidoM%>
				<%#else%>
				<%#=" "%>
				<%#end%>
			</td>
		</tr>
				<tr>
			<td colspan="2">Fecha:</td> 
			<td colspan="20">
				<%if((!@fi.nil?)and(!@ff.nil?)) %>
				<%= "Del: "+@fi+" al: "+@ff %>
				<%else%>
				<%=" "%>
				<%end%>
			</td>
		</tr>
		<tr>
			<td colspan="10"></td>
		</tr>
			<td></td>
			<td colspan="2">5 a 9</td>
			<td colspan="2">10 a 11</td>
			<td colspan="2">12 a 14</td>
			<td colspan="2">15 a 17</td>
			<td colspan="2">18 a 19</td>
			<td colspan="2">20 a 29</td>
			<td colspan="2">30 a 34</td>
			<td colspan="2">35 a 49</td>
			<td colspan="2">50 a 59</td>
			<td colspan="2">60 y mas</td>
			<!--<td colspan="2">subtotal</td>-->
			<td>subtotal</td>
		</tr>
		</tr>
		<tr>
			<td>hombres</td>
			<td colspan="2">
				<%if (!@hv1.nil?) %>
					<%=@hv1%>
				<%end%>
			</td>
			
			<td colspan="2">
				<%if (!@hv2.nil?) %>
					<%=@hv2%>
				<%end%>
			</td>
			
			<td colspan="2">
				<%if (!@hv3.nil?) %>
					<%=@hv3%>
				<%end%>
			</td>

			<td colspan="2">
				<%if (!@hv4.nil?) %>
					<%=@hv4%>
				<%end%>
			</td>

			<td colspan="2">
				<%if (!@hv5.nil?) %>
					<%=@hv5%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hv6.nil?) %>
					<%=@hv6%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hv7.nil?) %>
					<%=@hv7%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hv8.nil?) %>
					<%=@hv8%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hv9.nil?) %>
					<%=@hv9%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@hv10.nil?) %>
					<%=@hv10%>
				<%end%>
			</td>
			<td>
				<%if (!@hvt.nil?) %>
					<%=@hvt%>
				<%end%>
			</td>
		</tr>
		<tr>
			<td>mujeres</td>
			<td colspan="2">
				<%if (!@mv1.nil?) %>
					<%=@mv2%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mv2.nil?) %>
					<%=@mv2%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mv3.nil?) %>
					<%=@mv3%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mv4.nil?) %>
					<%=@mv4%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mv5.nil?) %>
					<%=@mv5%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mv6.nil?) %>
					<%=@mv6%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mv7.nil?) %>
					<%=@mv7%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mv8.nil?) %>
					<%=@mv8%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mv9.nil?) %>
					<%=@mv9%>
				<%end%>
			</td>
			<td colspan="2">
				<%if (!@mv10.nil?) %>
					<%=@mv10%>
				<%end%>
			</td>
			<!--<td>h</td>
			<td>m</td>-->
			<td>
				<%if (!@mvt.nil?) %>
					<%=@mvt%>
				<%end%>
			</td>
		</tr>
		<tr><td colspan="22"></td></tr>
		<tr>
			<td>total</td>
			<td colspan="2">
				<%if ((!@hv1.nil?) and (!@mv1.nil?))%>
					<%= @hv1+@mv3%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hv2.nil?) and (!@mv2.nil?))%>
					<%= @hv2+@mv2%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hv3.nil?) and (!@mv3.nil?))%>
					<%= @hv3+@mv3%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hv4.nil?) and (!@mv4.nil?))%>
					<%= @hv4+@mv4%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hv5.nil?) and (!@mv5.nil?))%>
					<%= @hv5+@mv5%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hv6.nil?) and (!@mv6.nil?))%>
					<%= @hv6+@mv6%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hv7.nil?) and (!@mv7.nil?))%>
					<%= @hv7+@mv7%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hv8.nil?) and (!@mv8.nil?))%>
					<%= @hv8+@mv8%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hv9.nil?) and (!@mv9.nil?))%>
					<%= @hv9+@mv9%>
				<%end%>
			</td>
			<td colspan="2">
				<%if ((!@hv10.nil?) and (!@mv10.nil?))%>
					<%= @hv10+@mv10%>
				<%end%>
			</td>
		
			<!--<td>h</td>
			<td>m</td>-->
			<td>
				<%if ((!@hvt.nil?) and (!@mvt.nil?))%>
					<%= @hvt+@mvt%>
				<%end%>
			</td>
		</tr>
		<tr>
			<td colspan="22"></td>
		</tr>
	</tbody>
</table>