<% form_tag imca_index_path, :method => :get do %>
<%end%>

<!--  esto siempre va  -->

<%= wicked_pdf_javascript_include_tag "application", "chartkick" %>
<%= javascript_include_tag "https://www.google.com/jsapi" %>
<%= wicked_pdf_javascript_include_tag "chartkick" %>
<!--  Fin  -->

<style media="screen">
  div.nobreak {
    page-break-inside: avoid;
  }
  .titulo{
    text-align: center;
    background-color: #72B08F;
    color: #FAFAFA;
  }
  .grey{
    color: #636363;
  }
  .seccion{
    background-color: #FAFAFA;
    text-align: justify;
    padding: 5px 15px 5px 15px;
    margin-top: -20px
  }
  li{
    list-style:none;
    padding: 5px;
  }
  .texto{
    border: 1.5px solid;
    padding: 2px 4px 2px 4px;
    border-radius: 2px;
  }
  .campo{
    text-transform: uppercase;
    font-weight: bold;
  }
  .center{
    text-align: center !important;
  }
  table, td, th {
    border: .5px solid #ddd;
    text-align: center;
    font-size: 10px;
  }

  table {
      border-collapse: collapse;
      width: 100%;
  }

  th, td {
      padding: 5px;
  }
  tr:nth-child(even){background-color: #f2f2f2}
</style>

<div class="nobreak">
  <h1 class="titulo">Capacitaciones otorgadas</h1>
  <section class="seccion grey center">
    <%= render "imca/tamizajes.html.erb"%><br>
    <%= render "imca/graf1.html.erb"%>
  </section>
</div>

<div class="nobreak">
  <h1 class="titulo">Adolescentes en acciones de prevencion</h1>
  <section class="seccion grey center">
    <%= render "imca/accionesprev.html.erb"%><br>
    <%= render "imca/graf2.html.erb"%>
  </section>
</div>

<div class="nobreak">
  <h1 class="titulo">Consultas Primera Vez</h1>
  <section class="seccion grey center">
    <%= render "imca/consul_1a.html.erb"%><br>
    <%= render "imca/graf3.html.erb"%>
  </section>
</div>

<div class="nobreak">
  <h1 class="titulo">Tratamientos Breves Concluidos</h1>
  <section class="seccion grey center">
    <%= render "imca/tratamientos.html.erb"%><br>
    <%= render "imca/graf4.html.erb"%>
  </section>
</div>

<div class="nobreak">
  <h1 class="titulo">Adolescentes que inician tratamiento</h1>
  <section class="seccion grey center">
    <%= render "imca/inictrat.html.erb"%><br>
    <%= render "imca/graf5.html.erb"%>
  </section>
</div>

<div class="nobreak">
  <h1 class="titulo">Consultas Subsecuentes</h1>
  <section class="seccion grey center">
    <%= render "imca/subsecuentes.html.erb"%><br>
    <%= render "imca/graf6.html.erb"%>
  </section>
</div>

<div class="nobreak">
  <h1 class="titulo">Personal Capacitado en cesacion del tabaco</h1>
  <section class="seccion grey center">
    <%= render "imca/tabaco.html.erb"%><br>
    <%= render "imca/graf7.html.erb"%>
  </section>
</div>

<div class="nobreak">
  <h1 class="titulo">Capacitaciones otorgadas</h1>
  <section class="seccion grey center">
    <%= render "imca/capot.html.erb"%><br>
    <%= render "imca/graf8.html.erb"%>
  </section>
</div>

<div class="nobreak">
  <h1 class="titulo">Capacitaciones recibidas</h1>
  <section class="seccion grey center">
    <%= render "imca/caprec.html.erb"%><br>
    <%= render "imca/graf9.html.erb"%>
  </section>
</div>

<div class="nobreak">
  <h1 class="titulo">Personas detectadas con Violencia de Genero</h1>
  <section class="seccion grey center">
    <%= render "imca/violencia.html.erb"%><br>
    <%= render "imca/graf10.html.erb"%>
  </section>
</div>

<div class="nobreak">
  <h1 class="titulo">Beneficiados</h1>
  <section class="seccion grey center">
    <%= render "imca/beneficiados.html.erb"%><br>
    <%= render "imca/graf11.html.erb"%>
  </section>
</div>

<div class="nobreak">
  <h1 class="titulo">Multiplicadores y Promotores</h1>
  <section class="seccion grey center">
    <%= render "imca/multyproms.html.erb"%><br>
    <%= render "imca/graf12.html.erb"%>
  </section>
</div>
