<div class="row-content">
	<div class="panel-body text-center">
    <div class="list-group">
    	<table class="table table-striped table-hover">
    	<thead colspan="4">
		<tr>
			<th colspan="4"></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="1">Psicologo: </td>
			<%#@u=current_user.psychologists%>
			<td colspan="3"><%if (!@id.nil?)%>
			<%= @id.nombre+" "+@id.apellidoP+" "+@id.apellidoM %> 
			<%else %>
			<%= " "%>
			<%end%></td>
     
		</tr>
		<tr>
			<td colspan="1">Fecha: </td>
			
      <%# if (!@tamizajes_tots.nil?) %>
			  <td colspan="3"><%if ((!@fi.nil?)and(!@ff.nil?))%>
			<%= "Del: "+@fi+"  Al: "+ @ff %> 
			<%else %>
			<%= "sin datos"%>
			<%end%></td>
      <%#else%>
        <!--<td>No hay fechas</td> -->
      <%#end%>
	</tr>

	<tr>
		<td>Edad</td>
		<td>hombres</td>
		<td>mujeres</td>
		<td>Total</td>
	</tr>
	<tr>
		<td>5 a 9</td>
		<td>
			<%if(@result.present?)%>
				<%= @result.fetch(0) %>
			<%else%>
				<%= 0%>
			<%end%>
		</td>
		<td>
			<%if(@result.present?)%>
				<%= @result.fetch(1) %>
			<%else%>
				<%= 0%>
			<%end%>
		</td>
		<td>
			<%if(@result.present?)%>
				<%= @result.fetch(0) + @result.fetch(1) %>
			<%else%>
				<%= 0%>
			<%end%>
		</td>
	</tr>
	<tr>
		<td>10 a 11</td>
		<td>
		<%if(@result.present?)%>
				<%= @result.fetch(2) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td><%if(@result.present?)%>
				<%= @result.fetch(3) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td>
			<%if(@result.present?)%>
				<%= @result.fetch(2) + @result.fetch(3) %>
			<%else%>
				<%= 0%>
			<%end%>
		</td>
	</tr>
	<tr>
		<td>12 a 14</td>
		<td><%if(@result.present?)%>
				<%= @result.fetch(4) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td><%if(@result.present?)%>
				<%= @result.fetch(5) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td>
			<%if(@result.present?)%>
				<%= @result.fetch(4) + @result.fetch(5) %>
			<%else%>
				<%= 0%>
			<%end%>
		</td>
	</tr>
	<tr>
		<td>15 a 17</td>
		<td><%if(@result.present?)%>
				<%= @result.fetch(6) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td><%if(@result.present?)%>
				<%= @result.fetch(7) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td>
			<%if(@result.present?)%>
				<%= @result.fetch(6) + @result.fetch(7) %>
			<%else%>
				<%= 0%>
			<%end%>
		</td>
	</tr>
	<tr>
		<td>18 a 19</td>
		<td><%if(@result.present?)%>
				<%= @result.fetch(8) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td><%if(@result.present?)%>
				<%= @result.fetch(9) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td>
			<%if(@result.present?)%>
				<%= @result.fetch(8) + @result.fetch(9) %>
			<%else%>
				<%= 0%>
			<%end%>
		</td>
	</tr>
	<tr>
		<td>20 a 29</td>
		<td><%if(@result.present?)%>
				<%= @result.fetch(10) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td><%if(@result.present?)%>
				<%= @result.fetch(11) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td>
			<%if(@result.present?)%>
				<%= @result.fetch(10) + @result.fetch(11) %>
			<%else%>
				<%= 0%>
			<%end%>
		</td>
	</tr>
	<tr>
		<td>30 a 34</td>
		<td><%if(@result.present?)%>
				<%= @result.fetch(12) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td><%if(@result.present?)%>
				<%= @result.fetch(13) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td>
			<%if(@result.present?)%>
				<%= @result.fetch(12) + @result.fetch(13)  %>
			<%else%>
				<%= 0%>
			<%end%>
		</td>
	</tr>
	<tr>
		<td>35 a 49</td>
		<td><%if(@result.present?)%>
				<%= @result.fetch(14) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td><%if(@result.present?)%>
				<%= @result.fetch(15) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td>
			<%if(@result.present?)%>
				<%= @result.fetch(14) + @result.fetch(15)  %>
			<%else%>
				<%= 0%>
			<%end%>
		</td>
	</tr>
	<tr>
		<td>50 a 59</td>
		<td><%if(@result.present?)%>
				<%= @result.fetch(16) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td>
			<%if(@result.present?)%>
				<%= @result.fetch(17) %>
			<%else%>
				<%= 0%>
			<%end%>
		</td>
		<td>
			<%if(@result.present?)%>
				<%= @result.fetch(16) + @result.fetch(17) %>
			<%else%>
				<%= 0%>
			<%end%>
		</td>
	</tr>
	<tr>
		<td>60 y mas</td>
		<td><%if(@result.present?)%>
				<%= @result.fetch(18) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td><%if(@result.present?)%>
				<%= @result.fetch(19) %>
			<%else%>
				<%= 0%>
			<%end%></td>
		<td>
			<%if(@result.present?)%>
				<%= @result.fetch(18)  + @result.fetch(19)  %>
			<%else%>
				<%= 0%>
			<%end%>
		</td>
	</tr>
</table>
    </div>
  </div>
</div>
