<%if (!@result2.nil?) %>
<%#=@result2%>
<%$h=[]%>
<%$m=[]%>
<%$tl=[]%>
<% $aux=[]%>

	<%$h<< @result2.fetch(0)%> 
 	<%$h<< @result2.fetch(2)%> 
 	<%$h<< @result2.fetch(4)%> 
 	<%$h<< @result2.fetch(6)%> 
 	<%$h<< @result2.fetch(8)%> 
	<%$h<< @result2.fetch(10)%> 
 	<%$h<< @result2.fetch(12)%> 
 	<%$h<< @result2.fetch(14)%> 
 	<%$h<< @result2.fetch(16)%> 
 	<%$h<< @result2.fetch(18)%> 
 	<%$m<< @result2.fetch(1)%> 
 	<%$m<< @result2.fetch(3)%> 
 	<%$m<< @result2.fetch(5)%> 
 	<%$m<< @result2.fetch(7)%> 
 	<%$m<< @result2.fetch(9)%> 
 	<%$m<< @result2.fetch(11)%> 
 	<%$m<< @result2.fetch(13)%> 
 	<%$m<< @result2.fetch(15)%> 
 	<%$m<< @result2.fetch(17)%> 
 	<%$m<< @result2.fetch(19)%> 

	<%$aux<<(@result.fetch(0)+@result.fetch(1))%>
	<%$aux<<(@result.fetch(2)+@result.fetch(3))%>
	<%$aux<<(@result.fetch(4)+@result.fetch(5))%>
	<%$aux<<(@result.fetch(6)+@result.fetch(7))%>
	<%$aux<<(@result.fetch(8)+@result.fetch(9))%>
	<%$aux<<(@result.fetch(10)+@result.fetch(11))%>
	<%$aux<<(@result.fetch(12)+@result.fetch(13))%>
	<%$aux<<(@result.fetch(14)+@result.fetch(15))%>	
	<%$aux<<(@result.fetch(16)+@result.fetch(17))%>
	<%$aux<<(@result.fetch(18)+@result.fetch(19))%>	

	<%#=$h=[$eh1,$eh2,$eh3,$eh4,$eh5,$eh6,$eh7,$eh8,$eh9,$eh10]%>
	<%#=$m=[$em1,$em2,$em3,$em4,$em5,$em6,$em7,$em8,$em9,$em]%>
	<%$rango=['5 a 9','10 a 11','12 a 14','15 a 17','18 a 19','20 a 29','30 a 34','35 a 49','50 a 59','60 y mas']%>
 	<%$tl=$rango.zip($aux)%>

	<%#$datos{}%>
	<%# dato1=$rango.zip($h)%>
	<%# dato2=$rango.zip($m)%>
	<%$x={}%>
	<%$y={}%>
	<% $rango.each_with_index { |key,index| $x[key] = $h[index] }%>
	<% $rango.each_with_index { |key,index| $y[key] = $m[index] }%>


<%end%>

<% if ((!$x.nil?)and(!$y.nil?)) %>
  <%#= bar_chart ({'5 a 9' => $eh1, '10 a 11' => $eh2, '12 a 14' => $eh3, '15 a 17' => $eh4, '18 a 19' => $eh5, '20 a 29' => $eh6, '30 a 34' => $eh7, '35 a 49' => $eh8, '50 a 59' => $eh9, '60 y mas' => $eh10 }) %>
  <%global=[{name: "hombres", data: $x},{name:"mujeres", data: $y}, {name: "total", data: $tl }]%>
  <%=bar_chart global, colors:["orange","green", "yellow"]%>
  <%#=$x %>
  <%#=$y %>

<%else%>
  <%= "No hay datos" %>
<% end %>
<%# if (!@p1.nil?) %>
  <%#= bar_chart ({'Ariadne' => @p1, 'Esmeralda' => @psy2, 'Manuel' => @p3, 'Susana' => @p4, 'Humberto' => @p5, 'Celso' => @p6 }) %>

<%#else%>
  <%#= "No hay datos" %>
<%# end %>
