<%# $totmun=Array.new %>
<% $hom=Array.new%>
<% $muj=Array.new%>
<% $total=Array.new%>
<%$prueba=Array.new %>
<%$prueba1=Array.new %>
<%$prueba2=Array.new %>


<%# $rango=['5 a 9','10 a 11','12 a 14','15 a 17','18 a 19','20 a 29','30 a 34','35 a 49','50 a 59','60 y mas']%>	

<%if (!@municipio.nil?) %>	
	<% @municipio.each do |e| %>	
	<%# $totmun=[] %>

		<% mnc=[]%>
		<% m=[]%>
		<% f=[]%>
		<% t=[]%>
		<%temp=[]%>
		<%temp2=[]%>
		<%temp3=[]%>
		<%aux=0%>
		<%aux1=0%>

		<%# mun=[]%>
		<% tmp=e %>
		<% tmp.flatten!%>	
		<% mnc<< tmp.fetch(0)%>
		<%aux=tmp.fetch(1)+tmp.fetch(3)+tmp.fetch(5)+tmp.fetch(7)+tmp.fetch(9)+tmp.fetch(11)+tmp.fetch(13)+tmp.fetch(15)+tmp.fetch(17)+tmp.fetch(19)%>
 		<% m<<aux%>
	 	<%aux1=tmp.fetch(2)+tmp.fetch(4)+tmp.fetch(6)+tmp.fetch(8)+tmp.fetch(10)+tmp.fetch(12)+tmp.fetch(14)+tmp.fetch(16)+tmp.fetch(18)+tmp.fetch(20)%>
 		<% f<<aux1%>
 		<% t<< (aux+aux1)%>

 		<%temp=mnc.zip(m)%>
 		<%temp.flatten!%>
		<%$prueba<<temp%>
		<%temp2=mnc.zip(f)%>
 		<%temp2.flatten!%>
 		<%$prueba1<<temp2%>
 		<%temp3=mnc.zip(t)%>
 		<%temp3.flatten!%>
 		<%$prueba2<<temp3%>

		<%# $a={} %>
		<%# $b={} %>
		<%# $c={} %>
		<%# mnc.each_with_index { |key,index| $a[key] = m[index] }%>
		<%# mnc.each_with_index { |key,index| $b[key] = f[index] }%>
		<%# mnc.each_with_index { |key,index| $c[key] = t[index] }%>

		<%# $totmun<< mnc%>
		<%# $hom<< $a%>
		<%# $muj<< $b%>
		<%# $total<< $c%>

		<%# $totmas<< m%>
		<%# $totfem<< f%>
	<%end%>
	
	
	<%#$aux=[]%> 
	<%#$total=[]%> 
 
	<%#aux1=""%>
	<%#aux2=[]%>
	<%#n=$totmas.length-1%>
	<%#for i in 0..n do %>
		<%#aux3=""%>
		<%#aux4=0%>
		<%#$totmun.flatten!%>
		<%#aux1=$totmun.fetch(i)%>
		<%#aux2=$totmas.fetch(i)%>
		<%#for j in 0..9 do %>
			<%#$aux<<aux1%>
			<%#aux3=$rango.fetch(j)%>
			<%#$aux<<aux3%>
			<%#aux4=aux2.fetch(j)%>
			<%#$aux<<aux4%>
		<%#end%>
	<%#end	%>
	<%#$total<<$aux%>

	<%#$total.flatten!%>
	<%#$nu=$total.length-1%>

	<%#$t1=[]%>
	<%#$t2=[]%>
	<%#$t3=[]%>
	<%#pre=[]%>
	<%#$fin=[]%>
	<%#for i in 0..$nu do%>
		<%#$t1=$total.shift%>
		<%#pre<<$t1%>
		<%#$t2=$total.shift%>
		<%#pre<<$t2%>

		<%#$t3=$total.shift%>
		<%#pre<<$t3%>

		<%#$fin<<pre%>
		<%#pre=[]%>
	<%#end%>

<%end%>

<% if ((!$prueba.nil?) and (!$prueba1.nil?) and (!$prueba2.nil?)) %>
  	<%#= column_chart ({ @tmp => @tot }) %>
  	<%#=pie_chart ($z)%>
   	
  	<%tot=[{name: "hombres", data: $prueba },{name: "mujeres", data: $prueba1 },{name: "total", data: $prueba2 }]%>
		<%=column_chart tot, colors:["orange","green","yellow"] %>
		<%#=column_chart $fin, colors:["orange","green"] %>
	<%#=$totmun%> <br>
		<%#=$prueba2%> <br>
		<%#=$fem%>
<% else%>
  	<%= "No hay datos" %>
<% end %>
<%# end%>



