<%= form_tag siceca_index_path, method: :get do %>
<%end%>
<!--  esto siempre va  -->

<%= wicked_pdf_javascript_include_tag "application", "chartkick" %>
<%= javascript_include_tag "https://www.google.com/jsapi" %>
<%= wicked_pdf_javascript_include_tag "chartkick" %>
<!--  Fin  -->

<style media="screen">
  div.nobreak {
    page-break-inside: avoid;
  }
  .titulo{
    text-align: center;
    background-color: #72B08F;
    color: #FAFAFA;
  }
  .grey{
    color: #636363;
  }
  .seccion{
    background-color: #FAFAFA;
    text-align: justify;
    padding: 5px 15px 5px 15px;
    margin-top: -20px
  }
  li{
    list-style:none;
    padding: 5px;
  }
  .texto{
    border: 1.5px solid;
    padding: 2px 4px 2px 4px;
    border-radius: 2px;
  }
  .campo{
    text-transform: uppercase;
    font-weight: bold;
  }
  table, td, th {
    border: .5px solid #ddd;
    text-align: center;
    font-size: 10px;
  }

  table {
      border-collapse: collapse;
      width: 100%;
  }

  th, td {
      padding: 5px;
  }
  tr:nth-child(even){background-color: #f2f2f2}
</style>

<div class="nobreak">
  <h1 class="titulo">Reporte municipio</h1>
  <section class="seccion grey center">
    <%= render "siceca/mun.html.erb"%><br>
    <%= render "siceca/graf.html.erb"%>
  </section>
</div>

<div class="nobreak">
  <h1 class="titulo">Reporte por rango de edad</h1>
  <section class="seccion grey center">
    <%= render "siceca/edad.html.erb"%><br>
    <%= render "siceca/graf2.html.erb"%>
  </section>
</div>

<div class="nobreak">
  <h1 class="titulo">Reporte por psicologo</h1>
  <section class="seccion grey center">
    <%= render "siceca/psic.html.erb"%><br>
    <%= render "siceca/graf3.html.erb"%>
  </section>
</div>

<div class="nobreak">
  <h1 class="titulo">Reporte por programa</h1>
  <section class="seccion grey center">
    <%= render "siceca/prog.html.erb"%><br>
    <%= render "siceca/graf4.html.erb"%>
  </section>
</div>

<div class="nobreak">
  <h1 class="titulo">Reporte por sustancia</h1>
  <section class="seccion grey center">
    <%= render "siceca/sust.html.erb"%><br>
    <%= render "siceca/graf5.html.erb"%>
  </section>
</div>
