<%= javascript_include_tag "datepicker.js" %>

<div class="row board ">
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-search"></i> Buscar </h3>
      </div>
      <div class="panel-body text-center">
        <%= form_tag siceca_index_path, :method => :get do %>
          <div class="form-group label-floating">
            <%= label_tag "search", "Búsqueda:" %>
             <!--<%#= text_field_tag :id, params[:id], :class=>"form-control text-center", placeholder: "Id psicologo " %>-->
            <%= text_field_tag :date_start, params[:date_start], :class=>"form-control text-center", :id=>"dateStart", placeholder: "fecha inicio" %>
            <%= text_field_tag :date_end, params[:date_end], :class=>"form-control text-center", :id=>"dateEnd", placeholder: "fecha termino" %>
            
          </div>
          <div class="actions">
          <%= submit_tag "Buscar", class: "btn btn-raised btn-primary" %>
          </div>
        <% end %>
          <div class="list-group">
          	
          </div>
      </div>
    </div>
  </div>

	<div class="col-md-6">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h1 class="panel-title"><i class="fa fa-stethoscope"></i> CAPA ATLACOMULCO </h1>
		  </div>
		  <div class="panel-body text-center">
    	  	<div class="list-group">
          <%#=link_to 'PDF reporte',reporte_pacientes_path(format: 'pdf')%> 
          <%#=link_to 'Create PDF document', reporte_pacientes_path(format: 'pdf')%>
    	     	<%#= render "reporte_pacientes/graf"%>
          <%= link_to 'Pacientes', patients_url, class: "btn btn-raised btn-default"%><br>
          <!--<%#= link_to 'Psicologos', psychologists_url, class: "btn btn-raised btn-default"%><br>-->

          <%= link_to 'Programas', programas_url, class: "btn btn-raised btn-default"%><br>
          <%= link_to 'Sustancias', sustancia_url, class: "btn btn-raised btn-default"%><br>       
			    </div>
	      </div>
		</div>
	</div>
  </div>

  <div class="row board ">
    <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-search"></i> REPORTE PACIENTES </h3>
      </div>
      <div class="panel-body text-center">

        <%= link_to "Imprimir", siceca_index_url(:id=>params[:id],:date_start=>params[:date_start],:date_end=>params[:date_end],:format => :pdf), class: "btn btn-success"%> <br>


  <div class="row board ">
  <!--<div class="col-md-12">-->
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Reporte municipio </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#=link_to 'PDF reporte',reporte_pacientes_path(format: 'pdf')%> 
          <%#=link_to 'Create PDF document', reporte_pacientes_path(format: 'pdf')%>
          <%= render "mun"%> 
          <%#=@temp%>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Gráfica </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%= render "graf"%>

        </div>
        
      </div>
    </div>    
    </div>
    </div>
   <!-- </div>-->
    <div class="row board ">
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Reporte por rango de edad </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#=link_to 'PDF reporte',reporte_pacientes_path(format: 'pdf')%> 
          <%#=link_to 'Create PDF document', reporte_pacientes_path(format: 'pdf')%>
          <%= render "edad"%> 
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Gráfica </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%= render "graf2"%>
        </div>
        
      </div>
    </div>    
    </div>


    </div>


 <div class="row board ">
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Reporte por psicologo </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#=link_to 'PDF reporte',reporte_pacientes_path(format: 'pdf')%> 
          <%#=link_to 'Create PDF document', reporte_pacientes_path(format: 'pdf')%>
          <%= render "psic"%> 
          <%# if !@result.nil?%>
          <%#= @result%>
          <%#end%>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Gráfica </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%= render "graf3"%>
        </div>
        
      </div>
    </div>    
    </div>
</div>

 <div class="row board ">
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Reporte por programa </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#=link_to 'PDF reporte',reporte_pacientes_path(format: 'pdf')%> 
          <%#=link_to 'Create PDF document', reporte_pacientes_path(format: 'pdf')%>
          <%= render "prog"%> 
          <%#=@tempo%>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Gráfica </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
        <%#if (!@test.nil?)%>
          <%#=@temp%>
          <%#=@test%>
          
          <%# end%>
          <%= render "graf4"%>
        </div>
        
      </div>
    </div>    
    </div>
    </div>


 <div class="row board ">
    <div class="col-md-7">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Reporte por sustancia </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#=link_to 'PDF reporte',reporte_pacientes_path(format: 'pdf')%> 
          <%#=link_to 'Create PDF document', reporte_pacientes_path(format: 'pdf')%>
          <%= render "sust"%> 
          <%#= @temp %> 
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Gráfica </h1>
        </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%#if (!@test1.nil?)%>
          <%#=@temp%>
          <%#=@test1%>
          
          <%# end%>
          <%= render "graf5"%>
        </div>
        
      </div>
    </div>    
    </div>
    </div>   

      </div>
    </div>
  </div>
</div>
