<div class="board col-md-6">
<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <!--<div id="error_explanation"> -->
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>


      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <br>
      <% end %>
    </div>
  <% end %>

  <!--<div class="field">-->
  <div class="form-group label-floating">
    <%= f.label :nom, "Nombre",class: "control-label"  %><br>
    <%= f.text_field :nom, class: "form-control text-center" %>
  </div>
  <div class="form-group label-floating">
    <%= f.label :app, "Apellido Paterno", class: "control-label" %><br>
    <%= f.text_field :app, class: "form-control text-center" %>
  </div>
  <div class="form-group label-floating">
    <%= f.label :apm,"Apellido Materno", class: "control-label" %><br>
    <%= f.text_field :apm, class: "form-control text-center" %>
  </div>
  <div class="form-group label-floating">
    <%= f.label :sexo,"Sexo", class: "control-label" %><br>
    <div class= "row text-center" >
    <div class= "col-md-3">
      </div>
      <div class="col-md-3">

    <%= f.label :sexo, "Masculino", :value => "hombre" %>
        <%= f.radio_button :sexo, "MASCULINO"  %>
      </div>
      <div class="col-md-3">
        <%= f.label :sexo, "Femenino", :value => "mujer" %>
        <%= f.radio_button :sexo, "FEMENINO", :checked => true %>
      </div>
      <div class= "col-md-3">
      </div>
  </div>
  <div class="form-group label-floating">
    <%= f.label :tel, "Telefono", class: "control-label" %><br>
    <%= f.text_field :tel, class: "form-control text-center" %>
  </div>
  <div class="form-group label-floating">
    <%= f.label :edad,"Edad", class: "control-label" %><br>
    <%= f.number_field :edad, class: "form-control text-center" %>
  </div>
  <div class="form-group label-floating">
    <%= f.label :calle,"Calle y numero", class: "control-label" %><br>
    <%= f.text_area :calle, class: "form-control text-center" %>
  </div>
  <div class="form-group label-floating">
    <%= f.label :col, "Colonia", class: "control-label" %><br>
    <%= f.text_field :col, class: "form-control text-center" %>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group label-floating">
        <%= f.label :etnia_id,"Etnia" %><br>
        <%= f.select(:etnia_id, Etnium.all.collect {|e| [e.etnia, e.id]}, :prompt => 'Selecciona uno')%>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group label-floating">
        <%= f.label :civil_id,"Civil" %><br>
        <%= f.select(:civil_id, Civil.all.collect {|e| [e.civil, e.id]}, :prompt => 'Selecciona uno')%>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group label-floating">
        <%= f.label :fecha_nacimiento,"Fecha de Nacimineto" %><br>
        <%= f.date_select :fecha_nacimiento, start_year: Date.today.year - 100, end_year: Date.today.year %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group label-floating">
        <%= f.label :state_id,"Estado" %><br>
        <%= f.select(:state_id, State.all.collect {|e| [e.estados, e.id]}, :prompt => 'Selecciona uno')%>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :municipio_id, "Municipio" %><br>
        <%= f.select(:municipio_id, Municipio.all.collect {|mun| [mun.municipio, mun.id]}, :prompt => 'Selecciona uno') %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Agregar", class: "btn btn-raised btn-success"  %>
  </div>
<% end %>
</div>
