
<% if notice %>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert"></button>
    <%= notice %>
  </div>
<% end%>
<div class="row board ">
  <div class="col-md-5">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-search"></i> Buscar Paciente</h3>
      </div>
      <div class="panel-body text-center">
        <%= form_tag patients_path, :method => :get do %>
          <div class="form-group label-floating">
            <%= label_tag "search", "Búsqueda:" %>
            <%=select :search_id, nil, options_for_select([["id","1"], ["nombre","2"], ["apellido paterno","3"], ["apellido materno","4"]]) %>
            <%= text_field_tag :search, params[:search], :class=>"form-control text-center", placeholder: "id, nombre, apellidos" %>
          </div>
          <div class="actions">
          <%= submit_tag "Buscar", :nombre => nil, class: "btn btn-raised btn-primary" %>
          </div>
        <% end %>
          <div class="list-group">
            <%if(@patients.presence)%>
              <%=  %>
            <%else%>
              <%= %>
            <%end%>
          </div>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Ultimos pacientes Agregados</h1>
      </div>
      <div class="panel-body text-center">
        <div class="list-group">
            <%if !@resultado.nil? %>
              <%= render  @resultado %>
            <%else%>
              <%#if !@P.nil? %>
                <%= render @patients%>
              <%#end%>    
            <%end%>  
        </div>
        <%= link_to 'Agregar Paciente', new_patient_path, class: "btn btn-raised btn-primary" %>
      </div>
    </div>
  </div>
</div>
