<!--  esto siempre va  -->

<%= wicked_pdf_javascript_include_tag "application", "chartkick" %>
<%= javascript_include_tag "https://www.google.com/jsapi" %>
<%= wicked_pdf_javascript_include_tag "chartkick" %>
<!--  Fin  -->

<style media="screen">
  div.nobreak {
    page-break-inside: avoid;
  }
  .titulo{
    text-align: center;
    background-color: #72B08F;
    color: #FAFAFA;
  }
  .grey{
    color: #636363;
  }
  .seccion{
    background-color: #FAFAFA;
    text-align: justify;
    padding: 5px 15px 5px 15px;
    margin-top: -20px
  }
  li{
    list-style:none;
    padding: 5px;
  }
  .texto{
    padding: 2px 4px 2px 4px;
  }
  .campo{
    text-transform: uppercase;
    font-weight: bold;
  }

</style>
<div class="nobreak">
    <h2 class="titulo">Datos del Paciente ID <%= @patient.id %></h2>
  <section class="seccion grey">
      <li><span class="campo">Nombre: </span><span class="texto"><%= @patient.app+" "+@patient.apm+" "+@patient.nom%></span></li>
      <li><td><span class="campo">Fecha de Nacimiento: </span><span class="texto"><%= @patient.fecha_nacimiento %></span>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><span class="campo">Estatus: </span><span class="texto"><%=@patient.aasm_state%></span></td></li>
      <li><td><span class="campo">Edad: </span><span class="texto"><%= @patient.edad %></span>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><span class="campo">Sexo: </span><span class="texto"><%= @patient.sexo %></span></td></li>
      <li><span class="campo">Estado Civil: </span><span class="texto"><%= @patient.civil.civil %></span></li>
      <li><span class="campo">Domicilio: </span><span class="texto"><%= @patient.calle+", "+@patient.col %></span></li>
      <li><td><span class="campo">Municipio: </span><span class="texto"><%= @patient.municipio.municipio %></span>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><span class="campo">Estado: </span><span class="texto"><%= @patient.state.estados %></span></td></li>
  </section>
</div>
<div class="nobreak">
    <h2 class="titulo">Expediente No. <%= @expediente.id_expediente%> -- Sesion <%= @expediente.sesion%>/<%=@expediente.programa.sesiones%></h2>
  <section class="seccion grey">
  <li><span class="campo">Fecha de Creacion: </span><span class="texto"><%= @expediente.created_at%></span></li>
  <li><td><span class="campo">Diagnostico: </span><span class="texto"><%= @expediente.sustancium.clave+" - "+@expediente.sustancium.sustancia+" "%></span>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><span class="campo">Riesgo: </span><span class="texto"><%=@expediente.riesgo.riesgo+" - "+@expediente.riesgo.clave%></span></td></li>
  <li><span class="campo">Programa: </span><span class="texto"><%= @expediente.programa.programa%></span></li>
  <li><span class="campo">Psicologo Responsable: </span><span class="texto"><%= @expediente.psychologist.nombre+" "+@expediente.psychologist.apellidoP+" "+@expediente.psychologist.apellidoM%></span></li>
  </section>
</div>
<div class="nobreak">
    <h2 class="titulo">Datos del Familiar de <%= @patient.app+" "+@patient.apm+" "+@patient.nom%></h2>
  <section class="seccion grey">
    <li><span class="campo">Nombre: </span><span class="texto"><%= @patient.familiar.app+" "+@patient.familiar.apm+" "+@patient.familiar.nom%></span></li>
    <li><td><span class="campo">Edad: </span><span class="texto"><%= @patient.familiar.edad %></span>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><span class="campo">Telefono: </span><span class="texto"><%= @patient.familiar.tel %></span>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><span class="campo">Parentesco: </span><span class="texto"><%= @patient.familiar.parentesco.parentesco %></span></td></li>
    <li><span class="campo">Domicilio: </span><span class="texto"><%= @patient.familiar.direccion%></span></li>
    <li><td><span class="campo">Municipio: </span><span class="texto"><%= @patient.familiar.municipio.municipio %></span>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><span class="campo">Estado: </span><span class="texto"><%= @patient.familiar.state.estados %></span></td></li>
  </section>
</div>
