<div class="row board ">
  <div class="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Paciente <strong>ID <%= @patient.id.to_s %></strong></h1>
      </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <div class="list-group-item">
            <div class="row-action-primary">
                <i class="fa fa-user"></i>
            </div>
            <div class="row-content">
              <div class="action-secondary">
                <%= link_to edit_patient_path(@patient) do %>
                  <i class="fa fa-pencil-square-o"></i>
                <% end %>
              </div>
              <h3 class="list-group-item-heading"><%= @patient.nom+" "+@patient.app+" "+@patient.apm%>
              <% if !@expediente.nil? %>
                <%="- No. Sesion: "+@expediente.sesion.to_s%> </h3>
              <%else%>
                <br><%="No se a asignado un expediente"%> </h3>
              <%end%>
              <p class="list-group-item-text text-center"><strong>Sexo: </strong><%= @patient.sexo%><br><strong>Edad: </strong><%= @patient.edad%></p>
              <p class="list-group-item-text"><br><h4>Direccion</h4></p>
              <p class="list-group-item-text text-center">
                <strong>Telefono: </strong><%= @patient.tel %>
                <strong>Calle y Numero: </strong><%= @patient.calle%><br>
                <strong>Colonia: </strong><%= @patient.col%><br>
                <strong>Estatus: </strong> <%= @patient.aasm_state%> <br>
                <strong>Estado: </strong><%= @patient.state.estados%><br>
                <strong>Municipio: </strong><%= @patient.municipio.municipio%><br>
              </p>
              <div class="panel panel-default">
                <%if !@patient.familiar.nil? %>
                  <p class="list-group-item-text"><br><h4>Familiar</h4></p>
                  <div class="list-group">
                    <div class="list-group-item">
                      <div class="row-action-primary">
                          <i class="fa fa-user"></i>
                      </div>
                      <div class="row-content">
                        <div class="action-secondary">
                          <%= link_to edit_familiar_path(@patient.familiar, param: @patient.id) do %>
                            <i class="fa fa-pencil-square-o"></i>
                          <% end %>
                        </div>
                        <p class="list-group-item-text text-center">
                          <strong>Nombre: </strong><%= @patient.familiar.nom+" "+@patient.familiar.app+" "+@patient.familiar.apm %><br>
                          <strong>Edad: </strong><%= @patient.familiar.edad %><br>
                          <strong>Telefono: </strong><%= @patient.familiar.tel %><br>
                          <strong>Direccion: </strong><%= @patient.familiar.direccion %><br>
                          <strong>Parentesco: </strong><%= @patient.familiar.parentesco.parentesco %><br>
                          <strong>Municipio: </strong><%= @patient.familiar.municipio.municipio %><br>
                          <strong>Estado: </strong><%= @patient.familiar.state.estados %><br>
                        </p>
                      </div>
                    </div>
                  </div>
                <%else%>
                  <%= link_to "Agregar Familiar", new_familiar_path(param: @patient.id),metod: :post ,class: "btn btn-raised btn-warning"%>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-medkit" aria-hidden="true"></i> Expediente</h3>
      </div>
      <div class="panel-body">
        <div class="list-group text-center">
          <% if !@expediente.nil? %>
            <%= render @expediente %>
          <%else%>
            <h3><%= link_to "Agregar Expediente a "+@patient.nom+" "+@patient.app+" "+@patient.apm,new_expediente_path(param: @patient.id),metod: :post ,class: "btn btn-raised btn-warning"%></h3>
          <%end%>
        </div>
      </div>
    </div>
  </div>
  <% if !@expediente.nil? and !@patient.familiar.nil? %>
    <%= link_to "Imprimir Datos" ,patient_url(@patient, :format => :pdf),class: "btn btn-success"%>
  <%end %>
</div>
