<div class="login padding">
  <div class="col-md-6 col-xm-8 center-block no-float panel panel-default trans">
    <div class="text-center">
      <h2><i class="fa fa-check-square-o"></i>
     Ingresa</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group label-floating">
        <%= f.label :email , class: "control-label", for: "focusedInput1"%><br />
        <%= f.email_field :email, autofocus: true, class: "form-control", id: "focusedInput1", type: "text" %>
      </div>

      <div class="form-group label-floating">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control", id: "focusedInput1"%>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group label-floating">
          <%= f.check_box :remember_me%>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions text-center">
        <%= f.submit "Ingresar", class: "btn btn-raised btn-success" %><br>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>

  </div>
</div>
