<%= form_for(@parentesco) do |f| %>
  <% if @parentesco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parentesco.errors.count, "error") %> prohibited this parentesco from being saved:</h2>

      <ul>
      <% @parentesco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :parentesco %><br>
    <%= f.text_field :parentesco %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
