<p id="notice"><%= notice %></p>

<h1>Listing Parentescos</h1>

<table>
  <thead>
    <tr>
      <th>Parentesco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parentescos.each do |parentesco| %>
      <tr>
        <td><%= parentesco.parentesco %></td>
        <td><%= link_to 'Show', parentesco %></td>
        <td><%= link_to 'Edit', edit_parentesco_path(parentesco) %></td>
        <td><%= link_to 'Destroy', parentesco, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parentesco', new_parentesco_path %>
