<p id="notice"><%= notice %></p>

<p>
  <strong>Parentesco:</strong>
  <%= @parentesco.parentesco %>
</p>

<%= link_to 'Edit', edit_parentesco_path(@parentesco) %> |
<%= link_to 'Back', parentescos_path %>
