<div class="board col-md-6">
  <%= form_for(@consultas_sub) do |f| %>
  <% if @consultas_sub.errors.any? %>
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
      <% @consultas_sub.errors.full_messages.each do |message| %>
        <%= message%><br>
      <% end %>
  </div>
  <% end %>

 
  <!--<div class="form-group label-floating">
    <%#= f.label :h, "hombres" %><br>
    <%#= f.text_field :h ,class: "form-control text-center"%>
  </div>

  <div class="form-group label-floating">
    <%#= f.label :m, "mujeres" %><br>
    <%#= f.text_field :m ,class: "form-control text-center"%>
  </div>-->

  <div class="form-group label-floating">
    <%= f.label :fecha, "fecha" %><br>
    <%= f.date_select :fecha,class: "form-control text-center"%>
  </div>

  <div class="form-group label-floating">
    <%= f.label :psychologist_id, "psicologo" %><br>
    <%= f.select(:psychologist_id, Psychologist.all.collect {|ps| [ps.nombre+" "+ps.apellidoP+" "+ps.apellidoM, ps.id]}, :prompt => 'Selecciona uno')%>
  </div>

    <div class="form-group label-floating">
    <%=f.label "Edades 5 a 9"%> <br>
    <%= f.label :h1,"Hombres" %> <%= f.label :m1,"Mujeres" %><br>
    <%= f.number_field :h1 %><%= f.number_field :m1 %> <br>
  </div>
  <div class="form-group label-floating">
    <%=f.label "Edades 10 a 11"%> <br>
    <%= f.label :h2,"Hombres" %>  <%= f.label :m2,"Mujeres" %><br>
    <%= f.number_field :h2 %><%= f.number_field :m2 %> <br>        
  </div>
  <div class="form-group label-floating">
    <%=f.label "Edades 12 a 14"%> <br>
    <%= f.label :h3,"Hombres" %> <%= f.label :m3,"Mujeres" %><br>
    <%= f.number_field :h3 %>  <%= f.number_field :m3 %> <br>         
  </div>
   
  <div class="form-group label-floating">
    <%=f.label "Edades 15 a 17"%> <br>
    <%= f.label :h4,"Hombres" %> <%= f.label :m4,"Mujeres" %><br>
    <%= f.number_field :h4 %>  <%= f.number_field :m4 %> <br>      
  </div>

  <div class="form-group label-floating">
    <%=f.label "Edades 18 a 19"%> <br>
    <%= f.label :h5,"Hombres" %> <%= f.label :m5,"Mujeres" %><br>
    <%= f.number_field :h5 %> <%= f.number_field :m5 %>  <<br>     
  </div>
  <div class="form-group label-floating">
    <%=f.label "Edades 20 a 29"%> <br>
    <%= f.label :h6,"Hombres" %> <%= f.label :m6,"Mujeres" %><br>
    <%= f.number_field :h6 %>  <%= f.number_field :m6 %> <br>
  </div>
  <div class="form-group label-floating">
    <%=f.label "Edades 30 a 34"%> <br>
    <%= f.label :h7,"Hombres" %> <%= f.label :m7,"Mujeres" %><br>
    <%= f.number_field :h7 %> <%= f.number_field :m7 %> <br>
  </div>
  <div class="form-group label-floating">
    <%=f.label "edades 35 a 49"%> <br>
    <%= f.label :h8,"Hombres" %> <%= f.label :m8,"Mujeres" %><br>
    <%= f.number_field :h8 %> <%= f.number_field :m8 %><br>  
  </div>
  <div class="form-group label-floating">
    <%= f.label "edades 50 a 59"%> <br>
    <%= f.label :h9,"Hombres" %>  <%= f.label :m9,"Mujeres" %><br>
    <%= f.number_field :h9 %> <%= f.number_field :m9 %><br>
  </div>
  <div class="form-group label-floating">
    <%= f.label "edades 60 y mas" %> <br>
    <%= f.label :h10,"Hombres" %> <%= f.label :m10,"Mujeres" %><br>
    <%= f.number_field :h10 %> <%= f.number_field :m10 %><br>
  </div>


  <div class="actions">
    <%= f.submit "Agregar", class: "btn btn-raised btn-success" %>
  </div>
<% end %>

</div>



