<!--<%#= form_for(@riesgo) do |f| %>
  <%# if @riesgo.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(@riesgo.errors.count, "error") %> prohibited this riesgo from being saved:</h2>

      <ul>
      <%# @riesgo.errors.full_messages.each do |message| %>
        <li><%#= message %></li>
      <%# end %>
      </ul>
    </div>
  <%# end %>

  <div class="field">
    <%#= f.label :riesgo %><br>
    <%#= f.text_field :riesgo %>
  </div>
  <div class="actions">
    <%#= f.submit %>
  </div>
<%# end %>-->


<div class="board col-md-6">
  <%= form_for(@riesgo) do |f| %>
  <% if @riesgo.errors.any? %>
    <h2><%= pluralize(@riesgo.errors.count, "error") %> prohibited this riesgo from being saved:</h2>
    <div class="alert alert-dismissible alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <% @riesgo.errors.full_messages.each do |message|%>
          <%= message%><br>
        <% end %>
    </div>
    <%end%>
      <div class="form-group label-floating">
        <%= f.label :riesgo, "Riesgo" %>
        <%= f.text_field :riesgo , class:"form-control text-center"%>
      </div>
      <div class="form-group label-floating">
        <%= f.label :clave, "Clave" %>
        <%= f.text_field :clave , class:"form-control text-center"%>
      </div>
      <div class="actions">
        <%= f.submit "Agregar", class:"btn btn-raised btn-success"%>
      </div>

  <% end %>
</div>
