<!--<h1>Editing Riesgo</h1>

<%#= render 'form' %>

<%#= link_to 'Show', @riesgo %> |
<%#= link_to 'Back', riesgos_path %>-->
<div class="row board ">
	<div class="col-md-12">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Editar Riesgo <strong>ID <%= @riesgo.id.to_s %></strong></h1>
		  </div>
		  <div class="panel-body text-center">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
