<!--<p id="notice"><%#= notice %></p>

<h1>Listing Riesgos</h1>

<table>
  <thead>
    <tr>
      <th>Riesgo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @riesgos.each do |riesgo| %>
      <tr>
        <td><%#= riesgo.riesgo %></td>
        <td><%#= link_to 'Show', riesgo %></td>
        <td><%#= link_to 'Edit', edit_riesgo_path(riesgo) %></td>
        <td><%#= link_to 'Destroy', riesgo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Riesgo', new_riesgo_path %> -->

<div class="row board ">
  <div class="col-md-5">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Agregar Riesgo</h1>
      </div>
      <div class="panel-body text-center">
        <%= render 'form' %>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Riesgos Agregados</h1>
      </div>
      <div class="panel-body text-center">
        <div class="list-group">
            <%= render @riesgos %>
        </div>
      </div>
    </div>
  </div>
</div>
