<!--<p id="notice"><%= notice %></p>

<p>
  <strong>Riesgo:</strong>
  <%= @riesgo.riesgo %>
</p>

<%#= link_to 'Edit', edit_riesgo_path(@riesgo) %> |
<%#= link_to 'Back', riesgos_path %>-->

<div class="row board ">
	<div class="col-md-12">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Riesgos <strong>ID <%= @riesgo.id.to_s %></strong></h1>
		  </div>
		  <div class="panel-body text-center">
        <div class="list-group">
          <div class="list-group-item">
            <div class="row-content">
              <div class="action-secondary">
                <%= link_to edit_riesgo_path(@riesgo) do %>
                  <i class="fa fa-pencil-square-o"></i>
                <% end %>
              </div>
              <h3 class="list-group-item-heading"><%= @riesgo.riesgo%> </h3>
					<p class="list-group-item-text"><strong>Riesgo: </strong><%= @riesgo.riesgo %></p>
          <p class="list-group-item-text"><strong>Riesgo: </strong><%= @riesgo.clave %></p>
				<%= link_to "Eliminar",@riesgo, method: :delete, data: { confirm: '¿Esta seguro de eliminar El Riesgo?' }, class: "btn btn-raised btn-danger btn-xs"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
