<div class="row board">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title"><i class="fa fa-users" aria-hidden="true"></i> Usuarios</h1>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <div class="row">
          <%@usuarios.each do |usuario|%>
              <div class="col-md-6">
                <div class="list-group-item">
                  <div class="row-action-primary">
                    <%if !usuario.psychologist_id.nil? %>
                      <i class="fa fa-user" aria-hidden="true" style="color:<%=usuario.psychologist.color%>;"></i>
                    <%else%>
                      <i class="fa fa-user" aria-hidden="true"></i>
                    <%end%>
                  </div>
                  <div class="row-content">
                    <div class="action-secondary">
                        <i class="fa fa-pencil-square-o" aria-hidden="true" ></i>
                    </div>
                    <%if !usuario.psychologist_id.nil? %>
                      <h4 class="list-group-item-heading"><%= usuario.psychologist.nombre%></h4>
                    <%else%>
                      <h4 class="list-group-item-heading">Sin Psicologo asignado</h4>
                    <%end%>
                    <p class="list-group-item-text"><%= usuario.email %></p>
                    <%= form_for(usuario) do |p| %>
                      <div class="row">
                        <div class="col-md-3">
                          <%= p.label :permisson_level, "Basico", :value => 1 %>
                          <%= p.radio_button :permisson_level, 1  %>
                        </div>
                        <div class="col-md-3">
                          <%= p.label :permisson_level, "Recepcion", :value => 2 %>
                          <%= p.radio_button :permisson_level, 2  %>
                        </div>
                        <div class="col-md-3">
                          <%= p.label :permisson_level, "Psicologo", :value => 3 %>
                          <%= p.radio_button :permisson_level, 3  %>
                        </div>
                        <div class="col-md-3">
                          <%= p.label :permisson_level, "Admin", :value => 4 %>
                          <%= p.radio_button :permisson_level, 4 %>
                        </div>
                      </div>
                      <%= p.submit "Actualizar", class: "btn btn-raised btn-success btn-xs"  %>
                    <%end%>
                    <%if usuario.psychologist_id.nil? %>
                      <%= form_for(usuario) do |f|%>
                        <div class="form-group">
                          <%= f.label :psychologist_id, "Psicologo" %><br>
                          <%= f.select(:psychologist_id, Psychologist.where(asignado: nil).collect {|psy| [psy.nombre+psy.apellidoP+psy.apellidoM, psy.id]}, :prompt => 'Selecciona uno') %>
                          <div class="actions">
                            <%= f.submit "Agregar", class: "btn btn-raised btn-success btn-xs"  %>
                          </div>
                        </div>
                      <%end%>
                    <%end%>
                  </div>
                </div>
              </div>
          <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
