<% if notice %>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= notice %>
  </div>
<% end%>
<div class="row board ">
  <div class="col-md-5">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-search"></i> Buscar Capacitaciones Otorgadas</h3>
      </div>
      <div class="panel-body text-center">
        <%= form_tag beneficiados_path, method: :get do %>
          <div class="form-group label-floating">
            <%= text_field_tag :id_beneficiados, params[:id_beneficiados] , :class=>"form-control text-center" , placeholder: "ID Beneficiados" %>
          </div>
          <div class="actions">
          <%= submit_tag "Buscar", name: nil, class: "btn btn-raised btn-info" %>
          </div>
        <% end %>
        <div class="panel panel-default">
          <div class="list-group">
              <%= render @beneficiados %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Capacitaciones Otorgadas</h1>
      </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%= render @beneficiados %>
        </div>
        <%= link_to 'Agregar Beneficiados', new_beneficiados_path, class: "btn btn-raised btn-primary" %>
      </div>
    </div>
  </div>
</div>


<!--<p id="notice"><%= notice %></p>

<h1>Listing Beneficiados</h1>

<table>
  <thead>
    <tr>
      <th>H</th>
      <th>M</th>
      <th>Fecha</th>
      <th>H1</th>
      <th>H2</th>
      <th>H3</th>
      <th>H4</th>
      <th>H5</th>
      <th>H6</th>
      <th>H7</th>
      <th>H8</th>
      <th>H9</th>
      <th>H10</th>
      <th>M1</th>
      <th>M2</th>
      <th>M3</th>
      <th>M4</th>
      <th>M5</th>
      <th>M6</th>
      <th>M7</th>
      <th>M8</th>
      <th>M9</th>
      <th>M10</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @beneficiados.each do |beneficiado| %>
      <tr>
        <td><%#= beneficiado.h %></td>
        <td><%#= beneficiado.m %></td>
        <td><%#= beneficiado.fecha %></td>
        <td><%#= beneficiado.h1 %></td>
        <td><%#= beneficiado.h2 %></td>
        <td><%#= beneficiado.h3 %></td>
        <td><%#= beneficiado.h4 %></td>
        <td><%#= beneficiado.h5 %></td>
        <td><%#= beneficiado.h6 %></td>
        <td><%#= beneficiado.h7 %></td>
        <td><%#= beneficiado.h8 %></td>
        <td><%#= beneficiado.h9 %></td>
        <td><%#= beneficiado.h10 %></td>
        <td><%#= beneficiado.m1 %></td>
        <td><%#= beneficiado.m2 %></td>
        <td><%#= beneficiado.m3 %></td>
        <td><%#= beneficiado.m4 %></td>
        <td><%#= beneficiado.m5 %></td>
        <td><%#= beneficiado.m6 %></td>
        <td><%#= beneficiado.m7 %></td>
        <td><%#= beneficiado.m8 %></td>
        <td><%#= beneficiado.m9 %></td>
        <td><%#= beneficiado.m10 %></td>
        <td><%#= link_to 'Show', beneficiado %></td>
        <td><%#= link_to 'Edit', edit_beneficiado_path(beneficiado) %></td>
        <td><%#= link_to 'Destroy', beneficiado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Beneficiado', new_beneficiado_path %>
-->