<p id="notice"><%= notice %></p>

<h1>Listing Civils</h1>

<table>
  <thead>
    <tr>
      <th>Civil</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @civils.each do |civil| %>
      <tr>
        <td><%= civil.civil %></td>
        <td><%= link_to 'Show', civil %></td>
        <td><%= link_to 'Edit', edit_civil_path(civil) %></td>
        <td><%= link_to 'Destroy', civil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Civil', new_civil_path %>
