<% if ((!@desempeño5.nil?)and(!@total5.nil?)) %>
  <%#= column_chart ({'tamizajes' => ta3, 'adol.acc.prev.' => @adol3, 'cons.1a.vez' => @con3, 'trat.br.conc.' => tra3, 'adol.ini.trat.' => @ad3, 'cons.sub.' => @cs3, 'pers.cap.' => @pc3, 'capac.oto.' => @co3, 'capac.rec.' => @cpt3, 'pers.viol.gen.' => @per3 }) %>

<%t1=@total5.fetch(0) %>
<%t2=@desempeño5.fetch(0) %>
<%t3=@desempeño5.fetch(1) %>
<%t4=@total5.fetch(1) %>
<%t5= @desempeño5.fetch(2)%>
<%t6= @desempeño5.fetch(3)%>
<%t7= @total5.fetch(2)%>
<%t8= @desempeño5.fetch(4)%>
<%t9= @desempeño5.fetch(5)%>
<%t10= @total5.fetch(3)%>
<%t11= @desempeño5.fetch(6)%>
<%t12= @desempeño5.fetch(7)%>
<%t13= @total5.fetch(4)%>
<%t14= @desempeño5.fetch(8)%>
<%t15= @desempeño5.fetch(9)%>
<%t16= @total5.fetch(5)%>
<%t17= @desempeño5.fetch(10)%>
<%t18= @desempeño5.fetch(11)%>
<%t19= @total5.fetch(6)%>
<%t20= @desempeño5.fetch(12)%>
<%t21= @desempeño5.fetch(13)%>
<%t22= @total5.fetch(7)%>
<%t23= @desempeño5.fetch(14)%>
<%t24= @desempeño5.fetch(15)%>
<%t25= @total5.fetch(8)%>
<%t26= @desempeño5.fetch(16)%>
<%t27= @desempeño5.fetch(17)%>
<%t28= @total5.fetch(9)%>
<%t29= @desempeño5.fetch(18)%>
<%t30= @desempeño5.fetch(19)%>
<%t31= @total5.fetch(10)%>
<%t32= @desempeño5.fetch(20)%>
<%t33= @desempeño5.fetch(21)%>
<%t34= @total5.fetch(11)%>
<%t35= @desempeño5.fetch(22)%>
<%t36= @desempeño5.fetch(23)%>


	<%h={'tamizajes' => t2, 'adol.acc.prev.' => t5, 'cons.1a.vez' => t8, 'trat.br.conc.' => t11, 'adol.ini.trat.' => t14, 'cons.sub.' => t17, 'pers.cap.' => t20, 'capac.oto.' => t23, 'capac.rec.' => t26, 'pers.viol.gen.' => t29, 'benef.' => t32, 'mult.prom.' => t35 }%>
	<%m={'tamizajes' => t3, 'adol.acc.prev.' => t6, 'cons.1a.vez' => t9, 'trat.br.conc.' => t12, 'adol.ini.trat.' => t15, 'cons.sub.' => t18, 'pers.cap.' => t21, 'capac.oto.' => t24, 'capac.rec.' => t27, 'pers.viol.gen.' => t30, 'benef.' => t33, 'mult.prom.' => t36  }%>
	<%t={'tamizajes' => t1, 'adol.acc.prev.' => t4, 'cons.1a.vez' => t7, 'trat.br.conc.' => t10, 'adol.ini.trat.' => t13, 'cons.sub.' => t16, 'pers.cap.' => t19, 'capac.oto.' => t22, 'capac.rec.' => t25, 'pers.viol.gen.' => t28, 'benef.' => t31, 'benef.' => t34 }%>
	<%dato = [{name: "Hombres", data: h},{name: "Mujeres", data: m},{name: "Total", data: t}]%>
<%= column_chart  dato, colors: ["red", "orange", "yellow"]%>
<%else%>
  <%= "No hay datos" %>
<% end %>