<% if notice %>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= notice %>
  </div>
<% end%>
<div class="row board ">
  <div class="col-md-5">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-search"></i> Buscar Consultas Primera Vez</h3>
      </div>
      <div class="panel-body text-center">
        <%= form_tag consultas_pv_path, method: :get do %>
          <div class="form-group label-floating">
            <%= text_field_tag :id_consultas_pv, params[:id_consultas_pv] , :class=>"form-control text-center" , placeholder: "ID Consultas Primera Vez" %>
          </div>
          <div class="actions">
          <%= submit_tag "Buscar", name: nil, class: "btn btn-raised btn-info" %>
          </div>
        <% end %>
        <div class="panel panel-default">
          <div class="list-group">
              <%= render @consultas_pvs %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Consultas Primera Vez</h1>
      </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%= render @consultas_pvs %>
        </div>
        <%= link_to 'Agregar Consultas Subsecuentes', new_consultas_pv_path, class: "btn btn-raised btn-primary" %>
      </div>
    </div>
  </div>
</div>

