<div class="row board ">
	<div class="col-md-8">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h2 class="panel-title"><i class="fa fa-stethoscope"></i> Consultas Primera Vez</h2>
		  </div>
		  <div class="panel-body text-center"><h1>Datos Consultas Primera Vez</h1>
        <%= render 'form' %>
      </div>
    </div>
  </div>
	<div class="col-md-4">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h2 class="panel-title"><i class="fa fa-pie-chart" aria-hidden="true"></i> Grafica Consultas Primera Vez</h2>
			</div>
			<div class="panel-body text-center">
				<%= render "grafica_consulta_pvs"%>
		
			</div>
		</div>
	</div>
</div>
