<div class="row board ">
	<div class="col-md-7">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h1 class="panel-title"><i class="fa fa-folder-o"></i> Consultas Primera Vez <strong>ID <%= @consultas_pv.id.to_s %></strong></h1>
		  </div>
		  <div class="panel-body text-center">
        <div class="list-group">
          <div class="list-group-item">
            <div class="row-action-primary">
                <i class="fa fa-heartbeat"></i>
            </div>
            <div class="row-content">
              <div class="action-secondary">
                <%= link_to edit_consultas_pv_path(@consultas_pv) do %>
                  <i class="fa fa-pencil-square-o"></i>
                <% end %>
              </div>
              <h3 class="list-group-item-heading"><strong>Consultas Primera Vez: <%= @consultas_pv.id.to_s %></strong></h3>
							<p class="list-group-item-text"><strong>Hombres: </strong><%= @consultas_pv.h.to_s%></p>
							<p class="list-group-item-text"><strong>Mujeres: </strong><%= @consultas_pv.m.to_s%></p>
							<p class="list-group-item-text"><strong>Total: </strong><%= (@consultas_pv.h+@consultas_pv.m).to_s%></p>
							<p class="list-group-item-text"><strong>Fecha: </strong><%= @consultas_pv.fecha%><br></p>
							<p class="list-group-item-text"><strong>Psicologo: </strong><%= @consultas_pv.psychologist_id.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 5 a 9: </strong><%= @consultas_pv.h1.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 5 a 9: </strong><%= @consultas_pv.m1.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 10 a 11: </strong><%= @consultas_pv.h2.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 10 a 11: </strong><%= @consultas_pv.m2.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 12 a 14: </strong><%= @consultas_pv.h3%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 12 a 14: </strong><%= @consultas_pv.m3.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 15 a 17:</strong><%= @consultas_pv.h4.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 15 a 17: </strong><%= @consultas_pv.m4.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 18 a 19: </strong><%= @consultas_pv.h5.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 18 a 19: </strong><%= @consultas_pv.m5.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 20 a 29: </strong><%= @consultas_pv.h6.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 20 a 29: </strong><%= @consultas_pv.m6.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 30 a 34: </strong><%= @consultas_pv.h7.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 30 a 34: </strong><%= @consultas_pv.m7.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 35 a 39: </strong><%= @consultas_pv.h8.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 35 a 39: </strong><%= @consultas_pv.m8.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 40 a 59: </strong><%= @consultas_pv.h9.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 40 a 59: </strong><%= @consultas_pv.m9.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 60 y mas: </strong><%= @consultas_pv.h10.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 60 y mas: </strong><%= @consultas_pv.m10.to_s%><br></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-calendar-check-o" aria-hidden="true""></i> Proxima Consulta</h3>
      </div>
      <div class="panel-body">

      </div>
    </div>
  </div>
</div>