<div class="list-group-item">
  <div class="row-action-primary">
    <%= link_to personas_vg do %>
      <i class="fa fa-heartbeat" aria-hidden="true"></i>
    <% end %>
  </div>
  <div class="row-content">
    <div class="action-secondary">
      <%= link_to edit_personas_vg_path(@personas_vg) do %>
        <i class="fa fa-pencil-square-o"></i>
      <% end %>
    </div>
    <h4 class="list-group-item-heading"><%= personas_vg.id_personas_vg %> </h4>
    <p class="list-group-item-text"><h5>Fecha de Creacion</h5></p>
    <p class="list-group-item-text"><%= personas_vg.created_at %></p>
  </div>
</div>
<div class="list-group-separator"></div>
