<% if notice %>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= notice %>
  </div>
<% end%>
<div class="row board ">
  <div class="col-md-5">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-search"></i> Buscar Personas Detectadas con Violencia de Genero</h3>
      </div>
      <div class="panel-body text-center">
        <%= form_tag personas_vg_path, method: :get do %>
          <div class="form-group label-floating">
            <%= text_field_tag :id_personas_vg, params[:id_personas_vg] , :class=>"form-control text-center" , placeholder: "ID Personas Detectadas con Violencia de Genero" %>
          </div>
          <div class="actions">
          <%= submit_tag "Buscar", name: nil, class: "btn btn-raised btn-info" %>
          </div>
        <% end %>
        <div class="panel panel-default">
          <div class="list-group">
              <%= render @personas_vgs %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Personas Detectadas con Violencia de Genero</h1>
      </div>
      <div class="panel-body text-center">
        <div class="list-group">
          <%= render @personas_vgs %>
        </div>
        <%= link_to 'Agregar Personas VG', new_personas_vg_path, class: "btn btn-raised btn-primary" %>
      </div>
    </div>
  </div>
</div>

