<div class="row board ">
	<div class="col-md-7">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h1 class="panel-title"><i class="fa fa-folder-o"></i> Personas Detectadas con Violencia de Genero<strong>ID <%= @personas_vg.id.to_s %></strong></h1>
		  </div>
		  <div class="panel-body text-center">
        <div class="list-group">
          <div class="list-group-item">
            <div class="row-action-primary">
                <i class="fa fa-heartbeat"></i>
            </div>
            <div class="row-content">
              <div class="action-secondary">
                <%= link_to edit_personas_vg_path(@personas_vg) do %>
                  <i class="fa fa-pencil-square-o"></i>
                <% end %>
              </div>
              <h3 class="list-group-item-heading"><strong>Personas Detectadas con Violencia de Genero: <%= @personas_vg.id.to_s %></strong></h3>
							<p class="list-group-item-text"><strong>Hombres: </strong><%= @personas_vg.h.to_s%></p>
							<p class="list-group-item-text"><strong>Mujeres: </strong><%= @personas_vg.m.to_s%></p>
							<p class="list-group-item-text"><strong>Total: </strong><%= (@personas_vg.h+@personas_vg.m).to_s%></p>
							<p class="list-group-item-text"><strong>Fecha: </strong><%= @personas_vg.fecha%><br></p>
							<p class="list-group-item-text"><strong>Psicologo: </strong><%= @personas_vg.psychologist_id.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 5 a 9: </strong><%= @personas_vg.h1.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 5 a 9: </strong><%= @personas_vg.m1.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 10 a 11: </strong><%= @personas_vg.h2.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 10 a 11: </strong><%= @personas_vg.m2.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 12 a 14: </strong><%= @personas_vg.h3%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 12 a 14: </strong><%= @personas_vg.m3.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 15 a 17: </strong><%= @personas_vg.h4.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 15 a 17: </strong><%= @personas_vg.m4.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 18 a 19: </strong><%= @personas_vg.h5.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 18 a 19: </strong><%= @personas_vg.m5.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 20 a 29: </strong><%= @personas_vg.h6.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 20 a 29: </strong><%= @personas_vg.m6.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 30 a 34: </strong><%= @personas_vg.h7.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 30 a 34: </strong><%= @personas_vg.m7.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 35 a 39: </strong><%= @personas_vg.h8.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 35 a 39: </strong><%= @personas_vg.m8.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 40 a 59: </strong><%= @personas_vg.h9.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 40 a 59: </strong><%= @personas_vg.m9.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 60 y mas: </strong><%= @personas_vg.h10.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 60 y mas: </strong><%= @personas_vg.m10.to_s%><br></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-calendar-check-o" aria-hidden="true""></i> Personas Detectadas con Violencia de Genero</h3>
      </div>
      <div class="panel-body">
        <div class="panel-body text-center">
          <%= link_to 'Indicadores Generales', indicadores_path, class: "btn btn-raised btn-primary"%><br>
          <br>
          <%= link_to 'Indicadores por rango de edad', indicadoresxedad_index_path, class: "btn btn-raised btn-primary"%><br>
        </div>  
      </div>
    </div>
  </div>
</div>