<div class="board col-md-6">
  <%= form_for(@psychologist) do |f| %>
    <% if @psychologist.errors.any? %>
      <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <% @psychologist.errors.full_messages.each do |message|%>
            <%= message%><br>
        <% end %>
        </div>
    <%end%>
    <div class="form-group label-floating">
      <%= f.label :nombre , "Nombre", class: "control-label" %>
      <%= f.text_field :nombre, class: "form-control text-center" %>
      <%#= f.text_field :nombre , class:"form-control text-center"%>
    </div>
    <div class="form-group label-floating">
      <%= f.label "Apellido Paterno" %>
      <%= f.text_field :apellidoP, class:"form-control text-center"%>
    </div>
    <div class="form-group label-floating">
      <%= f.label "Apellido Materno" %>
      <%= f.text_field :apellidoM, class:"form-control text-center"%>
    </div>
    <div class="form-group label-floating">
      <%= f.label "Telefono" %>
      <%= f.text_field :telefono, class:"form-control text-center"%>
    </div>
    <div class="form-group label-floating">
      <%= f.label "Estatus" %>
      <%= f.select(:status, Estatus.all.collect {|sta| [sta.status, sta.status]}, :prompt => 'Selecciona uno')%>
    </div>
    <div class="form-group label-floating">
      <%= f.label "Color" %>
      <%= f.color_field (:color) %>
    </div>
    <div class="actions">
      <%= f.submit "Agregar", class:"btn btn-raised btn-success"%>
    </div>
  <% end %>
</div>
