<div class="list-group-item">
  <div class="row-action-primary">
    <%= link_to psychologist do %>
      <i class="fa fa-user", style="color:<%= psychologist.color%>;"></i>
    <% end %>
  </div>
  <div class="row-content">
    <div class="action-secondary">
      <%= link_to edit_psychologist_path(psychologist) do %>
        <i class="fa fa-pencil-square-o"></i>
      <% end %>
    </div>
      <h4 class="list-group-item-heading"><%= psychologist.nombre+" "+psychologist.apellidoP+" "+psychologist.apellidoM %> </h4>
    <p class="list-group-item-text"><h5>Fecha de Registro</h5></p>
    <p class="list-group-item-text"><%= psychologist.created_at %></p>
  </div>
</div>
<div class="list-group-separator"></div>
