<div class="row board ">
	<div class="col-md-12">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Editar Psicologo <strong>ID <%= @psychologist.id.to_s %></strong></h1>
		  </div>
		  <div class="panel-body text-center">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
