<div class="row board ">
  <div class="col-md-5">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Agregar Psicologo</h1>
		  </div>
		  <div class="panel-body text-center">
        <%= render 'form' %>
      </div>
    </div>
  </div>
	<div class="col-md-7">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Psicologos Agregados</h1>
		  </div>
		  <div class="panel-body text-center">
        <div class="list-group">
            <%= render @psychologists %>
        </div>
      </div>
    </div>
  </div>
</div>
