<div class="row board ">
	<div class="col-md-12">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h1 class="panel-title"><i class="fa fa-stethoscope"></i> Psicologo <strong>ID <%= @psychologist.id.to_s %></strong></h1>
		  </div>
		  <div class="panel-body text-center">
        <div class="list-group">
          <div class="list-group-item">
            <div class="row-action-primary">
                <i class="fa fa-user" style="color:<%= @psychologist.color %>;"></i>
            </div>
            <div class="row-content">
              <div class="action-secondary">
                <%= link_to edit_psychologist_path(@psychologist) do %>
                  <i class="fa fa-pencil-square-o"></i>
                <% end %>
              </div>
              <h3 class="list-group-item-heading"><%= @psychologist.nombre+" "+@psychologist.apellidoP+" "+@psychologist.apellidoM%> </h3>
							<p class="list-group-item-text"><strong>Telefono: </strong><%= @psychologist.telefono %></p>
              <p class="list-group-item-text"><strong>Estatus: </strong><%= @psychologist.status %></p>
							<%= link_to "Eliminar",@psychologist, method: :delete, data: { confirm: '¿Esta seguro de eliminar El Psicologo?' }, class: "btn btn-raised btn-danger btn-xs"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
