// Place all the styles related to the apptamizajes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Estilo del los div-grupos new_escuela
.cont-grupos{
    //padding: 1.5em;
    margin: 2%;
    //margin-right:auto;
    //border: 1px solid;
    //background: red;
    //text-align:center;
}
.div-grupo{
    padding: 0.5em;
    margin-bottom: 3%;
    margin-right: 4%;
    margin-left: 4%;
    background: #DFDEFA;
    border-radius: 10px;
    border: 2px solid;
}
//espacio hacia abajo txt creado
.padding-txt{
    margin-bottom: 3%;
}
//Estilo selected en grupos
.select {
  position: relative;
  border: 1px solid #ccc;
  width: 45px;
  overflow: hidden;
  background-color: #fff;
}
.select:before {
    content: '';
    position: absolute;
    right: 5px;
    top: 7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
    z-index: 5;
    pointer-events: none;
  }
  .select select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    appearance: none;
  }
//select disabled, solo cambio de color
.select-dis{
    background-color: #BABABA;
}
.gggg{
    background: red;
}