 /* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #4CAF50; /* Green background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 10px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 75px; /* 75px from the top or bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.show {
    visibility: visible !important; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 1s, fadeout 1s 9s;
    animation: fadein 1s, fadeout 1s 9s;
}

/* Animations to fade the snackbar in and out */
/*75px debe ser la misma que la declarada arriba en top o bottom*/
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 75px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 75px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 75px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 75px; opacity: 1;}
    to {top: 0; opacity: 0;}
}