@import "bootstrap";

/*colores*/
/*colores*/

/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

.no-float{
  float: none;
}

/*transparencia*/
.trans{
  background-color: rgba(250, 250, 250, 0.90)
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/*quitar el estilo del li en el footer*/
.footer-li{
  list-style:none;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

p{
  text-align: justify;
}

.lead{
  font-size: medium;
  height: 50%;
  width: 100%;
}


/* additional sections */
#home {
  background: url(/assets/capa.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  //filter: blur(10px);
}

#about {
}

#services {
  background-color: #306d9f;
  color: #ffffff;
}
#services .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#information {
  background: url(/assets/capa.jpg) no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#information .panel {
  opacity: 0.85;
}

#google_map {
  width: 100%;
  height: 500px;
}

footer {
  padding: 20px 0;
}

.padding{
  padding: 100px 50px 50px 50px;
}

.login{
  width: 100%;
  height: 100%;
  background: url(/assets/sing.jpg) no-repeat center center fixed;
}

.board{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 100%;
}
