<%= form_for(@estatus) do |f| %>
  <% if @estatus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estatus.errors.count, "error") %> prohibited this estatus from being saved:</h2>

      <ul>
      <% @estatus.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
