<p id="notice"><%= notice %></p>

<h1>Listing Estatuses</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estatuses.each do |estatus| %>
      <tr>
        <td><%= estatus.status %></td>
        <td><%= link_to 'Show', estatus %></td>
        <td><%= link_to 'Edit', edit_estatus_path(estatus) %></td>
        <td><%= link_to 'Destroy', estatus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estatus', new_estatus_path %>
