<div class="row board ">
	<div class="col-md-7">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h1 class="panel-title"><i class="fa fa-folder-o"></i> Adolescentes IT <strong>ID <%= @adolescentes_it.id.to_s %></strong></h1>
		  </div>
		  <div class="panel-body text-center">
        <div class="list-group">
          <div class="list-group-item">
            <div class="row-action-primary">
                <i class="fa fa-heartbeat"></i>
            </div>
            <div class="row-content">
              <div class="action-secondary">
                <%= link_to edit_adolescentes_it_path(@adolescentes_it) do %>
                  <i class="fa fa-pencil-square-o"></i>
                <% end %>
              </div>
              <h3 class="list-group-item-heading"><strong>Adolescentes que Inician Tratamiento: <%= @adolescentes_it.id.to_s %></strong></h3>
							<p class="list-group-item-text"><strong>Hombres: </strong><%= @adolescentes_it.h.to_s%></p>
							<p class="list-group-item-text"><strong>Mujeres: </strong><%= @adolescentes_it.m.to_s%></p>
							<p class="list-group-item-text"><strong>Total: </strong><%=(@adolescentes_it.h+@adolescentes_it.m).to_s%></p>
							<p class="list-group-item-text"><strong>Fecha: </strong><%= @adolescentes_it.fecha%><br></p>
							<p class="list-group-item-text"><strong>Psicologo: </strong><%= @adolescentes_it.psychologist_id.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 12 a 14: </strong><%= @adolescentes_it.h3%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 12 a 14: </strong><%= @adolescentes_it.m3.to_s%><br></p>
              <p class="list-group-item-text"><strong>Hombres 15 a 17:</strong><%= @adolescentes_it.h4.to_s%><br></p>
              <p class="list-group-item-text"><strong>Mujeres 15 a 17: </strong><%= @adolescentes_it.m4.to_s%><br></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-calendar-check-o" aria-hidden="true""></i> Proxima Consulta</h3>
      </div>
      <div class="panel-body">

      </div>
    </div>
  </div>
</div>
