<%= form_for(@tamizaje, url: "/tamizajes/escuela/:id") do |f| %>
  <% if @tamizaje.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tamizaje.errors.count, "error") %> prohibited this tamizaje from being saved:</h2>

      <ul>
      <% @tamizaje.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nombre" %>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellidoP %><br>
    <%= f.text_field :apellidoP %>
  </div>
  <div class="field">
    <%= f.label :apellidoM %><br>
    <%= f.text_field :apellidoM %>
  </div>
  <div class="field">
    <%= f.label :edad %><br>
    <%= f.text_field :edad %>
  </div>
  <div class="field">
    <%= f.label :sexo %><br>
    <%= f.text_field :sexo %>
  </div>
  <div class="field">
    <%= f.label :grado %><br>
    <%= f.text_field :grado %>
  </div>
  <div class="field">
    <%= f.label :grupo %><br>
    <%= f.text_field :grupo %>
  </div>
  <div class="field">
    <%= f.label :folio_cuestionario %><br>
    <%= f.text_field :folio_cuestionario %>
  </div>
  <div class="field">
    <%= f.label :p_usoS %><br>
    <%= f.text_field :p_usoS %>
  </div>
  <div class="field">
    <%= f.label :total_uso_sustancias %><br>
    <%= f.number_field :total_uso_sustancias %>
  </div>
  <div class="field">
    <%= f.label :p_saludM %><br>
    <%= f.text_field :p_saludM %>
  </div>
  <div class="field">
    <%= f.label :total_salud_mental %><br>
    <%= f.number_field :total_salud_mental %>
  </div>
  <div class="field">
    <%= f.label :p_relacionF %><br>
    <%= f.text_field :p_relacionF %>
  </div>
  <div class="field">
    <%= f.label :total_relacion_familiar %><br>
    <%= f.number_field :total_relacion_familiar %>
  </div>
  <div class="field">
    <%= f.label :p_relacionA %><br>
    <%= f.text_field :p_relacionA %>
  </div>
  <div class="field">
    <%= f.label :total_relacion_amigos %><br>
    <%= f.number_field :total_relacion_amigos %>
  </div>
  <div class="field">
    <%= f.label :p_nivelE %><br>
    <%= f.text_field :p_nivelE %>
  </div>
  <div class="field">
    <%= f.label :total_nivel_educativo %><br>
    <%= f.number_field :total_nivel_educativo %>
  </div>
  <div class="field">
    <%= f.label :p_interesL %><br>
    <%= f.text_field :p_interesL %>
  </div>
  <div class="field">
    <%= f.label :total_interes_laboral %><br>
    <%= f.number_field :total_interes_laboral %>
  </div>
  <div class="field">
    <%= f.label :p_conductaA %><br>
    <%= f.text_field :p_conductaA %>
  </div>
  <div class="field">
    <%= f.label :total_conducta_agresiva %><br>
    <%= f.number_field :total_conducta_agresiva %>
  </div>
  <div class="field">
    <%= f.label :resultado %><br>
    <%= f.number_field :resultado %>
  </div>
  <div class="field">
      <%= f.label :aplicacion_tamizaje_id %><br>
      <%= f.number_field :aplicacion_tamizaje_id %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
