<%data = [{name:"Parametro",
                            data: [["Uso Abuso",1],["Salud mental",5],["Relacion familiar",3],["Relacion amigos",1],["Nivel Educativo",5],["Interes laboral", 3],["Conducta agresiva",5],["Resultado",34]],
                        },
                        {name:"Resultado", 
                            data: [["Uso Abuso",valUs],["Salud mental",valSm],["Relacion familiar",valRf],["Relacion amigos",valRa],["Nivel Educativo",valNe],["Interes laboral", valIl],["Conducta agresiva",valCa],["Resultado",valRg]],
                        }];%>
                   

            <%= bar_chart data, id: "users-chart-#{id}", height: "500px", 
                    colors: ["#A6A57A","#E55F00"],
                    library: {
                        title:{
                            text: "Resultado global #{titulo}"
                        },
                        chart: {
                            plotBackgroundColor: '#FCFFC5',
                            backgroundColor: {
                                linearGradient: [0, 0, 500, 500],
                                stops: [
                                    [0, 'rgb(255, 255, 255)'],
                                    [1, 'rgb(200, 200, 255)']
                                ]
                            },            
                        },        
                        colors: ["#A6A57A","#E55F00"],
                        yAxis:{
                            title:{ 
                                text: "Puntaje"
                            }
                        },
                        #borderWidth: 2,
                        #borderColor: 'black',
                        plotOptions: {
                            colum:{
                                shadow: true
                            }
                        },             
                        tooltip: {
                            valueSuffix: ' p.'
                        },                                 
                        legend: {
                            layout: 'vertical',
                            backgroundColor: '#FFFFFF',
                            floating: true,
                            align: 'right',
                            verticalAlign: 'top',
                            y: 70,
                            shadow: true,
                            navigation: {
                                activeColor: '#3E576F',
                                animation: true,
                                arrowSize: 12,
                                inactiveColor: '#CCC',
                                style: {
                                    fontWeight: 'bold',
                                    color: '#333',
                                    fontSize: '12px'
                                }
                            },

                            title: {
                                text: 'Parametros<br/><span style="font-size: 10px; color: #666; font-weight: normal">(Click mostrar/ocultar)</span>',
                                style: {
                                    fontStyle: 'italic'
                                }
                            },                                 
                            itemStyle: {
                                color: '#000000',
                                fontWeight: 'bold'
                            }


                        },                            
                    } %>  