<div class="col-params">
    <div class="col-12 show-grid">
        <div class="text-center"><b><h4><%="Resultado global #{titulo}"%></h4></b></div>
        <div class="col-sector size-s">
            Uso/Abuso de Sustancias:<br>
            <br>Salud Mental:<br>
            <br>Relaciones Familiares:<br>
            <br>Relaciones con Amigos:<br>
            <br>Nivel Educativo:<br>
            <br>Interes Laboral:<br>
            <br>Conducta Agresiva/Delictiva:<br>
            <br><div class="align-rigth"><b>Total:</b></div><br>
        </div>
        <div class="col-puntos size-s text-center">
            <%=valUs%><br>
            <br><%=valSm%><br>
            <br><%=valRf%><br>
            <br><%=valRa%><br>
            <br><%=valNe%><br>
            <br><%=valIl%><br>
            <br><%=valCa%><br>
            <br><b><%=valRg%></b><br>
        </div>
        <div class="col-riesgo size-s">
            <%if valUs.to_i <= 0%>No&nbsp;&nbsp;Riesgo<br><%else%>
                Riesgo<br><%end%>

            <%if valSm.to_i < 5%><br>No&nbsp;&nbsp;Riesgo<br><%else%>
                <br>Riesgo<br><%end%>

            <%if valRf.to_i < 3%><br>No&nbsp;&nbsp;Riesgo<br><%else%>
                <br>Riesgo<br><%end%>

            <%if valRa.to_i <= 0%><br>No&nbsp;&nbsp;Riesgo<br><%else%>
                <br>Riesgo<br><%end%>

            <%if valNe.to_i < 5%><br>No&nbsp;&nbsp;Riesgo<br><%else%>
                <br>Riesgo<br><%end%>

            <%if valIl.to_i < 3%><br>No&nbsp;&nbsp;Riesgo<br><%else%>
                <br>Riesgo<br><%end%>

            <%if valCa.to_i < 5%><br>No&nbsp;&nbsp;Riesgo<br><%else%>
                <br>Riesgo<br><%end%>

            <%if valRg.to_i >= 34%>
                <br><b class="riesgo">Riesgo</b><br>
            <%else%>
                <%if valRg.to_i < 34%>
                    <br>No&nbsp;&nbsp;Riesgo <br>
                <%end%>
            <%end%>
        </div>
        <div class="col-parametro size-s">
            > = 1<br>
            <br>> = 5<br>
            <br>> = 3<br>
            <br>> = 1<br>
            <br>> = 5<br>
            <br>> = 3<br>
            <br>> = 5<br>
            <br>> = 34<br>
        </div>
    </div>
</div>


<div class="col-6">
<%data = [{name:"Parametro",
                            data: [["Uso Abuso",1],["Salud mental",5],["Relacion familiar",3],["Relacion amigos",1],["Nivel Educativo",5],["Interes laboral", 3],["Conducta agresiva",5],["Total",34]],
                        },
                        {name:"Resultado", 
                            data: [["Uso Abuso",valUs],["Salud mental",valSm],["Relacion familiar",valRf],["Relacion amigos",valRa],["Nivel Educativo",valNe],["Interes laboral", valIl],["Conducta agresiva",valCa],["Total",valRg]],
                        }];%>
                   

            <%= bar_chart data, id: "users-chart-#{id}", 
                    colors: ["#A6A57A","#E55F00"],
                    library: {
                        chart: {
                            height: 300,
                            width: 500,
                            backgroundColor: '#FCFFC5',
                            borderColor: '#EBBA95',
                            borderRadius: 20,
                            borderWidth: 2,                            
                            plotBackgroundColor: '#FFFFFF',
                        },
                        title:{
                            text: "Resultado global #{titulo}"
                        },
                        
                        plotOptions: {
                            series: {
                                
                                shadow: true,
                            }
                        },
                        yAxis:{
                            title:{ 
                                text: "Puntaje"
                            },
                            tickInterval: 5,
                            allowDecimals: false,
                        },
                        #borderWidth: 2,
                        #borderColor: 'black',
                        legend: {
                            layout: 'vertical',
                            backgroundColor: '#FFFFFF',
                            floating: true,
                            align: 'right',
                            verticalAlign: 'top',
                            y: 70,
                            shadow: true,
                            title: {
                                text: 'Parametros<br/>',
                            },                                 
                        },                            
                    } %>  
</div>