<div class="col-md-6">
    <div class="panel panel-primary">
       	<div class="panel-heading">
		  <h1 class="panel-title"><i class="fa fa-stethoscope"></i>Datos de la escuela</h1>
        </div>
        
        <%if @flag == "1"%>
            <div class="panel-body text-center">
                  <div class="form-group field">
                      <%no_grupos = {}%>
                      <%for i in (1..15) do%><%no_grupos[i] = i.to_s%><%end%>
                      <div class="row">
                          <%= label_tag :no_grupos,"Numero de grupos:" %>
                            <%= select_tag :no_grupos, options_for_select(no_grupos), class:"select btn-xs",:prompt => '--', id: "no_grupos"%>
                      </div>
                  </div>                
                  <div class="actions">
                      <%= link_to 'Enviar', escuelas_new_flag_path(:'00b1b22cf54d65=1434?'),:method => :post, class:"btn btn-sm btn-primary", id:"btn_no_grupos" %>
                </div>
            </div>
        <%end%>
        
        
        <%if @flag == "1-2"%>
           <%= form_for(@escuela,:controller =>"apptamizajes", url: "/tamizajes", :action => "create2") do |f| %>


              <div class="panel-body text-center">

                  <div class="form-group field">
                      <%= label_tag "Escuela" %>
                      <%= f.text_field :escuela, :class => "form-control text-center"%>
                  </div>
                  <div class="form-group field">
                      <%= label_tag "Colonia " %>
                      <%= f.text_field :colonia, :class => "form-control text-center" %>
                  </div>
                  
                  <div class="form-group field col-md-6">
                      <%= label_tag "Municipio: " %>
                      <%= f.select(:municipio_id, Municipio.all.collect {|mun| [mun.municipio, mun.id]}, :class => "select btn-xs", :prompt => 'Selecciona uno') %>                      
                  </div>
                <div class="form-group field col-md-6">
                    <%= label_tag "Nivel escolar " %>
                    <%= f.select(:nivel_estudio_id,NivelEstudio.all.collect {|estudio| [estudio.nivel, estudio.id]}, :prompt => 'Selecciona uno', :class => "select btn-xs") %>
                </div>
                
                   
                    <%=javascript_tag do%> window.array = [] <%end%>
                    <%grado = {}%>
                    <%for i in (1..15) do%><%grado[i] = i.to_s%><%end%>
                    <%grupo = {:A =>"A",:B =>"B",:C =>"C",:D =>"D",:E =>"E",:F =>"F",:G =>"G",:H =>"H",:I =>"I"}%>
                    <div id="grupos-cont" class="row cont-grupos">
                       <div class="panel-heading">
                           <h5><b>Grupos: </b></h5>                                                              </div>
                    
                    
                    

<% if !@str.nil? %>
    <%no = @str.split("?")%>
    <%num = no[1]%>
    <%for i in (1..num.to_i) do%>
                    <%if (i)%2 == 1 %><div class="row"><%end%>
                  <div class="col-md-5 div-grupo">
                    <div class="form-group field">
                       <div class="panel-heading">
                           <h5><b>Grupo &nbsp;<%= "#{i}:"%></b></h5>                                            </div>
                        
                        
                        <div class="row">
                            <%=label_tag"grado:","Grado:", class: "col-md-3"%>
                            <div class="col-md-3">
                                <%= select_tag "grado", options_for_select(grado), class:"select btn-xs grupo01 ",:prompt => '--', id:"select_gd-#{i-1}" %>
                            </div>

                            <div class="col-md-6">
                                <%=label_tag :"otrogd-#{i-1}", "Otro:"%>
                                <%=check_box_tag :"otrogd-#{i-1}", "",false,class:"check01" %>
                            </div>
                        </div>
                        <div class="row div-txtgd-<%=i-1%>">
                        </div>
                        
                        
                        <div class="row">
                            <%=label_tag"grupo:","Grupo:", class: "col-md-3"%>
                            <div class="col-md-3">
                                <%= select_tag "grupo", options_for_select(grupo), class: "select btn-xs grupo01",:prompt => '--', id:"select_gp-#{i-1}"%>
                            </div>

                            <div class="col-md-6">
                               <%=label_tag :"otrogd-#{i-1}", "Otro: "%>
                                <%=check_box_tag :"otrogp-#{i-1}","",false, class:"check02"%>
                            </div>           
                        </div>
                        <div class="row div-txtgp-<%=i-1%>">
                        </div>
                        
                    </div>
                  </div>
                    <%if (i)%2 == 0 %></div><%end%>
        
        
    <%end%><!--ciclo for-->
<%end%><!--nil?-->
                    </div>
                    
                    
                    
                                                                      
                  <div class="col-md-12">
                    <div class="form-group field">
                        <%= label_tag "Grupos: " %>
                        <%= f.fields_for :grupos_escuelas do |h| %>                        
                            <%= h.text_field :grupos, :class => "form-control text-center", id:"txtf_gs", :readonly => true%>
                        <% end %>
                    </div>
                  </div>                
                 
                  
                
                <div class="actions">
                    <%= link_to "Cancelar", escuelas_path, :class => "btn btn-raised btn-success"%>
                    <%= f.submit "Guardar", :class => "btn btn-raised btn-primary"%>
                </div>
            <%end%><!--end form-->
            </div> <!--body-->
        <%end%><!--end if flag 1-2-->
        
    </div><!--panel-->
        
</div><!--col-md-5-->
