<div class="form-group field">
  <%= form_for(@tamizaje) do |f| %>
  <% if @tamizaje.errors.any? %>
      <div id="error_explanation">
          <h2><%= pluralize(@tamizaje.errors.count, "error") %>prohibited this tamizaje</h2>
    <ul>
        <% @tamizaje.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
    </ul>
      </div>
   <% end %>
    <table class="tabla-preg" border="0px">
    <tr class="especificacion">
        <td></td>
        <td colspan="2" class="bckg-red"></td>
        <td colspan="18"> Red flags</td>
    </tr><tr><td><br></td></tr>
    <tr class="especificacion">
        <td></td>
        <td colspan="2" class="bckg-blue"></td>
        <td colspan="18">Aseveraciones negativas que se califican como riesgo</td>
    </tr><tr><td><br></td></tr>
    <tr class="especificacion">
        <td></td>
        <td colspan="2" class="bckg-green"></td>
        <td colspan="18"> Combinacion de ambos</td>
    </tr><tr><td><br></td></tr>
    <tr>
        <td></td>
        <td class="bckg-red">2</td><td class="bckg-red">17</td><td class="bckg-red">21</td>
        <td class="bckg-red">25</td><td class="bckg-red">33</td><td class="bckg-red">38</td>
        <td class="bckg-red">41</td><td class="bckg-red">46</td><td class="bckg-red">47</td>
        <td class="bckg-red">48</td><td class="bckg-red">54</td><td class="bckg-red">56</td>
        <td class="bckg-red">57</td><td class="bckg-red">58</td><td class="bckg-red">62</td>
        <td class="bckg-red">65</td><td class="bckg-red">68</td><td>=</td>
        <td>17</td>
    </tr>
    <tr>
        <td class="label-seccion"><%= label :l1, "Uso sustancias: "%></td>
        <td colspan="17"><%= f.text_field :p_usoS, :disabled =>true, :class =>"textf-preg"%></td>
        <td><%= label :l1_1,"Total: "%></td>
        <td><%= f.text_field :total_uso_sustancias,:class =>"textf-total"%></td>
        <td class="especificacion"><b> > 0 == Riesgo</b></td>
    </tr>
    <tr>
        <td></td>
        <td class="borde-celda">5</td><td class="bckg-red">6</td><td class="borde-celda">8</td>
        <td class="borde-celda">10</td><td class="borde-celda">15</td><td class="borde-celda">23</td>
        <td class="bckg-red">28</td><td class="borde-celda">40</td><td class="borde-celda">43</td>
        <td class="bckg-red">55</td><td class="borde-celda">60</td><td class="borde-celda">63</td>
        <td class="borde-celda">66</td><td class="bckg-red">75</td><td class="bckg-red">76</td>
        <td class="borde-celda">80</td> <td class="borde-celda"></td> <td>=</td>
        <td>16</td>
    </tr>
    <tr>
        <td class="label-seccion"><%= label :l2, "Salud mental: "%></td>
        <td colspan="17"><%= f.text_field :p_saludM, :disabled =>true, :class =>"textf-preg" %></td>
        <td><%= label :l2_1,"Total: "%></td>
        <td><%= f.text_field :total_salud_mental, :disabled =>true,:class =>"textf-total"%></td>
        <td class="especificacion">Si 6,28,55,75,76<b>>= 1== Riesgo</b><br>y si suma<b>>= 5 == Riesgo</b></td>
    </tr>
    <tr>
        <td></td>
        <td class="borde-celda">4</td><td class="borde-celda">14</td><td class="bckg-green">20</td>
        <td class="bckg-green">22</td><td class="bckg-green">32</td><td class="bckg-green">39</td>
        <td class="bckg-red">45</td><td class="bckg-green">52</td><td class="bckg-green">70</td>
        <td class="bckg-green">71</td> <td class="borde-celda"></td> <td class="borde-celda"></td>
        <td class="borde-celda"></td> <td class="borde-celda"></td> <td class="borde-celda"></td>
        <td class="borde-celda"></td> <td class="borde-celda"></td> <td>=</td>
        <td>10</td>
    </tr>
    <tr>
        <td class="label-seccion"><%= label :l3, "Relacion familiar: "%></td>
        <td colspan="17"><%= f.text_field :p_relacionF, :disabled =>true, :class =>"textf-preg"%></td>
        <td><%= label :l3_1,"Total: "%></td>
        <td><%= f.text_field :total_relacion_familiar, :disabled =>true,:class =>"textf-total"%></td>
        <td class="especificacion">Si 20,45,52<b>>= 1 == Riesgo</b><br> y si suma <b>>= 3 == Riesgo</b></td>
    </tr>
    <tr>
        <td></td>
        <td class="bckg-red">3</td><td class="bckg-green">13</td><td class="bckg-red">19</td>
        <td class="bckg-red">29</td><td class="bckg-red">67</td><td class="bckg-red">73</td>
        <td class="bckg-red">77</td> <td class="borde-celda"></td> <td class="borde-celda"></td>
        <td class="borde-celda"></td> <td class="borde-celda"></td> <td class="borde-celda"></td>
        <td class="borde-celda"></td> <td class="borde-celda"></td> <td class="borde-celda"></td>
        <td class="borde-celda"></td> <td class="borde-celda"></td> <td>=</td>
        <td>7</td>
    </tr>
    <tr>
        <td class="label-seccion"><%= label :l4, "Relacion amigos: "%></td>
        <td colspan="17"><%= f.text_field :p_relacionA, :disabled =>true, :class =>"textf-preg"%></td>
        <td><%= label :l4_1,"Total: "%></td>
        <td><%= f.text_field :total_relacion_amigos, :disabled =>true,:class =>"textf-total"%></td>
        <td class="especificacion"><b>>0 == Riesgo</b></td>
    </tr>
    <tr>
        <td></td>
        <td class="borde-celda">7</td><td class="borde-celda">8</td><td class="bckg-blue">12</td>
        <td class="borde-celda">15</td><td class="bckg-blue">18</td><td class="bckg-green">26</td>
        <td class="borde-celda">34</td> <td class="borde-celda">40</td> <td class="bckg-red">42</td>
        <td class="borde-celda">61</td><td class="bckg-red">66</td><td class="bckg-green">69</td>
        <td class="bckg-red">72</td><td class="borde-celda">74</td><td class="borde-celda">79</td>
        <td class="bckg-red">80</td><td class="borde-celda"></td> <td>=</td>
        <td>16</td>
    </tr>
    <tr>
        <td class="label-seccion"><%= label :l5, "Nivel educativo: "%></td>
        <td colspan="17"><%= f.text_field :p_nivelE, :disabled =>true, :class =>"textf-preg"%></td>
        <td><%= label :l5_1,"Total: "%></td>
        <td><%= f.text_field :total_nivel_educativo, :disabled =>true,:class =>"textf-total"%></td>
        <td class="especificacion">Si 26,42,66,69,72,80 <b>>= 1 == Riesgo</b><br>y si suma <b>>= 5 == Riesgo</b></td>
    </tr>
    <tr>
        <td></td>
        <td></td> <td class="borde-celda">27</td><td class="borde-celda">36</td> <td></td>
        <td class="borde-celda">51</td><td class="borde-celda">78</td> <td></td>
        <td class="borde-celda">16</td><td class="borde-celda">44</td>
        <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td>=</td>
        <td >6</td>
    </tr>
    <tr>
        <td class="label-seccion"><%= label :l6, "Interes laboral: "%></td>
        <td colspan="17"><%= f.text_field :p_interesL, :disabled =>true, :class =>"textf-preg"%></td>
        <td><%= label :l6_1,"Total: "%></td>
        <td><%= f.text_field :total_interes_laboral, :disabled =>true,:class =>"textf-total"%></td>
        <td class="especificacion"><b>>= 3 == Riesgo</b></td>
    </tr>
    <tr>
        <td></td>
        <td class="borde-celda">1</td><td class="borde-celda">9</td><td class="borde-celda">11</td>
        <td class="bckg-red">24</td><td class="borde-celda">30</td><td class="borde-celda">31</td>
        <td class="borde-celda">35</td><td class="borde-celda">37</td><td class="borde-celda">49</td>
        <td class="bckg-red">50</td> <td class="borde-celda">53</td> <td class="borde-celda">59</td>
        <td class="borde-celda">64</td> <td class="borde-celda">81</td> <td class="borde-celda"></td>
        <td class="borde-celda"></td> <td class="borde-celda"></td> <td>=</td>
        <td>14</td>
    </tr>
    <tr>
        <td class="label-seccion"><%= label :l7, "Conducta agresiva: "%></td>
        <td colspan="17"><%= f.text_field :p_conductaA, :disabled =>true, :class =>"textf-preg"%></td>
        <td><%= label :l7_1,"Total: "%></td>
        <td><%= f.text_field :total_conducta_agresiva, :disabled =>true,:class =>"textf-total"%></td>
        <td class="especificacion">Si 24,50 <b>>= 1 == Riesgo</b><br> y si suma <b>>= 5 == Riesgo</b></td>
    </tr>
    <tr>
        <td colspan="20" class="label-seccion"><%= label :l8,"Resultado: "%>
        <%= f.text_field :resultado, :disabled =>true,:class =>"textf-total"%></td>
        <td class="especificacion"><br><b>>= 34 == Riesgo</b> para iniciar <br>o incrementar consumo</td>

    </tr>
    </table>
    <%end%>
</div>
