        <table>
            <tr class="backg">
                <td class="col-num-a border">1.-</td>
                <td class="col-check-a border">
                    <%=check_box_tag :ch1 %>
                    <%=label_tag :ch1, "No", :class => "label-check",:name =>"lch1"%>
                </td>
                <td class="col-num-a border">22.-</td>
                <td class="col-check-a border">
                    <%=check_box_tag :ch22 %>
                    <%=label_tag :ch22, "No", :class => "label-check",:name =>"lch22"%>
                </td>
                <td class="col-num-a border">43.-</td>
                <td class="col-check-a border">
                    <%=check_box_tag :ch43 %>
                    <%=label_tag :ch43, "No", :class => "label-check",:name =>"lch43"%>
                </td>
                <td class="col-num-a border">64.-</td>
                <td class="col-check-a border">
                    <%=check_box_tag :ch64 %>
                    <%=label_tag :ch64, "No", :class => "label-check",:name =>"lch64"%>
                </td>                
            </tr>            
            <tr>
                <td class="col-num-c border">2.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch2 %>
                    <%=label_tag :ch2, "No", :class => "label-check",:name =>"lch2"%>
                </td>
                <td class="col-num-c border">23.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch23 %>
                    <%=label_tag :ch23, "No", :class => "label-check",:name =>"lch23"%>
                </td>
                <td class="col-num-c border">44.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch44 %>
                    <%=label_tag :ch44, "No", :class => "label-check",:name =>"lch44"%>
                </td>
                <td class="col-num-c border">65.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch65 %>
                    <%=label_tag :ch65, "No", :class => "label-check",:name =>"lch65"%>
                </td>                
            </tr>
            <tr class="backg">
                <td class="col-num-c border">3.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch3 %>
                    <%=label_tag :ch3, "No", :class => "label-check",:name =>"lch3"%>
                </td>
                <td class="col-num-c border">24.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch24 %>
                    <%=label_tag :ch24, "No", :class => "label-check",:name =>"lch24"%>
                </td>
                <td class="col-num-c border">45.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch45 %>
                    <%=label_tag :ch45, "No", :class => "label-check",:name =>"lch45"%>
                </td>
                <td class="col-num-c border">66.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch66 %>
                    <%=label_tag :ch66, "No", :class => "label-check",:name =>"lch66"%>
                </td>                
            </tr>                     
            <tr>
                <td class="col-num-c border">4.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch4 %>
                    <%=label_tag :ch4, "No", :class => "label-check",:name =>"lch4"%>
                </td>
                <td class="col-num-c border">25.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch25 %>
                    <%=label_tag :ch25, "No", :class => "label-check",:name =>"lch25"%>
                </td>
                <td class="col-num-c border">46.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch46 %>
                    <%=label_tag :ch46, "No", :class => "label-check",:name =>"lch46"%>
                </td>
                <td class="col-num-c border">67.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch67 %>
                    <%=label_tag :ch67, "No", :class => "label-check",:name =>"lch67"%>
                </td>                
            </tr>            
            <tr class="backg">
                <td class="col-num-c border">5.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch5 %>
                    <%=label_tag :ch5, "No", :class => "label-check",:name =>"lch5"%>
                </td>
                <td class="col-num-c border">26.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch26 %>
                    <%=label_tag :ch26, "No", :class => "label-check",:name =>"lch26"%>
                </td>
                <td class="col-num-c border">47.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch47 %>
                    <%=label_tag :ch47, "No", :class => "label-check",:name =>"lch47"%>
                </td>
                <td class="col-num-c border">68.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch68 %>
                    <%=label_tag :ch68, "No", :class => "label-check",:name =>"lch68"%>
                </td>                
            </tr>
            <tr>
                <td class="col-num-c border">6.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch6 %>
                    <%=label_tag :ch6, "No", :class => "label-check",:name =>"lch6"%>
                </td>
                <td class="col-num-c border">27.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch27 %>
                    <%=label_tag :ch27, "No", :class => "label-check",:name =>"lch27"%>
                </td>
                <td class="col-num-c border">48.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch48 %>
                    <%=label_tag :ch48, "No", :class => "label-check",:name =>"lch48"%>
                </td>
                <td class="col-num-c border">69.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch69 %>
                    <%=label_tag :ch69, "No", :class => "label-check",:name =>"lch69"%>
                </td>                
            </tr>
            <tr class="backg">
                <td class="col-num-c border">7.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch7 %>
                    <%=label_tag :ch7, "No", :class => "label-check",:name =>"lch7"%>
                </td>
                <td class="col-num-c border">28.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch28 %>
                    <%=label_tag :ch28, "No", :class => "label-check",:name =>"lch28"%>
                </td>
                <td class="col-num-c border">49.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch49 %>
                    <%=label_tag :ch49, "No", :class => "label-check",:name =>"lch49"%>
                </td>
                <td class="col-num-c border">70.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch70 %>
                    <%=label_tag :ch70, "No", :class => "label-check",:name =>"lch70"%>
                </td>                
            </tr>                                                                                              
            <tr>
                <td class="col-num-c border">8.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch8 %>
                    <%=label_tag :ch8, "No", :class => "label-check",:name =>"lch8"%>
                </td>
                <td class="col-num-c border">29.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch29 %>
                    <%=label_tag :ch29, "No", :class => "label-check",:name =>"lch29"%>
                </td>
                <td class="col-num-c border">50.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch50 %>
                    <%=label_tag :ch50, "No", :class => "label-check",:name =>"lch50"%>
                </td>
                <td class="col-num-c border">71.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch71 %>
                    <%=label_tag :ch71, "No", :class => "label-check",:name =>"lch71"%>
                </td>                
            </tr>
            <tr class="backg">
                <td class="col-num-c border">9.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch9 %>
                    <%=label_tag :ch9, "No", :class => "label-check",:name =>"lch9"%>
                </td>
                <td class="col-num-c border">30.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch30 %>
                    <%=label_tag :ch30, "No", :class => "label-check",:name =>"lch30"%>
                </td>
                <td class="col-num-c border">51.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch51 %>
                    <%=label_tag :ch51, "No", :class => "label-check",:name =>"lch51"%>
                </td>
                <td class="col-num-c border">72.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch72 %>
                    <%=label_tag :ch72, "No", :class => "label-check",:name =>"lch72"%>
                </td>                
            </tr>
            <tr>
                <td class="col-num-c border">10.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch10 %>
                    <%=label_tag :ch10, "No", :class => "label-check",:name =>"lch10"%>
                </td>
                <td class="col-num-c border">31.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch31 %>
                    <%=label_tag :ch31, "No", :class => "label-check",:name =>"lch31"%>
                </td>
                <td class="col-num-c border">52.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch52 %>
                    <%=label_tag :ch52, "No", :class => "label-check",:name =>"lch52"%>
                </td>
                <td class="col-num-c border">73.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch73 %>
                    <%=label_tag :ch73, "No", :class => "label-check",:name =>"lch73"%>
                </td>                
            </tr>
            <tr class="backg">
                <td class="col-num-c border">11.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch11 %>
                    <%=label_tag :ch11, "No", :class => "label-check",:name =>"lch11"%>
                </td>
                <td class="col-num-c border">32.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch32 %>
                    <%=label_tag :ch32, "No", :class => "label-check",:name =>"lch32"%>
                </td>
                <td class="col-num-c border">53.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch53 %>
                    <%=label_tag :ch53, "No", :class => "label-check",:name =>"lch53"%>
                </td>
                <td class="col-num-c border">74.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch74 %>
                    <%=label_tag :ch74, "No", :class => "label-check",:name =>"lch74"%>
                </td>                
            </tr>
            <tr>
                <td class="col-num-c border">12.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch12 %>
                    <%=label_tag :ch12, "No", :class => "label-check",:name =>"lch12"%>
                </td>
                <td class="col-num-c border">33.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch33 %>
                    <%=label_tag :ch33, "No", :class => "label-check",:name =>"lch33"%>
                </td>
                <td class="col-num-c border">54.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch54 %>
                    <%=label_tag :ch54, "No", :class => "label-check",:name =>"lch54"%>
                </td>
                <td class="col-num-c border">75.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch75 %>
                    <%=label_tag :ch75, "No", :class => "label-check",:name =>"lch75"%>
                </td>                
            </tr> 
            <tr class="backg">
                <td class="col-num-c border">13.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch13 %>
                    <%=label_tag :ch13, "No", :class => "label-check",:name =>"lch13"%>
                </td>
                <td class="col-num-c border">34.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch34 %>
                    <%=label_tag :ch34, "No", :class => "label-check",:name =>"lch34"%>
                </td>
                <td class="col-num-c border">55.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch55 %>
                    <%=label_tag :ch55, "No", :class => "label-check",:name =>"lch55"%>
                </td>
                <td class="col-num-c border">76.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch76 %>
                    <%=label_tag :ch76, "No", :class => "label-check",:name =>"lch76"%>
                </td>                
            </tr>
            <tr>
                <td class="col-num-c border">14.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch14 %>
                    <%=label_tag :ch14, "No", :class => "label-check",:name =>"lch14"%>
                </td>
                <td class="col-num-c border">35.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch35 %>
                    <%=label_tag :ch35, "No", :class => "label-check",:name =>"lch35"%>
                </td>
                <td class="col-num-c border">56.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch56 %>
                    <%=label_tag :ch56, "No", :class => "label-check",:name =>"lch56"%>
                </td>
                <td class="col-num-c border">77.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch77 %>
                    <%=label_tag :ch77, "No", :class => "label-check",:name =>"lch77"%>
                </td>                
            </tr>
            <tr class="backg">
                <td class="col-num-c border">15.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch15 %>
                    <%=label_tag :ch15, "No", :class => "label-check",:name =>"lch15"%>
                </td>
                <td class="col-num-c border">36.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch36 %>
                    <%=label_tag :ch36, "No", :class => "label-check",:name =>"lch36"%>
                </td>
                <td class="col-num-c border">57.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch57 %>
                    <%=label_tag :ch57, "No", :class => "label-check",:name =>"lch57"%>
                </td>
                <td class="col-num-c border">78.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch78 %>
                    <%=label_tag :ch78, "No", :class => "label-check",:name =>"lch78"%>
                </td>                
            </tr>  
            <tr>
                <td class="col-num-c border">16.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch16 %>
                    <%=label_tag :ch16, "No", :class => "label-check",:name =>"lch16"%>
                </td>
                <td class="col-num-c border">37.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch37 %>
                    <%=label_tag :ch37, "No", :class => "label-check",:name =>"lch37"%>
                </td>
                <td class="col-num-c border">58.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch58 %>
                    <%=label_tag :ch58, "No", :class => "label-check",:name =>"lch58"%>
                </td>
                <td class="col-num-c border">79.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch79 %>
                    <%=label_tag :ch79, "No", :class => "label-check",:name =>"lch79"%>
                </td>                
            </tr>
            <tr class="backg">
                <td class="col-num-c border">17.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch17 %>
                    <%=label_tag :ch17, "No", :class => "label-check",:name =>"lch17"%>
                </td>
                <td class="col-num-c border">38.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch38 %>
                    <%=label_tag :ch38, "No", :class => "label-check",:name =>"lch38"%>
                </td>
                <td class="col-num-c border">59.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch59 %>
                    <%=label_tag :ch59, "No", :class => "label-check",:name =>"lch59"%>
                </td>
                <td class="col-num-c border">80.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch80 %>
                    <%=label_tag :ch80, "No", :class => "label-check",:name =>"lch80"%>
                </td>                
            </tr>
            <tr>
                <td class="col-num-c border">18.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch18 %>
                    <%=label_tag :ch18, "No", :class => "label-check",:name =>"lch18"%>
                </td>
                <td class="col-num-c border">39.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch39 %>
                    <%=label_tag :ch39, "No", :class => "label-check",:name =>"lch39"%>
                </td>
                <td class="col-num-c border">60.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch60 %>
                    <%=label_tag :ch60, "No", :class => "label-check",:name =>"lch60"%>
                </td>
                <td class="col-num-c border">81.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch81 %>
                    <%=label_tag :ch81, "No", :class => "label-check",:name =>"lch81"%>
                </td>                
            </tr>
            <tr class="backg">
                <td class="col-num-c border">19.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch19 %>
                    <%=label_tag :ch19, "No", :class => "label-check",:name =>"lch19"%>
                </td>
                <td class="col-num-c border">40.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch40 %>
                    <%=label_tag :ch40, "No", :class => "label-check",:name =>"lch40"%>
                </td>
                <td class="col-num-c border">61.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch61 %>
                    <%=label_tag :ch61, "No", :class => "label-check",:name =>"lch61"%>
                </td>
                <td class="col-num-c border"></td>
                <td class="col-check-c border"></td>
            </tr>
            <tr>
                <td class="col-num-c border">20.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch20 %>
                    <%=label_tag :ch20, "No", :class => "label-check",:name =>"lch20"%>
                </td>
                <td class="col-num-c border">41.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch41 %>
                    <%=label_tag :ch41, "No", :class => "label-check",:name =>"lch41"%>
                </td>
                <td class="col-num-c border">62.-</td>
                <td class="col-check-c border">
                    <%=check_box_tag :ch62 %>
                    <%=label_tag :ch62, "No", :class => "label-check",:name =>"lch62"%>
                </td>
                <td class="col-num-c border"></td>
                <td class="col-check-c border"></td>                
            </tr>
            <tr class="backg">
                <td class="col-num-b border">21.-</td>
                <td class="col-check-b border">
                    <%=check_box_tag :ch21 %>
                    <%=label_tag :ch21, "No", :class => "label-check", :name =>"lch21"%>
                </td>
                <td class="col-num-b border">42.-</td>
                <td class="col-check-b border">
                    <%=check_box_tag :ch42 %>
                    <%=label_tag :ch42, "No", :class => "label-check",:name =>"lch42"%>
                </td>
                <td class="col-num-b border">63.-</td>
                <td class="col-check-b border">
                    <%=check_box_tag :ch63 %>
                    <%=label_tag :ch63, "No", :class => "label-check",:name =>"lch63"%>
                </td>
                <td class="col-num-b border"></td>
                <td class="col-check-b border"></td>
            </tr>
        </table>