<% if @escuela.errors.any? %>
    <%@flag = "1-2"%>
    <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
        <% @escuela.errors.each do |attribute, message| %>
        <%= message %><br>
    <% end %>
    </div>
<% end %>

<div class="row board">
    <%if  @flag == "1" || @flag == "1-2"%>
        <div class="col-md-6">
        <%x = "f"%>
    <%else%>
        <div class="col-md-12">
        <% x="v"%>
    <%end%>
       <div class="panel">
       	  <div class="panel-heading col-md-12">
       	    <div class="col-md-10">
		        <h3>Escuelas registradas:</h3>
            </div>
            <div class="col-md-2">
                <%= link_to "Nueva Escuela", escuelas_new_flag_path("00a1b22cf54d65=1434?"),:method => :post, class:"btn btn-raised btn-info btn-right-"+x, id: "newesc"%>                
            </div>
		  </div>

          <div class="panel-body text-center position">
             
             <table class="table table-striped table-hover">
              <thead>
                <tr class="text-center">
                  <th class="text-center">#</th>
                  <th class="text-center">Escuela</th>
                  <th class="text-center">Colonia</th>
                  <th class="text-center">Municipio</th>
                  <th class="text-center">Nivel Escolar</th>
                  <th class="text-center">id_Psic</th>
                  <th class="text-center">Status</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% if (!@escuelas.nil?) %>   
                    <% var = 1;
                        num = 1;%>
                      <% @escuelas.each do |ubicacion| %>
                        <%if (var == 1)%>    
                            <tr class="success">
                            <%var=2%>
                        <%else%>
                            <tr>
                            <%var=1%>
                        <%end%>
                        <td><%= num %></td>  
                        <td><%= ubicacion.escuela %></td>
                        <td><%= ubicacion.colonia %></td>
                        <td><%= ubicacion.municipio.municipio%></td>
                        <td><%= ubicacion.nivel_estudio.nivel %></td>
                        <td><%= ubicacion.psychologist.nombre + " "+ubicacion.psychologist.apellidoP%></td>
                        <%if ubicacion.status == "0"%>
                            <td>Pendiente</td>
                        <%else%>
                            <td>Cerrada</td>
                        <%end%>
                        <td><%= link_to 'Mostrar', tamizaje_path(ubicacion), class:"btn btn-sm btn-primary" %></td>
                      </tr>
                      <%num+=1%>
                    <% end %>
                <% else %>
                    <tr><td colspan="8"><%="No hay escuelas"%></td></tr>
                <%end%>
              </tbody>
            </table>
           
                     
        </div> <!--panel-body-->
        </div><!--panel-info-->
    </div><!--col-mod6-->
    
    <%if  @flag == "1" || @flag == "1-2"%>
       <% if @escuela.errors.any? %>
            <%=render "/tamizajes/newEsc"%>
        <%else%>
            <%=render "newEsc"%>
        <%end%>
    <%end%>

</div><!--row board-->
 


 





