<% if @tamizaje.errors.any? %>
    <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
        <% @tamizaje.errors.each do |attribute, message| %>
        <%= message %><br>
    <% end %>
    </div>
<% end %>

<div class="row board">
    <div class="col-md-6">
       <div class="panel panel-info">
           <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-search"></i> Respuestas</h3>
          </div>
           <div class="panel-body text-center">
                <%= render "tamizajes"%>
           </div>
        </div>
    </div><!--left-->

    <div class="col-md-6">
       <div class="panel panel-success">
       	    <div class="panel-heading">
		    <h1 class="panel-title"><i class="fa fa-stethoscope"></i>Datos personales</h1>
		  </div>

           <%= form_for(@tamizaje,:controller =>"tamizajes", url: tam_create_path(:"a1b22cf54d65=1434?" => @esctemp.id), :action => "create", :method => :post) do |f| %>

          <div class="panel-body text-center">

              <div class="form-group field">
                  <%= label_tag "Nombre" %>
                  <%= f.text_field :nombre, :class => "form-control text-center"%>
              </div>
              <div class="form-group field">
                  <%= label_tag "Apellido Paterno " %>
                  <%= f.text_field :apellidoP, :class => "form-control text-center" %>
              </div>
              <div class="form-group field">
                  <%= label_tag "Apellido Materno " %>
                  <%= f.text_field :apellidoM, :class => "form-control text-center" %>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group field">
                      <%edad = {}%>
                      <%for i in (11..80) do%><%edad[i] = i.to_s%><%end%>
                      <%= label_tag :edad, "Edad: " %>
                      <%= f.select :edad, options_for_select(edad), class:"select btn-xs form-control text-center",:prompt => '--'%>                      
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="row">
                      <div class="col-md-2">
                          <%= label_tag :sexo, "Sexo: "%><br>
                      </div>
                      <div class="col-md-4">
                          <%= f.radio_button :sexo, "M"%>
                          <%= label_tag :sexo, "Masculino"%>
                      </div>
                      <div class="col-md-4">
                          <%= f.radio_button :sexo, "F",:checked =>true%>
                          <%= label_tag :sexo, "Femenino"%>
                      </div>
                </div>
                </div>
            </div>
            <div class="form-group field">
                <%= label_tag "Escuela " %>
                <%= text_field_tag :nombre_escuela, @esctemp.escuela, :class => "form-control text-center", :readonly => true %>
            </div>
            <div class="form-group field">
                <%= label_tag "Nivel escolar " %>
                <%= text_field_tag :nivel_estudio,@esctemp.nivel_estudio.nivel, :class => "form-control text-center", :readonly => true %>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group field">
                    <%= label_tag"Grado " %>
                    <%= f.select :grado, options_for_select(@g_g.keys), class:"select btn-xs form-control text-center",:prompt => '--'%>                      
                    
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group field">
                    <%= label_tag "Grupo " %>
                    <%= f.select :grupo, options_for_select(@g_g.values), class:"select btn-xs form-control text-center",:prompt => '--'%>                    
                </div>
              </div>
               <div class="col-md-6">
                <div class="form-group field">
                    <%= label_tag "Folio " %>
                    <%= f.text_field :folio_cuestionario,value:"0", :class => "form-control text-center" %>
                </div>             
                </div> 
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group field">
                    <%= label_tag "Colonia de la escuela " %>
                    <%= text_field_tag :colonia_escuela,@esctemp.colonia, :class => "form-control text-center", :readonly => true %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group field">
                    <%= label_tag "Municipio de la escuela " %>
                    <%= text_field_tag :municipio_escuela, @esctemp.municipio.municipio, :class => "form-control text-center", :readonly => true %>
                </div>
              </div>
            </div>
              <div class="actions">
                  <%= f.submit "Guardar", :class => "btn btn-raised btn-success"%>
              </div>

        </div> <!--rigth-->
        </div><!--rigth-->
    </div><!--rigth-->
</div><!--container-->

<div class="row board">
  <div class="col-md-12">
      <div class="panel panel-info">
      <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-search"></i> Respuestas</h3>
      </div>
      <div class="panel-body text-center">

      <div class="form-group field">
          <table class="tabla-preg" border="0px">
          <tr class="especificacion">
              <td></td>
              <td colspan="2" class="bckg-red"></td>
              <td colspan="18"> Red flags</td>
          </tr><tr><td><br></td></tr>
          <tr class="especificacion">
              <td></td>
              <td colspan="2" class="bckg-blue"></td>
              <td colspan="18">Aseveraciones negativas que se califican como riesgo</td>
          </tr><tr><td><br></td></tr>
          <tr class="especificacion">
              <td></td>
              <td colspan="2" class="bckg-green"></td>
              <td colspan="18"> Combinacion de ambos</td>
          </tr><tr><td><br></td></tr>
          <tr>
              <td></td>
              <td class="bckg-red">2</td><td class="bckg-red">17</td><td class="bckg-red">21</td>
              <td class="bckg-red">25</td><td class="bckg-red">33</td><td class="bckg-red">38</td>
              <td class="bckg-red">41</td><td class="bckg-red">46</td><td class="bckg-red">47</td>
              <td class="bckg-red">48</td><td class="bckg-red">54</td><td class="bckg-red">56</td>
              <td class="bckg-red">57</td><td class="bckg-red">58</td><td class="bckg-red">62</td>
              <td class="bckg-red">65</td><td class="bckg-red">68</td><td>=</td>
              <td>17</td>
          </tr>
          <tr>
              <td class="label-seccion"><%= label :l1, "Uso sustancias: "%></td>
              <td colspan="17"><%= f.text_field :p_usoS, :readonly => true, :class =>"textf-preg"%></td>
              <td><%= label_tag :l1_1,"Total: "%></td>
              <td><%= f.text_field :total_uso_sustancias, :readonly => true,:class =>"textf-total"%></td>
              <td class="especificacion"><b> > 0 == Riesgo</b></td>
          </tr>
          <tr>
              <td></td>
              <td class="borde-celda">5</td><td class="bckg-red">6</td><td class="borde-celda">8</td>
              <td class="borde-celda">10</td><td class="borde-celda">15</td><td class="borde-celda">23</td>
              <td class="bckg-red">28</td><td class="borde-celda">40</td><td class="borde-celda">43</td>
              <td class="bckg-red">55</td><td class="borde-celda">60</td><td class="borde-celda">63</td>
              <td class="borde-celda">66</td><td class="bckg-red">75</td><td class="bckg-red">76</td>
              <td class="borde-celda">80</td> <td class="borde-celda"></td> <td>=</td>
              <td>16</td>
          </tr>
          <tr>
              <td class="label-seccion"><%= label_tag :l2, "Salud mental: "%></td>
              <td colspan="17"><%= f.text_field :p_saludM, :readonly => true, :class =>"textf-preg" %></td>
              <td><%= label_tag :l2_1,"Total: "%></td>
              <td><%= f.text_field :total_salud_mental, :readonly => true,:class =>"textf-total"%></td>
              <td class="especificacion">Si 6,28,55,75,76<b>>= 1== Riesgo</b><br>y si suma<b>>= 5 == Riesgo</b></td>
          </tr>
          <tr>
              <td></td>
              <td class="borde-celda">4</td><td class="borde-celda">14</td><td class="bckg-green">20</td>
              <td class="bckg-green">22</td><td class="bckg-green">32</td><td class="bckg-green">39</td>
              <td class="bckg-red">45</td><td class="bckg-green">52</td><td class="bckg-green">70</td>
              <td class="bckg-green">71</td> <td class="borde-celda"></td> <td class="borde-celda"></td>
              <td class="borde-celda"></td> <td class="borde-celda"></td> <td class="borde-celda"></td>
              <td class="borde-celda"></td> <td class="borde-celda"></td> <td>=</td>
              <td>10</td>
          </tr>
          <tr>
              <td class="label-seccion"><%= label_tag :l3, "Relacion familiar: "%></td>
              <td colspan="17"><%= f.text_field :p_relacionF, :readonly => true, :class =>"textf-preg"%></td>
              <td><%= label_tag :l3_1,"Total: "%></td>
              <td><%= f.text_field :total_relacion_familiar, :readonly => true,:class =>"textf-total"%></td>
              <td class="especificacion">Si 20,45,52<b>>= 1 == Riesgo</b><br> y si suma <b>>= 3 == Riesgo</b></td>
          </tr>
          <tr>
              <td></td>
              <td class="bckg-red">3</td><td class="bckg-green">13</td><td class="bckg-red">19</td>
              <td class="bckg-red">29</td><td class="bckg-red">67</td><td class="bckg-red">73</td>
              <td class="bckg-red">77</td> <td class="borde-celda"></td> <td class="borde-celda"></td>
              <td class="borde-celda"></td> <td class="borde-celda"></td> <td class="borde-celda"></td>
              <td class="borde-celda"></td> <td class="borde-celda"></td> <td class="borde-celda"></td>
              <td class="borde-celda"></td> <td class="borde-celda"></td> <td>=</td>
              <td>7</td>
          </tr>
          <tr>
              <td class="label-seccion"><%= label_tag :l4, "Relacion amigos: "%></td>
              <td colspan="17"><%= f.text_field :p_relacionA, :readonly => true, :class =>"textf-preg"%></td>
              <td><%= label_tag :l4_1,"Total: "%></td>
              <td><%= f.text_field :total_relacion_amigos, :readonly => true,:class =>"textf-total"%></td>
              <td class="especificacion"><b>>0 == Riesgo</b></td>
          </tr>
          <tr>
              <td></td>
              <td class="borde-celda">7</td><td class="borde-celda">8</td><td class="bckg-blue">12</td>
              <td class="borde-celda">15</td><td class="bckg-blue">18</td><td class="bckg-green">26</td>
              <td class="borde-celda">34</td> <td class="borde-celda">40</td> <td class="bckg-red">42</td>
              <td class="borde-celda">61</td><td class="bckg-red">66</td><td class="bckg-green">69</td>
              <td class="bckg-red">72</td><td class="borde-celda">74</td><td class="borde-celda">79</td>
              <td class="bckg-red">80</td><td class="borde-celda"></td> <td>=</td>
              <td>16</td>
          </tr>
          <tr>
              <td class="label-seccion"><%= label_tag :l5, "Nivel educativo: "%></td>
              <td colspan="17"><%= f.text_field :p_nivelE, :readonly => true, :class =>"textf-preg"%></td>
              <td><%= label_tag :l5_1,"Total: "%></td>
              <td><%= f.text_field :total_nivel_educativo, :readonly => true,:class =>"textf-total"%></td>
              <td class="especificacion">Si 26,42,66,69,72,80 <b>>= 1 == Riesgo</b><br>y si suma <b>>= 5 == Riesgo</b></td>
          </tr>
          <tr>
              <td></td>
              <td></td> <td class="borde-celda">27</td><td class="borde-celda">36</td> <td></td>
              <td class="borde-celda">51</td><td class="borde-celda">78</td> <td></td>
              <td class="borde-celda">16</td><td class="borde-celda">44</td>
              <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td>=</td>
              <td >6</td>
          </tr>
          <tr>
              <td class="label-seccion"><%= label_tag :l6, "Interes laboral: "%></td>
              <td colspan="17"><%= f.text_field :p_interesL, :readonly => true, :class =>"textf-preg"%></td>
              <td><%= label_tag :l6_1,"Total: "%></td>
              <td><%= f.text_field :total_interes_laboral, :readonly => true,:class =>"textf-total"%></td>
              <td class="especificacion"><b>>= 3 == Riesgo</b></td>
          </tr>
          <tr>
              <td></td>
              <td class="borde-celda">1</td><td class="borde-celda">9</td><td class="borde-celda">11</td>
              <td class="bckg-red">24</td><td class="borde-celda">30</td><td class="borde-celda">31</td>
              <td class="borde-celda">35</td><td class="borde-celda">37</td><td class="borde-celda">49</td>
              <td class="bckg-red">50</td> <td class="borde-celda">53</td> <td class="borde-celda">59</td>
              <td class="borde-celda">64</td> <td class="borde-celda">81</td> <td class="borde-celda"></td>
              <td class="borde-celda"></td> <td class="borde-celda"></td> <td>=</td>
              <td>14</td>
          </tr>
          <tr>
              <td class="label-seccion"><%= label_tag :l7, "Conducta agresiva: "%></td>
              <td colspan="17"><%= f.text_field :p_conductaA, :readonly => true, :class =>"textf-preg"%></td>
              <td><%= label_tag :l7_1,"Total: "%></td>
              <td><%= f.text_field :total_conducta_agresiva, :readonly => true,:class =>"textf-total"%></td>
              <td class="especificacion">Si 24,50 <b>>= 1 == Riesgo</b><br> y si suma <b>>= 5 == Riesgo</b></td>
          </tr>
          <tr>
              <td colspan="20" class="label-seccion"><%= label_tag :l8,"Resultado: "%>
              <%= f.text_field :resultado, :readonly => true,:class =>"textf-total"%></td>
              <td class="especificacion"><br><b>>= 34 == Riesgo</b> para iniciar <br>o incrementar consumo</td>

          </tr>
          </table>
      </div>
      </div>
      </div>
  </div><!--bottom-->


              <% end %><!--fin form-->

</div>
