<!--  esto siempre va  -->

<%= wicked_pdf_javascript_include_tag "application", "chartkick" %>
<%= javascript_include_tag "https://www.google.com/jsapi" %>
<%= wicked_pdf_javascript_include_tag "chartkick" %>
<!--  Fin  -->


<style media="screen">
    div.no-break {
        page-break-inside: avoid !important;
        display: block;
         // page-break-after: always;
        //clear:both;
        //page-break-after: always 
    }
    .text-center{
        text-align: center;
        //background-color: #72B08F;
        //color: #FAFAFA;
    }
    .seccion{
        background-color: #FAFAFA;
        text-align: justify;
        padding: 5px 15px 5px 15px;
        margin-top: -20px
    }
    table{
        text-align: center;
        border-collapse: collapse;
        border-spacing: 0px;
        font-size: 0.8em;
        margin: 0 auto;
        width: 100%;
    }
    html{
        text-transform: uppercase;
    }
    .size-s{
        font-size: 0.75em;
    }
    thead{
        font-size: 0.9em;
        margin-right: 5px;
    }
    .row-color-t{background-color: #DFECE5;}      
    td{height: 20px;}
    tr{font-size: 0.8em;}
    .riesgo{color: crimson;}
    .show-grid {
        margin-bottom: 2em;
        border: 1px solid #AAA;
        background-color: #EEE;
        background-color: rgba(200,200,200,0.3);
    }
    .row {
        margin-right: -15px;
        margin-left: -15px;
        background-color: #72B08F;
    }
    .col-1{width: 8.333333%;}
    .col-2{width: 16.66666%;}
    .col-3{width: 24.99999%;}
    .col-4{width: 33.33332%;}
    .col-5{width: 41.66665%;}
    .col-6{width: 49.99998%;}
    .col-7{width: 58.33331%;}
    .col-8{width: 66.66664%;}
    .col-9{width: 74.99997%;}
    .col-10{width: 83.3333%;}
    .col-11{width: 91.66663%;}
    .col-12{width: 100%;}
    [class^=col]{
        float:left;
        height:auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        
        padding-top: 5px;
        padding-bottom: 5px;
        
        //position: relative;
        min-height: 1px;
        padding-right: 10px;
        //padding-left: 15px;
        
    }
    .align-rigth{
        text-align: right;
    }
    .col-sector{
        margin-left: 25px;
        width: 49.5%;
    }
    .col-puntos{
        width: 8%;
    }
    .col-riesgo{
        width: 23%;
    }
    .col-parametro{
        width: 14%;
    }
    .col-params{
        width: 47%;
    }

</style>

<!--variables por grupo-->
<% num = 1; grupo = ""; grado=""; var = 1; gpNext = ""; gdNext = "";%>
<%sumaUs = 0; sumaSm = 0; sumaRf = 0; sumaRa = 0; sumaNe = 0; sumaIl = 0; sumaCa = 0; sumaRg = 0; %>
<!--variables por genero Femenino-->
<%generoF = 1; femUs = 0; femSm = 0; femRf = 0; femRa = 0; femNe = 0; femIl = 0; femCa = 0; femRg = 0;%>
<!--variables por genero Masculino-->
<%generoM = 1; masUs = 0; masSm = 0; masRf = 0; masRa = 0; masNe = 0; masIl = 0; masCa = 0; masRg = 0;%>

<!--variables por escuela-->
<%globalNum =1; globalUs = 0; globalSm = 0; globalRf = 0; globalRa = 0; globalNe = 0; globalIl = 0; globalCa = 0; globalRg = 0;%>

<!--variables riesgo en Uso de sustancas-->
<%riesgoNum = 1;%>

<% if (!@grupos.nil?) %>
  <% @grupos.each_with_index do |g,i| %>
  
    <% if ((g.grupo).to_s != grupo || (g.grado).to_s != grado) %>
     
      <%grado = (g.grado).to_s;
        grupo = (g.grupo).to_s%>


        
           <div class="">
              <div class="">
                <div class="">
                    <div class="col-8"><h4><%= (@esctemp.nivel_estudio.nivel).to_s+': '+'"'+@esctemp.escuela+'"'%>&nbsp;</h4></div><div class="col-4"><h4>Grado:&nbsp;<%=g.grado %>&nbsp;&nbsp;Grupo:&nbsp;<%=g.grupo %></h4></div>
                </div>
              </div>

                 <table>
                  <thead>
                    <tr class="">
                      <th>No.</th>
                      <th colspan="3">Nombre</th>
                      <th>Edad</th>
                      <th>Sexo</th>
                      <th>Grado</th>
                      <th>Grupo</th>
                      <th>Uso de <br>sustancias</th>
                      <th>Salud <br>mental</th>
                      <th>Relaciones <br>Familiares</th>
                      <th>Relacion con<br> Amigos</th>
                      <th>Nivel <br>Educativo</th>
                      <th>Interes <br>Laboral</th>
                      <th>Conducta <br>Agresiva</th>
                      <th>Resultado</th>
                    </tr>
                  </thead>

                  <tbody>
    <% end %><!--grupo =! && grado !=-->
                  <%if (var == 1)%>
                    <tr class="row-color-t"><%var=2%>
                  <%else%>
                    <tr><%var=1%>
                  <%end%><!--if var = 1-->
                        <td><%=num%></td>
                        <td><%= g.nombre %></td>
                        <td><%= g.apellidoP %></td>
                        <td><%= g.apellidoM %></td>
                        <td><%= g.edad %></td>
                        <td><%= g.sexo %></td>
                        <td><%= g.grado %></td>
                        <td><%= g.grupo %></td>
                            <td>
                                <%if g.total_uso_sustancias.to_i > 0%>
                                    <%riesgoNum+=1;%>
                                    <b class="riesgo">-
                                <%end%>
                                <%= g.total_uso_sustancias %>
                                <%if g.total_uso_sustancias.to_i > 0%>
                                    -</b>
                                <%end%>
                            </td>
                            <td>
                                <%if g.total_salud_mental.to_i >= 5%>
                                    <b class="riesgo">-
                                <%end%>                                
                                <%= g.total_salud_mental %>
                                <%if g.total_salud_mental.to_i >= 5%>
                                    -</b>
                                <%end%>
                            </td>                                
                            <td>
                                <%if g.total_relacion_familiar.to_i >= 3%>
                                    <b class="riesgo">-
                                <%end%>                                                  
                                <%= g.total_relacion_familiar %>
                                <%if g.total_relacion_familiar.to_i >= 3%>
                                    -</b>
                                <%end%>                                
                            </td>
                            <td>
                                <%if g.total_relacion_amigos.to_i > 0%>
                                    <b class="riesgo">-
                                <%end%>                                                  
                                <%= g.total_relacion_amigos %>
                                <%if g.total_relacion_amigos.to_i > 0%>
                                    -</b>
                                <%end%>                               
                            </td>
                            <td>
                                <%if g.total_nivel_educativo.to_i >= 5%>
                                    <b class="riesgo">-
                                <%end%>                                                  
                                <%= g.total_nivel_educativo %>
                                <%if g.total_nivel_educativo.to_i >= 5%>
                                    -</b>
                                <%end%>
                            </td>
                            <td>
                                <%if g.total_interes_laboral.to_i >= 3%>
                                    <b class="riesgo">-
                                <%end%>                                                  
                                <%= g.total_interes_laboral %>
                                <%if g.total_interes_laboral.to_i >= 3%>
                                    -</b>
                                <%end%>
                            </td>
                            <td>
                                <%if g.total_conducta_agresiva.to_i >=5%>
                                    <b class="riesgo">-
                                <%end%>
                                <%= g.total_conducta_agresiva %>
                                <%if g.total_conducta_agresiva.to_i >=5%>
                                    -</b>
                                <%end%>
                            </td>
                            <td>
                                <%if g.resultado.to_i >= 34%>
                                    <b class="riesgo">-
                                <%end%>
                                <%= g.resultado %>
                                <%if g.resultado.to_i >= 34%>
                                    -</b>
                                <%end%>
                            </td>
                    </tr>
                      <%num+=1;
                        globalNum+=1;
                        sumaUs += g.total_uso_sustancias.to_f; 
                        sumaSm += g.total_salud_mental.to_f; 
                        sumaRf += g.total_relacion_familiar.to_f; 
                        sumaRa += g.total_relacion_amigos.to_f;  
                        sumaNe += g.total_nivel_educativo.to_f;  
                        sumaIl += g.total_interes_laboral.to_f;  
                        sumaCa += g.total_conducta_agresiva.to_f;  
                        sumaRg += g.resultado.to_f;  %>
                        
                      <%if (g.sexo).to_s == "F"%>
                          <%generoF+=1;
                            femUs += g.total_uso_sustancias.to_f; 
                            femSm += g.total_salud_mental.to_f; 
                            femRf += g.total_relacion_familiar.to_f;
                            femRa += g.total_relacion_amigos.to_f;  
                            femNe += g.total_nivel_educativo.to_f;  
                            femIl += g.total_interes_laboral.to_f;  
                            femCa += g.total_conducta_agresiva.to_f;  
                            femRg += g.resultado.to_f;%>
                      <%else%>
                          <%if (g.sexo).to_s == "M"%>
                          <%generoM+=1;
                            masUs += g.total_uso_sustancias.to_f; 
                            masSm += g.total_salud_mental.to_f; 
                            masRf += g.total_relacion_familiar.to_f;
                            masRa += g.total_relacion_amigos.to_f;  
                            masNe += g.total_nivel_educativo.to_f;  
                            masIl += g.total_interes_laboral.to_f;  
                            masCa += g.total_conducta_agresiva.to_f;  
                            masRg += g.resultado.to_f;%>
                          <%end%>
                      <%end%>
                        
    <%if !@grupos[i+1].nil?%>
        <%x = @grupos[i+1]%>
        <%gpNext = (x.grupo).to_s%>
        <%gdNext = (x.grado).to_s%>
    <%else%>
        <%gpNext = ""%>
        <%gdNext = ""%>        
    <%end%>                                      
                              
    <%if gpNext != (g.grupo).to_s || gdNext != (g.grado).to_s%>
        </tbody></table>
        
        <%  valUs = (sumaUs / (num-1)).round; 
            valSm = (sumaSm / (num-1)).round; 
            valRf = (sumaRf / (num-1)).round; 
            valRa = (sumaRa / (num-1)).round; 
            valNe = (sumaNe / (num-1)).round; 
            valIl = (sumaIl / (num-1)).round;
            valCa = (sumaCa / (num-1)).round; 
            valRg = (sumaRg / (num-1)).round;

            globalUs += sumaUs; 
            globalSm += sumaSm; 
            globalRf += sumaRf; 
            globalRa += sumaRa; 
            globalNe += sumaNe; 
            globalIl += sumaIl; 
            globalCa += sumaCa; 
            globalRg += sumaRg;

            sumaUs = 0; sumaSm = 0; sumaRf = 0; sumaRa = 0; sumaNe = 0; sumaIl = 0; sumaCa = 0; sumaRg = 0;%>        
        <div class="col-12 no-break">
            
                <%=render :partial => "graficaGruposEsc", :locals => {:id => "#{g.grado+"-"+g.grupo}", :titulo => "grupo #{g.grado+"-"+g.grupo}", :valUs => valUs, :valSm => valSm, :valRf => valRf, :valRa => valRa, :valNe => valNe, :valIl => valIl, :valCa => valCa, :valRg => valRg}%>

        </div><!--col-12-->

        </div><!--panel-info-->

        <%num = 1%>

    <% end %><!--gpNext =! && gdNext !=-->
    
  <% end %><!--grupos.each-->




<!--graficas globales por genero y escuela-->
    <%if globalNum > 1%>   
           <div class="">
              <div class="">
                
              </div>

                <!--grafica global-->
                <div class="col-12 no-break">

                <%  valUs = (globalUs / (globalNum-1)).round; 
                    valSm = (globalSm / (globalNum-1)).round; 
                    valRf = (globalRf / (globalNum-1)).round; 
                    valRa = (globalRa / (globalNum-1)).round; 
                    valNe = (globalNe / (globalNum-1)).round; 
                    valIl = (globalIl / (globalNum-1)).round;
                    valCa = (globalCa / (globalNum-1)).round; 
                    valRg = (globalRg / (globalNum-1)).round;%>

                    <%=render :partial => "graficaGruposEsc", :locals => {:id => "escuela", :titulo => "de la escuela", :valUs => valUs, :valSm => valSm, :valRf => valRf, :valRa => valRa, :valNe => valNe, :valIl => valIl, :valCa => valCa, :valRg => valRg}%>

               </div><!--col-12-->
                


                <!--grafica genero femenino-->
                <%if generoF > 1%>
                <div class="col-12 no-break">        
                
                <%  valUs = (femUs / (generoF-1)).round; 
                    valSm = (femSm / (generoF-1)).round; 
                    valRf = (femRf / (generoF-1)).round; 
                    valRa = (femRa / (generoF-1)).round; 
                    valNe = (femNe / (generoF-1)).round; 
                    valIl = (femIl / (generoF-1)).round;
                    valCa = (femCa / (generoF-1)).round; 
                    valRg = (femRg / (generoF-1)).round;%>

                    <%=render :partial => "graficaGruposEsc", :locals => {:id => "femenino", :titulo => "por genero: Femenino", :valUs => valUs, :valSm => valSm, :valRf => valRf, :valRa => valRa, :valNe => valNe, :valIl => valIl, :valCa => valCa, :valRg => valRg}%>

                </div><!--panel default-->                                                         <%end%>
        
        
                <!--grafica genero masculino-->
                <%if generoM > 1%>
                <div class="col-12 no-break">        
                <%  valUs = (masUs / (generoM-1)).round; 
                    valSm = (masSm / (generoM-1)).round; 
                    valRf = (masRf / (generoM-1)).round; 
                    valRa = (masRa / (generoM-1)).round; 
                    valNe = (masNe / (generoM-1)).round; 
                    valIl = (masIl / (generoM-1)).round;
                    valCa = (masCa / (generoM-1)).round; 
                    valRg = (masRg / (generoM-1)).round;%>        
                    
                    <%=render :partial => "graficaGruposEsc", :locals => {:id => "masculino", :titulo => "por genero: Masculino", :valUs => valUs, :valSm => valSm, :valRf => valRf, :valRa => valRa, :valNe => valNe, :valIl => valIl, :valCa => valCa, :valRg => valRg}%>    

                </div><!--panel default-->
                <%end%>         
        
        </div><!--panel-info-->
    <%end%> <!--If globalNum > 1-->
    
<%else%>  
    ¡No hay tamizajes disponibles!
<%end%><!--if nil?-->
