<!--variables por grupo-->
<% num = 1; grupo = ""; grado=""; var = 1; gpNext = ""; gdNext = "";%>
<%sumaUs = 0; sumaSm = 0; sumaRf = 0; sumaRa = 0; sumaNe = 0; sumaIl = 0; sumaCa = 0; sumaRg = 0; %>
<!--variables por genero Femenino-->
<%generoF = 1; femUs = 0; femSm = 0; femRf = 0; femRa = 0; femNe = 0; femIl = 0; femCa = 0; femRg = 0;%>
<!--variables por genero Masculino-->
<%generoM = 1; masUs = 0; masSm = 0; masRf = 0; masRa = 0; masNe = 0; masIl = 0; masCa = 0; masRg = 0;%>

<!--variables por escuela-->
<%globalNum =1; globalUs = 0; globalSm = 0; globalRf = 0; globalRa = 0; globalNe = 0; globalIl = 0; globalCa = 0; globalRg = 0;%>

<!--variables riesgo en Uso de sustancas-->
<%riesgoNum = 1;%>

<% if (!@grupos.nil?) %>
      <div class="row board">
        <div class="col-md-12">
           <div class="panel panel-info">
              <div class="panel-heading col-md-12">
                <div class="col-md-6">
                    <h3>Opciones:</h3>
                </div>
              </div>

              <div class="panel-body text-center position">
                 
                <div class="col-md-2">
                    Grados y grupos con grafica<br>
                    <%= link_to "Imprimir", show_grupos_path(:'a1c32cf54d65=1434?' =>@esctemp, :format => :pdf),:method => :post ,class: "btn btn-success", :id => "imprimir-listas"%>
                </div>                
                <div class="col-md-3">
                    Alumnos en riesgo menor y mayor<br>
                    <%= link_to "Imprimir", show_riesgo_path(@esctemp, :format => :pdf),class: "btn btn-success"%>
                </div>
                <div class="col-md-3">
                    Tabla SICECA<br>
                    <%= link_to "Imprimir", show_riesgo_path(@esctemp, :format => :pdf),class: "btn btn-success"%>
                </div>                                
 
 
              </div> <!--panel-body--></div><!--panel-info-->
          </div><!--col-mod12-->
        </div><!--row board--> 
 
 
 
  <% @grupos.each_with_index do |g,i| %>
  
    <% if ((g.grupo).to_s != grupo || (g.grado).to_s != grado) %>
     
      <%grado = (g.grado).to_s;
        grupo = (g.grupo).to_s%>

      <div class="row board">
        <div class="col-md-12">
           <div class="panel panel-default">
              <div class="panel-heading col-md-12">
                <div class="col-md-6">
                    <h3>Grado:&nbsp;<%=g.grado %>&nbsp;&nbsp;Grupo:&nbsp;<%=g.grupo %></h3>
                </div>
              </div>

              <div class="panel-body text-center position">

                 <table class="table table-striped table-hover">
                  <thead>
                    <tr class="text-center">
                      <th>#</th>
                      <th>Nombre</th>
                      <th>Ap. P.</th>
                      <th>Ap. M.</th>
                      <th>Edad</th>
                      <th>Sexo</th>
                      <th>Grado</th>
                      <th>Grupo</th>
                      <th>Folio</th>
                      <th>Uso sustancias</th>
                      <th>Salud mental</th>
                      <th>Relacion familiar</th>
                      <th>Relacion amigos</th>
                      <th>Nivel educativo</th>
                      <th>Interes laboral</th>
                      <th>Conducta agresiva</th>
                      <th>Resultado</th>
                      <th></th>
                    </tr>
                  </thead>

                  <tbody>
    <% end %><!--grupo =! && grado !=-->
                  <%if (var == 1)%>
                    <tr class="success"><%var=2%>
                  <%else%>
                    <tr><%var=1%>
                  <%end%><!--if var = 1-->
                        <td><%=num%></td>
                        <td><%= g.nombre %></td>
                        <td><%= g.apellidoP %></td>
                        <td><%= g.apellidoM %></td>
                        <td><%= g.edad %></td>
                        <td><%= g.sexo %></td>
                        <td><%= g.grado %></td>
                        <td><%= g.grupo %></td>
                        <td><%= g.folio_cuestionario %></td>
                            <td>
                                <%if g.total_uso_sustancias.to_i > 0%>
                                    <%riesgoNum+=1;%>
                                    <b class="riesgo">-
                                <%end%>
                                <%= g.total_uso_sustancias %>
                                <%if g.total_uso_sustancias.to_i > 0%>
                                    -</b>
                                <%end%>
                            </td>
                            <td>
                                <%if g.total_salud_mental.to_i >= 5%>
                                    <b class="riesgo">-
                                <%end%>                                
                                <%= g.total_salud_mental %>
                                <%if g.total_salud_mental.to_i >= 5%>
                                    -</b>
                                <%end%>
                            </td>                                
                            <td>
                                <%if g.total_relacion_familiar.to_i >= 3%>
                                    <b class="riesgo">-
                                <%end%>                                                  
                                <%= g.total_relacion_familiar %>
                                <%if g.total_relacion_familiar.to_i >= 3%>
                                    -</b>
                                <%end%>                                
                            </td>
                            <td>
                                <%if g.total_relacion_amigos.to_i > 0%>
                                    <b class="riesgo">-
                                <%end%>                                                  
                                <%= g.total_relacion_amigos %>
                                <%if g.total_relacion_amigos.to_i > 0%>
                                    -</b>
                                <%end%>                               
                            </td>
                            <td>
                                <%if g.total_nivel_educativo.to_i >= 5%>
                                    <b class="riesgo">-
                                <%end%>                                                  
                                <%= g.total_nivel_educativo %>
                                <%if g.total_nivel_educativo.to_i >= 5%>
                                    -</b>
                                <%end%>
                            </td>
                            <td>
                                <%if g.total_interes_laboral.to_i >= 3%>
                                    <b class="riesgo">-
                                <%end%>                                                  
                                <%= g.total_interes_laboral %>
                                <%if g.total_interes_laboral.to_i >= 3%>
                                    -</b>
                                <%end%>
                            </td>
                            <td>
                                <%if g.total_conducta_agresiva.to_i >=5%>
                                    <b class="riesgo">-
                                <%end%>
                                <%= g.total_conducta_agresiva %>
                                <%if g.total_conducta_agresiva.to_i >=5%>
                                    -</b>
                                <%end%>
                            </td>
                            <td>
                                <%if g.resultado.to_i >= 34%>
                                    <b class="riesgo">-
                                <%end%>
                                <%= g.resultado %>
                                <%if g.resultado.to_i >= 34%>
                                    -</b>
                                <%end%>
                            </td>
                        <td><%= link_to 'Mostrar', show_tamizaje_path(:'a1b22cf54d65=1435?' =>g),:method => :post, class:"btn btn-sm btn-primary" %></td>
                    </tr>
                      <%num+=1;
                        globalNum+=1;
                        sumaUs += g.total_uso_sustancias.to_f; 
                        sumaSm += g.total_salud_mental.to_f; 
                        sumaRf += g.total_relacion_familiar.to_f; 
                        sumaRa += g.total_relacion_amigos.to_f;  
                        sumaNe += g.total_nivel_educativo.to_f;  
                        sumaIl += g.total_interes_laboral.to_f;  
                        sumaCa += g.total_conducta_agresiva.to_f;  
                        sumaRg += g.resultado.to_f;  %>
                        
                      <%if (g.sexo).to_s == "F"%>
                          <%generoF+=1;
                            femUs += g.total_uso_sustancias.to_f; 
                            femSm += g.total_salud_mental.to_f; 
                            femRf += g.total_relacion_familiar.to_f;
                            femRa += g.total_relacion_amigos.to_f;  
                            femNe += g.total_nivel_educativo.to_f;  
                            femIl += g.total_interes_laboral.to_f;  
                            femCa += g.total_conducta_agresiva.to_f;  
                            femRg += g.resultado.to_f;%>
                      <%else%>
                          <%if (g.sexo).to_s == "M"%>
                          <%generoM+=1;
                            masUs += g.total_uso_sustancias.to_f; 
                            masSm += g.total_salud_mental.to_f; 
                            masRf += g.total_relacion_familiar.to_f;
                            masRa += g.total_relacion_amigos.to_f;  
                            masNe += g.total_nivel_educativo.to_f;  
                            masIl += g.total_interes_laboral.to_f;  
                            masCa += g.total_conducta_agresiva.to_f;  
                            masRg += g.resultado.to_f;%>
                          <%end%>
                      <%end%>
                        
    <%if !@grupos[i+1].nil?%>
        <%x = @grupos[i+1]%>
        <%gpNext = (x.grupo).to_s%>
        <%gdNext = (x.grado).to_s%>
    <%else%>
        <%gpNext = ""%>
        <%gdNext = ""%>        
    <%end%>                                      
                              
    <%if gpNext != (g.grupo).to_s || gdNext != (g.grado).to_s%>
        </tbody></table>
        
        <%  valUs = (sumaUs / (num-1)).round; 
            valSm = (sumaSm / (num-1)).round; 
            valRf = (sumaRf / (num-1)).round; 
            valRa = (sumaRa / (num-1)).round; 
            valNe = (sumaNe / (num-1)).round; 
            valIl = (sumaIl / (num-1)).round;
            valCa = (sumaCa / (num-1)).round; 
            valRg = (sumaRg / (num-1)).round;

            globalUs += sumaUs; 
            globalSm += sumaSm; 
            globalRf += sumaRf; 
            globalRa += sumaRa; 
            globalNe += sumaNe; 
            globalIl += sumaIl; 
            globalCa += sumaCa; 
            globalRg += sumaRg;

            sumaUs = 0; sumaSm = 0; sumaRf = 0; sumaRa = 0; sumaNe = 0; sumaIl = 0; sumaCa = 0; sumaRg = 0;%>        
                        
        
        <div class="panel panel-default">
           
            <%=render :partial => "graficaGruposEsc", :locals => {:id => "#{g.grado+"-"+g.grupo}", :titulo => "grupo #{g.grado+"-"+g.grupo}", :valUs => valUs, :valSm => valSm, :valRf => valRf, :valRa => valRa, :valNe => valNe, :valIl => valIl, :valCa => valCa, :valRg => valRg}%>
                               
        </div><!--panel default-->
        
        </div> <!--panel-body--></div><!--panel-info-->
        </div><!--col-mod12-->
        </div><!--row board-->
        <%num = 1%>

    <% end %><!--gpNext =! && gdNext !=-->
    
  <% end %><!--grupos.each-->




<!--graficas globales por genero y escuela-->
    <%if globalNum > 1%>   
      <div class="row board">
        <div class="col-md-12">
           <div class="panel panel-default">
              <div class="panel-heading col-md-12">
                <div class="col-md-6">
                    <h3>Resultados globales:</h3>
                </div>
              </div>

              <div class="panel-body text-center position">
              
                <!--grafica global-->
                <div class="panel panel-default">     
                
                <%  valUs = (globalUs / (globalNum-1)).round; 
                    valSm = (globalSm / (globalNum-1)).round; 
                    valRf = (globalRf / (globalNum-1)).round; 
                    valRa = (globalRa / (globalNum-1)).round; 
                    valNe = (globalNe / (globalNum-1)).round; 
                    valIl = (globalIl / (globalNum-1)).round;
                    valCa = (globalCa / (globalNum-1)).round; 
                    valRg = (globalRg / (globalNum-1)).round;%>
                
                    <%=render :partial => "graficaGruposEsc", :locals => {:id => "escuela", :titulo => "de la escuela", :valUs => valUs, :valSm => valSm, :valRf => valRf, :valRa => valRa, :valNe => valNe, :valIl => valIl, :valCa => valCa, :valRg => valRg}%>
                </div><!--panel default-->
        
                

                <!--grafica genero femenino-->
                <%if generoF > 1%>
                <div class="panel panel-default">        
                
                <%  valUs = (femUs / (generoF-1)).round; 
                    valSm = (femSm / (generoF-1)).round; 
                    valRf = (femRf / (generoF-1)).round; 
                    valRa = (femRa / (generoF-1)).round; 
                    valNe = (femNe / (generoF-1)).round; 
                    valIl = (femIl / (generoF-1)).round;
                    valCa = (femCa / (generoF-1)).round; 
                    valRg = (femRg / (generoF-1)).round;%>
                    
                    <%=render :partial => "graficaGruposEsc", :locals => {:id => "femenino", :titulo => "por genero: Femenino", :valUs => valUs, :valSm => valSm, :valRf => valRf, :valRa => valRa, :valNe => valNe, :valIl => valIl, :valCa => valCa, :valRg => valRg}%>
                </div><!--panel default-->                                                
                  <%end%>
        
        
                <!--grafica genero masculino-->
                <%if generoM > 1%>
                <div class="panel panel-default">        
                <%  valUs = (masUs / (generoM-1)).round; 
                    valSm = (masSm / (generoM-1)).round; 
                    valRf = (masRf / (generoM-1)).round; 
                    valRa = (masRa / (generoM-1)).round; 
                    valNe = (masNe / (generoM-1)).round; 
                    valIl = (masIl / (generoM-1)).round;
                    valCa = (masCa / (generoM-1)).round; 
                    valRg = (masRg / (generoM-1)).round;%>        
                        
                    <%=render :partial => "graficaGruposEsc", :locals => {:id => "masculino", :titulo => "por genero: Masculino", :valUs => valUs, :valSm => valSm, :valRf => valRf, :valRa => valRa, :valNe => valNe, :valIl => valIl, :valCa => valCa, :valRg => valRg}%>    
                    
                </div><!--panel default-->
                  <%end%>         
        
        </div> <!--panel-body--></div><!--panel-info-->
        </div><!--col-mod12-->
        </div><!--row board-->
    <%end%> <!--If globalNum > 1-->
    
    <!--Lista de riesgo en sustancias-->
    <%if riesgoNum > 1%>
    <!--Lista de menor riesgo en sustancias-->                        
      <div class="row board">
        <div class="col-md-12">
           <div class="panel panel-default">
              <div class="panel-heading col-md-12">
                <div class="col-md-12">
                    <h3>Alumnos que presentan puntaje con menor riesgo en el area de uso o abuso de sustancias</h3>
                </div>
              </div>

                <div class="panel-body text-center position">
                
                
                 <table class="table table-striped table-hover">
                  <thead>
                    <tr class="text-center">
                      <th class="text-center">#</th>
                      <th class="text-center">Grado</th>
                      <th class="text-center">Grupo</th>                      
                      <th class="text-center">Nombre</th>
                      <th class="text-center">Ap. P.</th>
                      <th class="text-center">Ap. M</th>
                      <th class="text-center">Edad</th>
                      <th class="text-center">Sexo</th>
                      <th class="text-center">Uso-Abuso de Sustancias</th>
                      <th></th>
                    </tr>
                  </thead>

                  <tbody>
                      <% if (!@riesgoMenor.nil?) %>   
                        <% var = 1;
                           num = 1;%>
                          <% @riesgoMenor.each do |r| %>
                            <%if (var == 1)%>    
                                <tr class="success">
                                <%var=2%>
                            <%else%>
                                <tr>
                                <%var=1%>
                            <%end%>
                            <td><%= num %></td>
                            <td><%= r.grado %></td>
                            <td><%= r.grupo %></td>                            
                            <td><%= r.nombre %></td>
                            <td><%= r.apellidoP %></td>
                            <td><%= r.apellidoM %></td>
                            <td><%= r.edad %></td>
                            <td><%= r.sexo %></td>
                            <td><%= r.total_uso_sustancias %></td>
                            <td><%= link_to 'Mostrar', tamizaje_path(r.id), class:"btn btn-sm btn-primary" %></td>
                          </tr>
                          <%num+=1;%>
                        <% end %>
                    <% else %>
                      <tr><td colspan="8"><%="No hay riesgo en sustancias"%></td></tr>
                    <%end%>
                  </tbody>
                </table>                
                
                
                </div> <!--panel-body-->
            </div><!--panel-info-->
        </div><!--col-mod12-->
        </div><!--row board-->    
    
    
    
    
    <!--Lista de mayor riesgo en sustancias-->
      <div class="row board">
        <div class="col-md-12">
           <div class="panel panel-default">
              <div class="panel-heading col-md-12">
                <div class="col-md-12">
                    <h3>Alumnos que presentan puntaje con riesgo en el area de uso o abuso de sustancias</h3>
                </div>
              </div>

                <div class="panel-body text-center position">
                
                
                 <table class="table table-striped table-hover">
                  <thead>
                    <tr class="text-center">
                      <th class="text-center">#</th>
                      <th class="text-center">Grado</th>
                      <th class="text-center">Grupo</th>                      
                      <th class="text-center">Nombre</th>
                      <th class="text-center">Ap. P.</th>
                      <th class="text-center">Ap. M</th>
                      <th class="text-center">Edad</th>
                      <th class="text-center">Sexo</th>
                      <th class="text-center">Uso-Abuso de Sustancias</th>
                      <th></th>
                    </tr>
                  </thead>

                  <tbody>
                      <% if (!@riesgoMayor.nil?) %>   
                        <% var = 1;
                           num = 1;%>
                          <% @riesgoMayor.each do |r| %>
                            <%if (var == 1)%>    
                                <tr class="success">
                                <%var=2%>
                            <%else%>
                                <tr>
                                <%var=1%>
                            <%end%>
                            <td><%= num %></td>
                            <td><%= r.grado %></td>
                            <td><%= r.grupo %></td>                            
                            <td><%= r.nombre %></td>
                            <td><%= r.apellidoP %></td>
                            <td><%= r.apellidoM %></td>
                            <td><%= r.edad %></td>
                            <td><%= r.sexo %></td>
                            <td><%= r.total_uso_sustancias %></td>
                            <td><%= link_to 'Mostrar', tamizaje_path(r.id), class:"btn btn-sm btn-primary" %></td>
                          </tr>
                          <%num+=1;%>
                        <% end %>
                    <% else %>
                      <tr><td colspan="8"><%="No hay riesgo en sustancias"%></td></tr>
                    <%end%>
                  </tbody>
                </table>                
                
                
                </div> <!--panel-body-->
            </div><!--panel-info-->
        </div><!--col-mod12-->
        </div><!--row board-->
        
                                                        
    
    <%end%><!--If riesgoNum > 1-->
<%else%>  
    ¡No hay tamizajes disponibles!
<%end%><!--if nil?-->
