<!--  esto siempre va  -->

<%= wicked_pdf_javascript_include_tag "application", "chartkick" %>
<%= javascript_include_tag "https://www.google.com/jsapi" %>
<%= wicked_pdf_javascript_include_tag "chartkick" %>
<!--  Fin  -->
       
<style media="screen">
    div.no-break {
        page-break-inside: avoid !important;
        display: block;
         // page-break-after: always;
        //clear:both;
        //page-break-after: always 
    }
    table{
        text-align: center;
        border-collapse: collapse;
        border-spacing: 0px;
        font-size: 0.8em;
        margin: 0 auto;
        width: 100%;
    }
    html{
        text-transform: uppercase;
    }
    thead{
        font-size: 0.9em;
        margin-right: 5px;
    }
    .row-color-t{background-color: #DFECE5;}      
    td{height: 20px;}
    tr{font-size: 0.8em;}
    .show-grid {
        margin-bottom: 2em;
        border: 1px solid #AAA;
        background-color: #EEE;
        background-color: rgba(200,200,200,0.3);
    }
    .col-12{width: 100%;}
    [class^=col]{
        float:left;
        height:auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        
        padding-top: 5px;
        padding-bottom: 5px;
        
        min-height: 1px;
        padding-right: 10px;
        
    }
    .align-left{
        text-align: left;
    }

</style>
       
       
        
    
<%if !@riesgoMenor.nil?%>
           <div class="no-break">
              <div class="">
                <div class="">
                    <div class="col-12"><h5>Alumnos que presentan puntaje con menor riesgo en el area de uso o abuso de sustancias</h5></div>
                </div>
              </div>

                 <table>
                  <thead>
                    <tr class="">
                      <th>No.</th>
                      <th>Grado</th>
                      <th>Grupo</th>
                      <th colspan="3">Nombre</th>
                      <th>Edad</th>
                      <th>Sexo</th>
                      <th>Uso-Abuso de sustancias</th>
                    </tr>
                  </thead>
                  <tbody>
                  <% if (!@riesgoMenor.nil?) %>   
                    <%var = 1;
                    num = 1;%>                    
                     <% @riesgoMenor.each do |r| %>
                      <%if (var == 1)%>
                        <tr class="row-color-t"><%var=2%>
                      <%else%>
                        <tr><%var=1%>
                      <%end%><!--if var = 1-->
                            <td><%=num%></td>
                            <td><%= r.grado %></td>                            
                            <td><%= r.grupo %></td>
                            <td class="align-left"><%= r.nombre %></td>
                            <td class="align-left"><%= r.apellidoP %></td>
                            <td class="align-left"><%= r.apellidoM %></td>
                            <td><%= r.edad %></td>
                            <td><%= r.sexo %></td>
                            <td><%= r.total_uso_sustancias %></td>
                        </tr>
                      <%num+=1;%>
                        <% end %>
                  <% else %>
                        <tr><td colspan="8"><%="No hay riesgo en sustancias"%></td></tr>
                  <%end%>                      
                  </tbody>
                </table>
        </div><!--panel-info-->    
        
<%end%><!--if riesgoMenor.nil?-->


<%if !@riesgoMayor.nil?%>
           <div class="no-break">
              <div class="">
                <div class="">
                    <div class="col-12"><h5>Alumnos que presentan puntaje con mayor riesgo en el area de uso o abuso de sustancias</h5></div>
                </div>
              </div>

                 <table>
                  <thead>
                    <tr class="">
                      <th>No.</th>
                      <th>Grado</th>
                      <th>Grupo</th>
                      <th colspan="3">Nombre</th>
                      <th>Edad</th>
                      <th>Sexo</th>
                      <th>Uso-Abuso de sustancias</th>
                    </tr>
                  </thead>
                  <tbody>
                  <% if (!@riesgoMayor.nil?) %>   
                    <%var = 1;
                    num = 1;%>                    
                     <% @riesgoMayor.each do |r| %>
                      <%if (var == 1)%>
                        <tr class="row-color-t"><%var=2%>
                      <%else%>
                        <tr><%var=1%>
                      <%end%><!--if var = 1-->
                            <td><%=num%></td>
                            <td><%= r.grado %></td>                            
                            <td><%= r.grupo %></td>
                            <td class="align-left"><%= r.nombre %></td>
                            <td class="align-left"><%= r.apellidoP %></td>
                            <td class="align-left"><%= r.apellidoM %></td>
                            <td><%= r.edad %></td>
                            <td><%= r.sexo %></td>
                            <td><%= r.total_uso_sustancias %></td>
                        </tr>
                      <%num+=1;%>
                        <% end %>
                  <% else %>
                        <tr><td colspan="8"><%="No hay riesgo en sustancias"%></td></tr>
                  <%end%>                      
                  </tbody>
                </table>
        </div><!--panel-info-->    
        
<%end%><!--if riesgoMenor.nil?-->