<div class="row board">
    <div class="col-md-12">
       <div class="panel panel-default">
       	  <div class="panel-heading col-md-12">
       	    <div class="col-md-6">
		        <h3>Escuela:&nbsp;<%=@esctemp.escuela %></h3>
            </div>
            <div class="col-md-2">
              <%= link_to "Filtrar grupos" ,show_grupos_path(:'a1c32cf54d65=1434?' =>@esctemp),:method => :post , class:"btn btn-raised btn-info"%>
            </div>
            
            <%if @esctemp.status == "0"%>
                <div class="col-md-2">
                    <%= link_to "Nuevo Tamizaje", new_tamizaje_path(:'a1b22cf54d65=1434?' =>@esctemp),:method => :post , class:"btn btn-raised btn-success"%>
                </div>
                <div class="col-md-2">
                    <%= link_to "Terminar", termino_tam_path(:'term1b22cf54d65=1434?' =>@esctemp),:method => :post , class:"btn btn-raised btn-warning"%>
                </div>            
            <%end%>
            
		  </div>

          <div class="panel-body text-center position">

             <table class="table table-striped table-hover">
              <thead>
                <tr class="text-center">
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Ap. P.</th>
                  <th>Ap. M.</th>
                  <th>Edad</th>
                  <th>Sexo</th>
                  <th>Grado</th>
                  <th>Grupo</th>
                  <th>Folio</th>
                  <th>Uso sustancias</th>
                  <th>Salud mental</th>
                  <th>Relacion familiar</th>
                  <th>Relacion amigos</th>
                  <th>Nivel educativo</th>
                  <th>Interes laboral</th>
                  <th>Conducta agresiva</th>
                  <th>Resultado</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% var = 1%>
                <% if (!@tamizajes.nil?) %>
                      <%num = 1%>
                      <% @tamizajes.each do |tamizaje| %>
                          <%if (var == 1)%>
                              <tr class="success">
                              <%var=2%>
                          <%else%>
                              <tr>
                              <%var=1%>
                          <%end%>
                            <td><%=num%></td>
                            <td><%= tamizaje.nombre %></td>
                            <td><%= tamizaje.apellidoP %></td>
                            <td><%= tamizaje.apellidoM %></td>
                            <td><%= tamizaje.edad %></td>
                            <td><%= tamizaje.sexo %></td>
                            <td><%= tamizaje.grado %></td>
                            <td><%= tamizaje.grupo %></td>
                            <td><%= tamizaje.folio_cuestionario %></td>
                            <td>
                                <%if tamizaje.total_uso_sustancias.to_i > 0%>
                                    <b class="riesgo">-
                                <%end%>
                                <%= tamizaje.total_uso_sustancias %>
                                <%if tamizaje.total_uso_sustancias.to_i > 0%>
                                    -</b>
                                <%end%>
                            </td>
                            <td>
                                <%if tamizaje.total_salud_mental.to_i >= 5%>
                                    <b class="riesgo">-
                                <%end%>                                
                                <%= tamizaje.total_salud_mental %>
                                <%if tamizaje.total_salud_mental.to_i >= 5%>
                                    -</b>
                                <%end%>
                            </td>                                
                            <td>
                                <%if tamizaje.total_relacion_familiar.to_i >= 3%>
                                    <b class="riesgo">-
                                <%end%>                                                  
                                <%= tamizaje.total_relacion_familiar %>
                                <%if tamizaje.total_relacion_familiar.to_i >= 3%>
                                    -</b>
                                <%end%>                                
                            </td>
                            <td>
                                <%if tamizaje.total_relacion_amigos.to_i > 0%>
                                    <b class="riesgo">-
                                <%end%>                                                  
                                <%= tamizaje.total_relacion_amigos %>
                                <%if tamizaje.total_relacion_amigos.to_i > 0%>
                                    -</b>
                                <%end%>                               
                            </td>
                            <td>
                                <%if tamizaje.total_nivel_educativo.to_i >= 5%>
                                    <b class="riesgo">-
                                <%end%>                                                  
                                <%= tamizaje.total_nivel_educativo %>
                                <%if tamizaje.total_nivel_educativo.to_i >= 5%>
                                    -</b>
                                <%end%>
                            </td>
                            <td>
                                <%if tamizaje.total_interes_laboral.to_i >= 3%>
                                    <b class="riesgo">-
                                <%end%>                                                  
                                <%= tamizaje.total_interes_laboral %>
                                <%if tamizaje.total_interes_laboral.to_i >= 3%>
                                    -</b>
                                <%end%>
                            </td>
                            <td>
                                <%if tamizaje.total_conducta_agresiva.to_i >=5%>
                                    <b class="riesgo">-
                                <%end%>
                                <%= tamizaje.total_conducta_agresiva %>
                                <%if tamizaje.total_conducta_agresiva.to_i >=5%>
                                    -</b>
                                <%end%>
                            </td>
                            <td>
                                <%if tamizaje.resultado.to_i >= 34%>
                                    <b class="riesgo">-
                                <%end%>
                                <%= tamizaje.resultado %>
                                <%if tamizaje.resultado.to_i >= 34%>
                                    -</b>
                                <%end%>
                            </td>
                            <td><%= link_to 'Mostrar', show_tamizaje_path(:'a1b22cf54d65=1435?' =>tamizaje),:method => :post, class:"btn btn-sm btn-primary" %></td>
                          </tr>
                          <%num+=1%>
                      <% end %>
                <% else %>
                  <tr><td colspan="8"><%="¡No hay tamizajes disponibles!"%></td></tr>
                <%end%>
              </tbody>
            </table>


        </div> <!--panel-body-->
        </div><!--panel-info-->
    </div><!--col-mod12-->

</div><!--row board-->
