<!--  esto siempre va  -->

<%= wicked_pdf_javascript_include_tag "application", "chartkick" %>
<%= javascript_include_tag "https://www.google.com/jsapi" %>
<%= wicked_pdf_javascript_include_tag "chartkick" %>
<!--  Fin  -->

<style media="screen">
  div.nobreak {
    page-break-inside: avoid;
  }
  .titulo{
    text-align: center;
    background-color: #72B08F;
    color: #FAFAFA;
  }
  .grey{
    color: #636363;
  }
  .seccion{
    background-color: #FAFAFA;
    text-align: justify;
    padding: 5px 15px 5px 15px;
    margin-top: -20px
  }
  li{
    list-style:none;
    padding: 5px;
  }
  .texto{
    border: 1.5px solid;
    padding: 2px 4px 2px 4px;
    border-radius: 2px;
  }
  .campo{
    text-transform: uppercase;
    font-weight: bold;
  }
  table{
    font-size: 10px;
    text-align: center;
  }
</style>

<div >
    <h1 class="titulo">Informe <%= (@esctemp.nivel_estudio.nivel).to_s+" "+@esctemp.escuela%></h1>
  <section class="seccion grey">
    <% @tamizajes.each do |tamizaje| %>
      <div class="nobreak">
        <h4 class="titulo"><%= tamizaje.nombre+" "+tamizaje.apellidoP+" "+tamizaje.apellidoM%></h4>
        <section class="seccion grey">
          <table>
            <tr>
              <th>Uso sustancias</th>
              <th>Salud mental</th>
              <th>Relacion familiar</th>
              <th>Relacion amigos</th>
              <th>Nivel educativo</th>
              <th>Interes laboral</th>
              <th>Conducta agresiva</th>
              <th>Resultado</th>
            </tr>
            <tr>
              <td><%= tamizaje.total_uso_sustancias %></td>
              <td><%= tamizaje.total_salud_mental %></td>
              <td><%= tamizaje.total_relacion_familiar %></td>
              <td><%= tamizaje.total_relacion_amigos %></td>
              <td><%= tamizaje.total_nivel_educativo %></td>
              <td><%= tamizaje.total_interes_laboral %></td>
              <td><%= tamizaje.total_conducta_agresiva %></td>
              <td><%= tamizaje.resultado %></td>
            </tr>
          </table>
          <%resultado = {"Uso de Sustancias":tamizaje.total_uso_sustancias,"Salud Mental":tamizaje.total_salud_mental,"Relacion Familiar":tamizaje.total_relacion_familiar,"Relacion Amigos":tamizaje.total_relacion_amigos,"Nivel Educativo":tamizaje.total_nivel_educativo,"Interes Laboral":tamizaje.total_interes_laboral,"Conducta Agresiva":tamizaje.total_conducta_agresiva,"Total":tamizaje.resultado}%>
          <%parametro = {"Uso de Sustancias":1,"Salud Mental":5,"Relacion Familiar":3,"Relacion Amigos":1,"Nivel Educativo":5,"Interes Laboral":3,"Conducta Agresiva":5,"Total":34}%>
		      <%dato = [{name: "Parametro", data: parametro},{name: "Resultado", data: resultado}]%>
          <%= bar_chart dato, colors: ["#A3786E","#A8F0D6"],
            library: {backgroundColor: "#FFF", height: 75}%>
        </section>
      </div>
    <%end%>
  </section>
</div>
