<div class="row board">
    <div class="col-md-6">
       <div class="panel panel-info">
       	  <div class="panel-heading">
		    <h1 class="panel-title"><i class="fa fa-stethoscope"></i>Informacion tamizaje</h1>
		  </div>

           <% if @tamizaje.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@tamizaje.errors.count, "error") %>Tamizaje error</h2>
          <ul>
              <% @tamizaje.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
          </ul>
            </div>
         <% end %>

          <div class="panel-body text-center">
             
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group field">
                      <%= label_tag "Nombre:" %>
                      <%= label_tag :nombre, @tamizaje.nombre, :class => "form-control text-center"%>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group field">
                          <%= label_tag "Apellido P.:" %>
                          <%= label_tag :app,@tamizaje.apellidoP, :class => "form-control text-center" %>
                      </div>
                  </div>
              </div><!--row-->
              
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group field">
                          <%= label_tag :apm,"Apellido M.: "+@tamizaje.apellidoM %>
                          <%= label_tag :apm,@tamizaje.apellidoM, :class => "form-control text-center" %>
                      </div>
                  </div>                  
                  <div class="col-md-3">
                        <div class="form-group field">
                            <%= label_tag "Edad:" %>
                            <%= label_tag :edad,@tamizaje.edad, :class => "form-control text-center" %>
                        </div>
                  </div>
                  <div class="col-md-3">
                        <div class="form-group field">
                            <%= label_tag "Sexo:" %>
                            <%= label_tag :sexo,@tamizaje.sexo, :class => "form-control text-center" %>
                        </div>
                  </div>                  
              </div><!--row-->
              
            <div class="row">
                  <div class="col-md-4">
                        <div class="form-group field">
                            <%= label_tag :us, "Uso sustancias",:class => "color-uso" %>
                            <%= label_tag :uso,@tamizaje.total_uso_sustancias, :class => "form-control text-center", :id => "r_us" %>
                        </div>
                  </div>
                  <div class="col-md-4">
                        <div class="form-group field">
                            <%= label_tag :sm, "Salud mental:", :class => "color-saludm" %>
                            <%= label_tag :sm,@tamizaje.total_salud_mental, :class => "form-control text-center", :id => "r_sm" %>
                        </div>
                  </div>                                                      
                  <div class="col-md-4">
                        <div class="form-group field">
                            <%= label_tag :rf, "Relacion familiar", :class => "color-relacionf" %>
                            <%= label_tag :rf,@tamizaje.total_relacion_familiar, :class => "form-control text-center", :id => "r_rf" %>
                        </div>
                  </div>
            </div><!--row-->
            
            <div class="row">
                  <div class="col-md-4">
                        <div class="form-group field">
                            <%= label_tag :ra, "Relacion amigos",:class => "color-relaciona" %>
                            <%= label_tag :ra,@tamizaje.total_relacion_amigos, :class => "form-control text-center", :id => "r_ra" %>
                        </div>
                  </div>
                  <div class="col-md-4">
                        <div class="form-group field">
                            <%= label_tag :ne,"Nivel educativo:", :class => "color-nivele" %>
                            <%= label_tag :ne,@tamizaje.total_nivel_educativo, :class => "form-control text-center", :id => "r_ne" %>
                        </div>
                  </div>                                                      
                  <div class="col-md-4">
                        <div class="form-group field">
                            <%= label_tag :il,"Interes laboral",:class => "color-interesl" %>
                            <%= label_tag :il,@tamizaje.total_interes_laboral, :class => "form-control text-center", :id => "r_il" %>
                        </div>
                  </div>
            </div><!--row-->

            <div class="row">
                  <div class="col-md-4">
                        <div class="form-group field">
                            <%= label_tag :ca,"Conducta agresiva: ", :class => "color-conducta" %>
                            <%= label_tag :ca,@tamizaje.total_conducta_agresiva, :class => "form-control text-center" , :id => "r_ca"%>
                        </div>
                  </div>
                  <div class="col-md-8">
                        <div class="form-group field">
                            <%= label_tag "Resultado:" %>
                            <%= label_tag :ne,@tamizaje.resultado, :class => "form-control text-center", :id => "r_rg" %>
                        </div>
                  </div>                                                      
            </div><!--row-->
                        
            <div class="actions">
                <%= link_to 'Nuevo', new_tamizaje_path(:'a1b22cf54d65=1434?' =>@tamizaje.aplicacion_tamizaje_id),:method => :post, :class => "btn btn-raised btn-success"%>
            </div>
        </div> <!--panel-body-->
        </div><!--panel-info-->
    </div><!--col-mod6-->

    

    <div class="col-md-6">
       <div class="panel panel-info">
       	  <div class="panel-heading">
		    <h1 class="panel-title"><i class="fa fa-stethoscope"></i>Informacion tamizaje</h1>
		  </div>

          <div class="panel-body text-center">
             
            <div id="grafica"></div>
            <a class="btn btn-raised btn-info" id="color">Cambiar color</a>
             
        </div> <!--panel-body-->
        </div><!--panel-info-->
    </div><!--col-mod6-->
</div><!--row board-->