// Place all the styles related to the Tamizajes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

//Resaltar celdas en riesgo show_tamizajes
.riesgo{
    color: crimson;
}
//Estilo tabla datos personales
.div{
    margin: 6em;
}
.label{
    width: 25%;
    float: left;
}

//Estilo index tamizajes
.btn-right-v{ //boton nuveo
    //left: 75%;
    visibility: visible !important;
    position: inherit;
}
.btn-right-f{
    visibility: hidden;
}
//Estilo para que no se salgan del div y aparezca un scroolbar en zoom
.position{
    overflow: auto !important;
    overflow: none;
    position: inherit;
}

//color para cada resultado de tamizaje y graficas
.color-uso{
    color: #947E00;
}
.color-saludm{
    color: #FF007C;
}
.color-relacionf{
    color: #006FFF;
}
.color-relaciona{
    color: #E55F00;
}
.color-nivele{
    color: #008A85;
}
.color-interesl{
    color: #289F00;
}
.color-conducta{
    color: #9200AC;
}
//Estilo de tabla resultados
.tabla-preg{
    margin: 0 auto;
    text-align: center;
}
.textf-preg{
    width: 330px;
    font-size: 1.0em;
    margin-right: 5px;
    margin-bottom: 15px;
    //border: 1px solid;
    //background: transparent;
}
.label-seccion{
    text-align: right;
}
.textf-total{
    width: 50px;
    margin-bottom: 5px;
    margin-right: 5px;
    text-align: center;
    font-weight: bold;
    //border: 10px;
}
//input[type=text]{
//    background: #FF3C3C;
//    cursor: none;
//}
.bckg-red{
//    color: red;
    border: 1px solid;
    background: #FF3C3C;
    font-weight: bold;
    //width: 10px;
}
.borde-celda{
    border: 1px solid;
    //width: 30px;
}
.bckg-green{
    border: 1px solid;
    background: #21DC00;
    font-weight: bold;  
    //width: 10px;
}
.bckg-blue{
    border: 1px solid;
    background: #006FFF;
    font-weight: bold; 
    //width: 10px;
}
.especificacion{
    text-align: left;
}

//Contenedor tabla resultados
.div-container{
    text-align: center
}
.div-left{
    float: left;
}
.div-right{
    float: right;
}
.div-bottom{
    float:bottom;
    width: 870px;
    margin: 0 auto;
}
.backg{
    background: #C0C0C0;
}
.head{
    text-align: center;
    font-weight: bold;
}

//Estilo tabla checkbox
.border{
    border: 3px solid;
    width: 30px;    
}
.col-num-a{
    border-bottom: none;
    border-right: none;
    text-align: center;
    font-size: 1.0em;
    font-weight: bold;
}
.col-check-a{
    border-bottom: none;
    border-left:none;
}
.col-num-c{
    border-bottom: none;
    border-top: none;
    border-right: none;
    text-align: center;
    font-size: 1.0em;
    font-weight: bold;
}
.col-check-c{
    border-bottom: none;
    border-left:none;
    border-top: none;
}
.col-num-b{
    border-top: none;
    border-right: none;
    text-align: center;
    font-size: 1.0em;
    font-weight: bold;
}
.col-check-b{
    border-left:none;
    border-top: none;
}
.label-check{
    width:90px; 
    height:23px; 
    font-size: 1.0em;
    //border:3px solid #73AD21;    
}
//tabla checkbox

.no-margin{
    margin: 0px;
    font-size: 1.2em;
    cursor: pointer;
    margin: 0px;
    //background: #C0C0C0;
}

.sexo{
    font-weight: bold;
    background: #FF6633;
}

//Estilo checkbox
//type=checkbox
input[name^="ch"] {
	display:none; 
}
input[name*="ch"] + label {
	cursor: pointer;
}
label.label-check:before {
	content: "";
	background: transparent;
	border: 4px solid #7BB244;
	text-shadow: 4px -2px 3px gray;
	border-radius: 5px;
	display: inline-block;
	height: 20px;
	margin-right: 15px;
	text-align: middle;
	vertical-align:middle;
	width: 20px;
}
input[name*="ch"]:checked + label.label-check:before {
	content: '✓';
	font-size: 20px;
	color: #000000;
	font-family: "Times New Roman";
    vertical-align: middle;
    //background: #88c64b;
}
//Estilo checkbox


















.btn{
    background-color: inherit;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 12px;
}
.be-red{
    background: red;
}
.white{
    color: black;
}
.large-padding{
    padding: 8px 5px;
}
.form-control{
    border: none;
    border-bottom: 1px solid;
    outline: none;
    width: 100%;
    display: block;
    padding: 10px 0px;
    font-size: 1.2em;
}
