<%#if (!@t.nil?)%>
	<%#@t.reverse!%>
	<%#z = {}%>
	<%# @tmp1.each_with_index { |key,index| z[key] = @t[index] }%>
<%#end%>
<%# if ((!@tmp1.nil?) and (!@t.nil?)) %>
  <%#=column_chart (z),colors: ['red']%>
<%#else%>
  <%#= "No hay datos" %>
<%# end %>

<% $hom=Array.new%>
<% $muj=Array.new%>
<% $total=Array.new%>
<%$prueba=Array.new %>
<%$prueba1=Array.new %>
<%$prueba2=Array.new %>

<%if (!@prog2.nil?) %>	
	<% @prog2.each do |e| %>	
		<% prog2=[]%>
		<% m=[]%>
		<% f=[]%>
		<% t=[]%>
		<%temp=[]%>
		<%temp2=[]%>
		<%temp3=[]%>
		<%aux=0%>
		<%aux1=0%>

		<% tmp=e %>
		<% tmp.flatten!%>	
		<% prog2<< tmp.fetch(0)%>
		<%aux=tmp.fetch(1)+tmp.fetch(3)+tmp.fetch(5)+tmp.fetch(7)+tmp.fetch(9)+tmp.fetch(11)+tmp.fetch(13)+tmp.fetch(15)+tmp.fetch(17)+tmp.fetch(19)%>
 		<% m<<aux%>
	 	<%aux1=tmp.fetch(2)+tmp.fetch(4)+tmp.fetch(6)+tmp.fetch(8)+tmp.fetch(10)+tmp.fetch(12)+tmp.fetch(14)+tmp.fetch(16)+tmp.fetch(18)+tmp.fetch(20)%>
 		<% f<<aux1%>
 		<% t<< (aux+aux1)%>

 		<%temp=prog2.zip(m)%>
 		<%temp.flatten!%>
		<%$prueba<<temp%>
		<%temp2=prog2.zip(f)%>
 		<%temp2.flatten!%>
 		<%$prueba1<<temp2%>
 		<%temp3=prog2.zip(t)%>
 		<%temp3.flatten!%>
 		<%$prueba2<<temp3%>
	<%end%>
<%end%>

<% if ((!$prueba.nil?) and (!$prueba1.nil?) and (!$prueba2.nil?)) %>
  	<%tot=[{name: "hombres", data: $prueba },{name: "mujeres", data: $prueba1 },{name: "total", data: $prueba2 }]%>
		<%=bar_chart tot, colors:["orange","green","yellow"] %>
<% else%>
  	<%= "No hay datos" %>
<% end %>




