<!DOCTYPE html>
<html>
	<head>
	  <title>Centro de Atencion Primaria a las Adicciones</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
	    <%= csrf_meta_tags %>
	    <%= stylesheet_link_tag "//code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css"%>
		<%= javascript_include_tag "//code.jquery.com/jquery-1.9.1.js"%>
		<%= javascript_include_tag "//code.jquery.com/ui/1.10.1/jquery-ui.js"%>
		<%= javascript_include_tag "jquery.ui.datepicker-es.js"%>
	</head>
	<body>
		<header>
			<% if user_signed_in?%>
				<div class="navbar navbar-default">
				    <div class="container-fluid">
				      <div class="navbar-header">
				        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				          <span class="icon-bar"></span>
				          <span class="icon-bar"></span>
				          <span class="icon-bar"></span>
				        </button>
				        <%= link_to "Inicio", root_path, class:"navbar-brand"%>
				      </div>
							<% if current_user.is_psicologo?%>
				      	<%= render 'partials/psicologo'%>
							<%end%>
				        <ul class="nav navbar-nav navbar-right">
									<li><%= link_to "Editar Datos", edit_user_registration_path(current_user)%></li>
				          <li><%= link_to "SALIR", destroy_user_session_path, :method => :delete, class: "btn-danger"%></li>
				        </ul>
				      </div>
				    </div>
				  </div>
			<%else%>
				<%= render "partials/unregistered" %>
			<%end%>
		</header>
		<% if notice %>
			<div class="show" id="snackbar">
			  <%= notice %>
			</div>
		<%end%>
		<% if alert %>
			<div class="alert alert-dismissible alert-danger">
			  <button type="button" class="close" data-dismiss="alert">×</button>
			  <%= alert %>
			</div>
		<%end%>
		<%= yield%>
	</body>
</html>
