<html>
  <head>
    <meta charset="utf-8" />
    <script>
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
    </script>
  </head>
  <body onload="number_pages()">
    <p>
      Pagina <span class="page"></span> de <span class="topage"></span>
    </p>
    <style>
      body{
        text-align: center;
      }
      hr {
        background-color: black;
        height: 1px;
        border: none;
      }
      p{
        font-size: .5em;
      }
    </style>
    <hr></hr>
    <p>
      Encinos s/n (Esq. con Nueva España), Col. Santa Cruz Bombatevi, Atlacomulco, Estado de México<br>
      Tel: (01 712) 12 20 031<br>
      C.P. 50450<br>
    </p>
  </body>
</html>
