<html>
  <head>
    <meta charset="utf-8" />
    <!--<script>
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
    </script>-->
  </head>
  <body onload="number_pages()">
    <!--Page <span class="page"></span> of <span class="topage"></span>-->
    <style>
      body{
        margin-bottom: -20px;
        text-align: center;
      }
      .fondo{
        position:absolute;
        bottom:5px;
      }
      p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.25em;
        width: auto;
        color: #636363;
      }
    </style>
    <div class="fondo">
      <table>
        <th>
          <%= wicked_pdf_image_tag 'edomex.png', height: 90 ,width:90 %>
        </th>
        <th>
          <p>
            Centro de Atencion Primaria a las Adicciones<br>
            CAPA Atlacomulco
          </p>
        </th>
        <th>
          <%= wicked_pdf_image_tag 'gobmex.png', height: 80 ,width:160 %>
        </th>
      </table>
    </div>
  </body>
</html>
