<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf/pdf" -%>
    <%= wicked_pdf_javascript_include_tag "number_pages" %>
    <%= javascript_include_tag "https://www.google.com/jsapi" %>
    <%= wicked_pdf_javascript_include_tag "chartkick" %>
  </head>
  <body >
    <div>
      <%= yield %>
    </div>
  </body>
</html>
